{{ define "validatorBookmarkModal" }}
<div class="modal fade" id="bookmark-validator-modal" tabindex="-1" role="dialog" aria-labelledby="bookmark-validator-modal-label" aria-hidden="true">
    <form action="{{printf "%#x" .PublicKey}}/add" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookmarkModalLabel">Add to Watchlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Additionally to adding this validator to your watch list you can optionally subscribe to events and receive email notifications.</p>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" id="balance_decreases" type="checkbox" name="balance_decreases">
                            <label class="form-check-label" for="balance_decreases">
                                balance decreases
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="validator_slashed" type="checkbox" name="validator_slashed">
                            <label class="form-check-label" for="validator_slashed">
                                validator slashed
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add To Watchlist</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{end}}