{{ define "validatorHeading" }}
  <div style="margin-top: 0.625rem;">
    <div class="d-flex justify-content-between">
      <div class="d-md-flex align-self-center">
        <h1 class="style-table-title mb-0 mr-2 text-nowrap">
          <!-- using nonconventional characters for whitespaces because of linter -->
          Validator{{ if and (ne .Status "deposited") (ne .Status "deposited_invalid") (ne .Status "deposited_valid") }} {{ .Index }}{{ end }}
        </h1>
        {{ if .Tags }}<div>{{ formatValidatorTags .Tags }}</div>{{ end }}
        {{ if eq .Name "" }}
          <span class="mr-2 d-none d-md-inline" data-toggle="tooltip" title="Edit validator name">
            <button class="btn btn-dark text-white btn-sm" style="padding: 0.3125rem; line-height: 0" type="button" id="edit-button" data-toggle="modal" data-target="#edit-validator-modal">
              <i class="fa fa-edit"></i>
            </button>
          </span>
        {{ end }}
      </div>
      <div>
        <a class="dropdown-toggle btn btn-primary btm-sm style-paragraph-6 text-white" style="padding: 0.2rem 0.7rem" id="validatorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="validatorDropdown">
          <div class="dropdown-item px-3 style-paragraph-7" role="button" type="button" id="edit-button" data-toggle="modal" data-target="#edit-validator-modal">
            <span class="nav-icon"><i class="fa fa-edit"></i></span>
            Edit validator name
          </div>
          {{ if len .Watchlist }}
            <form class="dropdown-item px-3" action="{{ printf "%#x" .PublicKey }}/remove" method="post">
              <button style="all: unset; cursor: pointer" type="submit" id="unfollow-button">
                <span class="nav-icon"><i class="far fa-bookmark"></i></span>
                <span class="style-paragraph-7">Unfollow notifications</span>
              </button>
            </form>
          {{ else }}
            {{ if .User.Authenticated }}
              <div class="dropdown-item px-3 style-paragraph-7" role="button" id="follow-button" data-toggle="modal" data-target="#bookmark-validator-modal">
                <span class="nav-icon"><i class="fas fa-bookmark"></i></span>
                Add notification
              </div>
            {{ else }}
              <span  data-toggle="tooltip" title="Login to follow validator">
                <form class="dropdown-item px-3 disabled">
                  <button style="all: unset; cursor: pointer" id="follow-button">
                    <span class="nav-icon"><i class="fas fa-bookmark"></i></span>
                    <span class="style-paragraph-7" >Add notification</span>
                  </button>
                </form>
              </span>
            {{ end }}
          {{ end }}
          <a class="dropdown-item px-3 style-paragraph-7" href="/validator/{{ .Index }}/stats">
            <span class="nav-icon"><i class="fas fa-table"></i></span>
            View daily statistics
          </a>
        </div>
      </div>
    </div>
    <div class="mt-1 mt-md-2 d-flex align-items-center">
      {{ formatHeaderHash .PublicKey }}
      <i class="fas fa-copy text-muted pl-1" role="button" data-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .PublicKey }}"></i>
    </div>
  </div>
{{ end }}
