{{ define "validatorLifeCycleDiagram"}}
<div class="validator__lifecycle-container">
    <div class="validator__lifecycle-content">
        <div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited">
            <div class="validator__lifecycle-node-header">Deposited</div>
            <div class="validator__lifecycle-node">
                <i class="fas fa-check deposit-success"></i>
                <i class="fas fa-times fail deposit-fail"></i>
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white"></div>
        <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending">
            <div class="validator__lifecycle-node-container">
                <div class="validator__lifecycle-node-header">Pending</div>
                <div class="validator__lifecycle-node">
                    <i class="fas fa-hourglass-half pending-waiting"></i>
                    <i class="fas fa-check"></i>
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-pending"></div>
        <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active">
            <div class="validator__lifecycle-node-container">
                <div class="validator__lifecycle-node-header">Active</div>
                <div class="validator__lifecycle-node">
                    <i class="fas fa-power-off online"></i>
                    <i class="fas fa-power-off offline"></i>
                    <i class="fas fa-check"></i>
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-active"></div>
        <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited">
            <div class="validator__lifecycle-node-container">
                <div class="validator__lifecycle-node-header">Exited</div>
                <div class="validator__lifecycle-node">
                    <i class="fas fa-door-open"></i>
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}