{{ define "validatorLifeCycleDiagram" }}
  {{ $deposited := or (or (eq .Status "deposited") (eq .Status "deposited_valid")) (eq .Status "deposited_invalid") }}


  <div class="validator__lifecycle-container">
    <div class="validator__lifecycle-content">
      <div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited">
        <div class="validator__lifecycle-node-header style-table-data"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#2-deposit-contract-status-deposited">Deposited</a></div>
        <div class="validator__lifecycle-node" data-toggle="tooltip" title="This will turn green when your deposit has been processed by the beacon chain">
          <i class="fas fa-check deposit-success"></i>
          <i class="fas fa-times fail deposit-fail"></i>
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
      <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white">
        <div class="validator__lifecycle-progress-epoch style-table-data">
          {{ if and (not $deposited) ( ne .ActivationEligibilityEpoch 9223372036854775807) }}<div data-toggle="tooltip" data-html="true" title="<span>The eligible epoch is when your validator is registered by the beacon chain and joins the queue to be activated.</span><br><span aria-ethereum-date='{{ .ActivationEligibilityTs.Unix }}'></span>"><a href="/epoch/{{ .ActivationEligibilityEpoch }}">{{ if eq .ActivationEligibilityEpoch 0 }}genesis{{ else }}{{ .ActivationEligibilityEpoch }}{{ end }}</a></div>{{ end }}
        </div>
      </div>
      <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending">
        <div class="validator__lifecycle-node-container">
          <div class="validator__lifecycle-node-header style-table-data"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#3-validator-queue-status-pending">Pending</a></div>
          <div class="validator__lifecycle-node" data-toggle="tooltip" title="After being processed your validator joins a queue to be activated">
            <i class="fas fa-hourglass-half pending-waiting"></i>
            <i class="fas fa-check"></i>
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="validator__lifecycle-progress validator__lifecycle-pending">
        <div class="validator__lifecycle-progress-epoch style-table-data">
          {{ if and (not $deposited) (ne .ActivationEpoch 9223372036854775807) }}
            <div data-toggle="tooltip" data-html="true" title="<span>The activation epoch is when your validator becomes active.</span><br><span aria-ethereum-date='{{ .ActivationTs.Unix }}'></span> ">
              <a href="/epoch/{{ .ActivationEpoch }}">{{ if eq .ActivationEpoch 0 }}genesis{{ else }}{{ .ActivationEpoch }}{{ end }}</a>
            </div>
          {{ end }}
        </div>
      </div>
      <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active">
        <div class="validator__lifecycle-node-container">
          <div class="validator__lifecycle-node-header style-table-data"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Active</a></div>
          <div class="validator__lifecycle-node" data-toggle="tooltip" title="Once your validator reaches this state it can participate in attesting and proposing. Make sure it stays online!">
            <i class="fas fa-power-off online"></i>
            <i class="fas fa-power-off offline"></i>
            <i class="fas fa-check"></i>
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="validator__lifecycle-progress validator__lifecycle-active">
        <div class="validator__lifecycle-progress-epoch style-table-data">
          {{ if not (or (eq .ExitEpoch 9223372036854775807) (eq .ExitEpoch 0)) }}<div data-toggle="tooltip" data-html="true" title="<span>The exit epoch is when your validator will leave the network</span><br><span aria-ethereum-date='{{ .ExitTs.Unix }}'></span>"><a href="/epoch/{{ .ExitEpoch }}">{{ .ExitEpoch }}</a></div>{{ end }}
        </div>
      </div>
      <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited">
        <div class="validator__lifecycle-node-container">
          <div class="validator__lifecycle-node-header style-table-data"><a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Exited</a></div>
          <div class="validator__lifecycle-node" data-toggle="tooltip" title="If your validator misbehaves or chooses to leave the network it will join a queue to leave.">
            <i class="fas fa-door-open"></i>
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "validatorOverviewDeposited" }}
  <div class="text-justify row justify-content-center mb-2">
    <div class="col">
      <div class="px-2">
        <div class="px-2 mx-auto" style="max-width: 50rem;">
          <span>
            {{ if eq .InclusionDelay 0 }}
              An ETH deposit has been made, and your validator will be voted into the activation queue once the deposited amount sums up to 32 ETH.
            {{ else }}
              <!-- The last ETH deposit was made  {{ if gt .Deposits.LastEth1DepositTs 0 }}<span aria-ethereum-date-format="FROMNOW" aria-ethereum-date="{{ .Deposits.LastEth1DepositTs }}"></span>{{ end }}, it will take <a href="https://kb.beaconcha.in/ethereum-2.0-and-depositing-process">around {{ .InclusionDelay }} hours</a>  until your deposit is processed by the beacon chain. This validator will be eligible for activation once the deposited amount sums up to 32 ETH. 
                            -->
              The last deposit to the Ethereum Deposit contract was made {{ if gt .Deposits.LastEth1DepositTs 0 }}<span aria-ethereum-date-format="FROMNOW" aria-ethereum-date="{{ .Deposits.LastEth1DepositTs }}"></span>{{ end }}, it will take <a href="https://kb.beaconcha.in/ethereum-2.0-and-depositing-process">around 16-24 hours</a> until your deposit is processed by the beacon chain. This validator will be eligible for activation once the deposited amount sums up to 32 ETH.
              <br />
              Join our <a href="https://discord.io/beaconchain">Discord server</a> for support, questions and suggestions.
            {{ end }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.addEventListener("load", function () {
      $("#deposits-tab").tab("show")
    })
  </script>
{{ end }}

{{ define "validatorOverviewPending" }}
  <div class="text-justify row justify-content-center mb-2">
    <div class="col">
      <div class="px-2">
        <div class="p-2 mx-auto" style="max-width: 50rem;">
          This validator has been processed by the beacon chain and is currently waiting to be activated.
          {{ if lt .ActivationEpoch 100_000_000 }}
            It will be activated on <span class="font-weight-bolder" title="{{ .ActivationTs }}" data-toggle="tooltip" aria-ethereum-date="{{ .ActivationTs.Unix }}">{{ .ActivationTs }}</span> during epoch <span class="font-weight-bolder">{{ .ActivationEpoch }}</span>.
          {{ else if lt .EstimatedActivationEpoch 100_000_000 }}
            It is estimated to be activated on <span class="font-weight-bolder" title="{{ .ActivationTs }}" data-toggle="tooltip" aria-ethereum-date="{{ .EstimatedActivationTs.Unix }}">{{ .EstimatedActivationTs }}</span> during epoch <span class="font-weight-bolder">{{ .EstimatedActivationEpoch }}</span>.
          {{ end }}
          Make sure your nodes and your client is up and running <em>before</em> the countdown reaches zero.
        </div>
        {{ if gt .QueuePosition 0 }}
          <div class="d-flex justify-content-center">
            <p>This validator is currently <span class="font-weight-bolder d-inline-block text-underlined" data-toggle="tooltip" title="{{ .ChurnRate }} Validators get dequeued each Epoch.">#{{ .QueuePosition }}</span> in Queue.</p>
          </div>
        {{ end }}
        <div class="my-4" style="min-width:300px;">
          {{ template "validatorCountdown" . }}
        </div>
      </div>
    </div>
  </div>
  <script>
    window.addEventListener("load", function () {
      $("#deposits-tab").tab("show")
    })
  </script>
{{ end }}

{{ define "validatorOverviewValidating" }}
  {{ with .Data }}
    <!-- Validator Lifecycle State Diagram -->
    <div id="validating-overview">
      <div>
        <div class="style-validator-overview-header">Rank</div>
        <a class="no-highlight style-validator-overview-value" href="/validators/leaderboard">
          {{ if gt .Rank7d 0 }}
            {{ .Rank7d }}
            {{ if gtf .RankPercentage 0.0 }}
              ({{ if gtf .RankPercentage 0.001 }}{{ formatPercentageWithGPrecision .RankPercentage 3 }}%{{ else }}Top 0.1%{{ end }})
            {{ end }}
          {{ else }}
            N/A
          {{ end }}
        </a>
      </div>
      <div>
        <div class="style-validator-overview-header">Balance</div>
        <div class="style-validator-overview-value">{{ formatCurrentBalance .CurrentBalance $.Rates.Currency }}</div>
        <div class="style-table-data">
          <span class="text-addition">{{ formatEffectiveBalance .EffectiveBalance "ETH" }}</span>
          <a class="no-highlight" href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance" data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator">
            <i class="fas fa-question-circle"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="style-validator-overview-header">Status</div>
        <div class="style-validator-overview-value">{{ .Status | formatValidatorStatus }}</div>
      </div>
      <div>
        <div class="style-validator-overview-header">Effectiveness</div>
        <div class="style-validator-overview-value">{{ .AttestationInclusionEffectiveness | formatAttestationInclusionEffectiveness }}</div>
      </div>
    </div>
    {{ template "validatorOverviewCount" . }}
  {{ end }}
{{ end }}

{{ define "validatorOverviewExited" }}
  {{ with .Data }}
    <div {{ if .Slashed }}id="validating-overview"{{ else }}class="d-flex justify-content-around" style="max-width: 30rem; margin: auto; line-height: 1;"{{ end }}>
      {{ if .Slashed }}
        <div>
          <div class="style-validator-overview-header">Slashed by</div>
          <div class="style-validator-overview-value">{{ .SlashedBy | formatValidator }}</div>
        </div>
      {{ end }}
      <div>
        <div class="style-validator-overview-header">Balance</div>
        <div class="style-validator-overview-value">{{ formatCurrentBalance .CurrentBalance $.Rates.Currency }}</div>
        <div class="style-table-data">
          <span class="text-addition">{{ formatEffectiveBalance .EffectiveBalance "ETH" }}</span>
          <a class="no-highlight" href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance" data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator">
            <i class="fas fa-question-circle"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="style-validator-overview-header">Status</div>
        <div class="style-validator-overview-value">{{ .Status | formatValidatorStatus }}</div>
      </div>
      {{ if .Slashed }}
        <div>
          <div class="style-validator-overview-header">Reason</div>
          <div class="style-validator-overview-value">{{ .SlashedFor }}</div>
        </div>
      {{ end }}
    </div>

    <div class="p-2 text-justify row justify-content-center">
      <div class="col">
        <div class="px-2 mx-auto" style="max-width: 50rem;">
          <div class="p-2 text-justify">
            This validator has exited the system during epoch <a href="/epoch/{{ .ExitEpoch }}">{{ .ExitEpoch }}</a> and is no longer validating. There is no need to keep the validator running anymore.
            {{ if .CappellaHasHappened }}
              Funds will be withdrawable after epoch <span><a href="/epoch/{{ .WithdrawableEpoch }}">{{ .WithdrawableEpoch }}</a></span
              >.
            {{ else }}
              <span data-toggle="tooltip" title="Please note that the withdraw functionality has not been implemented by ACD yet.">
                Funds will be withdrawable after epoch <span><a href="/epoch/{{ .WithdrawableEpoch }}">{{ .WithdrawableEpoch }}</a></span></span
              >.
            {{ end }}
          </div>
          {{ if .Slashed }}<div class="p-2">Slashed by {{ .SlashedBy | formatValidator }} at Slot {{ .SlashedAt | formatBlockSlot }}, Reason: {{ .SlashedFor }}</div>{{ end }}
        </div>
      </div>
    </div>
    {{ template "validatorOverviewCount" . }}
  {{ end }}
{{ end }}

{{ define "validatorOverviewCount" }}
  <div class="style-table-data d-flex flex-wrap justify-content-center my-3 my-md-4">
    <div class="mx-3">
      <span id="blockCount" style="cursor: pointer;" data-toggle="tooltip" title="Blocks (Proposed: {{ .ProposedBlocksCount }}, Missed: {{ .MissedBlocksCount }}, Orphaned: {{ .OrphanedBlocksCount }}, Scheduled: {{ .ScheduledBlocksCount }})"><i class="fas fa-cubes poin"></i> {{ .BlocksCount }}{{ if ne .BlocksCount 0 }}({{ formatPercentageColoredEmoji .UnmissedBlocksPercentage }}){{ end }}</span>
    </div>
    <div class="mx-3">
      <span id="attestationCount" style="cursor: pointer;" data-toggle="tooltip" title="Attestation Assignments (Executed: {{ .ExecutedAttestationsCount }}, Missed: {{ .MissedAttestationsCount }}, Orphaned: {{ .OrphanedAttestationsCount }})"><i class="fas fa-file-signature"></i> {{ .AttestationsCount }}{{ if ne .AttestationsCount 0 }}({{ formatPercentageColoredEmoji .UnmissedAttestationsPercentage }}){{ end }}</span>
    </div>
    <div class="mx-3">
      <span id="syncCount" style="cursor: pointer;" data-toggle="tooltip" title="Sync Participations (Participated: {{ .ParticipatedSyncCountSlots }}, Missed: {{ .MissedSyncCountSlots }}, Orphaned: {{ .OrphanedSyncCountSlots }}, Scheduled: {{ .ScheduledSyncCountSlots }})">
        {{ if .ScheduledSyncCountSlots }}
          <i class="fas fa-sync poin spin"></i>
        {{ else }}
          <i class="fas fa-sync poin"></i>
        {{ end }}
        {{ .SyncCount }}
        {{ if .SyncCount }}
          ({{ formatPercentageColoredEmoji .UnmissedSyncPercentage }})
          {{ if .ScheduledSyncCountSlots }}
            {{ .SlotsDoneInCurrentSyncCommittee }}/{{ .SlotsPerSyncCommittee }}
          {{ end }}
        {{ end }}
      </span>
    </div>
    {{ if .CappellaHasHappened }}
      <div class="mx-3">
        <span id="withdrawalCount" style="cursor: pointer;" data-toggle="tooltip" {{ if .IsWithdrawableAddress }}title="Withdrawals processed for this validator"{{ else }}title="To receive withdrawals, 0x01 withdrawal credentials are required. Click here for more information."{{ end }}>
          {{ if .IsWithdrawableAddress }}
            <i class="fas fa-money-bill"></i>
            {{ .WithdrawalCount }}
          {{ else }}
            <a href="https://launchpad.ethereum.org/en/withdrawals">
              <i class="fas fa-money-bill" style="color:var(--body-color)"></i>
              <i class="text-warning fas fa-exclamation-triangle"></i>
              <i class="fas fa-external-link-alt"></i>
            </a>
          {{ end }}
        </span>
      </div>
    {{ end }}
  </div>

  <script>
    window.addEventListener("load", function () {
      $("#blockCount").on("click", function () {
        $("#blocks-tab").tab("show")
      })
      $("#attestationCount").on("click", function () {
        $("#attestations-tab").tab("show")
      })
      $("#syncCount").on("click", function () {
        $("#sync-tab").tab("show")
      })
      $("#slashingsCount").on("click", function () {
        $("#slashings-tab").tab("show")
      })
      $("#depositCount").on("click", function () {
        $("#deposits-tab").tab("show")
      })
      $("#withdrawalCount").on("click", function () {
        $("#withdrawal-tab").tab("show")
      })
    })
  </script>
{{ end }}
