{{define "validatorLifeCycleDiagram"}}
    {{$deposited := or (or (eq .Status "deposited") (eq .Status "deposited_valid")) (eq .Status "deposited_invalid")}}
    <div class="validator__lifecycle-container">
    	<div class="validator__lifecycle-content">
      	<div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited">
          <div class="validator__lifecycle-node-header">
						<a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#2-deposit-contract-status-deposited">Deposited</a>
          </div>
          <div class="validator__lifecycle-node" data-toggle="tooltip" title="This will turn green when your deposit has been processed by the beacon chain">
            <i class="fas fa-check deposit-success"></i>
            <i class="fas fa-times fail deposit-fail"></i>
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white">
          <div class="validator__lifecycle-progress-epoch">
            {{if not $deposited}}<div data-toggle="tooltip" title="The eligible epoch is when your validator is registerd by the beacon chain and joins the queue to be activated"><a href="/epoch/{{.ActivationEligibilityEpoch}}">{{if eq .ActivationEligibilityEpoch 0}}genesis {{else}}{{.ActivationEligibilityEpoch}}{{end}}</a></div>{{end}}
          </div>
        </div>            
        <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending">
          <div class="validator__lifecycle-node-container">
            <div class="validator__lifecycle-node-header">
							<a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#3-validator-queue-status-pending">Pending</a>
            </div>
            <div class="validator__lifecycle-node" data-toggle="tooltip" title="After being proccessed your validator joins a queue to be activated">
              <i class="fas fa-hourglass-half pending-waiting"></i>
              <i class="fas fa-check"></i>
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-pending">
          <div class="validator__lifecycle-progress-epoch">
            {{if not $deposited}}<div data-toggle="tooltip" title="The activation epoch is when your validator becomes active"><a href="/epoch/{{.ActivationEpoch}}">{{if eq .ActivationEpoch 0}}genesis {{else}}{{.ActivationEpoch}}{{end}}</a></div>{{end}}
          </div>
        </div>
        <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active">
          <div class="validator__lifecycle-node-container">
            <div class="validator__lifecycle-node-header">
							<a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Active</a>
            </div>
            <div class="validator__lifecycle-node" data-toggle="tooltip" title="Once your validator reaches this state it can participate in attesting and proposing. Make sure it stays online!">
              <i class="fas fa-power-off online"></i>
              <i class="fas fa-power-off offline"></i>
              <i class="fas fa-check"></i>
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="validator__lifecycle-progress validator__lifecycle-active">
          <div class="validator__lifecycle-progress-epoch">
            {{if not (or (eq .ExitEpoch 9223372036854775807) (eq .ExitEpoch 0))}}<div data-toggle="tooltip" title="The exit epoch is when your validator will leave the network"><a href="/epoch/{{.ExitEpoch}}">{{.ExitEpoch}}</a></div>{{end}}
          </div>
        </div>
        <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited">
          <div class="validator__lifecycle-node-container">
            <div class="validator__lifecycle-node-header">
							<a class="no-highlight" href="https://kb.beaconcha.in/ethereum-2.0-depositing#4-staking-status-active">Exited</a>
            </div>
            <div class="validator__lifecycle-node" data-toggle="tooltip" title="If your validator misbehaves or chooses to leave the network it will join a queue to leave">
              <i class="fas fa-door-open"></i>
              <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{{end}}

<!-- TODO: in progress -->
{{define "validatorOverviewDeposited"}}
  <div class="text-justify row justify-content-center mb-2">
    <div class="col">
      <div class="px-2">
        <div class="px-2 mx-auto" style="max-width: 50rem;">
          <span>
            {{if eq .InclusionDelay 0}} 
              An ETH1 genesis deposit has been made, and your validator will be activated once genesis occurs. Please make sure your validator is up and running before genesis. 
            {{else}} 
              The last ETH1 deposit was made  <span aria-ethereum-date-format="FROMNOW" aria-ethereum-date="{{.Deposits.LastEth1DepositTs}}"></span>, it will take <a href="https://kb.beaconcha.in/ethereum-2.0-and-depositing-process">around {{.InclusionDelay}} hours</a>  until your deposit is processed by the beacon chain. If there is a deposit queue then it may take longer for the validator to be activated. 
            {{end}}
            {{if .PendingCount}}This validator will be activated approximately <span class="font-weight-bolder">{{.EstimatedActivationTs | formatTsWithoutTooltip}}</span> after being registered by the beacon chain.{{end}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <script>
  	window.addEventListener('load', function() {
      $('#deposits-tab').tab('show')
    })
  </script>
{{end}}

{{define "validatorOverviewPending"}}
  <div class="mx-5">
    <div style="line-height: 1.8rem;">
      This validator has been processed by the beacon chain and is currently waiting to be activated. It will approximately be activated on <span class="font-weight-bolder" title="{{.ActivationTs}}" data-toggle="tooltip" aria-ethereum-date="{{.ActivationTs.Unix}}">{{.ActivationTs}}</span> during epoch <span class="font-weight-bolder">{{.ActivationEpoch}}</span>. Make sure your nodes and your client is up and running <em>before</em> the countdown reaches zero.
    </div>
    <div class="py-sm-3">
      {{template "validatorCountdown" .}}
    </div>
  </div>
  <script>
    window.addEventListener('load', function() {
      $('#deposits-tab').tab('show')
    });
  </script>
{{end}}

{{define "validatorOverviewValidating"}}
  {{with .Data}}
    	<!-- Validator Lifecycle State Diagram -->
      <div class="overview-container d-flex flex-column flex-md-row align-items-start justify-content-start justify-content-md-between mx-5 my-3">
        <div class="my-2 my-md-0">
          <span class="font-weight-light text-muted mr-1">Percentage Rank </span><span class="h5 font-weight-bold text-nowrap">{{if gtf .RankPercentage 0.0}}{{if gtf .RankPercentage 0.001}}{{formatPercentageWithGPrecision .RankPercentage 3}}%{{else}}Top 0.1%{{end}}{{else}}{{end}}</span>
        </div>
        <div class="my-2 my-md-0">
          <span class="font-weight-light text-muted mr-1">Balance </span><span class="h5 font-weight-bold text-nowrap">{{formatCurrentBalance .CurrentBalance $.Currency}}</span>
          <span class="d-block">{{formatEffectiveBalance .EffectiveBalance "ETH"}} <span data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator"><a href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance"><i class="fas fa-info-circle no-highlight"></i></a></span></span>
        </div>
        {{if gtf .AttestationInclusionEffectiveness 0}}
          <div class="my-2 my-md-0">
            <span class="font-weight-light text-muted mr-1">Effectiveness </span><span class="h5 font-weight-bold text-nowrap">{{.AttestationInclusionEffectiveness | formatAttestationInclusionEffectiveness}}</span>
          </div>
        {{end}}
      </div>
      {{template "validatorOverviewCount" .}}
  {{end}}
{{end}}

{{define "validatorOverviewExited"}}
  {{with .Data}}
    <div class="overview-container d-flex flex-column flex-md-row align-items-start justify-content-start justify-content-md-between mx-5 my-3">
      {{if .Slashed}}
        <div class="my-2 my-md-0">
          <span class="font-weight-light text-muted mr-1">Slashed by </span><span class="h5 font-weight-bold text-nowrap">{{.SlashedBy | formatValidator}}</span>
        </div>
      {{end}}
      <div class="my-2 my-md-0">
        <span class="font-weight-light text-muted mr-1">Balance </span><span class="h5 font-weight-bold text-nowrap">{{formatCurrentBalance .CurrentBalance $.Currency}}</span>
        <span class="d-block">{{formatEffectiveBalance .EffectiveBalance "ETH"}} <span data-toggle="tooltip" title="The effective balance is used to calculate the base rewards of a validator"><a href="https://kb.beaconcha.in/glossary#current-balance-and-effective-balance"><i class="fas fa-info-circle no-highlight"></i></a></span></span>
      </div>
      {{if .Slashed}}
        <div class="my-2 my-md-0">
          <span class="font-weight-light text-muted mr-1">Reason </span><span class="h5 font-weight-bold text-nowrap">{{.SlashedFor}}</span>
        </div>
      {{end}}
    </div>
    <div class="mx-5 my-3" style="line-height: 1.8rem;">
      This validator has exited the system during epoch <a href="/epoch/{{.ExitEpoch}}">{{.ExitEpoch}}</a> and is no longer validating. There is no need to keep the validator running anymore. Funds will be withdrawable after epoch <span><a href="/epoch/{{.WithdrawableEpoch}}">{{.WithdrawableEpoch}}</a></span>.
      {{if .Slashed}}
        <div class="mt-3">Slashed by {{.SlashedBy | formatValidator}} at Slot {{.SlashedAt | formatBlockSlot}}, Reason <b>{{.SlashedFor}}</b></div>
      {{end}}
    </div>
    {{template "validatorOverviewCount" .}}
  {{end}}
{{end}}

{{define "validatorOverviewCount"}}
  <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-start justify-content-sm-between mx-5 my-3">
    <div class="mb-4 mb-md-0">
      <span id="blockCount" class="h5" style="cursor: pointer;" data-toggle="tooltip" title="Proposed: {{.ProposedBlocksCount}}, Missed: {{.MissedBlocksCount}}, Orphaned: {{.OrphanedBlocksCount}}, Scheduled: {{.ScheduledBlocksCount}}"><i class="fas fa-cubes fa-lg mr-2"></i>{{.BlocksCount}}{{if ne .BlocksCount 0}} ({{formatPercentageColored .UnmissedBlocksPercentage ""}}){{end}}</span>
    </div>
    <div class="mb-4 mb-md-0">
      <span id="attestationCount" class="h5" style="cursor: pointer;" data-toggle="tooltip" title="Attestation Assignments (Executed: {{.ExecutedAttestationsCount}}, Missed: {{.MissedAttestationsCount}}, Orphaned: {{.OrphanedAttestationsCount}})"><i class="fas fa-file-signature mr-2"></i>{{.AttestationsCount}}{{if ne .AttestationsCount 0}} ({{formatPercentageColored .UnmissedAttestationsPercentage ""}}){{end}}</span>
    </div>
    <div class="mb-4 mb-md-0">
      <span id="slashingsCount" class="h5" style="cursor: pointer;" data-toggle="tooltip" title="Other validators slashed"><i class="fas fa-user-slash mr-2"></i>{{.SlashingsCount}}</span>
    </div>
    <div class="mb-4 mb-md-0">
      <span id="depositCount" class="h5" style="cursor: pointer;" data-toggle="tooltip" title="Deposits made to the deposit contract"><i class="fas fa-wallet mr-2"></i>{{.DepositsCount}}</span>
    </div>
    <div class="mb-4 mb-md-0">
      {{if ne .CurrentAttestationStreak .LongestAttestationStreak}}
        <span id="attestationStreak" class="h5" style="cursor: default;" data-toggle="tooltip" title="Attestation Streaks (Current / Longest)"><i class="fas fa-fire mr-2"></i>{{.CurrentAttestationStreak}} / {{.LongestAttestationStreak}}</span>
      {{else}}
        <span id="attestationStreak" class="h5" style="cursor: default;" data-toggle="tooltip" title="Attestation Streak"><i class="fas fa-fire mr-2"></i>{{.LongestAttestationStreak}}</span>
      {{end}}
    </div>
  </div>
	<script>
    window.addEventListener('load', function() {
      $('#blockCount').on('click', function() {
        $('#blocks-tab').tab('show')
      })
      $('#attestationCount').on('click', function() {
        $('#attestations-tab').tab('show')
      })
      $('#slashingsCount').on('click', function() {
      	$('#slashings-tab').tab('show')
      })
      $('#depositCount').on('click', function() {
      	$('#deposits-tab').tab('show')
      })
    })
	</script>
{{end}}
