{{ define "withdrawalOverviewRow" }}
  {{ with . }}
    <div class="row mb-1">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between align-item-center">
              <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">Withdrawals</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="h6 font-weight-normal mb-0" title="Number of withdrawals Processed"><b>{{ formatAddCommas .WithdrawalCount }}</b> <small>processed</small></span>
              <span class="h6 font-weight-normal mb-0"><b>{{ formatBalance .TotalAmountWithdrawn "ETH" }}</b> <small>distributed</small></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between align-item-center">
              <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">Validator Counts</h2>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <span class="h6 font-weight-normal mb-0"><b>{{ formatAddCommas .WithdrawableValidatorCount }}</b> withdrawable</span>
              <span class="h6 font-weight-normal mb-0"><b>{{ formatAddCommas .ActiveValidatorCount }}</b> active</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-item-center">
              <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">BLS Address Changes</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="h6 font-weight-normal mb-0"><b>{{ formatAddCommas .BLSChangeCount }}</b> changed</span>
              <span class="h6 font-weight-normal mb-0"><b>{{ formatAddCommas .PendingBLSChangeValidatorCount }}</b> unchanged</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
