{{ define "js" }}
  <script src="/js/highcharts/highstock.min.js"></script>
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>
  <script src="/js/luxon.min.js"></script>
  <script>
    let performanceChart
    if (window.location.hash == "#performance") {
      $("#distribution-chart").addClass("d-none")
      $("#performance-chart").removeClass("d-none")
      $("#performance-chart-btn-hide-all").removeClass("d-none")
    }
    $("#distribution-chart-btn").on("click", () => {
      $("#distribution-chart").removeClass("d-none")
      $("#performance-chart").addClass("d-none")
      $("#performance-chart-btn-hide-all").addClass("d-none")
    })
    $("#performance-chart-btn").on("click", () => {
      $("#distribution-chart").addClass("d-none")
      $("#performance-chart").removeClass("d-none")
      $("#performance-chart-btn-hide-all").removeClass("d-none")
    })
    $("#performance-chart-btn-hide-all").on("click", () => {
      performanceChart.series.forEach((series) => {
        series.setVisible(false, false)
      })
    })
  </script>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css//datatables.min.css" />
  <link rel="stylesheet" href="/css/pools.css" />
  <style>
    #charts-container {
      height: 520px;
      position: relative;
    }
    @media (min-width: 817.96px) {
      #performance-chart-btn-hide-all {
        position: absolute;
        right: 0px;
        bottom: 55px;
      }
    }

    @media (max-width: 818px) {
      #charts-container {
        height: 560px;
      }
      #performance-chart-btn-hide-all {
        position: relative;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  <section>
    <div class="container">
      <div class="h-100 py-4">
        <div id="charts-container" class="w-100">
          <div id="distribution-chart" class="w-100 mb-2">
            {{ template "distribution_chart" .Data }}
          </div>
          <div id="performance-chart" class="w-100 mb-2 d-none">
            {{ template "performance_chart" .Data }}
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-sm d-none" id="performance-chart-btn-hide-all">
              <span class="text-white">
                <b>Hide all</b>
              </span>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center btn-group border rounded w-25 m-auto">
          <a role="button" class="btn border-right" id="distribution-chart-btn" href="#distribution">
            <i class="fas fa-chart-pie  fa-lg text-dark"></i>
          </a>
          <a role="button" class="btn" id="performance-chart-btn" href="#performance">
            <i class="fas fa-chart-line fa-lg text-dark"></i>
          </a>
        </div>
      </div>

      <br />
      <div id="r-banner" info="{{ .Meta.Templates }}"></div>
      <div>Staking pool deposit addresses are based on on-chain data. Please open an <a href="https://github.com/gobitfly/eth2-beaconchain-explorer/issues">issue</a> if you want to add an Ethereum staking pool.</div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div id="poolTable" class="table-responsive card px-0 pb-1 mb-2">
            <table class="table" id="staking-pool-table">
              <thead>
                <tr>
                  <th>Pool</th>
                  <th>Validators</th>
                  <th>Avg. APR 1d</th>
                  <th>Avg. APR 7d</th>
                  <th>Avg. APR 31d</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Data.PoolInfos }}
                  <tr>
                    <td>{{ if eq .Name "ETH.STORE" }}<a href="https://beaconcha.in/ethstore" target="_blank">{{ .Name }}®</a><sup>1</sup>{{ else }}{{ .Name }}{{ end }}</td>
                    <td>{{ if eq .Count -1 }}-{{ else }}{{ .Count }}{{ end }}</td>
                    <td>{{ formatPoolPerformance .AvgPerformance1d }} {{ if not (eq .Name "ETH.STORE") }}{{ formatEthstoreComparison .Name .EthstoreComparison1d }}{{ end }}</td>
                    <td>{{ formatPoolPerformance .AvgPerformance7d }} {{ if not (eq .Name "ETH.STORE") }}{{ formatEthstoreComparison .Name .EthstoreComparison7d }}{{ end }}</td>
                    <td>{{ formatPoolPerformance .AvgPerformance31d }} {{ if not (eq .Name "ETH.STORE") }}{{ formatEthstoreComparison .Name .EthstoreComparison31d }}{{ end }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <div style="padding-top: 5vh; font-size: 12px; font-style: italic;">
            <div style="display:flex;">
              <div style="padding-right: 5px;">
                <sup>1</sup>
              </div>
              <div>{{ .Data.Disclaimer }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="tempcont" class=""></div>
{{ end }}
