{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script src="/js/highcharts/highcharts-full-v9.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>
  <script src="/js/requestInterval.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/luxon.min.js"></script>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css//datatables.min.css" />
  <link rel="stylesheet" href="/css/pools.css" />
{{ end }}

{{ define "content" }}
  <section>
    <div class="container">
      <div style="padding-top: 2rem;" class="row-5 justify-content-center align-items-center">
        <div class="col p-1" style="height: 530px;">
          {{ template "distribution_chart" .Data}}
        </div>
      </div>
      <br />
      <div>Staking pool deposit adresses are based on on-chain data. Please open an <a href="https://github.com/gobitfly/eth2-beaconchain-explorer/issues">issue</a> if you want to add an Ethereum staking pool.</div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div id="poolTable" class="table-responsive card px-0 pb-1 pt-2 mb-2">
            <table class="table" id="staking-pool-table">
              <thead>
                <tr>
                  <th>Pool</th>
                  <th>Validators</th>
                  <th>Avg. Performance 31d</th>
                  <th>Avg. Performance 7d</th>
                  <th>Avg. Performance 1d</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Data.PoolInfos }}
                  <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Count }}</td>
                    <td>{{ formatBalanceChange .AvgPerformance31d $.Rates.Currency }}</td>
                    <td>{{ formatBalanceChange .AvgPerformance7d $.Rates.Currency }}</td>
                    <td>{{ formatBalanceChange .AvgPerformance1d $.Rates.Currency }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <span class="px-2" id="lastUpdate"></span>
        </div>
      </div>
    </div>
  </section>
  <div id="tempcont" class=""></div>
{{ end }}
