{{ define "js"}}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
	<script type="text/javascript" src="/js/datatable_input.js"></script>

	<script>
        $(document).ready(function () {
            $('#blocks').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: '/execution/blocks/data',
                pageLength: 10,
                pagingType: 'input',
                language: {
                    searchPlaceholder: 'Block Number / Graffiti',
                    search: '',
                    paginate: {
                        previous: "<",
                        next: ">",
                    }
                },
                columnDefs: [
                    {
                        targets: 12,
                        data: '12',
                        render: function(data, type, row) {
                            return '<span class="text-truncate" style="display:block;max-width: 300px;">'+data+ '</span>'
                        }
                    }
                ],
                preDrawCallback: function () {
                    // this does not always work.. not sure how to solve the staying tooltip
                    try {
                        $('#blocks').find('[data-toggle="tooltip"]').tooltip('dispose')
                    } catch (e) { }
                },
                drawCallback: function (settings) {
                    formatTimestamps()
                    $('#blocks').find('[data-toggle="tooltip"]').tooltip()
                },
            })
        })
	</script>
{{end}} {{ define "css"}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{{end}} {{ define "content"}}
	<div class="container mt-2">
		<div class="d-md-flex py-2 my-2 justify-content-md-between">
			<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-cubes mr-2"></i>Blocks</h1>
			<nav class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-center align-items-center" aria-label="breadcrumb">
				<ol style="white-space: nowrap;padding:0; background-color:transparent;" class="breadcrumb font-size-1 flex-nowrap mb-0" style="padding:0; background-color:transparent;">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Blocks</li>
				</ol>
			</nav>
		</div>
		<div class="card">
			<div class="card-body px-0 py-3">
				<div class="table-responsive px-0 py-1">
					<table class="table" id="blocks">
						<thead>
						<tr>
							<th>Number</th>
							<th>Hash</th>
							<th>Difficulty</th>
							<th>Miner</th>
							<th>Time</th>
							<th># Tx</th>
							<th># Uncles</th>
							<th>Duration</th>
							<th>Reward</th>
							<th>MEV Reward</th>
							<th>Base Fee</th>
							<th>Burned ETH</th>
							<th>Usage</th>
						</tr>
						</thead>
						<tbody> </tbody>
					</table>
				</div>
			</div>
        </div>
	</div>
{{end}}