{{ define "js"}}
	<script type="text/javascript">
        function viewExtraDataAs(type) {
            var extraDataHex = $("[aria-extra-data]").attr("aria-extra-data");

            if (!extraDataHex) {
                return
            }

            if (type === "hex") {
                $("#extra-data").text("0x" + extraDataHex)
            } else {
                try {
                    var r = decodeURIComponent(extraDataHex.replace(/\s+/g, '').replace(/[0-9a-f]{2}/g, '%$&'));
                    $("#extra-data").text(r)
                } catch (e) {
                    $("#extra-data").text(hex2a(extraDataHex.replace("0x", "")))
                }
            }
        }

        function hex2a(hexx) {
            var hex = hexx.toString();//force conversion
            var str = '';
            for (var i = 0; i < hex.length; i += 2)
                str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
            return str;
        }

        viewExtraDataAs('utf-8')
	</script>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
	<div class="container mt-2">

		<div class="my-3">
			<div class="d-md-flex py-2 justify-content-md-between">
				<h1 class="h4 mb-1 mb-md-0">
                    {{if gt .PreviousBlock 0}}
						<a href="/execution/block/{{.PreviousBlock}}"><i class="fa fa-chevron-left"></i></a>
                    {{end}}
					<span class="ml-1 mr-1"><i class="fas fa-cube mr-2"></i>Block {{.Number}}</span>
                    {{if gt .NextBlock 0}}
						<a href="/execution/block/{{.NextBlock}}"><i class="fa fa-chevron-right"></i></a>
                    {{end}}
				</h1>
				<nav class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-center align-items-center" aria-label="breadcrumb">
					<ol style="white-space: nowrap;padding:0; background-color:transparent;" class="breadcrumb font-size-1 flex-nowrap mb-0" style="padding:0; background-color:transparent;">
						<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
						<li class="breadcrumb-item"><a href="/execution/blocks" title="Blocks">Blocks</a></li>
						<li class="breadcrumb-item active" aria-current="page">Block details</li>
					</ol>
				</nav>
			</div>
		</div>
		<ul style="margin-bottom: -1px;" class="nav nav-tabs justify-content-start" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-txs-tab" data-toggle="pill" href="#pills-txs" role="tab" aria-controls="pills-txs" aria-selected="false">Transactions <span class="badge bg-secondary text-white">{{.TxCount}}</span></a>
			</li>
            {{ if gt (len .Uncles) 0}}
				<li class="nav-item">
					<a class="nav-link" id="pills-uncles-tab" data-toggle="pill" href="#pills-uncles" role="tab" aria-controls="pills-uncles" aria-selected="false">Uncles <span class="badge bg-secondary text-white">{{.UncleCount}}</span></a>
				</li>
            {{end}}
		</ul>
		<style>
            .block-card {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
		</style>
		<div class="card block-card">
			<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-overview" role="tabpanel"
						 aria-labelledby="pills-overview-tab">
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Hash:</div>
							<div class="col-md-10 text-monospace"><a href="/block/0x{{.Hash}}">0x{{.Hash}}</a></div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Miner:</div>
							<div class="col-md-10 text-monospace"><a href="/account/0x{{.MinerAddress}}">{{.MinerAddressFormatted}}</a></div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Reward:</div>
							<div class="col-md-10">
								{{formatAmount .Reward "ETH" 5}}
								{{if gtf .MevReward 0}}
									 + {{formatMEVAmount .MevReward "ETH" 5}}
								{{end}}
							</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Tx Fees:</div>
							<div class="col-md-10">{{formatAmount .TxFees "ETH" 5}}</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Gas Usage:</div>
							<div class="col-md-10">{{.GasUsage}}</div>
						</div>
                        {{if gt .TxCount 0}}
							<div class="row border-bottom p-3 mx-0">
								<div class="col-md-2">Lowest gas price:</div>
								<div class="col-md-10">{{formatAmount .LowestGasPrice "GWei" 0}}</div>
							</div>
                        {{end}}
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Time:</div>
							<div class="col-md-10">{{formatTime .Time}} ({{formatTimeFromNow .Time}})</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Size:</div>
							<div class="col-md-10">{{.Size | filesizeformat}}</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Difficulty:</div>
							<div class="col-md-10">{{.Difficulty | formatDifficulty}}</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Base fee:</div>
							<div class="col-md-10">{{formatAmount .BaseFeePerGas "GWei" 5}}</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Burned fees:</div>
							<div class="col-md-10">{{formatAmount .BurnedFees "ETH" 5}}</div>
						</div>
						<div class="row border-bottom p-3 mx-0">
							<div class="col-md-2">Extra:</div>
							<div class="col-md-8 text-monospace text-break" id="extra-data"
								 aria-extra-data="{{.Extra}}">0x{{.Extra}}</div>
							<div class="col-md-2">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-light text-dark active btn-sm" onclick="viewExtraDataAs('hex')">
										<input type="radio" name="options" id="optionHex"> Hex
									</label>
									<label class="btn btn-light text-dark btn-sm" onclick="viewExtraDataAs('utf-8')">
										<input type="radio" name="options" id="optionUTF8" checked> UTF-8
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-txs" role="tabpanel" aria-labelledby="pills-txs-tab">
						<div class="row border-bottom p-1 mx-0">
							<div class="col-md-12 text-center"><b>Showing {{ .TxCount }} Transactions </b></div>
						</div>
						<div class="table-responsive">
							<table class="table table-sm table-bordered text-center">
								<tr>
									<th>Hash</th>
									<th>From</th>
									<th>To</th>
									<th>Value</th>
									<th>Fee</th>
									<th>Gas Price</th>
								</tr>
                                {{range .Txs}}
									<tr>
										<td>{{if eq .Hash .ParentHash}}{{if .Failed}}<i class="fas fa-exclamation-triangle mr-1 text-danger"></i>{{end}}<a class="text-monospace" href="/tx/0x{{.Hash}}">0x{{printf "%.8s" .Hash}}…</a>{{end}}</td>
										<td>{{.From}}</td>
										<td>{{.To}}</td>
										<td>{{formatAmount .Value "ETH" 5}}</td>
										<td>{{if eq .Hash .ParentHash}}{{.Fee}}{{end}}</td>
										<td>{{formatAmount .GasPrice "GWei" 0}}</td>
									</tr>
                                {{end}}
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-uncles" role="tabpanel"
						 aria-labelledby="pills-uncles-tab">
						<div class="row border-bottom p-1 mx-0">
							<div class="col-md-12 text-center"><b>Showing {{ .UncleCount }} Uncle{{ .UncleCount | pluralize "s" }} </b></div>
						</div>
						<div class="table-responsive">
							<table class="table table-sm table-bordered text-center">
								<tr>
									<th>Number</th>
									<th>Level</th>
									<th>Miner</th>
									<th>Reward</th>
									<th>Extra</th>
								</tr>
                                {{range .Uncles}}
									<tr>
										<td>{{.Number}}</td>
										<td>{{subuint64 $.Number .Number}}</td>
										<td>{{formatAddressAsLink .MinerAddress .MinerName .MinerNameVerified .MinerIsContract 6}}</td>
										<td>{{formatAmount .Reward "ETH" 5}}</td>
										<td>{{.Extra}}</td>
									</tr>
                                {{end}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{{end}}
