{{ define "block_compounding_requests" }}
  <style>
    #blobs_table td {
      max-width: 200px;
    }
  </style>
  <div class="row p-1 mx-0">
    <div class="col-md-12 text-center"><b>Showing {{ len .MoveToCompoundingRequests }} Processed Move-to-Compounding Requests</b></div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm text-left">
      <tbody id="blobs_table">
        <tr style="background-color: var(--bg-color-light);">
          <th class="border-0">Index</th>
          <th class="border-0">Validator</th>
          <th class="border-0">Address</th>
        </tr>
        {{ range .MoveToCompoundingRequests }}
          <tr class="border-bottom">
            <td class="border-0">{{ .Index }}</td>
            <td class="border-0">{{ formatValidatorInt64 .ValidatorIndex }}</td>
            <td class="border-0">{{ formatEth1AddressFull .Address }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
