{{ define "block_deposits" }}
  <div class="table-responsive px-0 py-3">
    <table class="table" id="block_deposits">
      <thead>
        <tr>
          <th>Deposit</th>
          <th>Public Key</th>
          <th>Amount</th>
          <th>Withdrawal Credentials</th>
          <th>Signature</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ins data-revive-zoneid="1" data-revive-id="5b200397ccf8a9353bf44ef99b45268c"></ins>
  </div>
{{ end }}
