{{ define "block_deposit_requests" }}
  <style>
    #blobs_table td {
      max-width: 200px;
    }
  </style>
  <div class="row p-1 mx-0">
    <div class="col-md-12 text-center"><b>Showing {{ len .DepositRequests }} Deposit Requests</b></div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm text-left">
      <tbody id="blobs_table">
        <tr style="background-color: var(--bg-color-light);">
          <th class="border-0">Index</th>
          <th class="border-0">Validator Index</th>
          <th class="border-0">Pubkey</th>
          <th class="border-0">Amount</th>
          <th class="border-0">Withdrawal Credential</th>
          <th class="border-0">Signature</th>
        </tr>
        {{ range .DepositRequests }}
          <tr class="border-bottom">
            <td class="border-0">{{ .Index }}</td>
            <td class="border-0">{{ formatValidatorInt64 .ValidatorIndex }}</td>
            <td class="border-0">{{ formatPublicKey .ValidatorPubkey }}</td>
            <td class="border-0">{{ formatClCurrency .Amount config.Frontend.MainCurrency 5 true false false false }}</td>Fv
            <td class="border-0">{{ formatWithdawalCredentials .WithdrawalCredentials true }}</td>
            <td class="border-0">{{ formatHash .Signature }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
