.idea/
cmd/playground
cmd/monitor
cmd/explorer/explorer
modd.conf
bin/
docker/
templates/imprint.html
config.yml
frontend.yml
config-staging.yml
config-pyrmont.yml
config-lighthouse.yml
.*swp
bootstrap/node_modules
private/
run-local
docker-compose-private.yml
static/bundle/css
static/bundle/js
docs
node_modules
.vscode