.idea/
cmd/playground
cmd/monitor
cmd/explorer/explorer
modd.conf
bin/
docker/
templates/imprint.html
config.yml
config-lighthouse.yml
.*swp
bootstrap/node_modules
/Users/butta/eth2-beaconchain-explorer/run-local/
/run-local/
*.stat
