.info-banner-container {
  position: fixed;
  height: 46px;
  z-index: 999;
  width: 100%;
  min-width: 320px;
  background-color: var(--banner-background);
  color: var(--banner-text);
  /* font-size: 90%; */
}

.info-banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-banner-container .info-banner-content {
  height: inherit;
}

.info-banner-container .info-item-body {
  font-weight: bold;
}

.currency-symbol {
  font-weight: 500;
}

@media (min-width: 1440px) {
  .currency-symbol {
    display: none;
  }
}

.k-formatted-price {
  display: inline-block;
}

.price {
  display: none;
}

@media (min-width: 1440px) {
  .k-formatted-price {
    display: none;
  }

  .price {
    display: inline-block;
  }
}

.info-banner-center, .info-banner-left, .info-banner-right {
  flex: 1 1 auto;
  height: inherit;
  width: 100%;
}

.info-banner-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-banner-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info-banner-right i {
  padding: .5rem .3rem;
  margin: 0 .2rem;
}

.info-banner-left {
  display: flex;
  align-items: center;
  font-size: 90%;
}

.info-banner-container a {
  color: inherit;
}

.info-banner-container .item-icon {
  display: none;
}

.info-banner-search .tt-menu {
  margin-top: 4px;
  background-color: var(--banner-background);
  border: 1px solid var(--banner-background);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 5px 10px var(--banner-background);
  overflow-y: auto;
  max-height: 300px;
  cursor: pointer;
  width: 100%;
  color: var(--banner-text);
}

.info-banner-search .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.info-banner-search {
  display: flex;
  position: relative;
  width: inherit;
}

.info-banner-search .search-button i {
  position: absolute;
  display: initial;
  color: grey;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  cursor: default;
}

.info-banner-search .tt-suggestion {
  line-height: 34px;
  margin: 0;
  padding: 0 1rem;
  font-size: 90%;
}

.info-banner-search .tt-suggestion.tt-cursor,
.info-banner-search .tt-suggestion:hover {
  color: #fff;
  background-color: #007bff;
}

.info-banner-search .tt-dataset h3 {
  margin-bottom: 0;
  padding: .5rem 1rem;
  cursor: default;
}

.info-banner-search .typeahead {
  /* visibility: hidden; */
  border: none;
  border-radius: 0.25rem;
  background-clip: padding-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  padding: 0.375rem 0.75rem;
  background: #3e4461;
  transition: width, opacity 5s linear;
  border: none;
  color: var(--banner-text) !important;
  padding-right: 2rem;
}

.info-banner-search .search-container form>span {
  width: 100%;
  display: inline-flex !important;
  justify-content: flex-end;
}

.info-banner-search .typeahead:focus {
  background: #3e4461;
  border: none;
  outline: none;
  transition: width .4s ease-in;
  width: 100%;
}

@media (max-width: 1140px) {
  .info-banner-right, .info-banner-center {
    flex: 0 0 auto;
    width: fit-content;
    margin-right: .2rem;
  }

  .info-banner-container .info-banner-center, .info-banner-container .info-banner-right, .info-banner-container .info-banner-left {
    width: auto;
  }

  .info-banner-container:not(.searching) .info-banner-search .typeahead {
    padding: 0;
    width: 0;
    height: 0;
  }
  
  .info-banner-container:not(.searching) .info-banner-search .search-button {
    cursor: pointer;
    color: var(--banner-text);
  }
  
  .info-banner-container:not(.searching) .info-banner-search .search-button i {
    color: var(--banner-text);
    position: static;
    padding: .5rem .3rem;
    margin: 0 .2rem;
  }
  
  .info-banner-container:not(.searching) .info-banner-search .search-button:hover i {
    color: var(--highlight);
  }
}

@media (max-width: 960px) {
  .info-banner-container.searching .info-banner-left, 
  .info-banner-container.searching .info-banner-right {
    display: none;
  }

  .info-banner-container.searching .info-banner-center {
    flex: 1 1 auto;
    width: 100%;
  }
}

.info-banner-container .fa-sync {
  animation: rotate 3s linear infinite;
}

@media (max-width: 450px) {
  .info-banner-left,
  .info-banner-center {
    font-size: 12px;
  }

  #banner-search {
    padding: 0;
  }

  .info-banner-container .fa-sync {
    font-size: 10px;
  }

  #loginDropdown {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .info-banner-container .fa-sync {
    display: none;
  }
}

/* .info-banner-container .fa-search:not(.show) {
cursor: pointer;
color: var(--banner-text);
} */

.search-container {
  flex: 1 1 auto;
}

.search-container form {
  width: 100%;
  justify-content: flex-end;
  padding: 5px 0;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  20% {
    transform: rotate(72deg)
  }

  40% {
    transform: rotate(144deg)
  }

  60% {
    transform: rotate(216deg)
  }

  80% {
    transform: rotate(288deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@media (max-width: 1139.98px) {
  .info-banner-content.container {
    padding-right: 0;
    padding-left: 0;
  }
  .info-banner-container {
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .info-banner-container {
    padding: 0 .5rem;
  }
}

.currency-dropdown-toggle {
  display: flex;
  align-items: center;
}

.currency-dropdown-toggle > div:nth-child(1) {
  width: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: .4rem;
}

.currency-flag-dropdown-image {
  width: 98%; 
  height: auto;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .currency-dropdown-toggle > div:nth-child(1) {
    display: none;
  }
}

@media (max-width: 450px) {
  #currencyDropdown {
    font-size: 12px;
  }
}

.currency-flag-option {
  width: 1.8rem;
  /* border: .2px solid rgba(0, 0, 0, .1); */
  border-radius: 3px;
  margin: 0 .8rem 0 0; 
}

.currency-name {
  display: none;
  width: 50%;
  margin-right: 2rem;
  font-weight: 500;
}


@media (min-width: 1440px) {
  .currency-name {
    display: inline-block;
  }
}
