{{ define "depositProgress" }}
  <div class="d-flex flex-column justify-content-center">
    <h6 class="d-flex justify-content-between">
      <span>
        Deposit Progress
      </span>
      {{if gt .ValidatorsRemaining 0.0}}
      <span class="text-muted">{{.ValidatorsRemaining | formatThousands}} validators left</span>
      {{else}}
      <span class="text-muted text-success">{{round (div (.DepositedTotal) (.DepositThreshold)) 2 | percent }}%</span>
      {{end}}
    </h6>
    <div class="progress w-100" data-toggle="tooltip" data-placement="top" title="A total of {{.DepositedTotal | formatThousands}} ETH ({{round (div (.DepositedTotal) (.DepositThreshold)) 2 | percent }}%) has been deposited.">
      <div class="progress-bar bg-info" role="progressbar" style="width:{{div (.DepositedTotal) (.DepositThreshold) | percent}}%" aria-valuenow="{{.DepositedTotal | formatThousands}}" aria-valuemin="0" aria-valuemax="{{.DepositThreshold | formatThousands}}"></div>
    </div>
    <span class="text-muted">{{.DepositedTotal | formatThousands}} / {{.DepositThreshold | formatThousands}} ETH has been deposited.</span>
  </div>
{{end}}