{{ define "genesisCountdown" }}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var genesis = {{.NetworkStartTs}}
		var now = Math.round((new Date()).getTime() / 1000)
		var secondsLeft = genesis - now
		var seconds = secondsLeft % 60
		var min = ((secondsLeft - seconds) / 60) % 60
		var hour = Math.round((secondsLeft - seconds - (min * 60)) / 3600)
	
		if (-1 < hour && hour <= 48) {
			$('#clock').html(hour + ' hr ' + min + ' min ' + seconds + ' sec')
			$('#estimated').html('Countdown')
			$('#minGenesis').addClass('d-none')
			$('#networkStart').removeClass('d-none')
			// $('#estimated+span').removeClass('d-none')
			var countdownInterval = setInterval(function () {
				if (hour === 0 && min === 0 && seconds === 0) {
					clearInterval(countdownInterval)
					// window.location.href = "/"
				}
	
				if (seconds === 0 && min === 0 && hour > 0) {
					min = 60
					hour -= 1
				}
	
				if (seconds === 0 && min > 0) {
					seconds = 60
					min -= 1
				}
				seconds -= 1
				var s = seconds
				if (seconds < 10) {
					s = '0'+ s 
				}
				var m = min
				if (min < 10) {
					m = '0' + m
				}

				var h = hour
				if (h < 10) {
					h = '0' + h
				}
				$('#clock').html(h + ' hr ' + m + ' min ' + s + ' sec')
			}, 1000)
		}
	})
</script>
<div class="d-flex flex-column justify-content-center">
  <h6 class="d-flex justify-content-between">
    <span id="estimated">
      Estimated between:
		</span>
		{{if gt .NetworkStartTs 0}}
			<small id="minGenesis" data-toggle="tooltip" title="Earliest possible (Min) Genesis Time" class="text-muted" aria-ethereum-date-format="MMMM Do, YYYY, h:mm a" aria-ethereum-date="{{.MinGenesisTime}}"></small>
			<small id="networkStart" data-toggle="tooltip" title="Genesis Time" class="text-muted d-none" aria-ethereum-date-format="MMMM Do, YYYY, h:mm a" aria-ethereum-date="{{.NetworkStartTs}}"></small>
		{{end}}
  </h6>
  <p class="align-self-center">
		{{if eq .NetworkStartTs 0 }}
		<strong>Waiting on min genesis time announcement</strong>
		{{else}}
			<strong id="clock">
			<span data-toggle="tooltip" title="Estimated Genesis Time according to the rate of deposits"><span aria-ethereum-date-format="MMMM Do, YYYY, h:mm a" aria-ethereum-date="{{.NetworkStartTs}}"></span>({{.NetworkStartTs | formatTsWithoutTooltip}})</span>
			</strong>
		{{end}}
  </p>
</div>
{{end}}