{{ define "hero_css" }}
  <style>
    #hero-container {
      position: relative;
      padding-top: 0.625rem;
    }

    @media (min-width: 640px) {
      #hero-container {
        padding: 2.5rem 0;
      }
      #hero-text,
      #hero-text .fas {
        color: white !important;
      }
      #hero-text a {
        color: #66bce9;
      }
    }

    @media (min-width: 820px) {
      #hero-container {
        padding: 4rem 0;
      }
    }

    @media (min-width: 1140px) {
      #hero-container {
        padding: 5rem 0;
      }
    }

    #hero-image svg {
      z-index: -1;
      opacity: 0.3;
      width: 100%;
      min-width: 15rem;
      max-width: 22rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    #hero-blob svg {
      z-index: -1;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
    }

    #hero-search-container {
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0 2px 8px 0 var(--shadow-color);
      max-width: 34rem;
      margin: auto;
    }

    @media (min-width: 1140px) {
      #hero-search-container {
        max-width: 46rem;
      }
    }

    #hero-search-container input {
      line-height: 1rem;
      border-radius: 10px 0px 0px 10px;
      background: var(--style-search-bg);
      color: var(--font-color);
    }

    #hero-search-container input:focus {
      border: none;
      outline: none;
    }
    #hero-search-container .twitter-typeahead {
      width: 100%;
      height: 100%;
    }
    #hero-search-container .fa-search {
      color: white;
      vertical-align: -0.1rem;
    }

    #hero-search-container button {
      border-radius: 0px 10px 10px 0px;
      padding: 0 0.75rem;
    }
    #hero-container h6 .fas {
      color: var(--font-color);
    }

    #hero-search-container .tt-menu {
      margin-top: 4px;
      background-color: var(--banner-background);
      border: 1px solid var(--banner-background);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      box-shadow: 0 5px 10px var(--banner-background);
      overflow-y: auto;
      max-height: 300px;
      cursor: pointer;
      width: 100%;
      color: var(--banner-text);
    }

    #hero-search-container .tt-query {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    #hero-search-container .tt-suggestion {
      line-height: 34px;
      margin: 0;
      padding: 0 1rem;
      font-size: 90%;
    }

    #hero-search-container .tt-suggestion.tt-cursor,
    #hero-search-container .tt-suggestion:hover {
      color: #fff;
      background-color: #007bff;
    }

    #hero-search-container .tt-dataset h3 {
      margin-bottom: 0;
      padding: 0.5rem 1rem;
      cursor: default;
    }
  </style>
{{ end }}

{{ define "hero" }}
  <div id="hero-container">
    <div class="d-none d-sm-block" id="hero-blob">
      {{ template "blob_svg" }}
    </div>
    <div class="d-sm-none" id="hero-image">
      {{ template "woman_walking_svg" }}
    </div>
    <div id="hero-text">
      <h1 class="text-center style-title text-nowrap">
        Open Source <br class="d-sm-none" />
        Ethereum Explorer
      </h1>

      <div style="height: 2.5rem" id="hero-search-container" class="d-flex align-items-center">
        <form class=" form-inline flex-grow-1 h-100" action="/search" id="hero-search-form" method="POST">
          <input class="typeahead w-100 h-100 border-0 px-2 style-nav1-text" autocomplete="off" name="search" type="text" placeholder="Public Key / Block Number / Block Hash" aria-label="Search" />
        </form>
        <button class="h-100 border-0" style="background: var(--primary)" form="hero-search-form">
          <i class="fas fa-search position-static"></i>
        </button>
      </div>

      <h6 class="text-center mt-3 style-hero-links">
        <a class="mr-3" href="/mobile">Mobile App<i class="fas fa-mobile-alt ml-2"></i></a>
        <a class="mr-3" href="https://gitcoin.co/grants/258/beaconchain-open-source-eth2-blockchain-explorer">Gitcoin Grant<img class="ml-2 mb-1" height="16" src="/img/gitcoin_logo.svg" /></a>
        <a class="my-1 text-nowrap" href="/advertisewithus">Advertise<i class="fas fa-ad ml-2"></i></a>
      </h6>
    </div>
  </div>
{{ end }}
