{{ define "js" }}
  <script src="/js/highcharts/highstock.min.js"></script>
  <script src="/js/highcharts/exporting.min.js"></script>
  <script src="/js/highcharts/offline-exporting.min.js"></script>
  <script src="/js/vue.min.js"></script>
  <script src="/js/highcharts/highcharts-vue.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>
  <script src="/js/requestInterval.js"></script>

  <!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

  {{ if .GenesisPeriod }}
    <script src="/js/d3.min.js"></script>
  {{ end }}
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
            components: {
                highcharts: HighchartsVue.Chart
            },
            data: function () {
                return {
                    checklist: [
                        {epoch: 0, participation: 0.3,},
                        {epoch: 1, participation: 0.3,},
                        {epoch: 1, participation: 0.3,}
                    ],
                    windowWidth: window.innerWidth,
                    updateIn: -1,
                    page: {{.}},
                    chartOptions: {
                        chart: {
                            height: 254,
                        },
                        plotOptions: {
                            line: {stacking: false },
                        },
                        series: [
                            {
                                name: "Gas Price",
                                color: '#90ED7D',
                                data: {{.GasPriceHistory}},
                            },
                        ],
                        yAxis: [{
                            title: {
                                text: 'Gas Price',
                            },

                            startOnTick: false,
                            endOnTick: false,
                            opposite: false,
                            labels: {
                                enabled: false,
                            }
                        },
                        {
                            linkedTo: 0,
                            opposite: true,
                            labels: {
                                reserveSpace: true,
                                formatter: function () {
                                    var orig = this.axis.defaultLabelFormatter.call(this)
                                    return `${orig} GWei`
                                }
                            }
                        }
                        ],
                        title: {
                            text: '<span class="mukta font-weight-medium fs-20" >Gas Price History</span>',
                            useHTML: true,
                        },
                        rangeSelector: false,
                        navigator: {
                            enabled: false,
                        },
                        scrollbar: {
                            enabled: false,
                        },
                        responsive: {
                            rules: [{
                                condition: {
                                    callback: function() {
                                        return window.innerWidth >= 1140;
                                    }
                                },
                                chartOptions: {
                                    chart: {
                                        height: 160,
                                    },
                                }
                            }]
                        },
                    },
                }
            },
            computed: {
                participation: function () {
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        return Math.round(this.page.epochs[0].globalparticipationrate * 1000) / 1000
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        return Math.round(this.page.epochs[1].globalparticipationrate * 1000) / 1000
                    } else {
                        return 0
                    }
                },

                validatorsMissing: function () {
                    var eligible = 0
                    var voted = 0
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        eligible = this.page.epochs[0].eligibleether
                        voted = this.page.epochs[0].votedether
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        eligible = this.page.epochs[1].eligibleether
                        voted = this.page.epochs[1].votedether
                    } else {
                        return 0
                    }
                    var missingEther = (eligible * 0.66) - voted
                    return Math.round(missingEther / 32e9)
                },
                scheduledCount: function () {
                    return this.page.scheduled_count
                },
                epochCompletePercent: function () {
                    return ((32 - this.page.scheduled_count) / 32) * 100
                }
            },
            filters: {
                fromNow(date) {
                    return getRelativeTime(luxon.DateTime.fromISO(date));
                }
            },
            created: function () {
                this.tick();
                setInterval(function () {
                    this.tick();
                }.bind(this), 1000);
            },
            methods: {
                tick: function () {
                    if (this.updateIn <= 0) {
                        $.getJSON('/index/data', function (response) {
                            this.page = response;
                            $('.style-grid [data-toggle="tooltip"]').tooltip()
                        }.bind(this));
                        this.updateIn = 5;
                    } else {
                        this.updateIn--;
                    }
                }
            },
            mounted() {
                this.$nextTick(() => {
                    window.addEventListener('resize', () => {
                        this.windowWidth = window.innerWidth
                    })
                })
            }
        })
</script>
{{ end }}

{{ define "css" }}

  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> -->

  {{ if .GenesisPeriod }}
    <link rel="stylesheet" href="/css/checklist.css" />
    <link rel="stylesheet" href="/css/rocket.css" />
  {{ end }}


  <style>
    #slotsViz > svg {
      overflow: visible;
    }
    svg rect[slot],
    svg rect[epoch] {
      cursor: pointer;
    }

    .responsive-border-right {
      border-right-color: rgb(222, 226, 230);
      border-right-style: solid;
      border-right-width: 1px;
    }

    @media (max-width: 767px) {
      .responsive-border-right-l {
        border: hidden;
      }
    }

    [v-cloak] {
      visibility: hidden;
    }

    body {
      min-width: 320px;
    }

    .d-contents {
      display: contents;
    }

    :root {
      --style-search-bg: #fff;
      --text-addition: #a5a5a5;
      --bg-table-header: #f4f2f2;
      --table-scroll: rgba(52, 58, 64, 0.1);
      --table-scroll-hover: rgba(52, 58, 64, 0.5);
    }

    [data-theme="dark"]:root {
      --style-search-bg: #3e4461;
      --bg-table-header: #362f32;
      --table-scroll: rgba(231, 225, 215, 0.1);
      --table-scroll-hover: rgba(231, 225, 215, 0.5);
    }

    .mukta {
      font-family: "Mukta", sans-serif;
    }

    .fs-20 {
      font-size: 1.25rem;
    }

    .style-title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.875rem;
      font-weight: 600;
    }

    .style-nav1-text {
      font-family: "Mukta", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
    }

    .style-paragraph-1 {
      font-family: "Mukta", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
    }

    .style-paragraph-3 {
      font-family: "Mukta", sans-serif;
      font-size: 0.75rem;
      font-weight: 300;
    }

    .style-paragraph-6 {
      font-family: "Mukta", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
    }

    .style-status-tag-text {
      font-family: "Mukta", sans-serif;
      font-size: 0.625rem;
      font-weight: 500;
    }

    .style-hash {
      font-family: "Roboto Mono";
      font-size: 0.75rem;
      font-weight: 400;
    }

    .style-card-header {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 500;
    }

    .style-button {
      font-family: "Mukta", sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
    }

    .style-hero-links {
      font-family: "Mukta", sans-serif;
      font-size: 1rem;
      font-weight: 500;
    }

    @media (min-width: 640px) {
      .style-status-tag-text {
        font-size: 0.75rem !important;
      }
    }

    @media (min-width: 1140px) {
      .style-title {
        font-size: 2.5rem;
      }
      .style-nav1-text {
        font-size: 1.125rem;
      }
      .style-hero-links {
        font-size: 1.25rem;
      }
      .style-card-header {
        font-size: 1.75rem;
      }
      .style-button {
        font-size: 0.875rem;
      }
    }

    .style-badge {
      display: inline-block;
      white-space: nowrap;
      height: 1rem;
      text-align: center;
      border-radius: 10.5px;
      width: 1.3rem;
    }

    .style-badge .style-status-tag-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .style-bg-good {
      background-color: var(--success);
    }

    .style-bg-neutral-1 {
      background-color: var(--light);
    }

    .style-bg-neutral-2 {
      background-color: var(--dark);
    }

    .style-bg-bad {
      background-color: var(--danger);
    }

    @media (max-width: 639px) {
      .style-badge.style-badge-single-char {
        width: 1rem;
        padding: 0;
        border-radius: 50%;
      }
    }

    @media (min-width: 640px) {
      .style-badge {
        width: 5rem;
      }
      .style-badge-nfs {
        width: 7rem;
      }
    }

    .style-grid {
      display: grid;
      white-space: nowrap;
      color: var(--font-color);
      overflow: scroll;
      overflow-x: auto;
      overflow-y: overlay;
    }

    .style-grid .style-grid-header {
      background-color: var(--bg-table-header);
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .style-grid .style-grid-header,
    .style-grid .style-grid-cell {
      display: flex;
      align-items: center;
    }

    .style-grid .style-grid-cell {
      border-bottom: 1px solid var(--border-color);
    }

    .style-grid div[role="row"]:last-of-type .style-grid-cell {
      border: 0;
    }

    .style-grid::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    .style-grid::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: var(--table-scroll);
      opacity: 0;
    }
    .style-grid:hover::-webkit-scrollbar-thumb {
      background-color: var(--table-scroll-hover);
    }
  </style>

  {{ template "hero_css" }}
  {{ template "postGenesis_css" }}
{{ end }}

{{ define "content" }}
  <div class="container">
    <div id="app" v-cloak>
      {{ with .Data }}
        {{ if and (and (not .ShowSyncingMessage) .Genesis) (not .GenesisPeriod) }}
          {{ template "participationWarning" . }}
        {{ end }}
        {{ template "hero" . }}
      {{ end }}
      {{ if not .NoAds }}{{ template "banner" }}{{ end }}
      {{ with .Data }}
        {{ if and (not .Genesis) (not .GenesisPeriod) }}
          {{ template "preGenesis" $ }}
        {{ else if .GenesisPeriod }}
          {{ template "genesis" . }}
        {{ else }}
          {{ template "postGenesis" $ }}
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
