{{ define "js" }}
  <script src="/js/highcharts/highstock.min.js"></script>
  <script src="/js/highcharts/exporting.min.js"></script>
  <script src="/js/highcharts/offline-exporting.min.js"></script>
  <script src="/js/vue.min.js"></script>
  <script src="/js/highcharts/highcharts-vue.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>

  <!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

  {{ if .GenesisPeriod }}
    <script src="/js/d3.min.js"></script>
  {{ end }}
    <script>
        var creditsEnabled = {{ if  .SlotVizData }} false {{ else }} true {{ end }}
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
            components: {
                highcharts: HighchartsVue.Chart
            },
            data: function () {
                return {
                    checklist: [
                        {epoch: 0, participation: 0.3,},
                        {epoch: 1, participation: 0.3,},
                        {epoch: 1, participation: 0.3,}
                    ],
                    windowWidth: window.innerWidth,
                    updateIn: -1,
                    page: {{.}},
                    chartOptions: {
                        chart: {
                            height: 254,
                        },
                        plotOptions: {
                            line: {stacking: false },
                        },
                        series: [
                            {
                                name: "Gas Price",
                                color: '#90ED7D',
                                data: {{.GasPriceHistory}},
                            },
                        ],
                        yAxis: [{
                            title: {
                                text: 'Gas Price',
                            },

                            startOnTick: false,
                            endOnTick: false,
                            opposite: false,
                            labels: {
                                enabled: false,
                            }
                        },
                        {
                            linkedTo: 0,
                            opposite: true,
                            labels: {
                                reserveSpace: true,
                                formatter: function () {
                                    var orig = this.axis.defaultLabelFormatter.call(this)
                                    return `${orig} GWei`
                                }
                            }
                        }
                        ],
                        title: {
                            text: '<span class="mukta font-weight-medium fs-20" >Gas Price History</span>',
                            useHTML: true,
                        },
                        rangeSelector: false,
                        navigator: {
                            enabled: false,
                        },
                        scrollbar: {
                            enabled: false,
                        },
                        responsive: {
                            rules: [{
                                condition: {
                                    callback: function() {
                                        return window.innerWidth >= 1140;
                                    }
                                },
                                chartOptions: {
                                    chart: {
                                        height: 160,
                                    },
                                }
                            }]
                        },
                    },
                }
            },
            computed: {
                participation: function () {
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        return Math.round(this.page.epochs[0].globalparticipationrate * 1000) / 1000
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        return Math.round(this.page.epochs[1].globalparticipationrate * 1000) / 1000
                    } else {
                        return 0
                    }
                },
                scheduledCount: function () {
                    return this.page.scheduled_count
                },
                epochCompletePercent: function () {
                    return ((32 - this.page.scheduled_count) / 32) * 100
                }
            },
            filters: {
                fromNow(date) {
                    return getRelativeTime(luxon.DateTime.fromISO(date));
                },
                timestampTooltip(date){
                    return formatTimestampsTooltip(luxon.DateTime.fromISO(date))
                }
            },
            created: function () {
                this.tick();
                setInterval(function () {
                    this.tick();
                }.bind(this), 1000);
            },
            methods: {
                tick: function () {
                    if (this.updateIn <= 0) {
                        $.getJSON('/index/data', function (response) {
                            this.page = response;
                            $('.style-grid [data-toggle="tooltip"]').tooltip()
                        }.bind(this));
                        this.updateIn = 5;
                    } else {
                        this.updateIn--;
                    }
                }
            },
            mounted() {
                this.$nextTick(() => {
                    window.addEventListener('resize', () => {
                        this.windowWidth = window.innerWidth
                    })
                })
            }
        })
</script>
{{ end }}

{{ define "css" }}

  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> -->

  {{ if .GenesisPeriod }}
    <link rel="stylesheet" href="/css/checklist.css" />
    <link rel="stylesheet" href="/css/rocket.css" />
  {{ end }}


  <style>
    #slotsViz > svg {
      overflow: visible;
    }
    svg rect[slot],
    svg rect[epoch] {
      cursor: pointer;
    }

    .responsive-border-right {
      border-right-color: rgb(222, 226, 230);
      border-right-style: solid;
      border-right-width: 1px;
    }

    @media (max-width: 767px) {
      .responsive-border-right-l {
        border: hidden;
      }
    }

    [v-cloak] {
      visibility: hidden;
    }
  </style>

  {{ template "hero_css" }}
  {{ template "postGenesis_css" }}
{{ end }}

{{ define "content" }}
  <div class="container">
    <div id="app" v-cloak>
      {{ with .Data }}
        {{ template "hero" . }}
      {{ end }}
      <div id="r-banner" info="{{ .Meta.Templates }}"></div>
      {{ with .Data }}
        {{ if and (not .Genesis) (not .GenesisPeriod) }}
          {{ template "preGenesis" $ }}
        {{ else if .GenesisPeriod }}
          {{ template "genesis" . }}
        {{ else }}
          {{ template "postGenesis" $ }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if .Data.SlotVizData }}{{ template "SlotViz" . }}{{ end }}
{{ end }}
