{{ define "js" }}
  <script src="/js/highcharts/highstock.min.js"></script>
  <script src="/js/highcharts/exporting.min.js"></script>
  <script src="/js/highcharts/offline-exporting.min.js"></script>
  <script src="/js/vue.min.js"></script>
  <script src="/js/highcharts/highcharts-vue.min.js"></script>
  <script src="/js/highcharts/highcharts-global-options.js"></script>

  <!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

  {{ if .GenesisPeriod }}
    <script src="/js/d3.min.js"></script>
  {{ end }}
    <script>
        var creditsEnabled = {{ if  .SlotVizData }} false {{ else }} true {{ end }}
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
            components: {
                highcharts: HighchartsVue.Chart
            },
            data: function () {
                return {
                    checklist: [
                        {epoch: 0, participation: 0.3,},
                        {epoch: 1, participation: 0.3,},
                        {epoch: 1, participation: 0.3,}
                    ],
                    windowWidth: window.innerWidth,
                    updateIn: -1,
                    page: {{.}},
                    chartOptions: {
                        credits: { enabled: creditsEnabled },
                        rangeSelector: {enabled: false},
                        navigator: {enabled: false},
                        scrollbar: {enabled: false},
                        chart: {type: 'spline'},
                        title: {text: 'Network History'},
                        subtitle: {},
                        xAxis: {
                            type: 'datetime',
                            range: 7 * 24 * 60 * 60 * 1000,
                            labels: {
                                formatter: function () {
                                    var epoch = timeToEpoch(this.value)
                                    var orig = this.axis.defaultLabelFormatter.call(this)
                                    return `${orig}<br/>Epoch ${epoch}`
                                }
                            }
                        },
                        yAxis: [{
                            title: {text: 'Balance [ETH]'},
                            labels: {
                                formatter: function () {
                                    return this.value.toFixed(0);
                                }
                            },
                            opposite: false
                        }, {
                            title: {text: 'Active Validators'},
                            labels: {
                                formatter: function () {
                                    return this.value.toFixed(0);
                                }
                            },
                            opposite: true
                        }],
                        series: [
                            {
                                name: "Staked Ether",
                                yAxis: 0,
                                data: {{.StakedEtherChartData}}
                            },
                            {
                                name: "Active Validators",
                                yAxis: 1,
                                data: {{.ActiveValidatorsChartData}}
                            }
                        ],
                        legend: {enabled: true},
                        tooltip: {
                            formatter: function (tooltip) {
                                var orig = tooltip.defaultFormatter.call(this, tooltip)
                                var epoch = timeToEpoch(this.x)
                                orig[0] = `${orig[0]}<span style="font-size:10px">Epoch ${epoch}</span>`
                                return orig
                            }
                        },
                    },
                    responsive: {
                        rules: [
                            {
                                condition: {maxWidth: 400,},
                                chartOptions: {
                                    legend: {enabled: false,},
                                    chart: {},
                                    legend: {layout: 'vertical',},
                                    yAxis: [
                                        {
                                            title: {text: null,},
                                            labels: {enabled: false,},
                                            opposite: false
                                        },
                                        {
                                            title: {text: null,},
                                            labels: {enabled: false,},
                                            opposite: true
                                        }
                                    ],
                                    tooltip: {
                                        formatter: function (tooltip) {
                                            var orig = tooltip.defaultFormatter.call(this, tooltip)
                                            var epoch = timeToEpoch(this.x)
                                            orig[0] = `${orig[0]}<span style="font-size:10px">Ep ${epoch}</span>`
                                            return orig
                                        }
                                    },
                                },
                            },
                        ],
                    },
                }
            },
            computed: {
                participation: function () {
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        return Math.round(this.page.epochs[0].globalparticipationrate * 1000) / 1000
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        return Math.round(this.page.epochs[1].globalparticipationrate * 1000) / 1000
                    } else {
                        return 0
                    }
                },
                scheduledCount: function () {
                    return this.page.scheduled_count
                },
                epochCompletePercent: function () {
                    return ((32 - this.page.scheduled_count) / 32) * 100
                }
            },
            filters: {
                fromNow(date) {
                    return getRelativeTime(luxon.DateTime.fromISO(date));
                }
            },
            created: function () {
                this.tick();
                setInterval(function () {
                    this.tick();
                }.bind(this), 1000);
            },
            methods: {
                tick: function () {
                    if (this.updateIn <= 0) {
                        $.getJSON('/index/data', function (response) {
                            this.page = response;
                        }.bind(this));
                        this.updateIn = 5;
                    } else {
                        this.updateIn--;
                    }
                }
            },
            mounted() {
                this.$nextTick(() => {
                    window.addEventListener('resize', () => {
                        this.windowWidth = window.innerWidth
                    })
                })
            }
        })
</script>
{{ end }}

{{ define "css" }}

  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> -->

  {{ if .GenesisPeriod }}
    <link rel="stylesheet" href="/css/checklist.css" />
    <link rel="stylesheet" href="/css/rocket.css" />
  {{ end }}


  <style>
    #slotsViz > svg {
      overflow: visible;
    }
    svg rect[slot],
    svg rect[epoch] {
      cursor: pointer;
    }
  </style>

  <style>
    .hero-container {
      position: relative;
      min-height: 250px;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .hero-image {
      overflow: hidden;
      flex: 1;
      max-width: 500px;
      min-width: 320px;
      max-height: 400px;
      min-height: 200px;
      position: relative;
    }

    .hero-image svg {
      overflow: hidden;
      width: inherit;
      height: inherit;
    }

    .hero-text {
      font-size: 2rem;
      flex: 1;
      min-width: 305px;
      max-width: 500px;
      position: relative;
    }

    .hero-text-background {
      position: absolute;
      width: 100%;
      height: 98%;
      /* bottom: -40%; */
      /* transform: scale(.5) translateY(20%); */
      border-radius: 65% 35% 70% 30% / 50% 50% 50% 50%;
      background-image: var(--linear-gradient);
      box-shadow: 5px 15px 30px var(--shadow-light);
      z-index: -50;
      -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      opacity: 0.6;
    }

    /* ----------------------------------------------
             * Generated by Animista on 2020-5-27 13:15:6
             * Licensed under FreeBSD License.
             * See http://animista.net/license for more info.
             * w: http://animista.net, t: @cssanimista
             * ---------------------------------------------- */
    @-webkit-keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      100% {
        -webkit-transform: scale(1) translateY(25%);
        transform: scale(1) translateY(25%);
      }
    }

    @keyframes slide-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      100% {
        -webkit-transform: scale(1) translateY(25%);
        transform: scale(1) translateY(25%);
      }
    }

    @media (max-width: 1140px) {
      .hero-text-background {
        animation: none;
        transform: scale(1) translateY(1.5rem);
        height: calc(100% - 1.5rem);
        border-radius: 0.5rem;
        opacity: 0.8;
      }

      .hero-container {
        margin-bottom: 50px;
      }
    }

    @media (max-width: 960px) {
      .hero-image {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .hero-container {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .hero-image svg {
        opacity: 0.2;
      }

      .hero-text-background {
        transform: scale(1) translateY(10%);
        animation: none;
        opacity: 0.1;
      }
    }

    @media (max-width: 960px) {
      .index-stats {
        font-size: 0.9rem;
      }

      .index-stats h5,
      .card-title {
        font-size: 1rem !important;
      }
    }

    [v-cloak] {
      visibility: hidden;
    }

    .responsive-border-right {
      border-right-color: rgb(222, 226, 230);
      border-right-style: solid;
      border-right-width: 1px;
    }

    @media (max-width: 767px) {
      .responsive-border-right-l {
        border: hidden;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  <div class="container mt-2">
    <div id="app" v-cloak>
      {{ with .Data }}
        {{ template "hero" . }}
      {{ end }}
      <div id="r-banner" info="{{ .Meta.Templates }}"></div>
      {{ with .Data }}
        {{ if and (not .Genesis) (not .GenesisPeriod) }}
          {{ template "preGenesis" $ }}
        {{ else if .GenesisPeriod }}
          {{ template "genesis" . }}
        {{ else }}
          {{ template "postGenesis" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if .Data.SlotVizData }}{{ template "SlotViz" . }}{{ end }}
{{ end }}
