{{ define "networkStats" }}
  <div class="col-md-4 responsive-border-right responsive-border-right-l">
    <div class="d-flex justify-content-between">
      <div class="p-2">
        <div class="text-secondary mb-0">Epoch</div>
        <h5 class="font-weight-normal mb-0"><span data-toggle="tooltip" data-placement="top" title="The most recent epoch" v-html="addCommas(page.current_epoch)"></span> / <span data-toggle="tooltip" data-placement="top" title="The most recent finalized epoch" v-html="addCommas(page.current_finalized_epoch)"></span></h5>
      </div>
      <div class="text-right p-2">
        <div class="text-secondary mb-0">Current Slot</div>
        <h5 class="font-weight-normal mb-0">
          <span data-toggle="tooltip" data-placement="top" title="The most recent slot" v-html="addCommas(page.current_slot)"></span>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-4 responsive-border-right responsive-border-right-l">
    <div class="d-flex justify-content-between">
      <div class="p-2">
        <div class="text-secondary mb-0">Active Validators</div>
        <h5 class="font-weight-normal mb-0">
          <span data-toggle="tooltip" data-placement="top" title="The number of currently active validators" v-html="addCommas(page.active_validators)"></span>
        </h5>
      </div>
      <div class="text-right p-2">
        <div class="text-secondary mb-0">Pending Validators</div>
        <h5 class="font-weight-normal mb-0">
          <span data-toggle="tooltip" data-placement="top" title="The number of validators currently waiting to enter the active validator set" v-html="addCommas(page.entering_validators)"></span>
          / <span data-toggle="tooltip" data-placement="top" title="The number of validators currently waiting to exit the active validator set" v-html="addCommas(page.exiting_validators)"></span>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex justify-content-between">
      <div class="p-2">
        <div class="text-secondary mb-0">Staked Ether</div>
        <h5 class="font-weight-normal mb-0">
          <span data-toggle="tooltip" data-placement="top" title="The sum of all effective balances" v-html="addCommas(page.staked_ether)"></span>
        </h5>
      </div>
      <div class="text-right p-2">
        <div class="text-secondary mb-0">Average Balance</div>
        <h5 class="font-weight-normal mb-0">
          <span data-toggle="tooltip" data-placement="top" title="The average current balance of all validators staked" v-html="addCommas(page.average_balance)"></span>
        </h5>
      </div>
    </div>
  </div>
{{ end }}
