{{ define "postGenesis" }}
  <div style="position:relative" class="card mt-3 index-stats">
    <div class="card-header pt-3">
      <div class="row">
        {{ template "networkStats" . }}
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center"><i class="fa fa-building mr-1"></i>Staking Entities Overview (30d)<i class="ml-1 fas fa-info-circle" data-tippy-content="To improve performance, only the 25 largest entities are shown in this chart. Values of hidden entities are still included in aggregate calculations.<br /><br />Read more about how we calculate the BeaconScore in our <a href='https://kb.beaconcha.in/v2beta/metric-validator-efficiency' target='_blank'>docs</a>."></i></div>
          <div id="index-treemap" style="min-height:400px;"></div>
          <script id="index-treemap-data" type="application/json">[
            {{- $len := len .EntitiesTreemap -}}
            {{- range $i, $t := .EntitiesTreemap -}}
              {{- if $i }},{{ end -}}
              {"entity":"{{ $t.Entity | js }}","efficiency":{{ printf "%.6f" $t.Efficiency }},"netShare":{{ printf "%.8f" $t.NetShare }}}
            {{- end -}}
          ]</script>
          <script>
            ;(function () {
              document.addEventListener("DOMContentLoaded", function () {
                if (window.BeaconTreemap) {
                  window.BeaconTreemap.renderFromScript("index-treemap", "index-treemap-data")
                }
              })
            })()
          </script>
          {{ if .SlotVizData }}<div class="m-2" id="slotsViz"></div>{{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mt-3 pr-lg-2">
      {{ template "recentEpochs" }}
    </div>
    <div class="col-lg-6 mt-3 pl-lg-2">
      {{ template "recentBlocks" }}
    </div>
  </div>
{{ end }}
