{{ define "recentBlocks_css" }}
  <style>
    #blocks-table {
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(11, 2.5rem);
    }

    @media (min-width: 640px) {
      #blocks-table {
        grid-template-columns: repeat(6, auto);
      }
    }
    @media (min-width: 820px) {
      #blocks-table {
        grid-template-rows: repeat(11, 3rem);
      }
    }
    @media (min-width: 1140px) {
      #blocks-table {
        height: calc(24rem - 1px);
      }
    }
  </style>
{{ end }}

{{ define "recentBlocks" }}
  <div class="card">
    <div class="card-header">
      <h3 class="style-card-header d-flex justify-content-between align-items-center mb-0 text-nowrap">
        <span><i class="fa fa-cubes"></i> Most recent blocks</span>
        <a class="btn btn-primary btn-sm float-right text-white style-button ml-2" href="/blocks">View more</a>
      </h3>
    </div>
    <div class="card-body p-0">
      <div role="table" class="style-grid" id="blocks-table">
        <div class="d-contents" role="rowgroup">
          <div class="d-contents" role="row">
            <div class="style-paragraph-6 style-grid-header pl-3" role="columnheader">Block</div>
            <div class="style-paragraph-6 style-grid-header pr-2 d-none d-sm-flex" role="columnheader">Slot</div>
            <div class="style-paragraph-6 style-grid-header pr-2" role="columnheader"><span class="d-none d-sm-flex">Status</span></div>
            <div class="style-paragraph-6 style-grid-header pr-2" role="columnheader">Proposer</div>
            <div class="style-paragraph-6 style-grid-header pr-2" role="columnheader">EL Reward</div>
            <div class="style-paragraph-6 style-grid-header pr-2" role="columnheader">Reward Recipient</div>
          </div>
        </div>
        <div class="d-contents" role="rowgroup" v-if="page && page.blocks && page.blocks.length">
          <div class="d-contents" role="row" v-for="block in page.blocks">
            <div role="cell" class="style-paragraph-1 style-grid-cell ml-2 pl-2 pr-2">
              <a v-if="block.exec_block_number != 0" v-bind:href="'/block/' + block.exec_block_number" v-html="addCommas(block.exec_block_number)"></a>
              <span v-else>-</span>
            </div>
            <div role="cell" class="style-grid-cell d-none d-sm-flex pr-2">
              <div class="d-flex flex-column">
                <a class="style-paragraph-1" style="margin-bottom: -0.3rem" v-bind:href="'/slot/' + block.slot" v-html="addCommas(block.slot)"></a>
                <span class="style-paragraph-3" style="color:var(--text-addition)">${ block.ts | fromNow }</span>
              </div>
            </div>
            <div role="cell" class="style-grid-cell pr-2" v-html="block.status_formatted"></div>
            <div role="cell" class="style-paragraph-1 style-grid-cell pr-2" v-html="block.proposer_formatted"></div>
            <div role="cell" class="style-paragraph-1 style-grid-cell pr-2" v-html="block.exec_reward"></div>
            <div role="cell" class="style-hash style-grid-cell mr-2" v-html="block.exec_reward_recipient"></div>
          </div>
        </div>
        <div class="d-contents" role="row" v-else>
          <div role="cell" style="grid-column: 1 / span 6; text-align: center">börj</div>
        </div>
      </div>
    </div>
  </div>
  <span class="d-none">${updateIn}</span>
{{ end }}
