.multiselect-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.multiselect-container > span {
  border: 1px solid #777777;
  border-radius: 4px;
  padding: 1px;
  min-width: 300px;
}

.multiselect-container > span.focused {
  border-color: #000;
}

ul.multiselect {
  padding: 0;
  z-index: 99;
}

ul.multiselect li.input {
  list-style: none;
  float: left;
}

ul.multiselect li.item {
  list-style: none;
  float: left;
  border: 1px solid #666666;
  border-radius: 5px;
  margin: 2px;
  padding: 0 5px;
  background-color: lightblue;
}

ul.multiselect li.item[data-state='active_online'],
ul.multiselect li.item[data-state='slashing_online'],
ul.multiselect li.item[data-state='exiting_online'] {
  background-color: lightgreen;
}
ul.multiselect li.item[data-state='active_offline'],
ul.multiselect li.item[data-state='slashing_offline'],
ul.multiselect li.item[data-state='exiting_offline'] {
  background-color: lightcoral;
}
ul.multiselect li.item[data-state='pending'] {
  background-color: lightyellow;
}
ul.multiselect li.item[data-state='exited'],
ul.multiselect li.item[data-state='slashed'] {
  background-color: lightgray;
}

ul.multiselect li.item .remove-validator {
  cursor: pointer;
}

ul.multiselect li span {
  margin-top: 0.2rem;
}

ul.multiselect li.item .remove-validator:hover {
  filter: drop-shadow(1px 2px 3px #888) invert(0.2);
}

ul.multiselect input {
  border: none;
  padding: 0 0.2rem;
}

ul.multiselect input:focus {
  outline: none;
}

#validators-table-holder,
#pending-validators-table-holder,
#active-validators-table-holder,
#ejected-validators-table-holder,
#offline-validators-table-holder {
  display: none;
}

#chart-holder {
  display: none;
}

#stats {
  display: none;
  flex-wrap: wrap;
}
.stats-box {
  flex: 1;
  /*flex-basis: auto;
  flex-grow: 1;
  min-width: 100px;
  max-width: 120px;*/
  margin: 10px;
  padding: 10px;
  /*border: 1px solid black;*/
  /*background: #e1d8d8;*/
  box-shadow: 0 2px 8px 0 var(--shadow-light);
  border-radius: 10px;
}
.stats-box > .stats-box-header {
  font-size: 12px;
}
.stats-box > .stats-box-body {
  font-size: 24px;
}

@media (max-width: 1300px) {
  .stats-box > .stats-box-header {
    font-size: 12px;
  }
  .stats-box > .stats-box-body {
    font-size: 18px;
  }
}
