:root {
  --header-bar-height: 3.125rem;
  --banner-text: white;
}

/* Revive ad server responsive images */
ins[data-revive-zoneid] > a > img {
  max-width: 100%;
  height: auto;
}

a:not(.nav-link) {
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
  transition: background-size 0.25s ease;
  background-size: 0% 100%;
}

main a:not(.btn):not(.page-link):not(.nav-link):not(.dropdown-item):not(.no-highlight):hover {
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
}

table {
  table-layout: auto;
}

.white-space-normal {
  white-space: normal;
}

.btn-icon-inside {
  position: relative;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
  font-size: 0.531376rem;
  width: 1.3rem;
  height: 1.3rem;
}

.cursor-pointer {
  cursor: pointer;
}
@media (max-width: 1139px) {
  .main-navigation .container {
    max-width: 100%;
  }
  .dropdown-menu {
    border: var(--body-color) solid 1px;
    border-radius: 0.4375rem;
  }
}

.dropdown-menu .nav-icon i {
  width: 1rem;
}

.main-navigation .nav-link:focus {
  outline: none;
}

.main-navigation .dropdown-menu.dropdown-menu-right.show {
  display: flex;
}

.main-navigation .dropdown-item {
  font-size: 1em;
  line-height: 1.6875rem;
  font-weight: 300;
}

.main-navigation .dropdown-item svg {
  width: 1rem;
  margin-right: 0.5rem;
}

#nav-bar-header {
  display: flex;
  justify-content: space-between;
  height: var(--header-bar-height);
  overflow-y: hidden;
}

.navbar-brand > svg {
  vertical-align: unset;
}

.navbar-brand {
  align-self: flex-end;
  margin-bottom: 0.1rem;
}

@media (min-width: 1140px) {
  .currency-selection,
  #mobile-search-bar,
  .main-navigation .mobile {
    display: none;
  }
}

.navbar {
  box-shadow: unset;
}

.main-navigation {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 998;
  position: sticky;
  top: 0;
}

.main-navigation .navbar-toggler {
  border: none;
}

.main-navigation .navbar-toggler svg {
  fill: var(--body-color, #dee2e6);
}

@media (max-width: 1139px) {
  #mobile-search-bar,
  #hero-container {
    margin-top: var(--header-bar-height);
  }
  #mobile-search-bar {
    margin-left: auto;
    margin-right: auto;
  }
  .main-navigation {
    border: 0;
    padding: 0;
    margin-bottom: var(--header-bar-height);
    position: fixed;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  .main-navigation #nav-bar-header {
    padding: 0rem 1rem;
    background-color: var(--banner-background);
  }

  .main-navigation .navbar-collapse {
    padding: 0.5rem 1rem;
    background: var(--bg);
    overflow-y: auto;
    max-height: calc(100% - var(--header-bar-height));
    color: var(--body-color);
  }
  .main-navigation.navbar-light .navbar-collapse .navbar-nav .nav-link {
    color: inherit;
  }

  [data-theme="light"] .main-navigation .navbar-collapse {
    background-color: white;
  }

  .main-navigation #nav-bar-header .cls-1,
  .main-navigation .navbar-toggler svg {
    fill: #fff !important;
  }

  .main-navigation #nav-bar-header .cls-2 {
    fill: var(--banner-background) !important;
  }

  .main-navigation .currency-dropdown-toggle,
  .main-navigation .brand-text {
    color: #fff !important;
  }

  .main-navigation .dropdown-toggle::after {
    margin-right: 0 !important;
    margin-left: 0.3rem !important;
  }
  .currency-selection .dropdown-menu.dropdown-menu-right.show {
    display: block;
  }
}

@media (min-width: 1140px) {
  .navbar {
    padding: 0;
    padding-top: var(--header-bar-height);
  }

  .navbar-brand {
    padding: 0;
  }
}

.navbar-brand {
  padding: 0;
}
.icon-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-item {
  margin: 0 0.2rem;
}

.page-item > a {
  border-radius: 0.225rem;
  font-size: 0.95rem;
}

.paginate_input {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  height: 100%;
  line-height: 1.5;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--input-color);
  background-color: var(--bg-color-secondary);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.paginate_button,
.page-link {
  background-color: var(--bg-color-secondary);
  cursor: pointer;
  color: var(--link-color, #2d5986);
}

.page-item.disabled .page-link {
  opacity: 0.5;
  background-color: var(--bg-color-secondary);
}

.paginate_input:focus {
  border-color: var(--highlight);
  outline: 0;
}

.paginate_of,
.paginate_total {
  padding-top: 0.5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Stakewise banner  */
[data-theme="light"] #stakewise-banner-text {
  fill: #000000;
}

[data-theme="light"] #stakewise-logo-text {
  fill: #000000;
}

[data-theme="light"] #stakewise-banner-bg {
  fill: #fefdfb;
}

[data-theme="light"] #stakewise-gradient-banner-bg {
  display: none;
}

.cls-1 {
  fill: #1e1e2e;
}

.cls-2 {
  fill: url(#linear-gradient);
}

.cls-3 {
  font-size: 10.09px;
  font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-4 {
  letter-spacing: -0.01em;
}

.cls-5 {
  letter-spacing: 0.01em;
}

.cls-6 {
  font-size: 12.5px;
  font-family: Poppins-Medium, Poppins;
}

.cls-6,
.cls-9 {
  fill: #fff;
}

.cls-7 {
  fill: #4b4fab;
}

.cls-8 {
  fill: #00dcce;
}

.cls-9 {
  font-size: 14.73px;
  font-family: Poppins-Regular, Poppins;
}

.cls-10 {
  fill: #44e4de;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-11 {
  font-size: 12.71px;
  font-family: Poppins-Bold, Poppins;
  font-weight: 700;
}

.cls-12 {
  fill: none;
}

.cls-13,
.cls-50 {
  fill: #42e8df;
}

.cls-14 {
  fill: url(#radial-gradient);
}

.cls-15 {
  fill: url(#radial-gradient-2);
}

.cls-16 {
  fill: url(#radial-gradient-3);
}

.cls-17 {
  fill: url(#radial-gradient-8);
}

.cls-18 {
  fill: #342785;
}

.cls-19 {
  fill: #6069da;
}

.cls-20 {
  fill: #7078e0;
}

.cls-21 {
  fill: #b1b4fa;
}

.cls-22 {
  fill: #7d83e5;
}

.cls-23 {
  fill: #878dea;
}

.cls-24 {
  fill: #a1a4f4;
}

.cls-25 {
  fill: #959aee;
}

.cls-26 {
  fill: #9ffef8;
}

.cls-27 {
  fill: #24126a;
}

.cls-28 {
  fill: #355190;
}

.cls-29 {
  fill: #43e8df;
}

.cls-30 {
  fill: #2e2c79;
}

.cls-31 {
  fill: #5adcee;
}

.cls-32 {
  fill: #344f8e;
}

.cls-33 {
  fill: #354186;
}

.cls-34 {
  fill: #2e327c;
}

.cls-35 {
  fill: #354e8e;
}

.cls-36 {
  fill: #42e8e1;
}

.cls-37 {
  fill: #354187;
}

.cls-38 {
  fill: #35488a;
}

.cls-39 {
  fill: #353685;
}

.cls-40 {
  fill: #43e7df;
}

.cls-41 {
  fill: #355b96;
}

.cls-42 {
  fill: #355793;
}

.cls-43,
.cls-51 {
  fill: #9ffdf8;
}

.cls-44 {
  fill: #49b2ce;
}

.cls-45 {
  fill: #355f99;
}

.cls-46 {
  fill: #3882ac;
}

.cls-47 {
  fill: #5ddbcd;
}

.cls-48 {
  fill: #5961d7;
}

.cls-49 {
  fill: #49b4d6;
}

.cls-50,
.cls-51 {
  opacity: 0.4;
}

.cls-52 {
  fill: #498cba;
}

.active-slot {
  animation: blinking 1s alternate infinite;
}

.active-epoch {
  animation: blinking 1s alternate infinite;
}

@keyframes blinking {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.nav-icon img {
  width: 1rem;
  height: auto;
  aspect-ratio: 1;
}

@media (max-width: 1139px) {
  .main-navigation .dropdown-item {
    padding: 0 1.5rem;
  }
  .main-navigation .dropdown-item .btn {
    padding: 0 0.25rem;
  }

  .nav-icon {
    width: 38px;
    overflow: hidden;
    text-align: center;
  }

  .nav-text {
    flex: 1;
  }

  .navbar .nav-link,
  .navbar .dropdown-item {
    display: flex;
  }

  .navbar .dropdown-toggle::after {
    align-self: center;
    display: inline-flex;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.7rem;
  }
}

table.dataTable.table-sm tr.second-row .sorting:after,
table.dataTable.table-sm tr.second-row .sorting:before,
table.dataTable.table-sm tr.second-row .sorting_asc:after,
table.dataTable.table-sm tr.second-row .sorting_asc:before,
table.dataTable.table-sm tr.second-row .sorting_desc:after,
table.dataTable.table-sm tr.second-row .sorting_desc:before {
  top: unset;
}

@media (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .contract {
    font-size: 75%;
  }

  .contract .contract-description {
    display: none;
  }
}

@media (max-width: 450px) {
  .pagination .first,
  .pagination .last {
    display: none;
  }
}

@media (max-width: 360px) {
  .contract .fa-file-contract {
    display: none;
  }

  .contract #copy-deposit {
    display: none;
  }
}

@media (min-width: 768px) {
  #slashings-table_wrapper > div:nth-child(2),
  #blocks-table_wrapper > div:nth-child(2),
  #attestations-table_wrapper > div:nth-child(2) {
    margin-bottom: 1.55rem;
  }
}

@media (min-width: 1140px) and (max-width: 1440px) {
  .navbar .nav-item i {
    display: unset;
  }

  .navbar .nav-item svg {
    display: unset;
  }

  .navbar-brand i {
    display: unset;
  }
}

label.btn.btn-light:hover {
  color: var(--font-color);
}

.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
}

:root {
  --theme-ethereum-blue: #2a7ee6;
  --theme-ethereum-pink: #d363cb;
  --theme-ethereum-red: #ff9c91;
  --theme-ethereum-teal: #27cfe2;
  --theme-ethereum-green: #88e03f;
  --theme-ethereum-yellow: #ffef79;
  --statistics-blue: #378ef0;
  --statistics-orange: #fb8c13;
  --statistics-purple: #a145f8;
  --theme-bg-color-secondary: #e1d8d8;
  --theme-bg-card-body: #ebe7e7;
  --style-search-bg: #fff;
  --text-addition: #5a5a5a;
  --bg-table-header: #f4f2f2;
  --table-scroll: rgba(52, 58, 64, 0.1);
  --table-scroll-hover: rgba(52, 58, 64, 0.5);
  --body-color: #000;
  --body-color-inverted: #dee2e6;
  --validator-history-bg: #e5e1e166;
}

[data-theme="dark"]:root {
  --theme-bg-color-secondary: #413938;
  --theme-bg-card-body: rgba(92, 78, 78, 0.333333);
  --body-color-inverted: #343a40;
  --style-search-bg: #3e4461;
  --text-addition: #a5a5a5;
  --bg-table-header: #362f32;
  --table-scroll: rgba(231, 225, 215, 0.1);
  --table-scroll-hover: rgba(231, 225, 215, 0.5);
  --body-color: #fff;
  --validator-history-bg: #343a40;
}

.thousands-separator:before {
  content: ",";
}

.tooltip-inner {
  max-width: none;
}

body {
  min-width: 320px;
  font-family: "Mukta", sans-serif;
}

body main {
  min-height: unset !important;
}

.d-contents {
  display: contents;
}
.mukta {
  font-family: "Mukta", sans-serif;
}

.fs-20 {
  font-size: 1.25rem;
}

.style-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
}

.style-nav1-text {
  font-family: "Mukta", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.style-nav2-text {
  font-family: "Mukta", sans-serif;
  font-size: 1.375rem;
  line-height: 2.3125rem;
  font-weight: 300;
}

.style-paragraph-1 {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.style-paragraph-3 {
  font-family: "Mukta", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.style-paragraph-6 {
  font-family: "Mukta", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.style-status-tag-text {
  font-family: "Mukta", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.style-hash {
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  font-weight: 400;
}

.style-card-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.style-button {
  font-family: "Mukta", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.style-hero-links {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.style-header-account {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}
.style-table-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.page-title {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.page-title .h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.sub-page-title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.style-table-header {
  font-family: "Mukta", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.style-table-data {
  font-family: "Mukta", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.style-validator-overview-header {
  font-family: "Mukta", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.style-validator-overview-value {
  font-family: "Mukta", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.style-navbar-2 {
  font-family: "Inter", sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

@media (min-width: 1140px) {
  .style-title {
    font-size: 2.5rem;
  }
  .style-nav1-text {
    font-size: 1.125rem;
  }
  .style-nav2-text {
    font-size: 1.125rem;
  }
  .style-hero-links {
    font-size: 1.25rem;
  }
  .style-card-header {
    font-size: 1.75rem;
  }
  .style-button {
    font-size: 0.875rem;
  }
  .style-validator-overview-header {
    font-size: 1.25rem;
  }
  .style-validator-overview-value {
    font-size: 1.5rem;
  }

  .style-table-header,
  .style-table-data {
    font-size: 1rem;
  }

  .style-hash {
    font-size: 0.875rem;
  }

  .style-navbar-2 {
    font-size: 1.75rem;
    letter-spacing: 0.01rem;
  }
}

@media (min-width: 640px) {
  .style-header-account {
    font-size: 1.125rem;
  }
  .style-table-title {
    font-size: 1.5rem;
  }
}

.text-addition {
  color: var(--text-addition);
}

.style-badge {
  display: inline-block;
  white-space: nowrap;
  height: 1rem;
  text-align: center;
  border-radius: 10.5px;
  width: 1.3rem;
}

.style-badge .style-status-tag-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.style-bg-good {
  background-color: var(--success);
}

.style-bg-neutral-1 {
  background-color: var(--light);
}

.style-bg-neutral-2 {
  background-color: var(--dark);
}

.style-bg-bad {
  background-color: var(--danger);
}

@media (max-width: 639px) {
  .style-badge.style-badge-single-char {
    width: 1rem;
    padding: 0;
    border-radius: 50%;
  }
}

@media (min-width: 640px) {
  .style-badge {
    width: 5rem;
  }
  .style-badge-long {
    width: 7rem;
  }
}

.style-grid {
  display: grid;
  white-space: nowrap;
  color: var(--font-color);
  overflow: scroll;
  overflow-x: auto;
  overflow-y: overlay;
}

.style-grid .style-grid-header {
  background-color: var(--bg-table-header);
  position: sticky;
  top: 0;
  z-index: 1;
}

.style-grid .style-grid-header,
.style-grid .style-grid-cell {
  display: flex;
  align-items: center;
}

.style-grid .style-grid-cell {
  border-bottom: 1px solid var(--border-color);
}

.style-grid div[role="row"]:last-of-type .style-grid-cell {
  border: 0;
}

.style-grid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.style-grid::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--table-scroll);
  opacity: 0;
}
.style-grid:hover::-webkit-scrollbar-thumb {
  background-color: var(--table-scroll-hover);
}

#validating-overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem;
  justify-items: center;
  text-align: center;
  line-height: 1;
}

@media (min-width: 640px) {
  #validating-overview {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    margin: 0 5%;
  }
}

.tooltip {
  font-variant-ligatures: none;
}

.custom-remove-modal {
  position: relative;
  min-width: 280px;
  padding: 2rem 4rem 3rem;
}
.custom-remove-modal-close {
  position: relative;
  top: -1rem;
  right: -2.5rem;
}
.custom-remove-modal-close button:hover {
  color: var(--dark);
}

.checkbox-custom-size {
  width: 1.1rem;
  height: 1.1rem;
}

#AddValidatorWatchlistModal .tt-open {
  background-color: var(--dark);
  scrollbar-color: var(--light);
  scrollbar-width: thin;
}
#AddValidatorWatchlistModal .tt-open::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#AddValidatorWatchlistModal .tt-open::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 10px;
  color: var(--light);
}
#AddValidatorWatchlistModal .tt-suggestion.tt-cursor,
#AddValidatorWatchlistModal .tt-suggestion:hover {
  background-color: var(--primary);
  cursor: pointer;
}
#AddValidatorWatchlistModal .tt-menu {
  width: 100%;
  max-height: 19rem;
  margin-top: 4px;
  padding: 0.5rem;
  background-color: var(--bg-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--dark);
  overflow-y: auto;
  cursor: pointer;
}
#AddValidatorWatchlistModal .tt-suggestion {
  line-height: 34px;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.heading-l2 {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}
.heading-l3 {
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.heading-l4 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.45rem !important;
}

.m-d {
  margin: 0.625rem;
}

.my-d {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-d {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.mt-d {
  margin-top: 0.625rem;
}

.mb-d {
  margin-bottom: 0.625rem;
}

.ml-d {
  margin-left: 0.625rem;
}

.mr-d {
  margin-right: 0.625rem;
}

.p-d {
  padding: 0.625rem;
}

.py-d {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-d {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.pt-d {
  padding-top: 0.625rem;
}

.pb-d {
  padding-bottom: 0.625rem;
}

.pl-d {
  padding-left: 0.625rem;
}

.pr-d {
  padding-right: 0.625rem;
}

@media screen and (max-width: 450px) {
  .custom-modal {
    padding: 0 !important;
    overflow-y: auto;
  }
  .custom-modal .custom-modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .custom-modal .custom-modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .custom-remove-modal {
    padding: 1.3rem 1.8rem 2.5rem;
  }
  .custom-remove-modal-close {
    right: -1rem;
  }
}

.table {
  color: var(--font-color);
}

.table-responsive .table th {
  border: 0;
}

.table-responsive .table th,
.table-responsive .table td {
  padding: 0.8rem 0.6rem;
}

.table-responsive .table tbody tr:first-of-type td {
  border-top: 0;
}

.nav-tabs {
  border-bottom: 0;
}

.style-history-event {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1.25rem;
  width: 10rem;
  background: var(--validator-history-bg);
  border-radius: 6px;
}

.style-history-event svg {
  height: 0.75rem;
}

.style-history-event i {
  font-size: 0.75rem;
}

.spin {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
