@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Barlow Medium'), local('Barlow-Medium'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3_-gs51os.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E30-8s51os.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51os.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
/* 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

@import url('/fonts/inter.css');


body {
  background: var(--bg);
  /* background-image: linear-gradient(to top, #fffcfc22, #fffcfc22, #fffcfc22, #fffcfc22, #fffcfc22, #fffbfb22, #fffaf922, #fff9f822, #fff7f422, #fef4f022, #fdf2ec22, #fbf0e822); */
}

h1,
h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

h3,
h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

h5,
h6 {
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}


a:not(.nav-link) {
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
  transition: background-size 0.25s ease;
  background-size: 0% 100%;
}

main a:not(.btn):not(.page-link):not(.nav-link):not(.dropdown-item):hover{
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
}

/* .breadcrumb a, .breadcrumb a:hover {
  background-size: 0;
  background-image: none !important;
} */

body main {
  min-height: calc(100vh - 56px) !important;
}

/* .active .nav-link {
  color: var(--rhino) !important;
} */


.theme-switch-wrapper {
  position: relative;
  display: contents;
}

.theme-switch {
  height: calc(var(--font-size, 1rem) * 1.2);
  position: absolute;
  width: calc(var(--font-size, 1rem) * 2.4);
  margin-top: 0.1rem;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--shadow-light, rgba(151, 152, 155, 0.2));
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.sun,
.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  height: calc(var(--font-size, 1rem) * 0.6);
}

.moon {
  left: calc(var(--font-size, 1rem) * 0.3);
}
.sun {
  right: calc(var(--font-size, 1rem) * 0.28);
}

.slider:before {
  background: var(--primary, #222);
  bottom: calc(var(--font-size, 1rem) * 0.1);
  content: '';
  height: var(--font-size, 1rem);
  left: calc(var(--font-size, 1rem) * 0.1);
  position: absolute;
  transition: 0.4s;
  width: var(--font-size, 1rem);
}

input:checked ~ .moon path {
  fill: var(--shadow-dark, rgba(159, 162, 177, 0.8));
}

input:checked ~ .sun path {
  fill: #f5f3ce;
}

input ~ .sun path {
  fill: var(--shadow-dark, rgba(159, 162, 177, 0.8));
}

input ~ .moon path {
  fill: #f5f3ce;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--font-size, 1rem) * 1.2));
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.tt-menu {
  margin-top: 4px;
  background-color: var(--banner-background);
  border: 1px solid var(--banner-background);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 5px 10px var(--banner-background);
  overflow-y: auto;
  max-height: 300px;
  cursor: pointer;
  width: 100%;
  /* width: calc(fit-content - 44px); */
  color: var(--banner-text);
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-suggestion {
  padding: 5px 20px;
  line-height: 34px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #007bff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-dataset h3 {
  padding: 5px 20px;
  font-size: 1.5em;
}

/* .input-group > span.twitter-typeahead {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  margin-right: 0.5rem !important;
} */

/* .nav-indicator {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 4px;
  transition: 0.15s;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background-color: orange;
  background-color: var(--primary);
} */

.navbar {
  background-color: none;
  padding-top: calc(46px + .5rem);
  position: relative;
  z-index: 99;
  box-shadow: 0 1px 4px var(--shadow-light);
}

.nav-item {
  position: relative;
}


main > div > .my-3 {
  /* border-bottom: solid 1px var(--shadow-light); */
  padding: 1rem 0;
}


.navbar-brand {
  margin-right: 1rem;
}
/* TODO CHANGE IN BOOTSTRAP */
.dropdown-menu {
  background-color: var(--white);
}

.dropdown-menu > a > i {
  width: 20px;
}

.dropdown-item {
  color: var(--body-color);
  margin: .2rem 0;
}

/* .card-bubble-background {
  position:absolute;
  width: 100%;
  height: 100%;
  transform: scale(.5) translateY(20%);
  border-radius: 65% 35% 70% 30% / 50% 50% 50% 50%;
  background-image: var(--linear-gradient);
  box-shadow: 5px 15px 30px var(--shadow-light);
  z-index: -50;
  opacity: .6;
} */





@media (max-width: 960px) {
  .nav-link.dropdown-toggle::after {
    float:right;
  }
  .nav-link.dropdown-toggle::after {
    transition: transform .3s ease-out;
  }
  .nav-link.dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
  }
}

.card {
  box-shadow: 0 3px 8px var(--shadow-light);
}
.card-header {
  background: none;
}
.card-body {
  padding: 1rem;
}
.table {
  margin-bottom: 0;
  width: 100% !important;
  line-height: 1.2;
  font-size: 0.93rem;
  white-space: nowrap !important;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
}
.table thead th::before,
.table thead th::after {
  font-weight: 400;
}

.table thead th {
  color: var(--body-color);
  border-top: none;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color-light);
  border-bottom-color: var(--border-color);
  /* border-top: 1px solid lightsalmon;
  border-color: lightsalmon; */
}

.dataTables_info,
.dataTables_length {
  padding-left: 1rem !important;
}

.dataTables_filter input {
  width: 200px !important;
}

.dataTables_paginate,
.dataTables_filter {
  padding-right: 1rem !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: var(--border-color);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
}

.nav-tabs {
  border-bottom: 1px solid var(--border-color);
}

/* CHANGE IN BOOTSTRAP*/
@media (max-width: 1140px) {
  .nav-indicator {
    display: none;
  }
  .navbar-nav {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .nav-item {
    margin: 0.2rem 0;
  }
}

.search-container {
  flex: 1 1 auto;
}

.search-container form {
  width: 100%;
  justify-content: flex-end;
  padding: 5px 0;
  position: relative;
}

.fa-search {
  position: absolute;
  color: grey;
  z-index: 99;
  right: 10px;
}


.typeahead {
  border: none;
  border-radius: 0.25rem;
  background-clip: padding-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  background: #3e4461;
  width: 300px;
  transition: width 0.4s ease-in;
  border :none;
  color: var(--banner-text)!important;
  padding-right: 2rem;
}
.search-container form > span {
  width: 100%;
  display: inline-flex !important;
  justify-content: flex-end;
}

.typeahead:focus {
  background: #3e4461;
  border: none;
  outline: none;
  transition: width .4s ease-in ;
  width: 100%;
}

@media (max-width: 960px) {
  .typeahead {
    width: 100%;
  }
  .search-container {
    flex: 999 999 auto;
  }
}


@media (min-width: 1140px) and (max-width: 1440px) {
  .navbar .nav-item i {
    display: none;
  }
  .navbar .nav-item svg {
    display: none;
  }

  .navbar-brand i {
    display: initial;
  }
}

.paginate_button {
  background-color: var(--bg-color-secondary);
}

.text-monospace {
  font-family: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}



/* #TODO:stefan add to boostrap */
.form-check-input {
  border: 1px solid var(--input-border-color);
}

.info-banner-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  /* padding: 0.1rem 0; */
  background-color: var(--banner-background);
  color: var(--banner-text);
}

.info-banner-content {
  height: inherit;
}

.info-item-body {
  font-weight: bold;
}

.info-item-header:after {
  content: ':';
}

.info-banner-stats {
  display: flex;
  font-size: 90%;
}

@media (max-width: 960px) {
  .info-banner-stats {
    display: none;
  }
}