.theme-switch-wrapper {
  position: relative;
  display: contents;
}
.theme-switch {
  height: calc(var(--font-size, 1rem) * 1.2);
  position: absolute;
  width: calc(var(--font-size, 1rem) * 2.4);
  margin-top: 0.2rem;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--shadow-light, rgba(151, 152, 155, 0.2));
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.sun,
.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  height: calc(var(--font-size, 1rem) * 0.6);
}

.moon {
  left: calc(var(--font-size, 1rem) * 0.3);
}
.sun {
  right: calc(var(--font-size, 1rem) * 0.28);
}

.slider:before {
  background: var(--primary, #222);
  bottom: calc(var(--font-size, 1rem) * 0.1);
  content: '';
  height: var(--font-size, 1rem);
  left: calc(var(--font-size, 1rem) * 0.1);
  position: absolute;
  transition: 0.4s;
  width: var(--font-size, 1rem);
}

input:checked ~ .moon path {
  fill: var(--shadow-dark, rgba(159, 162, 177, 0.8));
}

input:checked ~ .sun path {
  fill: #f5f3ce;
}

input ~ .sun path {
  fill: var(--shadow-dark, rgba(159, 162, 177, 0.8));
}

input ~ .moon path {
  fill: #f5f3ce;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--font-size, 1rem) * 1.2));
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.tt-menu {
  margin-top: 4px;
  background-color: var(--bg-color-secondary);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 300px;
  cursor: pointer;
  right: -44px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-suggestion {
  padding: 5px 20px;
  line-height: 34px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #007bff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-dataset h3 {
  padding: 5px 20px;
  font-size: 1.5em;
}

.input-group > span.twitter-typeahead {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  margin-right: 0.5rem !important;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 4px;
  transition: 0.15s;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background-color: orange;
  background-color: var(--primary);
}

.nav-item {
  position: relative;
}

.navbar-brand {
  margin-right: 1rem;
}

@media (max-width: 1140px) {
  .nav-indicator {
    display: none;
  }
  .navbar-nav {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .nav-item {
    margin: 0.2rem 0;
  }
}

.search-container {
  flex: 1 1 235px;
  display: flex;
  justify-content: flex-start;
}

.search-container > form {
  width: 100%;
  justify-content: flex-start;
}

.search-container > form > span {
  /* width: 90%;  */
  width: inherit;
  max-width: 400px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.search-container .twitter-typeahead {
  width: 100%;
  display: flex !important;
}

.search-container .twitter-typeahead input {
  width: 100% !important;
  transition: width 0.4s ease-in;
  -webkit-appearance: searchfield;
}

@media (min-width: 1140px) {
  .search-icon {
    cursor: pointer;
  }
  .search-container .form-control:focus + .fa-search {
    color: blue;
  }

  .search-container > form {
    justify-content: flex-end;
  }

  .search-container > form > span {
    justify-content: flex-end;
  }

  .search-container .twitter-typeahead {
    width: 100%;
    display: flex !important;
    justify-content: flex-end;
  }

  .search-container .twitter-typeahead input {
    width: 235px !important;
  }

  .search-container .twitter-typeahead input:focus {
    width: 100% !important;
    max-width: 400px;
  }
}

@media (min-width: 1140px) and (max-width: 1440px) {
  .navbar i {
    display: none;
  }

  .navbar-brand i {
    display: initial;
  }
}

.fab-message {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 15;
}
.fab-message-button {
  float: right;
  padding: 20px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fab-message-content {
  background: var(--bg-color-secondary);
  box-shadow: none;
  color: var(--body-color);
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fab-message-content p {
  margin-left: 0.2rem;
  font-size: 1rem;
}
.fab-message-content h3 {
  color: var(--font-color);
}
@media (min-width: 1400px) {
  .fab-message-button {
    margin-right: 20px;
  }
  .fab-message-content {
    padding: 20px 200px;
  }
}
.fab-message.is-open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 15;
}
.fab-message.is-open .fab-message-button {
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
}
.fab-message.is-open .fab-message-content {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/*FAB Button*/
.at-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
  background: var(--bg-color-nav);
  width: 48px;
  height: 48px;
  padding: 12px;
  z-index: 15;
  border-radius: 100%;
  box-sizing: border-box;
  color: #666;
  -webkit-animation: at-ripple 1.2s alternate infinite;
  animation: at-ripple 1.2s alternate infinite;
}
.at-button i.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--warning);
}

@-webkit-keyframes at-ripple {
  0% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1);
  }
  100% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
  }
}
@keyframes at-ripple {
  0% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1);
  }
  100% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
  }
}
/* .at-button i {
         position: absolute;
        } */
.at-button .svg-cross {
  opacity: 0;
  transition: opacity 0.25s;
  margin-bottom: 0.3rem;
}
.at-button .svg-question-mark {
  opacity: 1;
  transition: opacity 0.25s;
}
.toggle-icon.at-button .svg-question-mark {
  opacity: 0;
}
.toggle-icon.at-button .svg-cross {
  opacity: 1;
}
a.at-button.toggle-icon {
  bottom: -20px;
}

.paginate_button {
  background-color: var(--bg-color-secondary);
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.fa-search {
  position: absolute;
  display: content;
  right: 20px;
  top: 13.5px;
  color: grey;
}
