/* Revive ad server responsive images */
ins[data-revive-zoneid]>a>img {
  max-width: 100%;
  height: auto;
}

a:not(.nav-link) {
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
  transition: background-size .25s ease;
  background-size: 0% 100%;
}

main a:not(.btn):not(.page-link):not(.nav-link):not(.dropdown-item):not(.no-highlight):hover {
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, transparent 65%, var(--highlight) 0);
}

table {
  table-layout: auto;
}

.white-space-normal {
  white-space: normal;
}

.btn-icon-inside {
  position: relative;
  line-height: 0;
  padding: 0;
  border-radius: 50%;
  font-size: .531376rem;
  width: 1.3rem;
  height: 1.3rem;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-menu .nav-icon i {
  width: 1rem;
}

.main-navigation .dropdown-menu.dropdown-menu-right.show {
  display: flex;
}

.main-navigation .dropdown-item svg{
  width: 1rem;
  margin-right: 0.5rem;
}

.icon-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-item {
  margin: 0 .2rem;
}

.page-item>a {
  border-radius: .225rem;
  font-size: .95rem;
}

.paginate_input {
  padding: .25rem .5rem;
  font-size: .875rem;
  height: 100%;
  line-height: 1.5;
  border-radius: .2rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--input-color);
  background-color: var(--bg-color-secondary);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.paginate_button,
.page-link {
  background-color: var(--bg-color-secondary);
  cursor: pointer;
  color: var(--link-color, #2d5986);
}

.page-item.disabled .page-link {
  opacity: .5;
  background-color: var(--bg-color-secondary);
}

.paginate_input:focus {
  border-color: var(--highlight);
  outline: 0;
}

.paginate_of,
.paginate_total {
  padding-top: .5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Stakewise banner  */
[data-theme='light'] #stakewise-banner-text {
  fill: #000000;
}

[data-theme='light'] #stakewise-logo-text {
  fill: #000000;
}

[data-theme='light'] #stakewise-banner-bg {
  fill: #fefdfb;
}

[data-theme='light'] #stakewise-gradient-banner-bg {
  display: none;
}

.cls-1 {
  fill: #1e1e2e;
}

.cls-2 {
  fill: url(#linear-gradient);
}

.cls-3 {
  font-size: 10.09px;
  font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-4 {
  letter-spacing: -0.01em;
}

.cls-5 {
  letter-spacing: 0.01em;
}

.cls-6 {
  font-size: 12.5px;
  font-family: Poppins-Medium, Poppins;
}

.cls-6,
.cls-9 {
  fill: #fff;
}

.cls-7 {
  fill: #4b4fab;
}

.cls-8 {
  fill: #00dcce;
}

.cls-9 {
  font-size: 14.73px;
  font-family: Poppins-Regular, Poppins;
}

.cls-10 {
  fill: #44e4de;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cls-11 {
  font-size: 12.71px;
  font-family: Poppins-Bold, Poppins;
  font-weight: 700;
}

.cls-12 {
  fill: none;
}

.cls-13,
.cls-50 {
  fill: #42e8df;
}

.cls-14 {
  fill: url(#radial-gradient);
}

.cls-15 {
  fill: url(#radial-gradient-2);
}

.cls-16 {
  fill: url(#radial-gradient-3);
}

.cls-17 {
  fill: url(#radial-gradient-8);
}

.cls-18 {
  fill: #342785;
}

.cls-19 {
  fill: #6069da;
}

.cls-20 {
  fill: #7078e0;
}

.cls-21 {
  fill: #b1b4fa;
}

.cls-22 {
  fill: #7d83e5;
}

.cls-23 {
  fill: #878dea;
}

.cls-24 {
  fill: #a1a4f4;
}

.cls-25 {
  fill: #959aee;
}

.cls-26 {
  fill: #9ffef8;
}

.cls-27 {
  fill: #24126a;
}

.cls-28 {
  fill: #355190;
}

.cls-29 {
  fill: #43e8df;
}

.cls-30 {
  fill: #2e2c79;
}

.cls-31 {
  fill: #5adcee;
}

.cls-32 {
  fill: #344f8e;
}

.cls-33 {
  fill: #354186;
}

.cls-34 {
  fill: #2e327c;
}

.cls-35 {
  fill: #354e8e;
}

.cls-36 {
  fill: #42e8e1;
}

.cls-37 {
  fill: #354187;
}

.cls-38 {
  fill: #35488a;
}

.cls-39 {
  fill: #353685;
}

.cls-40 {
  fill: #43e7df;
}

.cls-41 {
  fill: #355b96;
}

.cls-42 {
  fill: #355793;
}

.cls-43,
.cls-51 {
  fill: #9ffdf8;
}

.cls-44 {
  fill: #49b2ce;
}

.cls-45 {
  fill: #355f99;
}

.cls-46 {
  fill: #3882ac;
}

.cls-47 {
  fill: #5ddbcd;
}

.cls-48 {
  fill: #5961d7;
}

.cls-49 {
  fill: #49b4d6;
}

.cls-50,
.cls-51 {
  opacity: 0.4;
}

.cls-52 {
  fill: #498cba;
}

.active-slot {
  animation: blinking 1s alternate infinite;
}

.active-epoch {
  animation: blinking 1s alternate infinite;
}

@keyframes blinking {
  0% {
    opacity: 0.2
  }

  100% {
    opacity: 1
  }
}

.nav-icon img{
  width: 1rem;
  height: auto;
  aspect-ratio: 1;
}


@media (max-width: 1140px) {
  .dropdown-item {
    padding: .5rem 1.5rem;
  }

  .nav-icon {
    width: 38px;
    overflow: hidden;
    text-align: center;
  }

  .nav-text {
    flex: 1;
  }

  .navbar .nav-link,
  .navbar .dropdown-item {
    display: flex;
  }

  .navbar .dropdown-toggle::after {
    align-self: center;
    display: inline-flex;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .contract {
    font-size: 75%;
  }

  .contract .contract-description {
    display: none;
  }
}

@media (max-width: 450px) {

  .pagination .first,
  .pagination .last {
    display: none;
  }
}

@media (max-width: 360px) {
  .contract .fa-file-contract {
    display: none;
  }

  .contract #copy-deposit {
    display: none;
  }
}

@media (min-width: 768px) {

  #slashings-table_wrapper>div:nth-child(2),
  #blocks-table_wrapper>div:nth-child(2),
  #attestations-table_wrapper>div:nth-child(2) {
    margin-bottom: 1.55rem;
  }
}

@media (min-width: 1140px) and (max-width: 1440px) {
  .navbar .nav-item img {
    display: none;
  }
}


label.btn.btn-light:hover {
  color: var(--font-color);
}


.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
}


:root {
  --theme-ethereum-blue: #2a7ee6;
  --theme-ethereum-pink: #d363cb;
  --theme-ethereum-red: #ff9c91;
  --theme-ethereum-teal: #27cfe2;
  --theme-ethereum-green: #88e03f;
  --theme-ethereum-yellow: #ffef79;
  --statistics-blue: #378ef0;
  --statistics-orange: #fb8c13;
  --statistics-purple: #a145f8;
  --theme-bg-color-secondary: #e1d8d8;
  --theme-bg-card-body: #ebe7e7;
  --body-color-inverted: #dee2e6;
}

[data-theme="dark"]:root {
  --theme-bg-color-secondary: #413938;
  --theme-bg-card-body: rgba(92,78,78,0.333333);
  --body-color-inverted: #343a40;
}

:root

.thousands-separator:before{
  content: ",";
}

.tooltip-inner {
  max-width: none;
}

.tooltip {
  font-variant-ligatures: none;
}

.custom-remove-modal { 
  position: relative;
  min-width: 280px;
  padding: 2rem 4rem 3rem;
}
.custom-remove-modal-close { 
  position: relative; 
  top: -1rem; 
  right: -2.5rem;
}
.custom-remove-modal-close button:hover { 
  color: var(--dark);
}

.checkbox-custom-size { 
  width: 1.1rem;
  height: 1.1rem;
}

#AddValidatorWatchlistModal .tt-open {
  background-color: var(--dark);
  scrollbar-color: var(--light);
  scrollbar-width: thin;
}
#AddValidatorWatchlistModal .tt-open::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#AddValidatorWatchlistModal .tt-open::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 10px;
  color: var(--light);
}
#AddValidatorWatchlistModal .tt-suggestion.tt-cursor,
#AddValidatorWatchlistModal .tt-suggestion:hover {
  background-color: var(--primary);
  cursor: pointer;
}
#AddValidatorWatchlistModal .tt-menu {
  width: 100%;
  max-height: 19rem;
  margin-top: 4px;
  padding: .5rem;
  background-color: var(--bg-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--dark);
  overflow-y: auto;
  cursor: pointer;
}
#AddValidatorWatchlistModal .tt-suggestion {
  line-height: 34px;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading { 
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.heading-l2 { 
  font-size: 1.4rem;
  letter-spacing: .5px;
}
.heading-l3 {
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.heading-l4 { 
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.45rem !important;
}

@media screen and (max-width: 450px) {
  .custom-modal {
    padding: 0 !important;
    overflow-y: auto;
  }
  .custom-modal .custom-modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .custom-modal .custom-modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .custom-remove-modal { 
    padding: 1.3rem 1.8rem 2.5rem;
  }
  .custom-remove-modal-close { 
    right: -1rem;
  }
}