{{ define "js" }}
<script>
  // NOTE: in this block, dot is the page data for this view (APIKeyManagementPageData)
  window.__APIKEYMANAGEMENT_CONFIG__ = { apiBaseUrl: "{{ .APIKeyMngBaseURL }}" };
</script>
<script type="text/javascript" src="/js/datatables.min.js"></script>
<script type="module" src="/js/api-key-management/api-key-management.entry.js"></script>
{{ end }}
{{ define "css" }}
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<style>
#apiKeysList{ margin: 0 !important; }
.bg-emphasis {
  background-color: var(--bg-color-light);
}
[data-validate-rule]:not(text-danger):not(text-success) i.fa:before {
  content: "\2219";
}
[data-validate-rule].text-danger i.fa:before {
  content: "\2717";
}
[data-validate-rule].text-success i.fa:before {
  content: "\2713";
}
</style>
{{ end }}
{{ define "content" }}
  {{ with .Data }}
  <div class="container mt-2">
    <div class="my-3">
      <div class="d-md-flex py-2 justify-content-md-between">
        <h1 class="h4 mb-1 mb-md-0">
          <i class="mr-2 fas fa-key"></i>API Key Management
          <small class="d-block">Manage your API keys for secure access to our services. Keep your keys safe and never share them publicly.</small>
        </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-size-1 mb-0 flex-nowrap text-nowrap" style="padding:0; background-color:transparent;">
            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">API Keys</li>
          </ol>
        </nav>
      </div>
    </div>

    {{ template "createKey" . }}
    {{ template "listKeys" . }}
    {{ template "disableKey" . }}
    {{ template "deleteKey" . }}
    {{ template "apiStatistics" . }}
  </div>
  {{ end }}
{{ end }}