{{ define "user/api-key-management/statistics" }}
  {{ if .Subscription.ApiKey }}
  <div class="card my-3">
    <div class="card-header justify-content-between d-flex align-items-center">
      <h3 class="h5">
        <span
          >Usage <span class="mx-1">|</span> <a style="font-size: 80%;" class="font-weight-light" href="/api/v1/docs">docs <i style="font-size: 80%;" class="fas fa-laptop-code"></i></a
        ></span>
      </h3>
    </div>
    <div class="card-body">
      {{ if not (eqsp .Subscription.PriceID .Diamond) }}
        <div class="my-3">
          <div class="d-flex justify-content-between">
            <div>Daily:</div>
            <div>{{ formatThousandsInt .ApiStatistics.Daily }} / {{ formatThousandsInt .ApiStatistics.MaxDaily }}</div>
          </div>
          {{ if .ApiStatistics.Daily }}
            <div style="white-space: nowrap;" class="progress">
              {{ $percentageDaily := formatPercentage (divInt .ApiStatistics.Daily .ApiStatistics.MaxDaily) }}
              <div class="progress-bar" role="progressbar" style="width: {{ $percentageDaily }}%; white-space: no-wrap;" aria-valuenow="{{ .ApiStatistics.Daily }}" aria-valuemin="0" aria-valuemax="{{ .ApiStatistics.MaxDaily }}">{{ $percentageDaily }} %</div>
            </div>
          {{ end }}
        </div>
      {{ end }}
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div>Monthly:</div>
          <div>{{ formatThousandsInt .ApiStatistics.Monthly }} / {{ formatThousandsInt .ApiStatistics.MaxMonthly }}</div>
        </div>
        {{ if .ApiStatistics.Monthly }}
          <div style="white-space: nowrap;" class="progress">
            {{ $percentageMonthly := formatPercentage (divInt .ApiStatistics.Monthly .ApiStatistics.MaxMonthly) }}
            <div class="progress-bar" role="progressbar" style="width: {{ $percentageMonthly }}%; white-space: nowrap;" aria-valuenow="{{ .ApiStatistics.Monthly }}" aria-valuemin="0" aria-valuemax="{{ .ApiStatistics.MaxMonthly }}">{{ $percentageMonthly }} %</div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}