{{ define "block_votes" }}
  <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
    <div class="row p-1">
      <div class="col-md-12 text-center">
        <b> {{ .VotingValidatorsCount }} validator{{ if ne .VotingValidatorsCount 1 }}s{{ end }} voted {{ .VotesCount }} times for this block: </b>
      </div>
    </div>
    <div class="px-0 py-3">
      <table class="table" id="block_votes">
        <thead>
          <tr>
            <th>Allocated Slot</th>
            <th>Committee</th>
            <th>Included in Block</th>
            <th>Validators</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
{{ end }}
