@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: lighten($border, 5%);
  }

  .alert-link {
    color: lighten($color, 10%);
  }
}
