{{ define "js"}}
<script>
	window.addEventListener('popstate', function (event) {
		event.preventDefault();
		history.back();
	})
</script>
<script type="text/javascript">
	function viewGraffitiAs(type) {
		var graffitiHex = $("[aria-graffiti]").attr("aria-graffiti");

		if (!graffitiHex) {
			return
		}

		if (type === "hex") {
			$("#graffiti").text("0x" + graffitiHex)
		} else {
			try {
				var r = decodeURIComponent(graffitiHex.replace(/\s+/g, '').replace(/[0-9a-f]{2}/g, '%$&'));
				$("#graffiti").text(r)
			} catch (e) {
				$("#graffiti").text(hex2a(graffitiHex.replace("0x", "")))
			}
		}
	}

	function hex2a(hexx) {
		var hex = hexx.toString();//force conversion
		var str = '';
		for (var i = 0; i < hex.length; i += 2)
			str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
		return str;
	}

	viewGraffitiAs('utf-8')
</script>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
<div class="container mt-2">
	<div class="d-md-flex py-2 justify-content-md-between">
		<h1 class="h4 mb-1 mb-md-0">
			{{if not (eq .PreviousSlot .Slot)}}
			<a href="/block/{{.PreviousSlot}}"><i class="fa fa-chevron-left"></i></a>
			{{end}}
			<span class="ml-1 mr-1"><i class="fas fa-cube mr-2"></i>Block at Slot {{.Slot}}</span>
			{{if gt .NextSlot 0}}
			<a href="/block/{{.NextSlot}}"><i class="fa fa-chevron-right"></i></a>
			{{end}}
		</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
				<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
				<li class="breadcrumb-item"><a href="/blocks" title="Blocks">Blocks</a></li>
				<li class="breadcrumb-item active" aria-current="page">Block details</li>
			</ol>
		</nav>
	</div>
	<ul style="margin-bottom: -1px;" class="nav nav-tabs justify-content-start" id="tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="votes-tab" data-toggle="tab" href="#votes" role="tab" aria-controls="votes" aria-selected="false">Votes <span class="badge bg-secondary text-white">{{.VotesCount}}</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="attestations-tab" data-toggle="tab" href="#attestations" role="tab" aria-controls="attestations" aria-selected="false">Attestations <span class="badge bg-secondary text-white">{{.AttestationsCount}}</span></a>
		</li>
		{{if gt .DepositsCount 0}}
		<li class="nav-item">
			<a class="nav-link" id="deposits-tab" data-toggle="tab" href="#deposits" role="tab" aria-controls="deposits" aria-selected="false">Deposits <span class="badge bg-secondary text-white">{{.DepositsCount}}</span></a>
		</li>
		{{end}}
		{{if gt .VoluntaryExitscount 0}}
		<li class="nav-item">
			<a class="nav-link" id="voluntary-exits-tab" data-toggle="tab" href="#voluntary-exits" role="tab" aria-controls="voluntary-exits" aria-selected="false">Voluntary Exits <span class="badge bg-secondary text-white">{{.VoluntaryExitscount}}</span></a>
		</li>
		{{end}}
		{{if gt .AttesterSlashingsCount 0}}
		<li class="nav-item">
			<a class="nav-link" id="attester-slashings-tab" data-toggle="tab" href="#attester-slashings" role="tab" aria-controls="attester-slashings" aria-selected="false">Attester Slashings <span class="badge bg-secondary text-white">{{.AttesterSlashingsCount}}</span></a>
		</li>
		{{end}}
		{{if gt .ProposerSlashingsCount 0}}
		<li class="nav-item">
			<a class="nav-link" id="proposer-slashings-tab" data-toggle="tab" href="#proposer-slashings" role="tab" aria-controls="proposer-slashings" aria-selected="false">Proposer Slashings <span class="badge bg-secondary text-white">{{.ProposerSlashingsCount}}</span></a>
		</li>
		{{end}}
	</ul>
	<style>
		.block-card {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	</style>
	<div class="tab-content" id="tabContent">
		<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Epoch:</div>
						<div class="col-md-10"><a href="/epoch/{{.Epoch}}">{{.Epoch}}</a></div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Slot:</div>
						<div class="col-md-10"><b>{{.Slot}}</b></div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Status:</div>
						<div class="col-md-10">{{formatBlockStatus .Status}}</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Time:</div>
						<div class="col-md-10"><span aria-ethereum-date="{{.Ts.Unix}}">{{.Ts}}</span> (<span aria-ethereum-date="{{.Ts.Unix}}" aria-ethereum-date-format="FROMNOW"></span>)
						</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Proposer:</div>
						<div class="col-md-10">{{formatValidatorWithName .Proposer .ProposerName}}</div>
					</div>
					{{ if (or (eq .Status 1) (eq .Status 3)) }}
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Block Root:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" .BlockRoot}}</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Parent Root:</div>
						<div class="col-md-10 text-monospace text-break"><a href="/block/{{printf "%x" .ParentRoot}}">0x{{printf "%x" .ParentRoot}}</a>
						</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">State Root:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" .StateRoot}}</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" .Signature}}</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Randao Reveal:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" .RandaoReveal}}</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Graffiti:</div>
						<div class="col-md-8 text-monospace text-break" id="graffiti" aria-graffiti="{{printf "%x" .Graffiti}}">0x{{printf "%x" .Graffiti}}</div>
						<div class="col-md-2">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-light text-dark active btn-sm" onclick="viewGraffitiAs('hex')">
									<input type="radio" name="options" id="optionHex"> Hex
								</label>
								<label class="btn btn-light text-dark btn-sm" onclick="viewGraffitiAs('utf-8')">
									<input type="radio" name="options" id="optionUTF8" checked> UTF-8
								</label>
							</div>
						</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Eth 1 Data:</div>
						<div class="col-md-10">
							<div class="row p-1">
								<div class="col-md-2">Block Hash:</div>
								<div class="col-md-10 text-monospace text-break">
									<a href="https://goerli.etherscan.io/block/0x{{printf "%x" .Eth1dataBlockhash}}">0x{{printf "%x" .Eth1dataBlockhash}}</a>
								</div>
							</div>
							<div class="row p-1">
								<div class="col-md-2">Deposit Count:</div>
								<div class="col-md-10 text-monospace text-break">{{.Eth1dataDepositcount}}</div>
							</div>
							<div class="row p-1">
								<div class="col-md-2">Deposit Root:</div>
								<div class="col-md-10 text-monospace text-break">
									0x{{printf "%x" .Eth1dataDepositroot}}</div>
							</div>
						</div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Attestations:</div>
						<div class="col-md-10"><b>{{.AttestationsCount}}</b></div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Deposits:</div>
						<div class="col-md-10"><b>{{.DepositsCount}}</b></div>
					</div>
					<div class="row border-bottom p-3 mx-0">
						<div class="col-md-2">Voluntary Exits:</div>
						<div class="col-md-10"><b>{{.VoluntaryExitscount}}</b></div>
					</div>
					<div class="row p-3 mx-0">
						<div class="col-md-2">Slashings:</div>
						<div class="col-md-10"><b>{{.AttesterSlashingsCount}}</b> attester &
							<b>{{.ProposerSlashingsCount}}</b> proposer slashings
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="votes" role="tabpanel" aria-labelledby="votes-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row p-1">
						<div class="col-md-12 text-center"><b>{{.VotesCount}} validator{{if ne .VotesCount 1}}s{{end}}
								voted for
								this block:</b></div>
					</div>
					<div class="table-responsive">
						<table class="table table-sm table-bordered text-center">
							{{range $i, $vote := .Votes}}
							{{if mod $i 10 }}
							<tr>
								{{end}}
								<td style="border-bottom: 1px solid var(--border-color);" class="p-1" data-toggle="tooltip" data-placement="top" title="Voted on by validator {{$vote.Validator}} of committee {{$vote.CommitteeIndex}} included in block {{$vote.IncludedIn}}">
									{{formatValidator $vote.Validator}}
								</td>
								{{if or (mod (add $i 1) 10) (eq $i (sub (len $.Votes) 1))}}
							</tr>
							{{end}}
							{{end}}
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="attestations" role="tabpanel" aria-labelledby="attestations-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row p-1 mx-0">
						<h3 class="h5 col-md-12 text-center"><b>Showing {{ .AttestationsCount }} Attestations </b></h3>
					</div>
				</div>
			</div>
			{{range $i, $attestation := .Attestations}}
			<div class="card my-2">
				<div class="card-body px-0 py-1">
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center"><b>Attestation {{$i}}</b></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Slot:</div>
						<div class="col-md-10"><a href="/block/{{$attestation.Slot}}">{{$attestation.Slot}}</a>
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Committee Index:</div>
						<div class="col-md-10">{{$attestation.CommitteeIndex}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Aggregation Bits:</div>
						<div class="col-md-10">{{printf "%8b" $attestation.AggregationBits}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Validators:</div>
						<div class="col-md-10">
							{{range $validator := $attestation.Validators}}
							{{formatValidatorInt64 $validator}}
							{{end}}
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Beacon Block Root:</div>
						<div class="col-md-10 text-monospace text-break"><a href="/block/{{printf "%x" $attestation.BeaconBlockRoot}}">0x{{printf "%x" $attestation.BeaconBlockRoot}}</a>
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Source:</div>
						<div class="col-md-10">Epoch <a href="/epoch/{{$attestation.SourceEpoch}}">{{$attestation.SourceEpoch}}</a>
							(<span class="text-monospace text-break"><a href="{{printf "%x" $attestation.SourceRoot}}">0x{{printf "%x" $attestation.SourceRoot}}</a>)</span>
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Target:</div>
						<div class="col-md-10">Epoch <a href="/epoch/{{$attestation.TargetEpoch}}">{{$attestation.TargetEpoch}}</a>
							(<span class="text-monospace text-break"><a href="{{printf "%x" $attestation.TargetRoot}}">0x{{printf "%x" $attestation.TargetRoot}}</a>)</span>
						</div>
					</div>
					<div class="row p-1 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $attestation.Signature}}</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
		{{if gt .DepositsCount 0}}
		<div class="tab-pane fade" id="deposits" role="tabpanel" aria-labelledby="deposits-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					{{range $i, $deposit := .Deposits}}
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center"><b>Deposit {{$i}}</b></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Amount:</div>
						<div class="col-md-10">{{$deposit.Amount | formatBalance}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Public Key:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" $deposit.PublicKey}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Withdrawal Credentials:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $deposit.WithdrawalCredentials}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" $deposit.Signature}}</div>
					</div>
					<div class="row border-bottom mx-0">
					</div>
					{{end}}
				</div>
			</div>
		</div>
		{{end}}
		{{if gt .VoluntaryExitscount 0}}
		<div class="tab-pane fade" id="voluntary-exits" role="tabpanel" aria-labelledby="voluntary-exits-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					{{range $i, $exit := .VoluntaryExits}}
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center"><b>Exit {{$i}}</b></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Validator:</div>
						<div class="col-md-10">{{formatValidator $exit.ValidatorIndex}}</div>
					</div>
					<div class="row p-1 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10 text-monospace text-break">0x{{printf "%x" $exit.Signature}}</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		{{end}}
		{{if gt .AttesterSlashingsCount 0}}
		<!-- Nav tabs -->
		<div class="tab-pane fade" id="attester-slashings" role="tabpanel" aria-labelledby="attester-slashings-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row p-1 mx-0">
						<h3 class="h5 col-md-12 text-center"><b>Showing {{.AttesterSlashingsCount}} Attester Slashing(s) </b></h3>
					</div>
				</div>
			</div>
			{{range $i, $attestationSlashing := .AttesterSlashings}}
			<div class="card block-card my-2">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Slashed Validator(s):</div>
						<div class="col-md-10">
							{{range $validator := $attestationSlashing.SlashedValidators}}
							{{formatSlashedValidatorInt64 $validator}}
							{{end}}
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center">Attestation 1</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Slot:</div>
						<div class="col-md-10"><a href="/block/{{$attestationSlashing.Attestation1Slot}}">{{$attestationSlashing.Attestation1Slot}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Committee Index:</div>
						<div class="col-md-10">{{$attestationSlashing.Attestation1Index}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Beacon BlockRoot:</div>
						<div class="col-md-10">0x{{printf "%x" $attestationSlashing.Attestation1BeaconBlockRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10">0x{{printf "%x" $attestationSlashing.Attestation1Signature}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Source Epoch:</div>
						<div class="col-md-10"><a href="/epoch/{{$attestationSlashing.Attestation1SourceEpoch}}">{{$attestationSlashing.Attestation1SourceEpoch}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Target Epoch:</div>
						<div class="col-md-10"><a href="/epoch/{{$attestationSlashing.Attestation1TargetEpoch}}">{{$attestationSlashing.Attestation1TargetEpoch}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Attesting Validators:</div>
						<div class="col-md-10">
							{{range $validator := $attestationSlashing.Attestation1Indices}}
							{{formatValidatorInt64 $validator}}
							{{end}}
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center">Attestation 2</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Slot:</div>
						<div class="col-md-10"><a href="/block/{{$attestationSlashing.Attestation2Slot}}">{{$attestationSlashing.Attestation2Slot}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Committee Index:</div>
						<div class="col-md-10">{{$attestationSlashing.Attestation2Index}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Beacon BlockRoot:</div>
						<div class="col-md-10">0x{{printf "%x" $attestationSlashing.Attestation2BeaconBlockRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Signature:</div>
						<div class="col-md-10">0x{{printf "%x" $attestationSlashing.Attestation2Signature}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Source Epoch:</div>
						<div class="col-md-10"><a href="/epoch/{{$attestationSlashing.Attestation2SourceEpoch}}">{{$attestationSlashing.Attestation2SourceEpoch}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Target Epoch:</div>
						<div class="col-md-10"><a href="/epoch/{{$attestationSlashing.Attestation2TargetEpoch}}">{{$attestationSlashing.Attestation2TargetEpoch}}</a></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Attesting Validators:</div>
						<div class="col-md-10">
							{{range $validator := $attestationSlashing.Attestation2Indices}}
							{{formatValidatorInt64 $validator}}
							{{end}}
						</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
		{{end}}
		{{if gt .ProposerSlashingsCount 0}}
		<div class="tab-pane fade" id="proposer-slashings" role="tabpanel" aria-labelledby="proposer-slashings-tab">
			<div class="card block-card">
				<div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
					<div class="row p-1 mx-0">
						<h3 class="h5 col-md-12 text-center"><b>Showing {{.ProposerSlashingsCount}} Proposer Slashing(s) </b></h3>
					</div>
				</div>
			</div>
			{{range $i, $proposerSlashing := .ProposerSlashings}}
			<div class="card block-card my-2">
				<div class="card-body px-0 py-1 ">
					<!-- #TODO:stefan please make this pretty -->
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-12 text-center"><b>Slashing {{$i}}</b></div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Slashed Validator:</div>
						<div class="col-md-10">{{formatSlashedValidator $proposerSlashing.ProposerIndex}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 1 Slot:</div>
						<div class="col-md-10">{{$proposerSlashing.Header1Slot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 1 Parent Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header1ParentRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 1 State Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header1StateRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 1 Body Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header1BodyRoot}}
						</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 1 Signature:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header1Signature}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 2 Slot:</div>
						<div class="col-md-10">{{$proposerSlashing.Header2Slot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 2 Parent Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header2ParentRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 2 State Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header2StateRoot}}</div>
					</div>
					<div class="row border-bottom p-1 mx-0">
						<div class="col-md-2">Header 2 Body Root:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header2BodyRoot}}
						</div>
					</div>
					<div class="row p-1 pb-0 mx-0">
						<div class="col-md-2">Header 2 Signature:</div>
						<div class="col-md-10 text-monospace text-break">
							0x{{printf "%x" $proposerSlashing.Header2Signature}}</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
		{{end}}
		{{end}}
	</div>
</div>