{{ define "js" }}
  <script src="https://www.google.com/recaptcha/api.js" async></script>
  <script>
    function onSubmit(token) {
      var form = document.getElementById("contact")
      if (form.reportValidity()) {
        form.submit()
      }
    }
  </script>
{{ end }}

{{ define "css" }}
  <style>
    @media (min-width: 1140px) {
      .max-lg-300 {
        max-width: 300px;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    {{ if ne .FlashMessage "" }}
      <div class="alert container mt-2 {{ if contains .FlashMessage "Error" }}alert-danger{{ else }}alert-success{{ end }} alert-dismissible fade show my-3 py-2" role="alert">
        <div class="p-2">{{ .FlashMessage | formatHTML }}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ if not $.NoAds }}{{ template "bannerGeneric" dict "desktop" "52" "mobile" "52" }}{{ end }}
      <div class="row mt-4">
        <div class="col-md-12">
          <p><span class="fas fa-lightbulb mr-1"></span> INFO: <a href="https://notes.ethereum.org/@launchpad/withdrawals-faq#">ETH Withdrawals FAQ</a>, <a href="https://notes.ethereum.org/@launchpad/withdrawals-guide">Withdrawals Guide</a>,<a href="https://github.com/wealdtech/ethdo/blob/master/docs/changingwithdrawalcredentials.md">Ethdo guide</a></p>
          <p><span class="fas fa-alert mr-1"></span> WARNING: Once the Withdrawal Credentials have been set to a 0x01 it can not be changed.</p>
          {{ if ne .FlashMessage "" }}
            <div class="alert container mt-2 {{ if contains .FlashMessage "Error" }}alert-danger{{ else }}alert-success{{ end }} alert-dismissible fade show my-3 py-2" role="alert">
              <div class="p-2">{{ .FlashMessage | formatHTML }}</div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {{ end }}
          <form action="/tools/broadcast" method="post">
            <div class="text-left">
              <div class="form-group">
            <textarea name="bls_to_execution_changes" placeholder='[{"message":{"validator_index":"62019","from_bls_pubkey":"0x8562a3e163bfbc20bebbbea2643bdcb8823d36a481ae770ce7eb358c53a78ac5e5074ef1f2506fe1c42d7c36f9dc650f","to_execution_address":"0x0bcededbeea88da966e98dd40796b802d54342cc"},"signature":"0x80f445291542b582cbda37142621461328cdf960bc460e8e4de98530fab5d8cdc052a5b2cb47100a2ddf33555363d6db07b79921b7eddc4922e925a83d747befe02e384c12fb7f13386fe7295ec4330bdd959f130e95a4dc476e27fc31c1ce42"}]'></textarea>
</div>
</div>
<button data-sitekey="{{ .RecaptchaKey }}" data-callback="onSubmit" data-action="submit" type="submit" class="g-recaptcha btn btn-primary text-center">Submit & Broadcast</button>
</form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {{ end }}
{{ end }}
