{{ define "js" }}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="/js/highcharts-global-options.js"></script>
<script>



class Calculator {
	constructor() {
		var self = this

		
		this.config = {}
		this.config.secondsPerSlot = 12
		this.config.slotsPerEpoch = 32
		this.config.secondsPerEpoch = this.config.secondsPerSlot*this.config.slotsPerEpoch
		this.config.epochsPerDay = 3600 * 24 / this.config.secondsPerEpoch
		this.config.minNetworkStake = 32e9*16387
		this.config.minValidatorStake = 32e9

		this.params = {}
		
		this.params.networkStake = 0
		this.params.networkOnlinePropability = 0
		this.params.ethPrice = 0
		this.params.ethPriceChangePerMonth = 0
		this.params.totalEthSupply = 110371309781250000
		this.params.networkStakePercent = this.config.minNetworkStake / this.params.totalEthSupply

		this.params.stake = 0
		this.params.initialCosts = 0
		this.params.initialCostsGwei = 0
		this.params.monthlyCosts = 0
		this.params.monthlyCostsGwei = 0
		this.params.poolStaking = false
		this.params.stakingFee = 0
		this.params.stakeWithPool = false
		this.params.reinvest = false
		
		this.params.showCosts = false
		this.params.showIncome = true

		this.result = {}

		this.result.ethPriceChartData = []
		this.result.incomeDollarChartData = []
		this.result.incomeEthChartData = []
		this.result.costsDollarChartData = []
		this.result.costsEthChartData = []
		this.result.profitDollarChartData = []
		this.result.profitEthChartData = []
		this.result.breakEvenPoint = null
		this.result.start = null
		this.result.numberOfPossibleValidators = '0'

		this.fetchStats()
		this.run()

		$('.staking-variable').on('input', function(){
			self.run()
		})

		document.getElementById('staking-variable-totalStake-slider').oninput = function(){
			document.getElementById('staking-variable-totalStake').value = this.value
		}
		document.getElementById('staking-variable-totalStake-slider').onchange = function(){
			self.run()
		}
		document.getElementById('staking-variable-totalStake').addEventListener('input',function(){
			document.getElementById('staking-variable-totalStake-slider').value = this.value
		})

		document.getElementById('staking-variable-onlinePropabilty-slider').oninput = function(){
			document.getElementById('staking-variable-onlinePropabilty').value = this.value
		}
		document.getElementById('staking-variable-onlinePropabilty-slider').onchange = function(){
			self.run()
		}
		document.getElementById('staking-variable-onlinePropabilty').addEventListener('input',function(){
			document.getElementById('staking-variable-onlinePropabilty-slider').value = this.value
		})

		var currencySwitches = {
			totalStake: 'networkStake',
			yourStake: 'stake',
			initialCosts: 'initialCosts',
			monthlyCosts: 'monthlyCosts',
		}

		$('.currency-switch').click(function(){
			var what = $(this).data('for')
			if (!currencySwitches[what]) return

			var was = document.getElementById(what+'-currency').innerText
			var is = was === '$' ? 'ETH' : '$'
			document.getElementById(what+'-currency').innerText = is

			var wasVal = document.getElementById('staking-variable-'+what).value
			document.getElementById('staking-variable-'+what).value = was === '$' 
				? wasVal/self.params.ethPrice 
				: wasVal*self.params.ethPrice
		})
	}
	fetchStats() {
		fetch("https://etherchain.org/api/supply")
		.then(res => res.json())
		.then(data => {
				if (data && data.value && data.value > this.params.totalEthSupply) {
					this.params.totalEthSupply = data.value / 1e9
				}
				console.log('setting attribute', this.params.totalEthSupply, this.params.totalEthSupply / 1e9)
				document.getElementById('staking-variable-totalStake').setAttribute('max', this.params.totalEthSupply / 1e9)
				document.getElementById('staking-variable-totalStake-slider').setAttribute('max', this.params.totalEthSupply / 1e9)
		})
		fetch("https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=BTC,USD,EUR")
		  .then(res => res.json())
			.then(data => {
				this.params.ethPrice = data["USD"]
				document.getElementById('staking-variable-ethPrice').setAttribute('value', this.params.ethPrice)
			})
	}
	run() {
		var t0 = Date.now()
		this.readParams()
		var t1 = Date.now()
		this.calculate()
		var t2 = Date.now()
		this.renderResult()
		var t3 = Date.now()
		console.log(`readParams  : ${t1-t0}ms
calculate   : ${t2-t1}ms
renderResult: ${t3-t2}ms
`)
		console.log(this.params)
	}
	readParams() {
		var currencySwitches = {
			networkStake: document.getElementById('totalStake-currency').innerText,
			stake: document.getElementById('yourStake-currency').innerText,
			initialCosts: document.getElementById('initialCosts-currency').innerText,
			monthlyCosts: document.getElementById('monthlyCosts-currency').innerText,
		}

		var p = this.params
		p.networkStake = parseFloat(document.getElementById('staking-variable-totalStake').value)*1e9
		p.networkOnlinePropability = parseInt(document.getElementById('staking-variable-onlinePropabilty').value)/100
		p.ethPrice = parseFloat(document.getElementById('staking-variable-ethPrice').value)
		p.ethPriceChangePerMonth = parseInt(document.getElementById('staking-variable-ethPriceChangePerMonth').value)/100

		p.stake = parseFloat(document.getElementById('staking-variable-yourStake').value)*1e9

		p.initialCosts = parseFloat(document.getElementById('staking-variable-initialCosts').value)
		p.monthlyCosts = parseFloat(document.getElementById('staking-variable-monthlyCosts').value)

		if ((isNaN(p.initialCosts) || p.initialCosts === 0) && (isNaN(p.monthlyCosts) || p.monthlyCosts === 0)) {
			p.showCosts = false
		} else {
			p.showCosts = true
		}

		if(isNaN(p.stake) || p.stake === 0) {
			p.showIncome = false
		} else {
			p.showIncome = true
		}

		p.stakeWithPool = document.getElementById("staking-variable-pool").checked
		p.stakingFee = parseInt(document.getElementById('staking-variable-stakingFee').value)/100
		p.reinvest = document.getElementById('staking-variable-reinvest').checked


		if (isNaN(p.stake) || p.stake < 1e-9) {
			p.stake = 1/1e9
			document.getElementById('staking-variable-yourStake-validation').style.display = "initial"
		} else {
			document.getElementById('staking-variable-yourStake-validation').style.display = "none"
		}
		if (isNaN(p.networkStake) || p.networkStake < 32*16387*1e9) {
			p.networkStake = 32*16387*1e9
			document.getElementById('staking-variable-totalStake-validation').style.display = "initial"
		} else {
			document.getElementById('staking-variable-totalStake-validation').style.display = "none"
		}
		if (isNaN(p.networkOnlinePropability) || p.networkOnlinePropability > 1.00 || p.networkOnlinePropability < .01) {
			document.getElementById('staking-variable-onlinePropabilty-validation').style.display = "initial"
		} else {
			document.getElementById('staking-variable-onlinePropabilty-validation').style.display = "none"
		}
		if (isNaN(p.networkOnlinePropability) || p.networkOnlinePropability < .01) {
			p.networkOnlinePropability = .01
		}
		if (isNaN(p.networkOnlinePropability) || p.networkOnlinePropability > 1.00) {
			p.networkOnlinePropability = 1.00
		}
		if (isNaN(p.ethPrice) || p.ethPrice < 0) {
			p.ethPrice = 0
			document.getElementById('staking-variable-ethPrice-validation').style.display = "initial"
		} else {
			document.getElementById('staking-variable-ethPrice-validation').style.display = "none"
		}
		if (isNaN(p.ethPriceChangePerMonth)) {
			p.ethPriceChangePerMonth = 0
			document.getElementById('staking-variable-ethPriceChangePerMonth-validation').style.display = "initial" 
		} else {
			document.getElementById('staking-variable-ethPriceChangePerMonth-validation').style.display = "none" 
		} 
		if (isNaN(p.initialCosts) || p.initialCosts < 0) {
			p.initialCosts = 0
			document.getElementById('staking-variable-initialCosts-validation').style.display = "initial" 
		} else {
			document.getElementById('staking-variable-initialCosts-validation').style.display = "none" 
		}
		if (isNaN(p.monthlyCosts) || p.monthlyCosts < 0) {
			p.monthlyCosts = 0
			document.getElementById('staking-variable-monthlyCosts-validation').style.display = "initial" 
		} else {
			document.getElementById('staking-variable-monthlyCosts-validation').style.display = "none"
		}
		if (isNaN(p.stakingFee) || p.stakingFee < 0 || p.stakingFee > 1) {
			document.getElementById('staking-variable-stakingFee-validation').style.display = "initial" 
		} else {
			document.getElementById('staking-variable-stakingFee-validation').style.display = "none" 
		}
		if (isNaN(p.stakingFee) || p.stakingFee < 0) {
			p.stakingFee = 0
		}
		if (p.stakingFee > 1) {
			p.stakingFee = 1
		}
		p.networkStakePercent = p.networkStake / p.totalEthSupply
		// console.log(this.params)
	}
	calculate() {
		// this calculation is only a rough estimation, it calculates the total
		// network issuance based ond total staked ether and online-propability
		// of the network.

		this.result.ethPriceChartData = []
		this.result.networkIssuanceChartData = []
		this.result.incomeChartData = []
		this.result.incomeDollarChartData = []
		this.result.incomeEthChartData = []
		this.result.costsDollarChartData = []
		this.result.costsEthChartData = []
		this.result.profitDollarChartData = []
		this.result.profitEthChartData = []
		this.result.breakEvenPoint = null
		this.result.numberOfPossibleValidators = Math.floor((this.params.stake / (32 * 1e9))).toFixed(0) || '0'

		var ethPrice = this.params.ethPrice
		var costs = this.params.initialCosts //+ this.params.stake * ethPrice / 1e9
		if(this.params.stakeWithPool) {
			costs = 0
		}

		var epochsPerDay = 3600 * 24 / this.config.secondsPerEpoch
		var epochsPerMonth = epochsPerDay * 31
		var epochsPerYear = epochsPerDay * 365

		var costsPerEpoch = this.params.monthlyCosts / epochsPerMonth

		var ethPriceChangePerEpoch = this.params.ethPriceChangePerMonth / epochsPerMonth
		var onlinePropabilty = this.params.networkOnlinePropability
		var totalStake = this.params.networkStake
		var valStake = 32e9
		var baseRewardFactor = 64
		var baseRewardsPerEpoch = 4
		var baseReward = valStake*baseRewardFactor/(baseRewardsPerEpoch*Math.sqrt(totalStake))

		var now = Date.now()
		var yourStake = this.params.stake
		var incomeGwei = this.params.stake
		var incomeDollar = incomeGwei*ethPrice/1e9
		var incomeAll = 0
		
		this.result.start = now

		// console.log('start',incomeDollar-costs,incomeDollar,costs, yourStake/valStake)
		this.fillChartData(now, incomeDollar, costs, ethPrice)
		// this.fillEarningChartData(now, incomeDollar, costs, ethPrice)

		for (var i=0; i<epochsPerYear; i++) {
			var allVal = (totalStake / valStake)|0
			var onlineVal = (allVal * onlinePropabilty)|0 
			var offlineVal = allVal - onlineVal

			var ffgRewards = 3 * baseReward * onlineVal * valStake / totalStake
			var ffgPenalties = 3 * baseReward
			var propIncentives = 1/8 * baseReward * onlineVal/32
			var attIncentives = 7/8 * baseReward * 1/1

			var totalRewards = 0
			totalRewards +=	ffgRewards * onlineVal 
			totalRewards += propIncentives * 32
			totalRewards += attIncentives * onlineVal
			totalRewards -= ffgPenalties * offlineVal
			var valRewards = totalRewards / allVal
			
			incomeAll += totalRewards
			ethPrice = ethPrice * ( 1 + ethPriceChangePerEpoch )
			if (this.params.stakeWithPool) {
				costs += (valRewards * ( yourStake / valStake ) * this.params.stakingFee) * ethPrice / 1e9
				incomeGwei += valRewards * ( yourStake / valStake ) * (1-this.params.stakingFee)
				if (this.params.reinvest)
					yourStake += valRewards * ( yourStake / valStake ) * (1-this.params.stakingFee)
			} else {
				incomeGwei += valRewards * ( yourStake / valStake )
				costs += costsPerEpoch
			}
			var day = (i+1)/epochsPerDay | 0
			if (day > this.result.incomeDollarChartData.length-1) {
				var t = now+(i+1)*12*32*1000
				this.fillChartData(t, incomeGwei*ethPrice/1e9, costs, ethPrice)
				this.result.networkIssuanceChartData.push([t,100*incomeAll/totalStake])
			}
		}
	}
	fillChartData(t, incomeDollar, costsDollar, ethPrice) {
		// t, incomeDollar / ethPrice, incomeDollar, costsDollar
		var income = incomeDollar  - this.params.stake * ethPrice/1e9
		this.result.incomeChartData.push({ x: t, y: incomeDollar / ethPrice, income: incomeDollar, cost: costsDollar })

		this.result.incomeDollarChartData.push([t, income])
		this.result.incomeEthChartData.push([t,incomeDollar / ethPrice])
		this.result.costsDollarChartData.push([t,costsDollar])
		this.result.costsEthChartData.push([t,costsDollar / ethPrice])

		this.result.profitDollarChartData.push([t, income - costsDollar])
		
		this.result.profitEthChartData.push([t, (incomeDollar - costsDollar) / ethPrice])
		// this.result.stakeFeeChartData.push([t, ])

		if (!this.result.breakEvenPoint && this.result.profitDollarChartData.length>1) {
			var pdcd = this.result.profitDollarChartData
			var prevProfit = pdcd[pdcd.length-2][1]
			var currProfit = pdcd[pdcd.length-1][1]
			if (prevProfit<0 && currProfit>=0) {
				this.result.breakEvenPoint = t
			}
		}
	}
	renderResult() {
		// document.getElementById('profit1d').innerText   = `${this.result.profitEthChartData[1][1]  .toFixed(2)} ETH (${this.result.profitDollarChartData[1][1]  .toFixed(2)} $)`
		// document.getElementById('profit7d').innerText   = `${this.result.profitEthChartData[7][1]  .toFixed(2)} ETH (${this.result.profitDollarChartData[7][1]  .toFixed(2)} $)`
		// document.getElementById('profit31d').innerText  = `${this.result.profitEthChartData[31][1] .toFixed(2)} ETH (${this.result.profitDollarChartData[31][1] .toFixed(2)} $)`
		// document.getElementById('profit365d').innerText = `${this.result.profitEthChartData[365][1].toFixed(2)} ETH (${this.result.profitDollarChartData[365][1].toFixed(2)} $)`

		// document.getElementById('networkIssuance1d').innerText   = `${this.result.networkIssuanceChartData[0][1]  .toFixed(2)} %`
		// document.getElementById('networkIssuance7d').innerText   = `${this.result.networkIssuanceChartData[6][1]  .toFixed(2)} %`
		// document.getElementById('networkIssuance31d').innerText  = `${this.result.networkIssuanceChartData[30][1] .toFixed(2)} %`
		// document.getElementById('networkIssuance365d').innerText = `${this.result.networkIssuanceChartData[364][1].toFixed(2)} %`
		// document.getElementById('staking-variable-totalStake-percentage').innerText = `${(this.params.networkStakePercent * 100).toFixed(2)} %`

		document.getElementById('stake1d').innerText = `${this.result.incomeChartData[1].y.toFixed(4)} ETH ($ ${this.result.incomeChartData[1].income.toFixed(2)})`
		document.getElementById('stake7d').innerText = `${this.result.incomeChartData[7].y.toFixed(4)} ETH ($ ${this.result.incomeChartData[7].income.toFixed(2)})`
		document.getElementById('stake31d').innerText = `${this.result.incomeChartData[31].y.toFixed(4)} ETH ($ ${this.result.incomeChartData[31].income.toFixed(2)})`
		document.getElementById('stake365d').innerText = `${this.result.incomeChartData[365].y.toFixed(4)} ETH ($ ${this.result.incomeChartData[365].income.toFixed(2)})`
		
		document.getElementById('return1d').innerText = `$ ${this.result.profitDollarChartData[1][1].toFixed(2)}`
		document.getElementById('return7d').innerText = `$ ${this.result.profitDollarChartData[7][1].toFixed(2)}`
		document.getElementById('return31d').innerText = `$ ${this.result.profitDollarChartData[31][1].toFixed(2)}`
		document.getElementById('return365d').innerText = `$ ${this.result.profitDollarChartData[365][1].toFixed(2)}`

		

		document.getElementById('roi1d').innerText = `${(this.result.profitDollarChartData[1][1]/(this.params.stake * this.params.ethPrice / 1e9) * 100).toFixed(2)} %`
		document.getElementById('roi7d').innerText = `${(this.result.profitDollarChartData[7][1]/(this.params.stake * this.params.ethPrice / 1e9) * 100).toFixed(2)} %`
		document.getElementById('roi31d').innerText = `${(this.result.profitDollarChartData[31][1]/(this.params.stake * this.params.ethPrice / 1e9) * 100).toFixed(2)} %`
		document.getElementById('roi365d').innerText = `${(this.result.profitDollarChartData[365][1]/(this.params.stake * this.params.ethPrice / 1e9) * 100).toFixed(2)} %`

		if (this.result.numberOfPossibleValidators === '1') {
			document.getElementById('validator-count').innerText = 	this.result.numberOfPossibleValidators + ' validator'
		} else {
			document.getElementById('validator-count').innerText = 	this.result.numberOfPossibleValidators + ' validators'
		}



		var stakeOptions = {
			title: { 
				text: "Stake Growth"
			},
			series: [],
			tooltip: {
				shared: true,
				split: false,
			},
			yAxis: [{ title: { text: 'Stake in ETH' } }],
			legend: { enabled: true },
			navigator: { enabled: false },
			rangeSelector: { enabled: false },
			scrollbar: { enabled: false },
		
		}
		if (this.params.showIncome) {
			stakeOptions.series.push({
				name: 'Stake',
				color: 'blue',
				data: this.result.incomeChartData,
				tooltip: {
					pointFormatter: function() {
						// console.log('this: ',this)
						return `<span style="color:${this.color}">●</span> ${this.series.name} ${this.y.toFixed(3)} ETH ($${this.options.income.toFixed(2)})<br>`
					}
				}
				// data: this.result.incomeDollarChartData,
				// data: this.result.networkIssuanceChartData
			})
		}
		if (this.params.showCosts && !this.params.stakeWithPool) {
			// stakeOptions.series.push({
			// 		name: 'Costs',
			
			// 		data: this.result.costsEthChartData,
			// 		color: 'orange',
			// 		tooltip: {
			// 			pointFormatter: function() {
							
			// 			}
			// 		}
			// 	})
		
		}
		
 		if (this.result.breakEvenPoint) {
			// console.log('add annotation', this.result.breakEvenPoint)
			var durMs = this.result.breakEvenPoint - this.result.start
			var durDays = durMs/1000/3600/24|0
			var annotations = [{
				id: 'breakEvenPoint',
				labels: [{
					point:{x:this.result.breakEvenPoint,y:0,"xAxis":0,"yAxis":0},
					text:"Break-even-point after "+durDays+" days",
				}],
				labelOptions: {
					shape: 'connector',
					borderColor: 'var(--font-color)',
					style: { 
						color: 'var(--font-color)'
					},
				},
			}]
			stakeOptions.annotations = annotations
		}
		var chartStake = Highcharts.stockChart('stakeChart', stakeOptions)
		
		var breakOptions = {
			title: {
				text: "Earnings Analysis"
			},
			series: [],
			yAxis: [{ title: { text: 'Profit in $' } }],
			legend: { enabled: true },
			navigator: { enabled: false },
			rangeSelector: { enabled: false },
			scrollbar: { enabled: false },
			tooltip: {
				shared: true,
				split: false,
				pointFormatter: function() {
					return `<span style="color:${this.color}">●</span> ${this.series.name}: <b>$${this.options.y.toFixed(2)}</b><br/>`
				}
			}
		}

		breakOptions.series.push({
				name: 'Income',
				data: this.result.incomeDollarChartData,
				color: 'blue'
		})
		if (this.params.showCosts && !this.params.stakeWithPool) {
			breakOptions.series.push({
					name: 'Cost',
					data: this.result.costsDollarChartData,
					color: 'orange'
			})
			breakOptions.series.push({
					name: 'Net Return',
					data: this.result.profitDollarChartData,
					color: 'green'
			})
		} else if( this.params.stakeWithPool ) {
			breakOptions.series.push({
					name: 'Staking Fee',
					data: this.result.costsDollarChartData,
					color: 'orange'
			})
		}

			var chartBreakEven = Highcharts.stockChart('breakEvenChart', breakOptions)
	}
}

var c = new Calculator()

</script>
{{ end }}

{{ define "css" }}
<style>
td,th {
	vertical-align: middle;
}
.currency-switch {
	cursor: pointer
}
.currency-switch:hover {
	color: var(--primary)
}

.accordion .card-header {
	cursor: pointer;
}

.accordion .fas {
		transform: rotate(0deg);
		transition: transform .2s linear;
}
.accordion div[aria-expanded='true'] .fas {
    transform: rotate(-180deg);
}
.stake {

}
.variables {

}
.input-validation {
	display: none;
	font-size: 0.9rem;
	color: var(--warning, orange);
}
.setting {
	margin: 1rem 0;
}
.settings .setting:first-child {
	margin-top: 0;
}
.settings .setting:last-child {
	margin-bottom: 0;
}
</style>
{{ end }}

{{ define "content" }}
<div class="my-3">
	<div class="d-md-flex py-2 justify-content-md-between">
		<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-calculator mr-1"></i> Staking Calculator</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
				<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Staking Calculator</li>
			</ol>
		</nav>
	</div>
</div>



<div class="row my-3">
	<div class="col-md-5 py-3 variables">
		<div class="stake">
				<h5 class="mb-0">Your Ethereum Stake (<span id="yourStake-currency">ETH</span> <i class="fas fa-random fa-sm currency-switch" data-for="yourStake"></i>) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="This value represents the amount of ETH you want to use for stacking. If you are not staking on a pool it must be a multiple of 32, since validators can only join the network with a minimum of 32 ETH."></i></h5>
				<div class="justify-content-between d-flex p-3 pb-0 align-content-center">
						<input id="staking-variable-yourStake" class="staking-variable form-control col-6" type="text" value=32>
					<h5 class="mb-0 mt-1" id="validator-count col-6"><span id="validator-count">0</span> <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="The total number of validators that can be added to the network with your stake. A minimum of 32 ethereum is needed for a validator to participate in the network. Ignore this value when you are staking over a pool."></i></h5>
				</div>
				<div class="p-3 pt-0">
					<span id="staking-variable-yourStake-validation" class="input-validation">Your ethereum stake must be greater than 0</span>
				</div>
		</div>
		<div class="accordion" id="calculator-accordion">
			<div class="card" >
				<div class="card-header" role="button" id="economic-heading" data-toggle="collapse" data-target="#economic-parameters" aria-expanded="false" aria-controls="economic-parameters">
						Economic Parameters <i class="fas fa-caret-down float-right"></i>
				</div>
			</div>
			<div id="economic-parameters" class="collapse" aria-labelledby="network-heading" data-target="#economic-heading">
				<div class="p-3 settings">
					<div class="setting">
						<h6>ETH price in $</h6>
						<input id="staking-variable-ethPrice" class="staking-variable form-control" type="text" value=134.05>
						<span  id="staking-variable-ethPrice-validation"class="input-validation">Ethereum price must be greater than 0</span>
					</div>
					<div class="setting">
						<h6>Monthly price change in %</h6>
						<input id="staking-variable-ethPriceChangePerMonth" class="staking-variable form-control" type="text" value=0>
						<span  id="staking-variable-ethPriceChangePerMonth-validation" class="input-validation">Ethereum price change must be a percentage greater than 0</span>
					</div>
					<div class="setting">
						<h6>Initial one-time-costs (<span id="initialCosts-currency">$</span> <i class="fas fa-random fa-sm currency-switch" data-for="initialCosts"></i>)</h6>
						<input id="staking-variable-initialCosts" class="staking-variable form-control noPool" type="text" value=0>
						<span id="staking-variable-initialCosts-validation" class="input-validation">Initial costs must be greater or equal to 0</span>
					</div>
					<div class="setting">
						<h6>Monthly costs (<span id="monthlyCosts-currency">$</span> <i class="fas fa-random fa-sm currency-switch" data-for="monthlyCosts"></i>)</h6>
						<input id="staking-variable-monthlyCosts" class="staking-variable form-control noPool" type="text" value=0>
						<span id="staking-variable-monthlyCosts-validation" class="input-validation">Monthly costs must be greater or equal to 0</span>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="button" id="pool-heading" data-toggle="collapse" data-target="#pool-parameters" aria-expanded="false" aria-controls="pool-parameters">
					Staking Pool Parameters <i class="fas fa-caret-down float-right"></i>
				</div>
			</div>
			<div id="pool-parameters"  class="collapse" aria-labelledby="pool-heading" data-target="#pool-heading">
				<div class="p-3 settings">
					<div class="setting mb-2">
						<h6>Stake funds with a pool <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Tick this option if you do not plan on running your own validator."></i></h6>
							<input id="staking-variable-pool" class="staking-variable form-check-input pool" type="checkbox">
							<!-- <span id="staking-variable-reinvest-validation" class="input-validation"></span> -->
					</div>
					<div class="setting">
						<h6>Staking fee (%) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="If you are staking on a pool enter the fee of the pool here. If you are not staking on a pool, just set it to 0."></i></h6>
						<input id="staking-variable-stakingFee" class="staking-variable form-control pool" type="text" value=0>
						<span id="staking-variable-stakingFee-validation" class="input-validation">Staking fee must be between 0 and 100</span>
					</div>
					<div class="setting mb-2">
						<h6>Reinvest gains <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Setting this field will add your staking-income to your initial stake after each epoch. This will only work if you are staking on a pool."></i></h6>
							<input id="staking-variable-reinvest" class="staking-variable form-check-input pool" type="checkbox">
							<!-- <span id="staking-variable-reinvest-validation" class="input-validation"></span> -->
					</div>
				</div>
			</div>
			<div class="card" >
				<div class="card-header" role="button" id="network-heading" data-toggle="collapse" data-target="#network-parameters" aria-expanded="false" aria-controls="network-parameters">
						Network Parameters <i class="fas fa-caret-down float-right"></i>
				</div>
			</div>
			<div id="network-parameters" class="collapse" aria-labelledby="network-heading" data-target="#network-heading">
				<div class="p-3 settings">
					<div class="setting">
						<div class="d-flex justify-content-between">
							<h6 width="50%">Total staked ether (<span id="totalStake-currency">ETH</span> <i class="fas fa-random fa-sm currency-switch" data-for="totalStake"></i>) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Total staked ether is the sum of effective balances of all active validators attesting in the network."></i></h6>
							<span  id="staking-variable-totalStake-percentage"></span>
						</div>
						<input id="staking-variable-totalStake" class="staking-variable form-control" type="text" value=1100000>
						<input id="staking-variable-totalStake-slider" class="form-control" type="range" value=1100000 min=524384 max=100e6>
						<span id="staking-variable-totalStake-validation" class="input-validation">Total stake must be greater or equal to 524384 (minimum stake required)</span>
					</div>
					<!-- <div class="setting">
						<h6>Total stake monthly change in %</h6>
						<input id="staking-variable-totalStakePriceChange" class="staking-variable form-control" type="text" value=0>
						<span  id="staking-variable-totalStakePriceChange-validation" class="input-validation">Total stake change must be a percentage greater than 0</span>
					</div> -->
					<div class="setting">
						<h6>Online propability (%) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Online propability is the average propability of all active validators to be online and to fulfill their duties."></i></h6>
							<input id="staking-variable-onlinePropabilty" class="staking-variable form-control" type="text" value=90>
							<input id="staking-variable-onlinePropabilty-slider" class="form-control" type="range" value=90 min=1 max=100>
							<span id="staking-variable-onlinePropabilty-validation" class="input-validation">Online probability must be a precentage between 1 and 100</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<h5 class="my-3">Estimated Rewards</h5>
		<div id="stakeChart" class="card my-3"></div>
		<div id="breakEvenChart" class="card my-3"></div>
		<div class="card my-3">
			<table class="table p-0">
				<tbody>
					<tr>
						<th>Duration</th>
						<th>Ethereum Stake</th>
						<th>Return</th>
						<th>ROI in %</th>
					</tr>
					<tr>
						<th>1 day</th>
						<td id="stake1d"></td>
						<td id="return1d"></td>
						<td id="roi1d"></td>
					</tr>
					<tr>
						<th>7 days</th>
						<td id="stake7d"></td>
						<td id="return7d"></td>
						<td id="roi7d"></td>
					</tr>
					<tr>
						<th>31 days</th>
						<td id="stake31d"></td>
						<td id="return31d"></td>
						<td id="roi31d"></td>
					</tr>
					<tr>
						<th>365 days</th>
						<td id="stake365d"></td>
						<td id="return365d"></td>
						<td id="roi365d"></td>
					</tr>
				</tbody>
				<div id="breakEvenPointHolder" style="display:none">
					The break-even-point is reached after <span id="breakEvenPoint">10</span> days
				</div>
			</table>
		</div>
	</div>
</div>


<!-- <div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="row">
				<div class="col-md-6">
					<div style="padding:10px; padding-bottom:0;">
						<h4>Network parameters</h4>
						<table class="table table-sm">
							<tbody>
								<tr>
									<th width="50%">Total staked ether (<span id="totalStake-currency">ETH</span> <i class="fas fa-random fa-sm currency-switch" data-for="totalStake"></i>) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Total staked ether is the sum of effective balances of all active validators attesting in the network."></i></th>
									<td>
										<input id="staking-variable-totalStake" class="staking-variable form-control" type="text" value=524384>
										<input id="staking-variable-totalStake-slider" class="form-control" type="range" value=524384 min=524384 max=100e6>
									</td>
								</tr>
								<tr>
									<th>Online propability (%) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Online propability is the average propability of all active validators to be online and to fulfill their duties."></i></th>
									<td>
										<input id="staking-variable-onlinePropabilty" class="staking-variable form-control" type="text" value=95>
										<input id="staking-variable-onlinePropabilty-slider" class="form-control" type="range" value=95 min=0 max=100>
									</td>
								</tr>
								<tr>
									<th>ETH price ($)</th>
									<td><input id="staking-variable-ethPrice" class="staking-variable form-control" type="text" value=134.05></td>
								</tr>
								<tr>
									<th>Monthly change of ETH price (%)</th>
									<td><input id="staking-variable-ethPriceChangePerMonth" class="staking-variable form-control" type="text" value=0></td>
								</tr>
							</tbody>
						</table>
						<h4>Your staking parameters</h4>
						<table class="table">
							<tbody>
								<tr class="staking-variable-holder">
									<th width="50%">Your staking (<span id="yourStake-currency">ETH</span> <i class="fas fa-random fa-sm currency-switch" data-for="yourStake"></i>) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="This value represents the amount of ETH you want to use for stacking. If you are not staking on a pool it must be a multiple of 32, since validators can only join the network with a minimum of 32 ETH."></i></th>
									<td><input id="staking-variable-yourStake" class="staking-variable form-control" type="text" value=32></td>
								</tr>

								<tr class="staking-variable-holder pool">
									<th>Staking fee (%) <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="If you are staking on a pool enter the fee of the pool here. If you are not staking on a pool, just set it to 0."></i></th>
									<td><input id="staking-variable-stakingFee" class="staking-variable form-control pool" type="text" value=0></td>
								</tr>
								<tr class="staking-variable-holder noPool">
									<th>Initial one-time-costs (<span id="initialCosts-currency">$</span> <i class="fas fa-random fa-sm currency-switch" data-for="initialCosts"></i>)</th>
									<td><input id="staking-variable-initialCosts" class="staking-variable form-control noPool" type="text" value=0></td>
								</tr>
								<tr class="staking-variable-holder noPool">
									<th>Monthly costs (<span id="monthlyCosts-currency">$</span> <i class="fas fa-random fa-sm currency-switch" data-for="monthlyCosts"></i>)</th>
									<td><input id="staking-variable-monthlyCosts" class="staking-variable form-control noPool" type="text" value=10></td>
								</tr>
								<tr class="staking-variable-holder pool">
									<th>Reinvest gains <i class="fas fa-info-circle fa-sm" data-toggle="tooltip" title="Setting this field will add your staking-income to your initial stake after each epoch. This will only work if you are staking on a pool."></i></th>
									<td>
										<input id="staking-variable-reinvest" class="staking-variable form-check-input pool" type="checkbox">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> -->
				<!-- <div class="col-md-6">
					<div style="padding:10px;padding-bottom:0;">
						<h4>Estimated Rewards</h4>
						<table class="table">
							<tbody>
								<tr>
									<th>Duration</th>
									<th>Your Profit</th>
									<th>Staking Issuance</th>
								</tr>
								<tr>
									<th>1 day</th>
									<td id="profit1d"></td>
									<td id="networkIssuance1d"></td>
								</tr>
								<tr>
									<th>7 days</th>
									<td id="profit7d"></td>
									<td id="networkIssuance7d"></td>
								</tr>
								<tr>
									<th>31 days</th>
									<td id="profit31d"></td>
									<td id="networkIssuance31d"></td>
								</tr>
								<tr>
									<th>365 days</th>
									<td id="profit365d"></td>
									<td id="networkIssuance365d"></td>
								</tr>
							</tbody>
						</table>
						<div id="breakEvenPointHolder" style="display:none">
							The break-even-point is reached after <span id="breakEvenPoint">10</span> days
						</div>
						<div id="theoreticalBalanceChart"></div>
					</div>
				</div> -->
				<!--
				<div class="col-md-6">
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated daily income:</h3>
						<h1 id="incomePerDay">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated weekly income:</h3>
						<h1 id="incomePerWeek">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated monthly income:</h3>
						<h1 id="incomePerMonth">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Income Rate (% per year):</h3>
						<h1 id="issuanceRate">-</h1>
					</div>
				</div>
				-->
				<!--
				<div class="col-md-12">
					<div id="theoreticalBalanceChart"></div>
				</div>
				-->
				<!-- <div class="col-md-6">
					<div id="issuanceOverStakedChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverOnlineChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverETHPriceChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverDailyCostsChart"></div>
				</div> -->
			</div>
		</div>
	</div>
</div>
{{ end }}
