{{ define "js"}}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="/js/highcharts-global-options.js"></script>
<script>
{{range $i, $e := .}}
    {{if .Data.IsNormalChart}}
        /**/
        Highcharts.chart('chart-{{$i}}',{
            chart: { type: {{.Data.Type}} },
            rangeSelector: {  enabled: false },
            title: { 
                useHTML: true,
                text: '<a href="charts/{{.Path}}">{{.Data.Title}}</a>',
            },
            subtitle: {
                text: {{.Data.Subtitle}}
            },
            plotOptions: { column: { stacking: {{.Data.StackingMode}} } },
            xAxis: { 
                // type: 'logarithmic',
                // labels: { enabled: false}
                labels: {
                    {{ if .Data.XAxisLabelsFormatter }}formatter: {{.Data.XAxisLabelsFormatter}},{{end}}
                }
            },
            yAxis: [{ 
                type: 'logarithmic',
                title: { text: {{.Data.YAxisTitle}} },
                opposite: false
            }],
            legend: {enabled:false},
            series: {{.Data.Series}},
            navigator: { enabled: false },
            scrollbar: { enabled: false }
        })
        /** /
        {
            var series = {{.Data.Series}}
            var xAxisCategories = []
            series.forEach(s => {
                var d = []
                series[0].data.forEach(data => {
                    xAxisCategories.push((data[0]).toFixed(4))
                    d.push(data[1])
                })
                series[0].data = d
            })
            Highcharts.chart('chart-{{$i}}',{
                chart: { type: {{.Data.Type}} },
                rangeSelector: {  enabled: false },
                title: { text: {{.Data.Title}} },
                subtitle: { text: {{.Data.Subtitle}} },
                plotOptions: { 
                    column: { 
                    //     stacking: {{.Data.StackingMode}},
                         pointPadding: 0,
                         groupPadding: 0,
                         borderWidth: 1,
                        shadow: false
                    } 
                },
                xAxis: {
                    type: 'category',
                    categories: xAxisCategories,
                    labels: {
                        {{ if .Data.XAxisLabelsFormatter }}formatter: {{.Data.XAxisLabelsFormatter}},{{end}}
                    }
                },
                yAxis: [{ 
                    title: { text: {{.Data.YAxisTitle}} },
                    opposite: false,
                    type: 'logarithmic',
                }],
                series: series,
                navigator: { enabled: false },
                scrollbar: { enabled: false },
                legend: {enabled:false},
            })
        }
        /**/
    {{else}}
        Highcharts.stockChart('chart-{{$i}}',{
            chart: { type: {{.Data.Type}} },
            rangeSelector: {  enabled: false },
            title: { 
                useHTML: true,
                text: '<a href="charts/{{.Path}}">{{.Data.Title}}</a>',
            },
            subtitle: { text: {{.Data.Subtitle}} },
            plotOptions: { 
                column: { 
                    stacking: {{.Data.StackingMode}},
                    dataGrouping: {
                        {{ if .Data.ColumnDataGroupingApproximation }}approximation: {{.Data.ColumnDataGroupingApproximation}},{{end}}
                    },
                } 
            },
            yAxis: [{ 
                title: { text: {{.Data.YAxisTitle}} },
                opposite: false
            }],
            series: {{.Data.Series}},
            navigator: { enabled: false },
            scrollbar: { enabled: false }
        })
    {{end}}
{{end}}
</script>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
    <div class="mb-3">
        <div class="d-md-flex py-2 justify-content-md-between">
            <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-chart-bar"></i> Charts from the Ethereum 2.0 Network</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
                    <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Charts</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{range $i, $e := .}}
                    <div class="col-md-6 mt-3">
                        <div class="card ml-6 mt-6">
                            <div id="chart-{{$i}}"></div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
