{{ define "js"}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="/js/highcharts-global-options.js"></script>
<script src="/js/dashboard.js"></script>
{{end}} {{ define "css"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
{{end}} {{ define "content"}}
<h1 class="mt-4 text-center">Validator Dashboard</h1>

<h5 class="text-center" id="dashboard-info"></h5>

<div>
  <div>
    <div class="multiselect-container" class="row border-bottom p-3">
      <span class="multiselect-border">
        <ul id="selected-validators" class="multiselect">
          <li class="input"><input class="typeahead-dashboard" placeholder="Add Validator" aria-label="Search"/></li>
        </ul>
      </span>
    </div>
    <div id="stats">
      <div class="stats-box" id="stats-validators-status">
        <div class="stats-box-header">Validators pending / active / ejected / offline</div>
        <div class="stats-box-body"></div>
      </div>
      <div class="stats-box" id="stats-earnings">
        <div class="stats-box-header">Earnings</div>
        <div class="stats-box-body"></div>
      </div>
      <!-- -- >
      <div class="stats-box" id="stats-earnings-total">
        <div class="stats-box-header">Total Earnings</div>
        <div class="stats-box-body"></div>
      </div>
      <div class="stats-box" id="stats-earnings-lastDay">
        <div class="stats-box-header">Earnings last day</div>
        <div class="stats-box-body"></div>
      </div>
      <div class="stats-box" id="stats-earnings-lastWeek">
        <div class="stats-box-header">Earnings last week</div>
        <div class="stats-box-body"></div>
      </div>
      <div class="stats-box" id="stats-earnings-lastMonth">
        <div class="stats-box-header">Earnings last month</div>
        <div class="stats-box-body"></div>
      </div>
      <!-- -->
    </div>
    <div id="chart-holder">
      <div class="row border-bottom p-3">
        <div class="col-md-12">
          <div id="balance-chart" height="200px"></div>
        </div>
      </div>
      <div class="row border-bottom p-3">
        <div class="col-md-12">
          <div id="proposed-chart" height="200px"></div>
        </div>
      </div>
    </div>
    <div id="validators-table-holder">
      <!--<h4 class="mt-5">Validators</h4>-->
      <div class="table-responsive col-sm-12 mb-3 pt-1">
        <table class="table table-sm" id="validators" width="100%">
          <thead>
            <tr>
              <th>Public Key</th>
              <th>Index</th>
              <th>Balance</th>
              <th>State</th>
              <th>Activation</th>
              <th>Exit</th>
              <th>Withdrawable</th>
              <th>Last Attestation</th>
              <th>Proposals</th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
