{{ define "js"}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="/js/dashboard.js"></script>

<script>
  $('.multiselect-border input').on('focus', function(event) {
    $('.multiselect-border').addClass('focused')
  })

  $('.multiselect-border input').on('blur', function(event) {
    $('.multiselect-border').removeClass('focused')
  })
</script>

{{end}} {{ define "css"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
{{end}} {{ define "content"}}
<h1 class="mt-4 text-center">Validator Dashboard</h1>

<h5 class="text-center" id="dashboard-info"></h5>

<div>
  <div>
    <div class="multiselect-container" class="row border-bottom p-3">
      <span class="multiselect-border">
        <ul id="selected-validators" class="multiselect">
          <li class="input"><input class="typeahead-dashboard" placeholder="Add Validator" aria-label="Search"/></li>
        </ul>
      </span>
    </div>
    <div id="chart-holder">
      <div class="row border-bottom p-3">
        <div class="col-md-12">
          <div id="balance-chart" height="200px"></div>
        </div>
      </div>
      <div class="row border-bottom p-3">
        <div class="col-md-12">
          <div id="proposed-chart" height="200px"></div>
        </div>
      </div>
    </div>
    <div id="pending-validators-table-holder">
      <h4 class="mt-5">Pending activation</h4>
      <div class="table-responsive col-sm-12">
        <table class="table table-sm" id="pending">
          <thead>
            <tr>
              <th>Public Key</th>
              <th>Index</th>
              <th>Current Balance</th>
              <th>Effective Balance</th>
              <th>Slashed</th>
              <th>Activation Eligibility Epoch</th>
              <th>Activation Epoch</th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
      </div>
    </div>
    <div id="active-validators-table-holder">
      <h4 class="mt-5">Active</h4>
      <div class="table-responsive col-sm-12">
        <table class="table table-sm" id="active">
          <thead>
            <tr>
              <th>Public Key</th>
              <th>Index</th>
              <th>Current Balance</th>
              <th>Effective Balance</th>
              <th>Slashed</th>
              <th>Activation Eligibility Epoch</th>
              <th>Activation Epoch</th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
      </div>
    </div>
    <div id="ejected-validators-table-holder">
      <h4 class="mt-5">Ejected</h4>
      <div class="table-responsive col-sm-12">
        <table class="table table-sm" id="ejected">
          <thead>
            <tr>
              <th>Public Key</th>
              <th>Index</th>
              <th>Current Balance</th>
              <th>Effective Balance</th>
              <th>Slashed</th>
              <th>Activation Eligibility Epoch</th>
              <th>Activation Epoch</th>
              <th>Exit Epoch</th>
              <th>Withdrawable Epoch</th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
