{{ define "js"}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#pending').DataTable({
      processing: true,
      serverSide: true,
      ordering: false,
      searching: false,
      ajax: '/dashboard/data/pending'+window.location.search,
      pagingType: 'full',
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        }
      ]
    })
    $('#active').DataTable({
      processing: true,
      serverSide: true,
      ordering: false,
      searching: true,
      ajax: '/dashboard/data/active'+window.location.search,
      pagingType: 'full',
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        }
      ]
    })
    $('#ejected').DataTable({
      processing: true,
      serverSide: true,
      ordering: false,
      searching: true,
      ajax: '/dashboard/data/ejected'+window.location.search,
      pagingType: 'full',
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        }
      ]
    })

    var validators = getValidators()

    var bhValidators = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        identify: function(obj) {
            return obj.index;
        },
        remote: {
            url: '/search/validators/%QUERY',
            wildcard: '%QUERY',
        }
    })
    
    $('.typeahead-dashboard').typeahead({
        minLength: 1,
        highlight: true,
        hint: false,
        autoselect: false,
    }, {
        limit: 5,
        name: 'validators',
        source: bhValidators,
        display: 'pubkey',
        templates: {
            // header: '<h3>Validators</h3>',
            suggestion: function(data) {
                return `<div>${data.index}: ${data.pubkey.substring(0,16)}…</div>`;
            }
        }
    })
    $('.typeahead-dashboard').on('focus', function(event) {
        if (event.target.value !== '') {
            $(this).trigger($.Event('keydown', {
                keyCode: 40
            }));
        }
    })
    
    $('.typeahead-dashboard').on('input', function() {
        $('.tt-suggestion').first().addClass('tt-cursor');
    })
    
    $('.typeahead-dashboard').on('typeahead:select', function(ev, sug) {
        addValidator(sug.index)
    })

    function getValidators() {
        var usp = new URLSearchParams(window.location.search)
        var validatorsStr = usp.get('validators')
        var validators = validatorsStr.split(',')
        return validators
    }

    function addValidator(index) {
        console.log("add validator", index)
        for (var i=0;i<validators.length;i++) {
            if (validators[i]===index) return
        }
        validators.push(index)
        validators.sort()
        window.location.search = '?validators='+validators.join(',')
    }

    function removeValidator(index) {

    }

    function getQueryStringValue (key) {  
        return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
    } 
  })
</script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

<script>
  var data = {{.DailyProposalCount}}
  var proposed = data.map(d => [d.Day * 1000, d.Proposed])
  var missed = data.map(d => [d.Day * 1000, d.Missed])
  Highcharts.stockChart('proposedChart', {
      exporting: {
          scale: 1
      },
      credits: {
          enabled: false
      },
      title: {
          text: 'Proposal History for all Validators'
      },
      subtitle: {
          text: 'Source: beaconcha.in',
          style: {
              color: 'black'
          }
      },
      chart: {
          type: 'column',
          animation: false,
          style: {
              fontFamily: 'Helvetica Neue", Helvetica, Arial, sans-serif'
          },
          backgroundColor: 'rgb(255, 255, 255)'
      },
      xAxis: {
          lineWidth: 0,
          tickColor: '#e5e1e1',
          labels: {
              style: {
                  color: '#26232780'
              }
          },
          range: 7 * 24 * 3600 * 1000
      },
      yAxis: [
          {
              title: {
                  text: '# of Possible Proposals',
                  style: {
                      color: '#26232780',
                      'font-size': '0.8rem'
                  }
              },
              labels: {
                  style: {
                      color: '#26232780'
                  }
              },
              gridLineColor: '#e5e1e1',
              opposite: false
          }
      ],
      plotOptions: {
          column: {
              stacking: 'normal',
              dataGrouping: {
                  enabled: true,
                  forced: true,
                  units: [
                      ['day', [1]]
                  ]
              }
          }
      },
      legend: {
          enabled: true,
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom',
          borderWidth: 0,
          itemStyle: {
              color: '#262327',
              'font-size': '0.8rem',
              'font-weight': 'lighter'
          },
          itemHoverStyle: {
              color: '#ff8723'
          }
      },
      series: [
          {
              name: 'Proposed',
              data: proposed
          },
          {
              name: 'Missed',
              data: missed
          }
      ],
      rangeSelector: {
          enabled: false
      },
      navigator: {
          maskFill: '#1473e631',
          outlineColor: '#e5e1e1',
          handles: {
              backgroundColor: '#f5f3f3',
              borderColor: '#26232780'
          },
          xAxis: {
              gridLineColor: '#e5e1e1',
              labels: {
                  style: {
                      color: '#26232780'
                  }
              }
          }
      },
      scrollbar: {
          barBackgroundColor: '#ebe7e7',
          barBorderWidth: 0,
          buttonArrowColor: '#262327',
          rifleColor: '#262327',
          buttonBackgroundColor: '#ebe7e7',
          buttonBorderColor: '#ebe7e7',
          trackBackgroundColor: '#f5f3f3',
          trackBorderColor: '#e5e1e180'
      },
      colors: ['#378ef0a0', '#fb8c13'],
      responsive: {
          rules: [
              {
                  condition: {
                      maxWidth: 760
                  },
                  chartOptions: {
                      chart: {
                          marginRight: 45
                      },
                      yAxis: [
                          {
                              title: {
                                  text: null
                              }
                          },
                          {
                              title: {
                                  text: null
                              }
                          }
                      ]
                  }
              }
          ]
      }
  })
</script>
{{end}} {{ define "css"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{{end}} {{ define "content"}}
<h1 class="mt-4 text-center">Manage Your Validators</h1>
<h5 class="text-center">Found {{.PendingCount}} pending, {{.ActiveCount}} active and {{.EjectedCount}} ejected validators</h5>

<ul class="nav nav-pills" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" aria-selected="true" role="tab" aria-controls="pills-overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-validators-tab" data-toggle="pill" href="#pills-validators" aria-selected="false" role="tab" aria-controls="pills-validators">Validators</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-overview" role="tabpanel"> Overview </div>
  <div class="tab-pane fade" id="pills-validators" role="tabpanel">
    <form class="form-inline ml-auto">
        <input class="form-control mr-2 typeahead-dashboard" name="add-validator" type="search"
               placeholder="Add Validator" aria-label="Search">
        <button class="btn btn-primary add-validator-to-dashboard"><span class="fas fa-plus"></span></button>
    </form>
    {{if gt .PendingCount 0}}
    <h4 class="mt-5">Pending activation</h4>
    <div class="table-responsive col-sm-12">
      <table class="table table-sm" id="pending">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Activation Eligibility Epoch</th>
            <th>Activation Epoch</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    {{end}} {{if gt .ActiveCount 0}}
    <h4 class="mt-5">Active</h4>
    <div class="table-responsive col-sm-12">
      <table class="table table-sm" id="active">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Activation Eligibility Epoch</th>
            <th>Activation Epoch</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    {{end}} {{if gt .EjectedCount 0}}
    <h4 class="mt-5">Ejected</h4>
    <div class="table-responsive col-sm-12">
      <table class="table table-sm" id="ejected">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Activation Eligibility Epoch</th>
            <th>Activation Epoch</th>
            <th>Exit Epoch</th>
            <th>Withdrawable Epoch</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    {{end}}
    <div class="row border-bottom p-3">
      <div class="col-md-12">
        <div id="proposedChart" height="200px"></div>
      </div>
    </div>
  </div>
</div>
{{end}}
