{{ define "js" }}
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 my-3 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-search mr-2 position-relative"></i>Ens Search for: {{ formatAddressLong .Data.Search }}</h1>
    </div>
    <div class="card mt-3">
      {{ if gt (len .Data.Error) 0 }}
        <div class="alert-danger p-3">{{ .Data.Error }}</div>
      {{ else }}
        <div class="row border-bottom p-3 mx-0">
          <div class="col-md-3">Ens name:</div>
          <div class="col-md-9">{{ .Data.Result.Domain }}</div>
        </div>
        <div class="row border-bottom p-3 mx-0">
          <div class="col-md-3">Address:</div>
          <div class="col-md-9"><a href="/address/{{ .Data.Result.Address }}">{{ formatAddressLong .Data.Result.Address }}</a> <i class="fa fa-copy text-muted p-1" role="button" data-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Data.Result.Address }}"></i></div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
