{{ define "js" }}
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <div class="container">
      <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
      <div class="page-title">
        <h4 class="h4"><i class="fas fa-history mr-2"></i>Epoch not found</h4>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-1">Sorry but we could not find the epoch you are looking for</div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
