{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable_input.js"></script>
  <script>
    $(document).ready(function () {
      $("#epochs").DataTable({
        processing: true,
        serverSide: true,
        ordering: false,
        searching: true,
        deferLoading: {{.RecordsTotal}},
        ajax: "/epochs/data",
        pagingType: "input",
        stateSave: true,
        stateSaveCallback: function (settings, data) {

          data.search.search = ""
          data.order = []
          data.start = 0
          data.columns = []
          data.key = `${settings.sTableId}`
          fetch('/tables/state', {
            method: "POST",
            body: JSON.stringify(data),
          })
          .then(res => res.json())
          .then(({ status, data }) => {
            if (status !== "OK") {
              console.error("error updating table state, err:", data, "status: ", status)
            }
          }).catch(err => {
            console.error("error updating table state, err: ", err)
          })
        },
        stateDuration: true,
        pageLength: {{.PageLength}},
        displayStart: {{.DisplayStart}},
        language: {
          searchPlaceholder: "Search by Epoch Number",
          search: "",
          paginate: {
            previous: '<i class="fas fa-chevron-left"></i>',
            next: '<i class="fas fa-chevron-right"></i>',
          },
        },
        preDrawCallback: function () {
          // this does not always work.. not sure how to solve the staying tooltip
          try {
            $("#epochs").find('[data-toggle="tooltip"]').tooltip("dispose")
          } catch (e) {
            console.error(e)
          }
          document.getElementById('header-placeholder').style.display = 'none'
          document.getElementById('footer-placeholder').style.display = 'none'

        },
        drawCallback: function (settings) {
          formatTimestamps()
        },
      })
      // $("div.toolbar").html("<b>Custom tool bar! Text/images etc.</b>")
    })
  </script>
{{ end }}
{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
{{ end }}
{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2">
      <div class="d-md-flex py-2 justify-content-md-between">
        <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-history mr-2"></i>Epochs</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Epochs</li>
          </ol>
        </nav>
      </div>
      <div class="card mt-2">
        <div id="header-placeholder" style="height:45px;"></div>
        <div class="card-body px-0 py-3">
          <div class="table-responsive px-0 py-1">
            <table class="table" id="epochs">
              <thead>
                <tr>
                  <th>Epoch</th>
                  <th style="min-width: 125px">Time</th>
                  <th>Attestations</th>
                  <th>
                    <span data-toggle="tooltip" data-placement="top" title="Deposits">D<span class="d-none d-xl-inline">eposits</span> <i class="d-xl-none far fa-arrow-alt-circle-down"></i></span> / <span data-toggle="tooltip" data-placement="top" title="Withdrawals">W<span class="d-none d-lg-inline">ithdrawals</span> <i class="d-lg-none far fa-arrow-alt-circle-up"></i></span>
                  </th>
                  <th>Slashings <span data-toggle="tooltip" data-placement="top" title="Proposers">P</span> / <span data-toggle="tooltip" data-placement="top" title="Attesters">A</span></th>
                  <th>Finalized</th>
                  <th>Eligible</th>
                  <th>Voted</th>
                </tr>
              </thead>
              <tbody>
                {{ range $i, $row := .Data }}
                  <tr>
                    {{ range $j, $col := $row }}
                      <td>{{ $col }}</td>
                    {{ end }}
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
        <div id="footer-placeholder" style="height:71px;"></div>
      </div>
      <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
    </div>
  {{ end }}
{{ end }}
