{{ define "js" }}
{{ end }}

{{ define "css" }}
  <style></style>
{{ end }}

{{ define "content" }}
  <div class="container mt-2">
    <div class="my-3">
      <div class="d-md-flex py-2 justify-content-md-between">
        <h1 class="h4 mb-1 mb-md-0">
          <span class="ml-1 mr-1"><i class="fas fa-credit-card mr-2"></i>Transaction Details</span>
        </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-size-1 mb-0" style="padding: 0; background-color: transparent;">
            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tx Details</li>
          </ol>
        </nav>
      </div>
    </div>
    <div id="r-banner" info="{{ .Meta.Templates }}"></div>
    {{ with .Data }}
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs border-bottom-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link show active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true"><i class="fas fa-info-circle"></i><span class="tab-text" style="margin-left: 6px;">Overview</span></a>
            </li>
            {{ if gt (len .InternalTxns) 0 }}
              <li class="nav-item">
                <a class="nav-link" id="internal-txns-tab" data-toggle="tab" href="#internal-txns" role="tab" aria-controls="internal-txns" aria-selected="false">
                  <i class="fas fa-sitemap"></i><span class="tab-text" style="margin-left: 6px;">Internal Transactions <span class="badge badge-dark align-middle text-white">{{ len .InternalTxns }}</span></span>
                </a>
              </li>
            {{ end }}
            {{ if gt (len .Events) 0 }}
              <li class="nav-item">
                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">
                  <i class="tab-icon mr-md-1 fa fa-clipboard-list"></i><span class="tab-text" style="margin-left: 6px;">Events <span class="badge badge-dark align-middle text-white">{{ len .Events }}</span></span>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
        <div class="card-body px-0 py-1">
          <div class="tab-content h-100">
            <div id="overview" class="tab-pane fade show active" role="tabpanel" aria-labelledby="overview-tab">
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3"><span class="align-middle">Transaction Hash:</span></div>
                <div class="col-md-9">
                  <div class="d-flex align-items-center">
                    <div style="min-width: 0;">{{ .Hash | formatHashLong }}</div>
                    <div class="ml-2 flex-shrink-1">
                      <button class="btn btn-dark text-white btn-sm align-bottom" type="button" id="copy-button" data-toggle="tooltip" title="Copy transaction hash to clipboard" data-clipboard-text="0x{{ printf "%x" .Hash }}">
                        <i class="fa fa-copy"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3">Status:</div>
                <div class="col-md-9">
                  <div class="d-flex flex-wrap">
                    <div class="mr-2 flex-shrink-1">
                      {{ formatEth1TxStatus .Receipt.Status }}
                    </div>
                  </div>
                </div>
              </div>
              {{ if .ErrorMsg }}
                <div class="row border-bottom p-3 mx-0">
                  <div class="col-md-3">Revert Reason:</div>
                  <div class="col-md-9">
                    <span class="text-monospace">{{ .ErrorMsg }}</span>
                  </div>
                </div>
              {{ end }}
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3">Block:</div>
                <div class="col-md-9">
                  <a href="/block/{{ .BlockNumber }}">
                    <span>{{ .BlockNumber }}</span>
                  </a>
                  {{ if gtf .Epoch.Participation 0 }}
                    {{ if .Epoch.Finalized }}
                      <span data-html="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This transaction can't be reverted without manual intervention by all participants." data-container="body">
                        <span class="badge badge-success align-text-top text-white px-1"><i class="fas fa-check-double"></i> Finalized</span>
                      </span>
                    {{ else if and (gtf .Epoch.Participation 0.66) (ltf .Epoch.Participation 1) }}
                      <span data-html="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This transaction can be safely considered as final, and is highly unlikely to be reverted." data-container="body">
                        <span class="badge badge-secondary align-text-top text-white px-1"><i class="fas fa-check"></i> Not Finalized (Safe)</span>
                      </span>
                    {{ else }}
                      <span data-html="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This transaction can still be reverted and shouldn't be considered final." data-container="body">
                        <span class="badge badge-light align-text-top text-black px-1"><i class="fas fa-exclamation-circle"></i> Not Finalized</span>
                      </span>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
              <div class="row border-bottom p-3 mx-0" style="border-width:4px !important;">
                <div class="col-md-3">Timestamp:</div>
                <div class="col-md-9">{{ formatTimestampUInt64 .Timestamp }}</div>
              </div>
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3">From:</div>
                <div class="col-md-9">{{ formatEth1AddressFull .From }}</div>
              </div>
              <div class="row border-bottom p-3 mx-0" style="border-width:4px !important;">
                <div class="col-md-3">{{ if .IsContractCreation }}Created{{ else if .TargetIsContract }}Interacted With{{ else }}To{{ end }}:</div>
                <div class="col-md-9">
                  <div class="d-flex">
                    <div class="row no-gutters w-100">
                      <div class="col-md-auto" style="min-width: 0;">
                        <span class="align-middle mr-2">{{ formatEth1AddressFull .To }}</span>
                      </div>
                      <div class="col-md-auto">
                        <div class="d-flex flex-wrap">
                          {{ if .TargetIsContract }}
                            {{ if .DepositContractInteractions }}
                              <div class="mr-2 flex-shrink-1"><span class="badge badge-primary align-middle text-white">Deposit Contract</span></div>
                            {{ else }}
                              <div class="mr-2 flex-shrink-1"><span class="badge badge-secondary align-middle text-white">Contract</span></div>
                            {{ end }}
                          {{ end }}
                          {{ if ne .ToName "" }}
                            <div class="flex-shrink-1"><span class="badge badge-dark align-middle text-white">Name: {{ .ToName }}</span></div>
                          {{ end }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ if gt (len .InternalTxns) 0 }}
                    <ul class="fa-ul mb-0 mt-2">
                      {{ range $i, $row := .InternalTxns }}
                        <li class="mb-1">
                          <i class="fa-li fas fa-long-arrow-alt-right"></i>
                          <span>Transfer</span>
                          <span>{{ .Amount }}</span>
                          <span>From</span>
                          <span>{{ .From }}</span>
                          <span>To</span>
                          <span>{{ .To }}</span>
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </div>
              </div>
              {{ if gt (len .Transfers) 0 }}
                <div class="row border-bottom p-3 mx-0" style="border-bottom-width:4px !important;">
                  <div class="col-md-3">Tokens Transferred: <span class="badge badge-dark align-text-middle text-white">{{ len .Transfers }}</span></div>
                  <div class="col-md-9">
                    <ul class="fa-ul mb-0">
                      {{ range $i, $row := .Transfers }}
                        <li class="mb-1">
                          <i class="fa-li fas fa-caret-right"></i>
                          <span>From</span>
                          <span>{{ .From }}</span>
                          <span>To</span>
                          <span>{{ .To }}</span>
                          <span>For</span>
                          <span>{{ .Amount }}</span>
                          <span>{{ .Token | formatTokenSymbolHTML }}</span>
                        </li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              {{ end }}
              {{ if .DepositContractInteractions }}
                <div class="row border-bottom p-3 mx-0" style="border-width:4px !important;">
                  <div class="col-md-3">Beaconchain Deposits:</div>
                  <div class="col-md-9">
                    <ul class="fa-ul mb-0 mt-2">
                      {{ range $i, $deposit := .DepositContractInteractions }}
                        <li class="mb-1">
                          <i class="fa-li fas fa-long-arrow-alt-right"></i>
                          <span>Deposit of</span>
                          <span>{{ formatBytesAmount $deposit.Amount "Ether" 8 }}</span>
                          <span>to Validator</span>
                          <span>{{ formatPublicKey $deposit.ValidatorPubkey }}</span>
                          <span>with withdrawal credentials</span>
                          <span>{{ formatWithdawalCredentials $deposit.WithdrawalCreds true }}</span>
                        </li>
                      {{ end }}
                    </ul>
                  </div>
                </div>
              {{ end }}
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3">Value:</div>
                <div class="col-md-9">{{ formatBytesAmount .Value "Ether" 8 }}</div>
              </div>
              <div class="row border-bottom p-3 mx-0" style="border-width:4px !important;">
                <div class="col-md-3">Transaction Fee:</div>
                <div class="col-md-9">{{ formatBytesAmount .Gas.TxFee "Ether" 8 }}</div>
              </div>
              <div class="row border-bottom p-3 mx-0">
                <div class="col-md-3">Effective Gas Price:</div>
                <div class="col-md-9">{{ formatBytesAmount .Gas.EffectiveFee "GWei" 8 }}</div>
              </div>
              <div class="collapse" id="collapseExample">
                <div class="row border-bottom p-3 mx-0">
                  <div class="col-md-3">Execution Stats:</div>
                  <div class="col-md-9">
                    <span class="text-secondary">Used</span>
                    <span class="text-black">{{ .Gas.Used }}</span>
                    <span class="text-secondary">out of</span>
                    <span class="text-black">{{ .Gas.Limit }}</span>
                    <span class="text-secondary">Gas</span>
                    <span class="text-black">({{ formatPercentage .Gas.UsedPerc }}%)</span>
                  </div>
                </div>
                {{ if (gt .Type 1) }}
                  <div class="row border-bottom p-3 mx-0" style="border-bottom-width:4px !important;">
                    <div class="col-md-3">Gas Fees:</div>
                    <div class="col-md-9">
                      <span class="text-secondary">Base Block Fee:</span>
                      <span class="text-black">{{ formatBytesAmount .Gas.BlockBaseFee "GWei" 8 }}</span>
                      <span class="px-2">|</span>
                      <span class="text-secondary">Max Overall Fee:</span>
                      <span class="text-black">{{ formatBytesAmount .Gas.MaxFee "GWei" 8 }}</span>
                      <span class="px-2">|</span>
                      <span class="text-secondary">Max Priority Fee:</span>
                      <span class="text-black">{{ formatBytesAmount .Gas.MaxPriorityFee "GWei" 8 }}</span>
                    </div>
                  </div>
                {{ end }}
                <div class="row border-bottom p-3 mx-0">
                  <div class="col-md-3">Attributes:</div>
                  <div class="col-md-9">
                    <div class="d-flex flex-wrap">
                      <div class="mr-2 flex-shrink-1">
                        <span class="badge badge-dark align-middle text-light p-1 px-2">Txn Type: <span class="text-white">{{ .TypeFormatted }}</span></span>
                      </div>
                      <div class="mr-2 flex-shrink-1">
                        <span class="badge badge-dark align-middle text-light p-1 px-2">Nonce: <span class="text-white">{{ .Nonce }}</span></span>
                      </div>
                      <div class="mr-2 flex-shrink-1">
                        <span class="badge badge-dark align-middle text-light p-1 px-2">Block Position: <span class="text-white">{{ .TxnPosition }}</span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row border-bottom p-3 mx-0">
                  <div class="col-md-3">Call Data:</div>
                  <div class="col-md-9">
                    <textarea readonly class="form-control bg-light text-monospace ">{{ .CallData }}</textarea>
                    <div class="mt-2">
                      <button class="btn btn-dark text-white btn-sm" type="button" id="copy-button" data-toggle="tooltip" title="Copy raw data to clipboard" data-clipboard-text="{{ .CallData }}">Copy Raw Data <i class="fa fa-copy"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row p-3 mx-0" style="border-width:4px !important;">
                <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Advanced Info</a>
              </div>
            </div>
            {{ if .Events }}
              <div id="events" class="tab-pane fade" role="tabpanel" aria-labelledby="events-tab">
                {{ range $index, $event := .Events }}
                  <div class="row p-3 mx-0 {{ if $index }}border-top{{ end }}" {{ if $index }}style="border-width:4px !important;"{{ end }}>
                    <div class="col-md-3">Address:</div>
                    <div class="col-md-9">{{ formatEth1AddressFull .Address }}</div>
                  </div>
                  {{ if .Name }}
                    <div class="row border-top p-3 mx-0">
                      <div class="col-md-3">Name:</div>
                      <div class="col-md-9"><samp>{{ .Name }}</samp></div>
                    </div>
                  {{ end }}
                  <div class="row border-top p-3 mx-0">
                    <div class="col-md-3">Topics:</div>
                    <div class="col-md-9">
                      <div class="table-responsive">
                        <table class="table table-borderless text-monospace">
                          <tbody>
                            {{ range $index, $topic := .Topics }}
                              <tr>
                                <th class="border-0 p-0 pb-1 pr-2" style="width: 0;">
                                  <span class="badge badge-dark align-bottom text-white">{{ $index }}</span>
                                </th>
                                <td class="border-0 p-0 pb-1 align-bottom">
                                  <samp>{{ . }}</samp>
                                </td>
                              </tr>
                            {{ end }}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  {{ if .DecodedData }}
                    <div class="row border-top p-3 mx-0">
                      <div class="col-md-3">Data (Decoded):</div>
                      <div class="col-md-9">
                        <div class="table-responsive">
                          <table class="table table-borderless text-monospace">
                            <tbody>
                              {{ range $key, $value :=.DecodedData }}
                                <tr>
                                  <th class="border-0 p-0 pb-1 pr-2 col-md-auto" style="width: 0;">
                                    <span class="badge badge-dark align-bottom text-white">{{ $key }}</span>
                                  </th>
                                  <td class="border-0 p-0 pr-2 col-md-auto" style="width: 0;">
                                    <span class="badge badge-secondary align-bottom text-white">{{ $value.Type }}</span>
                                  </td>
                                  <td class="border-0 p-0 col-md-auto">
                                    <div class="d-inline-flex">
                                      <div class="flex-shrink-1">
                                        {{ if eq $value.Type "address" }}
                                          {{ formatEth1AddressFull $value.Address }}
                                        {{ else }}
                                          <samp>{{ $value.Value }}</samp>
                                        {{ end }}
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              {{ end }}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                  <div class="row border-top p-3 mx-0">
                    <div class="col-md-3">Data (Hex):</div>
                    <div class="col-md-9">
                      <textarea readonly class="form-control bg-light text-monospace ">{{ printf "0x%x" .Data }}</textarea>
                      <div class="mt-2">
                        <button class="btn btn-dark text-white btn-sm" type="button" id="copy-button" data-toggle="tooltip" title="Copy raw data to clipboard" data-clipboard-text="0x{{ printf "%x" .Data }}">Copy Raw Data <i class="fa fa-copy"></i></button>
                      </div>
                    </div>
                  </div>
                {{ end }}
              </div>
            {{ end }}
            {{ if .InternalTxns }}
              <div id="internal-txns" class="tab-pane fade" role="tabpanel" aria-labelledby="internal-txns-tab">
                <div class="table-responsive">
                  <table class="table table-borderless text-monospace">
                    <thead>
                      <th>From</th>
                      <th>To</th>
                      <th>Value</th>
                    </thead>
                    <tbody>
                      {{ range $index, $tx := .InternalTxns }}
                        <tr>
                          <td>{{ .From }}</td>
                          <td>{{ .To }}</td>
                          <td>{{ .Amount }}</td>
                        </tr>
                      {{ end }}
                    </tbody>
                  </table>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
