{{ define "js"}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript" src="/js/datatable_input.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="/js/highcharts-global-options.js"></script>
<script>
	var scatterOptions = {
		title: { 
				text: "Validators by Eth1 Address"
			},
		chart: {
        type: 'column',
        // zoomType: 'xy'
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				// dataLabels: {
				// 	enabled: true
				// }
			}
		},
		tooltip: {
			shared: true,
			split: false,
		},
		xAxis:{
			title: {
				text: 'Total Deposits'
			},
			// categories: ['pending', 'active']
		},
		yAxis: {
			min: 0,
			title: { 
				text: 'Active Validators', 
			},
			stackLabels: {
				enabled: true,
				style: {
					fontWeight: 'bold',
					color: (
						Highcharts.defaultOptions.title.style &&
						Highcharts.defaultOptions.title.style.color
					) || 'gray'
				}
			},
			offset: 30
		},
		legend: { enabled: true },
		navigator: { enabled: false },
		rangeSelector: { enabled: false },
		scrollbar: { enabled: false },
		// series: [{
			data: {
				// rowsURL: '/validators/eth1leaderboard/data?draw=1&start=0&length=20',
				// rowsURL: 'https://demo-live-data.highcharts.com/time-rows.json',
				table: 'deposits',
				startRow: 1,
				// endRow: 5,
				startColumn: 0,
				// endColumn: 5,
				firstRowAsNames: false,
				// switchRowsAndColumns: true,
				// beforeParse: function(rows) {
				// 	console.log(rows)
				// 	// return rows.data.map(function(row) {
				// 	// 	return [row[2], row[5]]
				// 	// })
				// },
				parsed: function(data) {
					var newData = []
					newData[0] = data[0].map(function(x) {
						console.log('replacing', x)
						return x.replace(/\<[^\>]+\>/g, '')
					})
					console.log(newData[0], 'repplaced')
					newData[1] = data[4]
					console.log('parsed', newData)
					data = newData
					return newData
				},
				complete: function(something) {
					console.log('complete', something)
					var series = []
					series[0] = something.series[3]
					series[1] = something.series[4]
					series[2] = something.series[5]
					series[0].name = 'Pending'
					series[1].name = 'Active'
					series[2].name = 'Slashed'

					// replace keys with eth1 address
					for (let i = 0; i < series.length; i++) {
						var serie = series[i];
						serie.data = serie.data.map(function(el) {
							el[0] = el[0].replace(/\<[^\>]+\>/g, '')
							return el
						})
					}
					console.log('modified', series)
					something.series = series
					return series
					// xAxis.categories = 
					
					// var series = []
					// something.series[0].data.map(function(d) {
					// 	series.push({data: d})
					// })
					// something.series = series

					// var series = something.series[2]
					// // var trendline = {
					// // 	name: 'optimal',
					// // 	type: 'spline',
					// // 	data: [[series.data[0][0], series.data[0][0]], [series.data[series.data.length - 1][0], series.data[series.data.length - 1][0]]]
					// // }
					// series.name = "Active Validators"
					// series.cluster = {
					// 	enabled: true
					// }
					// something.series = [series]
					// delete something.series[0]
					// something.series[1].visible = false
					// something.series[3].visible = false
					// something.series[4].visible = false

				}
			}
		// }]
	}
</script>
<script>
	$(document).ready(function() {
    var usp = new URLSearchParams(window.location.search)
		var q = usp.get('q')

		var tbl = $('#deposits').DataTable({
			processing: true,
			serverSide: true,
			ordering: true,
			order: [[1, 'desc']],
			searching: true,
			ajax: '/validators/eth1leaderboard/data',
			pagingType: 'input',
			preDrawCallback: function() {
				// this does not always work.. not sure how to solve the staying tooltip
				try {
					$('#deposits').find('[data-toggle="tooltip"]').tooltip('dispose')
				} catch (e) {}
			},
			drawCallback: function(settings) {
				formatTimestamps('#deposits')
				var scatterChart = Highcharts.chart('scatterChart', scatterOptions)
			},
			language: {
				searchPlaceholder: 'Address',
				search: '',
				paginate: {
					previous: "<",
					next: ">",
				}
			}
		})
		if(q) {
			tbl.search(q);
			tbl.draw();
		}
		$("#deposits_filter > label > input").on('input', function(ev) {
			if(ev && ev.target && ev.target.value) {
				var newUrl = window.location.pathname + "?q=" + encodeURIComponent(ev.target.value)
				window.history.replaceState(null, 'Eth1Deposits', newUrl)
			} else {
				window.history.replaceState(null, 'Eth1Deposits', window.location.pathname)
			}
		})
		
	})
</script>

{{end}} {{ define "css"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />


{{end}} {{ define "content"}}
<div class="container mt-2">
<div class="my-3">
	<div class="d-md-flex py-2 justify-content-md-between">
		<div class="heading">
			<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-file-signature mr-2"></i></i>Eth1 Deposits Leaderboard</h1>
		</div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
				<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
				<li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
				<li class="breadcrumb-item active" aria-current="page">Eth1 Deposits</li>
			</ol>
		</nav>
	</div>
</div>
<div id="scatterChart" class="card my-3">
	this is the scatter chart
</div>
<h6 class="">This table displays the leaderboard for deposits made by Eth1 Addresses to the Deposit Contract</h6>
<div class="card">
	<div class="card-body px-0 py-2">
		<div class="table-responsive pt-2">
			<table class="table" id="deposits">
				<thead>
					<tr>
						<th>Eth1 Address</th>
						<th>Total Deposited</th>
						<th data-toggle="tooltip" title="Valid deposits">Valid</th>
						<th data-toggle="tooltip" title="Invalid deposits">Invalid</th>
						<th data-toggle="tooltip" title="Number of pending validators">Pen</th>
						<th data-toggle="tooltip" title="Number of attesting validators">Att</th>
						<th data-toggle="tooltip" title="Number of slashed validators">Sla</th>
						<th data-toggle="tooltip" title="Total number of validators">Tot</th>
					</tr>
				</thead>
				<tbody> </tbody>
			</table>
		</div>
	</div>
</div>
</div>
{{end}}
