{{ define "js"}}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

<script>
  Highcharts.stockChart('chart', {
    exporting: {
        scale: 1,
    },
        navigation: {
        menuStyle: {
            "border": "1px solid var(--border-color-transparent)",
            "background": "var(--bg-color-nav)",
            "padding": "1px 0",
            "box-shadow": "var(--bg-color-nav) 2px 2px 5px"
            },
        buttonOptions: {
            symbolStroke: 'var(--body-color)',
            symbolFill: 'var(--body-color)',
                theme: {
                fill: 'var(--bg-color)',
                states: {
                    hover: {
                    fill: 'var(--primary)'
                    },
                    select: {
                    fill: 'var(--primary)'
                    }
                }
                }
        },
        menuItemStyle: {
            "padding": "0.5em 1em",
            "color": "var(--transparent-font-color)",
            "background": "none",
            "fontSize": "11px/14px",
            "transition": "background 250ms, color 250ms"
        },
        menuItemHoverStyle: {"background": "var(--primary)", "color": "var(--font-color)"}
    },
      chart: {
          type: 'column',
          animation: false,
          style: {
                fontFamily: 'Helvetica Neue", Helvetica, Arial, sans-serif',
                color: 'var(--body-color)'
            },
          backgroundColor: 'var(--bg-color)',
      },
      title: {
          text: {{.Title}},
          style: {
              color: 'var(--font-color)'
          }
      },
      subtitle: {
          text: {{.Subtitle}}
      },
      plotOptions: {
          column: {
              stacking: {{.StackingMode}},
          }
      },
      colors: ["#7cb5ec", "#90ed7d", "#f7a35c", "#8085e9", "#f15c80", "#e4d354", "#2b908f", "#f45b5b",
              "#91e8e1"],
      navigator: {
          enabled: true,
          maskFill: 'var(--mask-fill-color)',
          outlineColor: 'var(--border-color)',
          handles: {
              backgroundColor: 'var(--bg-color-nav)',
              borderColor: 'var(--transparent-font-color)',
          },
          xAxis: {
              gridLineColor: 'var(--border-color)',
          },
      },
      scrollbar: {
          barBackgroundColor: 'var(--bg-color-nav)',
          barBorderWidth: 0,
          buttonArrowColor: 'var(--font-color)',
          rifleColor: 'var(--dark)',
          buttonBackgroundColor: 'var(--bg-color-nav)',
          buttonBorderColor: 'var(--bg-color-transparent)',
          trackBackgroundColor: 'var(--bg-color)',
          trackBorderColor: 'var(--border-color-transparent)',
      },
      xAxis: {
          type: 'datetime',
          labels: {
              style: {
                  color: 'var(--body-color)'
              }
          },
          gridLineColor: 'var(--border-color)',
      },
      yAxis: [{
          title: {
              text: {{.YAxisTitle}},
              style: {
                    color: 'var(--body-color)'
              }
          }
      }],
      series: {{.Series}},
      credits: {
          href: "https://www.beaconcha.in",
          text: "Source: beaconcha.in",
          style: {
                color: 'var(--body-color)'
          },
      },
  });
</script>
{{end}} {{ define "css"}} {{end}} {{ define "content"}}
<div class="mb-3">
  <div class="d-md-flex py-2 justify-content-md-between">
    <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-chart-line mr-2"></i>Ethereum 2.0 Beacon Chain Chart</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
        <li class="breadcrumb-item"><a href="/charts" title="Charts">Charts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chart details</li>
      </ol>
    </nav>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div id="chart" height="600"></div>
  </div>
</div>
{{end}}
