{{define "js"}}
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatable_input.js"></script>
    <script>
        $('#minipools').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            ajax: '/pools/rocketpool/data/minipools',
            language: {
                // searchPlaceholder: 'Search by Epoch Number',
                // search: '',
                paginate: {
                    previous: "<",
                    next: ">",
                }
            },
            preDrawCallback: function () {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#minipools').find('[data-toggle="tooltip"]').tooltip('dispose')
                } catch (e) {
                }
            },
            drawCallback: function () {
                formatTimestamps()
            },
        })
        $('#nodes').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            ajax: '/pools/rocketpool/data/nodes',
            language: {
                // searchPlaceholder: 'Search by Epoch Number',
                // search: '',
                paginate: {
                    previous: "<",
                    next: ">",
                }
            },
            preDrawCallback: function () {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#nodes').find('[data-toggle="tooltip"]').tooltip('dispose')
                } catch (e) {
                }
            },
            drawCallback: function () {
                formatTimestamps()
            },
        })
        $('#dao_proposals').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            ajax: '/pools/rocketpool/data/dao_proposals',
            language: {
                // searchPlaceholder: 'Search by Epoch Number',
                // search: '',
                paginate: {
                    previous: "<",
                    next: ">",
                }
            },
            preDrawCallback: function () {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#dao_proposals').find('[data-toggle="tooltip"]').tooltip('dispose')
                } catch (e) {
                }
            },
            drawCallback: function () {
                formatTimestamps()
            },
        })
        $('#dao_members').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            ajax: '/pools/rocketpool/data/dao_members',
            language: {
                // searchPlaceholder: 'Search by Epoch Number',
                // search: '',
                paginate: {
                    previous: "<",
                    next: ">",
                }
            },
            preDrawCallback: function () {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#dao_members').find('[data-toggle="tooltip"]').tooltip('dispose')
                } catch (e) {
                }
            },
            drawCallback: function () {
                formatTimestamps()
            },
        })
    </script>
{{end}}

{{define "css"}}
    <link rel="stylesheet" type="text/css" href="/css//datatables.min.css" />
    <style>
        #slashings td:first-child {
            white-space: break-spaces;
        }
    </style>
{{end}}

{{define "content"}}
    {{with .Data}}
        <div class="container">
            <div class="mt-4">
                <div class="d-flex align-items-center justify-content-md-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb font-size-1 mb-0" style="padding: 0; background-color: transparent;">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/pools">Pools</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Rocketpool</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- TODO: decide on font size, weight, letter spacing etc. -->
            <h1 class="mt-2 mb-5">Rocketpool</h1>
            <h2 class="mb-3">Minipools</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="minipools" width="100%">
                            <thead>
                            <tr>
                                <th scope="col">Minipool</th>
                                <th scope="col">Validator</th>
                                <th scope="col">Node</th>
                                <th scope="col">Node Fee</th>
                                <th scope="col">Deposit Type</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h2 class="mb-3">Nodes</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="nodes" width="100%">
                            <thead>
                            <tr>
                                <th scope="col">Address</th>
                                <th scope="col">Timezone Location</th>
                                <th scope="col">RPL Stake</th>
                                <th scope="col">Min RPL Stake</th>
                                <th scope="col">Max RPL Stake</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h2 class="mb-3">DAO Members</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="dao_members" width="100%">
                            <thead>
                            <tr>
                                <th scope="col">Address</th>
                                <th scope="col">ID</th>
                                <th scope="col">URL</th>
                                <th scope="col">Joined Time</th>
                                <th scope="col">Last Proposal Time</th>
                                <th scope="col">RPL Bond Amount</th>
                                <th scope="col">Unbonded Validator Count</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h2 class="mb-3">Proposals</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="dao_proposals" width="100%">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">DAO</th>
                                <th scope="col">Proposer</th>
                                <th scope="col">Message</th>
                                <th scope="col">Created Time</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Expiry Time</th>
                                <th scope="col">Votes Required</th>
                                <th scope="col">Votes For</th>
                                <th scope="col">Votes Against</th>
                                <th scope="col">Member Voted</th>
                                <th scope="col">Member Supported</th>
                                <th scope="col">Is Cancelled</th>
                                <th scope="col">Is Executed</th>
                                <th scope="col">Payload</th>
                                <th scope="col">State</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 5rem;">
                <ins data-revive-zoneid="1" data-revive-id="5b200397ccf8a9353bf44ef99b45268c"></ins>
            </div>
        </div>
    {{end}}
{{end}}
