{{define "js"}}
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatable_input.js"></script>
    <script>
        $('#minipools').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            // ajax: '/pools/rocketpool/data/minipools',
            ajax: {
                url: '/pools/rocketpool/data/minipools',
                data: function(data) {
                    console.log(data);
                }
            },
            language: {
                info: '_TOTAL_ entries',
                paginate: {
                    previous: '<',
                    next: '>'
                }
            },
            columnDefs: [
                {
                    targets: '_all',
                    createdCell: function(td, cellData, rowData, row, col) {
                        $(td).css('padding-top', '20px');
                        $(td).css('padding-bottom', '20px');
                    }
                }
            ],
            preDrawCallback: function() {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#minipools').find('[data-toggle="tooltip"]').tooltip('dispose');
                } catch(e) {}
            },
            drawCallback: function() {
                formatTimestamps();
            }
        });

        $('#nodes').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            // ajax: '/pools/rocketpool/data/nodes',
            ajax: {
                url: '/pools/rocketpool/data/nodes',
                data: function(data) {
                    console.log(data);
                }
            },
            language: {
                info: '_TOTAL_ entries',
                paginate: {
                    previous: '<',
                    next: '>'
                }
            },
            columnDefs: [
                {
                    targets: '_all',
                    createdCell: function(td, cellData, rowData, row, col) {
                        $(td).css('padding-top', '20px');
                        $(td).css('padding-bottom', '20px');
                    }
                }
            ],
            preDrawCallback: function() {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#nodes').find('[data-toggle="tooltip"]').tooltip('dispose');
                } catch(e) {}
            },
            drawCallback: function() {
                formatTimestamps();
            }
        });

        $('#dao_proposals').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            // ajax: '/pools/rocketpool/data/dao_proposals',
            ajax: {
                url: '/pools/rocketpool/data/dao_proposals',
                data: function(data) {
                    console.log(data);
                }
            },
            language: {
                info: '_TOTAL_ entries',
                paginate: {
                    previous: '<',
                    next: '>'
                }
            },
            columnDefs: [
                {
                    targets: '_all',
                    createdCell: function(td, cellData, rowData, row, col) {
                        $(td).css('padding-top', '20px');
                        $(td).css('padding-bottom', '20px');
                    }
                }
            ],
            preDrawCallback: function() {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#dao_proposals').find('[data-toggle="tooltip"]').tooltip('dispose');
                } catch(e) {}
            },
            drawCallback: function() {
                formatTimestamps();
            }
        });

        $('#dao_members').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            paging: true,
            pagingType: 'input',
            // ajax: '/pools/rocketpool/data/dao_members',
            ajax: {
                url: '/pools/rocketpool/data/dao_members',
                data: function(data) {
                    console.log(data);
                }
            },
            language: {
                info: '_TOTAL_ entries',
                paginate: {
                    previous: '<',
                    next: '>',
                }
            },
            columnDefs: [
                {
                    targets: '_all',
                    createdCell: function(td, cellData, rowData, row, col) {
                        $(td).css('padding-top', '20px');
                        $(td).css('padding-bottom', '20px');
                    }
                }
            ],
            preDrawCallback: function() {
                // this does not always work.. not sure how to solve the staying tooltip
                try {
                    $('#dao_members').find('[data-toggle="tooltip"]').tooltip('dispose');
                } catch(e) {}
            },
            drawCallback: function() {
                formatTimestamps();
            }
        });
    </script>
{{end}}

{{define "css"}}
    <link rel="stylesheet" type="text/css" href="/css//datatables.min.css" />
    <style>
        #slashings td:first-child {
            white-space: break-spaces;
        }
    </style>
{{end}}

{{define "content"}}
    {{with .Data}}
        <div class="container-fluid container-xl">
            <div class="mt-4">
                <div class="d-flex align-items-center justify-content-md-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb font-size-1 mb-0" style="padding: 0; background-color: transparent;">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/pools">Pools</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Rocketpool</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h1 class="mt-2 mb-5 text-nowrap" style="font-size: 1.8rem; letter-spacing: 2px;">Rocketpool</h1>
            <h2 class="mb-3" style="font-size: 1.4rem; letter-spacing: .5px;">Minipools</h2>
            <div class="mb-5 px-3 py-4 shadow-sm border" style="min-width: 320px; border-radius: .5rem;">
                <div class="table-responsive">
                    <table class="table table-hover" id="minipools" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Minipool</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Validator</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Node</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Node Fee</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Deposit Type</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <h2 class="mb-3" style="font-size: 1.4rem; letter-spacing: .5px;">Nodes</h2>
            <div class="mb-5 px-3 py-4 shadow-sm border" style="min-width: 320px; border-radius: .5rem;">
                <div class="table-responsive">
                    <table class="table table-hover" id="nodes" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Address</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Timezone Location</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">RPL Stake</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Min RPL Stake</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Max RPL Stake</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <h2 class="mb-3" style="font-size: 1.4rem; letter-spacing: .5px;">DAO Members</h2>
            <div class="mb-5 px-3 py-4 shadow-sm border" style="min-width: 320px; border-radius: .5rem;">
                <div class="table-responsive">
                    <table class="table table-hover" id="dao_members" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Address</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">ID</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">URL</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Joined Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Last Proposal Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">RPL Bond Amount</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Unbonded Validator Count</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <h2 class="mb-3" style="font-size: 1.4rem; letter-spacing: .5px;">Proposals</h2>
            <div class="mb-5 px-3 py-4 shadow-sm border" style="min-width: 320px; border-radius: .5rem;">
                <div class="table-responsive">
                    <table class="table table-hover" id="dao_proposals" width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">ID</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">DAO</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Proposer</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Message</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Created Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Start Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">End Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Expiry Time</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Votes Required</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Votes For</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Votes Against</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Member Voted</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Member Supported</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Is Cancelled</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Is Executed</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">Payload</th>
                                <th scope="col" style="font-size: .9rem; letter-spacing: 1px;">State</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 5rem;">
                <ins data-revive-zoneid="1" data-revive-id="5b200397ccf8a9353bf44ef99b45268c"></ins>
            </div>
        </div>
    {{end}}
{{end}}
