{{ define "js"}}
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
<div class="row my-3">
    <div class="col-lg-6 col-sm-8 col-xl-5 mx-auto">
        <h1 class="h2">Request Password Reset</h1>
        <p>Enter your email and we will send you a link to reset your password.</p>
        <form action="/resetPassword" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" inputmode="email" maxlength="100" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Reset</button>
        </form>
        <a href="/login"><i class="fas fa-chevron-left"></i> back to login</a>
    </div>
</div>
{{end}}
