{{ define "content" }}
  <div class="container">
    <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
    <div class="page-title">
      <h1 class="h4"><i class="fas fa-sitemap mr-2"></i>Slot Visualization</h1>
    </div>
    <div class="description">
      <p>This chart displays the most recent epochs and their slots. The color of the slots indicates if the slot has been proposed, orphaned or missed. The bar below the epochs displays the participation during the epoch. The y axis represents the epoch number and the x axis represents the slot number.</p>
    </div>
    <div></div>
    <div class="mt-d">
      <div class="w-100 my-2" id="checklist"></div>
    </div>
    <!-- <div class="position-relative">
      <div style="top: 100%; right: 50%; transform: translateX(50%);" class="position-absolute">
        <span class="text-muted font-weight-bold">beaconcha.in/charts/slotviz</span>
      </div>
    </div> -->
  </div>
  {{ template "SlotViz" . }}
{{ end }}
{{ define "css" }}
  <style>
    #checklist > svg {
      overflow: visible;
    }
    svg rect[slot],
    svg rect[epoch] {
      cursor: pointer;
    }
  </style>
{{ end }}
{{ define "js" }}
{{ end }}
