{{ define "content" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-sitemap mr-2"></i>Slot Visualization</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item"><a href="/charts" title="Charts">Charts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Slotviz</li>
        </ol>
      </nav>
    </div>
    <div class="description">
      <p>This chart displays the most recent epochs and their slots. The color of the slots indicates if the slot has been proposed, orphaned or missed. The bar below the epochs displays the participation during the epoch. The y axis represents the epoch number and the x axis represents the slot number.</p>
    </div>
    <div>
    </div>
    <div class="mt-4">
      <div class="w-100 my-2" id="checklist"></div>
    </div>
    <div class="position-relative">
      <div style="top: 100%; right: 50%; transform: translateX(50%);" class="position-absolute">
        <span class="text-muted font-weight-bold">beaconcha.in/charts/slotviz</span>
      </div>
    </div>
  </div>
{{ end }}
{{ define "css" }}
  <style>
    #checklist > svg {
      overflow: visible;
    }
    svg rect[slot],
    svg rect[epoch] {
      cursor: pointer;
    }
  </style>
{{ end }}
{{ define "js" }}
  <script src="/js/d3.min.js"></script>
  <script>
    var defaultEpoch =
      '{ "epoch": 0, "finalized": false, "justified": false, "previousjustified": false, "participation": 0, "slots": [{ "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }, { "status": "scheduled" }] }'
    // set the default

    var epoch0 = JSON.parse(defaultEpoch)
    var epoch1 = JSON.parse(defaultEpoch)
    var epoch2 = JSON.parse(defaultEpoch)
    var epoch3 = JSON.parse(defaultEpoch)
    var epoch4 = JSON.parse(defaultEpoch)
    // var epoch5 = JSON.parse(defaultEpoch)
    // var epoch6 = JSON.parse(defaultEpoch)

    var epochs = [epoch0, epoch1, epoch2, epoch3, epoch4]
    epochs[1].epoch = 1
    epochs[2].epoch = 2
    epochs[3].epoch = 3
    epochs[4].epoch = 4
    // epochs[5].epoch = 5
    // epochs[6].epoch = 5

    // epochs[4].participation = 65.9
    // epochs[0].slots[0].status = "proposed"
    // epochs[1].slots[0].status = "missed"
    // epochs[0].slots[1].active = true

    // document.addEventListener("DOMContentLoaded", function () {
      /// Chat Dimensions
      var margin = { top: 20, right: 30, bottom: 0, left: 30 }
      var width = document.getElementById("checklist").clientWidth
      var height = 120 + margin.top + margin.bottom + epochs.length * 50

      // var reveal = (path) =>
      //   path
      //     .transition()
      //     .duration(750)
      //     .ease(d3.easeLinear)
      //     .attrTween("width", function () {
      //       var width = this.width.baseVal.value
      //       return d3.interpolate(0, width)
      //     })

      var roma = ["#343a4033","#ff3333", "#cc3333", "#33cc33"]

      // define a color interpolation that turnes green over 66%
      var color = d3.scaleSequential().domain([0, 99]).interpolator(d3.interpolateDiscrete(roma))

      var colorProposed = d3.scaleSequential().domain([0, 12]).interpolator(d3.interpolateRgb("rgba(100, 200, 100, 1)", "rgba(100, 200, 100, 0.3)"))

      // Chart Svg
      var svg = d3.select("#checklist").append("svg").attr("viewBox", [0, 0, width, height]).attr("style", `max-width: ${width}px; font: 10px sans-serif;`)

      // Define X axis
      var x = d3
        .scaleLinear()
        .domain([0, 32])
        .range([margin.left, width - margin.right])
        .interpolate(d3.interpolateRound)

      var participationX = d3
        .scaleLinear()
        .domain([0, 100])
        .range([margin.left, width - margin.right])
        .interpolate(d3.interpolateRound)

      // define Y axis
      var y = d3
        .scaleBand()
        .domain(epochs.map((d) => d.epoch))
        .range([margin.top, height - margin.bottom])
        .padding(0.1)

      // var gx =
      svg
        .append("g")
        .attr("transform", `translate(0,${margin.top})`)
        .call(d3.axisTop(x))
        .call((g) => g.select(".domain").remove())

      var gy = svg
        .append("g")
        .attr("transform", `translate(${margin.left}, 0)`)
        .call(d3.axisLeft(y))
        .call((g) => g.selectAll("line").remove())
        .call((g) => g.select(".domain").remove())



        function createBars(svg) {
          return svg
          .append("g")
          // .selectAll("rect")
          // .data(epochs, (d) => d)
          // .join("rect")
          // .attr("id", ({ epoch, participation }) => epoch)
          // .attr("fill", ({ participation }) => color(participation))
          // .attr("y", ({ epoch }) => y(epoch) + y.bandwidth() / 2 + (width - margin.right - margin.left) / 48)
          // .attr("x", x(0))
          // .attr("width", ({ participation }) => participationX(participation) - participationX(0))
          // .attr("height", "10")
          // .attr("data-original-title", (d, i) => `epoch ${d.epoch} participation ${d.participation}%`)
          // .attr("data-toggle", "tooltip")
        }
        

        function createLabels(svg) {
          return svg
            .append("g")
            .attr("text-anchor", "end")
            .attr("transform", `translate(6, 5)`)
            // .data(data, (d) => d.epoch)
            // .join("text")
            // .attr("fill", (d) => `${d3.lab(color(d.participation)).l < 60 ? "white" : "black"}`)
            // .attr("y", (d) => y(d.epoch) + y.bandwidth() / 2 + (width - margin.right - margin.left) / 42)
            // .attr("x", (d) => participationX(d.participation) - x(0))
            // .attr("dy", ".5rem")
            // .attr("style", "font-size: .7rem")
            // .text((d) => {
            //   var txt = d.finalized ? "finalized" : "justifying"
            //   return txt + " " + d.participation + "%"
            // })
        }

      function createSlots(svg) {
        return svg
        .append("g")
        .attr("text-anchor", "middle")
        // .selectAll("g")
        // .data(epochs, (d) => d.epoch)
        // .join("g")
        // .attr("transform", ({ epoch }) => `translate(0, ${y(epoch)})`)
        // .selectAll("rect")
        // .data((d) => d.slots)
        // .join("rect")
        // .attr("x", (d, i) => x(i))
        // .attr("y", (d, i) => y.bandwidth() / 2 - 7.5)
        // .attr("class", (s, i) => {
        //   if (s.active) {
        //     return "active-slot"
        //   } else {
        //     return ""
        //   }
        // })
        // .attr("data-original-title", (s, i) => {
        //   if (s.active) {
        //     return `current slot ${s.Slot}`
        //   }
        //   if (s.status === "proposed" && s.delay) {
        //     return `slot: ${s.Slot} proposed in ${s.delay}s`
        //   } else if (s.status === "proposed") {
        //     return `slot: ${s.Slot} status: ${s.status}`
        //   }
        //   if (s.status !== "scheduled") {
        //     return `slot: ${s.Slot} status: ${s.status}`
        //   } else {
        //     return `slot: ${s.Slot}`
        //   }
        // })
        // // .attr("data-toggle", (s, i) => s.status !== "scheduled" || s.active ? "tooltip" : "")
        // .attr("data-toggle", (s, i) => "tooltip")
        // .attr("stroke-width", ".5")
        // .attr("stroke", (d) => (d.active ? "var(--body-color)" : "transparent"))
        // .attr("width", (d) => (width - margin.right - margin.left) / 48)
        // .attr("height", (d) => (width - margin.right - margin.left) / 48)
        // .attr("rx", "1")
        // .attr("ry", "1")
        // .attr("fill", (d) => {
        //   if (d.status === "missed") {
        //     return "rgba(200,100,100,0.8)"
        //   } else if (d.status === "proposed") {
        //     if (d.delay) {
        //       return colorProposed(d.delay)
        //     } else {
        //       return colorProposed(1)
        //     }
        //   } else if (d.status === "orphaned") {
        //     return "rgba(100,100, 200, 0.8)"
        //   } else if (d.status === "genesis") {
        //     return "rgba(119, 110, 255, 0.8)"
        //   } else {
        //     return "rgba(100,100,100, 0.5)"
        //   }
        // })
      }

    

      var slots = createSlots(svg)
      // console.log('testmetrics', testMetrics["Epochs"])
      var bars = createBars(svg)
      var labels = createLabels(svg)

      var chart = Object.assign(svg.node(), {
        update(newData) {

          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
          // console.log('updating data', newData);
          var t = svg.transition().duration(550)
          // update y axis domain
          y.domain(newData.map((d) => d.epoch))

            // update y axis labels
            gy.join("g")
            .call(d3.axisLeft(y))
            .call((g) => g.selectAll("line").remove())
            .call((g) => g.select(".domain").remove())


          labels.selectAll('text')
            .data(newData, (d) => {
              return d.epoch
            })
            .join(
              (enter) => {
                return enter
                        .append('text')
                        .attr("y", (d) => y(d.epoch) + y.bandwidth() + 3.5)
                        .attr("x", (d) => {
                          if (d.participation === 0) {
                            return participationX(99) - participationX(0)
                          }
                          return participationX(d.participation) - x(0)
                        })
                      .attr("style", "font-size: .7rem; z-index: 99;")
                      .text((d) => {
                        if (d.participation) {
                          var txt = d.finalized ? "finalized" : "justifying"
                          return txt + " " + d.participation + "%"
                        } else {
                          return "processing..."
                        }
                      })
              }, 
              (update) => {
                return update
                
                .text((d) => {
                  if (d.participation) {
                    var txt = d.finalized ? "finalized" : "justifying"
                    return txt + " " + d.participation + "%"
                  } else {
                    return "processing..."
                  }
                })
                .call((label) => {
                  return label
                  .transition(t)
                  .attr("y", (d) => y(d.epoch) + y.bandwidth() + 3.5)
                  .attr("fill", (d) => {
                  if (d.participation === 0) {
                    return "black"
                  }
                    return `${d3.lab(color(d.participation)).l < 60 ? "white" : "black"}`
                  })
                  .attr("x", (d) => {
                    if (d.participation === 0) {
                      return participationX(99) - participationX(0)
                    }
                    return participationX(d.participation) - x(0)
                  })
                })
            },
              (exit) => {
                return exit.remove()
              }
            )
            
            slots.selectAll('g')
            .data(newData, (d) => d.epoch)
            .join((enter) => {
              enter.append('g')
              .attr("transform", ({ epoch }) => `translate(0, ${y(epoch)})`)
            }, (update) => {
              return update
              .call(slotRow => {
                return slotRow.transition(t)
                .attr("transform", ({ epoch }) => `translate(0, ${y(epoch)})`)
              })
            }, (exit) => {
              return exit.remove()
            })
            .selectAll("rect")
            .data((d) => d.slots)
            .join((enter) => {
              return enter
              .append('rect')
              .attr("x", (d, i) => x(i))
              .attr("y", (d, i) => y.bandwidth() / 2 - 7.5)
              .attr("slot", (d) => d.Slot)
                  .on("click", (d) => {
                    var slot = d.target.getAttribute("slot")
                    window.location = "/slot/" + slot
              })
              // .attr("class", (s, i) => {
              //   if (s.active) {
              //     return ""
              //   } else {
              //     return ""
              //   }
              // })
              .attr("data-original-title", (s, i) => {
                if (s.active) {
                  return `current slot ${s.Slot}`
                }
                if (s.status === "proposed" && s.delay) {
                  return `slot: ${s.Slot} proposed in ${s.delay}s`
                } else if (s.status === "proposed") {
                  return `slot: ${s.Slot} status: ${s.status}`
                }
                if (s.status !== "scheduled") {
                  return `slot: ${s.Slot} status: ${s.status}`
                } else {
                  return `slot: ${s.Slot}`
                }
              })
              // .attr("data-toggle", (s, i) => s.status !== "scheduled" || s.active ? "tooltip" : "")
              .attr("data-toggle", (s, i) => "tooltip")
              .attr("stroke-width", ".5")
              .attr("stroke", (d) => (d.active ? "var(--body-color)" : "transparent"))
              .attr("width", (d) => (width - margin.right - margin.left) / 42)
              .attr("height", (d) => (width - margin.right - margin.left) / 42)
              .attr("rx", "1")
              .attr("ry", "1")
              .attr("fill", (d) => {
                if (d.status === "missed") {
                  return "rgba(200,100,100,0.8)"
                } else if (d.status === "proposed") {
                  if (d.delay) {
                    return colorProposed(d.delay)
                  } else {
                    return colorProposed(1)
                  }
                } else if (d.status === "orphaned") {
                  return "rgba(100,100, 200, 0.8)"
                } else if (d.status === "genesis") {
                  return "rgba(119, 110, 255, 0.8)"
                } else {
                  return "rgba(100,100,100, 0.5)"
                }
              })
              
            }, (update) => {
              return update
              .attr("stroke", (d) => (d.active ? "var(--body-color)" : "transparent"))
              .attr("fill", (d) => {
                if (d.status === "missed") {
                  return "rgba(200,100,100,0.8)"
                } else if (d.status === "proposed") {
                  if (d.delay) {
                    return colorProposed(d.delay)
                  } else {
                    return colorProposed(1)
                  }
                } else if (d.status === "orphaned") {
                  return "rgba(100,100, 200, 0.8)"
                } else if (d.status === "genesis") {
                  return "rgba(119, 110, 255, 0.8)"
                } else {
                  return "rgba(100,100,100, 0.5)"
                }
              })
              .attr("class", (s, i) => {
                if (s.active) {
                  return "active-slot"
                } else {
                  return ""
                }
              })
              .attr("data-original-title", (s, i) => {
                if (s.active) {
                  return `current slot ${s.Slot}`
                }
                if (s.status === "proposed" && s.delay) {
                  return `slot: ${s.Slot} proposed in ${s.delay}s`
                } else if (s.status === "proposed") {
                  return `slot: ${s.Slot} status: ${s.status}`
                }
                if (s.status !== "scheduled") {
                  return `slot: ${s.Slot} status: ${s.status}`
                } else {
                  return `slot: ${s.Slot}`
                }
              })
            }, (exit) => exit.remove())
            // bars
            bars.selectAll('rect')
            .data(newData, (d) => {
              return d.epoch
            })
            .join((enter) => {
              enter.append('rect')
              .attr("id", ({ epoch }) => epoch)
              .attr("fill", ({ participation, epoch }) => {
                if (!participation) {
                  return 'var(--shadow-light)'
                }
                return color(participation)
              })
              .attr("y", ({ epoch }) => y(epoch) + y.bandwidth())
              .attr("x", x(0))
              .attr("width", ({ participation }) => {
                if (!participation) {
                  return participationX(100) - participationX(0)
                } 
                return participationX(participation) - participationX(0)
              })
              .attr("height", "11")
              .attr("data-original-title", (d, i) => `epoch ${d.epoch} participation ${d.participation}%`)
              .attr("data-toggle", "tooltip")
              .attr("epoch", (d) => d.epoch)
                  .on("click", (d) => {
                    var epoch = d.target.getAttribute("epoch")
                    window.location = "/epoch/" + epoch
              })
            }, 
            (update) => {
              return update
              .attr("data-original-title", (d, i) => `epoch ${d.epoch} participation ${d.participation}%`)
              // .attr("class", ({ participation }) => {
              //       if (participation === 0) {
              //         return "active-epoch"
              //       } else {
              //         return ""
              //       }
              //   })
              .call((bar) =>
                bar
                  .transition(t)
                  .attr("y", ({ epoch }) => y(epoch) + y.bandwidth())
                  .attr("width", ({ participation }) => {
                    if (participation === 0) {
                      return participationX(100) - participationX(0)
                    }
                    return participationX(participation) - participationX(0)
                  })
                  .attr("fill", ({ participation }) => {
                      if (participation === 0) {
                        return 'var(--shadow-light)'
                      }
                      return color(participation)
                    })
                  
              )
            }, (exit) => {
              return exit.remove()
            })
           


        },
      })

      function fetchMetrics() {
        fetch("/launchMetrics")
          .then((res) => res.json())
          .then((data) => {
            processLaunchMetrics(data.Epochs)
            // testMetrics = data
            // setInterval(slotTransition, 500)
          })
          .catch((error) => {
            console.error("error fetching resource", error)
          })
      }



      function processLaunchMetrics(data) {
        for (var i = 0; i < data.length; i++) {
              if (data[i].participation <= 1 && data[i].participation > 0) {
                data[i].participation = Math.round(data[i].participation * 10000) / 100
              }
            }
            chart.update(data)
      }


      // processLaunchMetrics(testMetrics["Epochs"])

     

    function slotTransition() {
      let newMetrics = { ...testMetrics }
      let tm = { ...testMetrics }
      if (newMetrics.Epochs[0].slots[31].active) {
        console.log('epoch transition')
        newMetrics.Epochs[0].slots[31].status = Math.random() > Math.random() ? "missed" : "proposed"
        newMetrics.Epochs[0].slots[31].active = false
        
        let lastEpoch = tm.Epochs[4]
        newMetrics.Epochs[0].participation = Math.random()
        newMetrics.Epochs[4] = tm.Epochs[3]
        newMetrics.Epochs[3] = tm.Epochs[2]
        newMetrics.Epochs[2] = tm.Epochs[1]
        newMetrics.Epochs[1] = tm.Epochs[0]
        
        lastEpoch.epoch = lastEpoch.epoch + 5
        lastEpoch.participation = 0
        
        for (let j = 0; j < lastEpoch.slots.length; j++) {
          lastEpoch.slots[j].Epoch = lastEpoch.epoch
          lastEpoch.slots[j].Slot = lastEpoch.epoch * 32 + j
          lastEpoch.slots[j].status = "scheduled"
          lastEpoch.slots[j].active = false
        }
        lastEpoch.slots[0].active = true
        
        newMetrics.Epochs[0] = lastEpoch
      } else {
        for (let i = 0; i < newMetrics.Epochs[0].slots.length; i++) {
          if (newMetrics.Epochs[0].slots[i].active) {
            newMetrics.Epochs[0].slots[i].status = Math.random() > Math.random() ? "missed" : "proposed"

            newMetrics.Epochs[0].slots[i].active = false
            if (i < newMetrics.Epochs[0].slots.length) {
              newMetrics.Epochs[0].slots[i + 1].active = true
            }
            break
          }
        }
      }
      processLaunchMetrics(newMetrics.Epochs)
      testMetrics = newMetrics
    }

    // setTimeout(slotTransition,  3000)
    
    // setInterval(() => slotTransition(testMetrics), 3000)
    // fetchMetrics()
    setInterval(fetchMetrics, 2000)
    // setInterval(slotTransition, 300)
    // })
    // window.addEventListener('DOMContentLoaded', function() {
    //   console.log('dom loaded');
    //   processLaunchMetrics(testMetrics["Epochs"])
    // })


    var testMetrics = {
	"Epochs": [
		{
			"epoch": 121225,
			"finalized": false,
			"participation": 0,
			"slots": [
				{
					"Epoch": 121225,
					"Slot": 3879200,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879201,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879202,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879203,
					"status": "scheduled",
					"active": true
				},
				{
					"Epoch": 121225,
					"Slot": 3879204,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879205,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879206,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879207,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879208,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879209,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879210,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879211,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879212,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879213,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879214,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879215,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879216,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879217,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879218,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879219,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879220,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879221,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879222,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879223,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879224,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879225,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879226,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879227,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879228,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879229,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879230,
					"status": "scheduled",
					"active": false
				},
				{
					"Epoch": 121225,
					"Slot": 3879231,
					"status": "scheduled",
					"active": false
				}
			]
		},
		{
			"epoch": 121224,
			"finalized": false,
			"participation": 0,
			"slots": [
				{
					"Epoch": 121224,
					"Slot": 3879168,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879169,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879170,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879171,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879172,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879173,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879174,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879175,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879176,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879177,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879178,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879179,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879180,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879181,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879182,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879183,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879184,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879185,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879186,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879187,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879188,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879189,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879190,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879191,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879192,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879193,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879194,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879195,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879196,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879197,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879198,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121224,
					"Slot": 3879199,
					"status": "proposed",
					"active": false
				}
			]
		},
		{
			"epoch": 121223,
			"finalized": false,
			"participation": 0.8520901203155518,
			"slots": [
				{
					"Epoch": 121223,
					"Slot": 3879136,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879137,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879138,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879139,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879140,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879141,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879142,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879143,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879144,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879145,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879146,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879147,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879148,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879149,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879150,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879151,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879152,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879153,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879154,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879155,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879156,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879157,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879158,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879159,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879160,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879161,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879162,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879163,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879164,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879165,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879166,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121223,
					"Slot": 3879167,
					"status": "proposed",
					"active": false
				}
			]
		},
		{
			"epoch": 121222,
			"finalized": true,
			"participation": 0.8721618056297302,
			"slots": [
				{
					"Epoch": 121222,
					"Slot": 3879104,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879105,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879106,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879107,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879108,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879109,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879110,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879111,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879112,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879113,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879114,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879115,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879116,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879117,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879118,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879119,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879120,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879121,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879122,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879123,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879124,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879125,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879126,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879127,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879128,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879129,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879130,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879131,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879132,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879133,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879134,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121222,
					"Slot": 3879135,
					"status": "proposed",
					"active": false
				}
			]
		},
		{
			"epoch": 121221,
			"finalized": true,
			"participation": 0.8792545199394226,
			"slots": [
				{
					"Epoch": 121221,
					"Slot": 3879072,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879073,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879074,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879075,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879076,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879077,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879078,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879079,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879080,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879081,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879082,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879083,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879084,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879085,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879086,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879087,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879088,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879089,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879090,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879091,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879092,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879093,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879094,
					"status": "missed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879095,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879096,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879097,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879098,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879099,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879100,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879101,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879102,
					"status": "proposed",
					"active": false
				},
				{
					"Epoch": 121221,
					"Slot": 3879103,
					"status": "missed",
					"active": false
				}
			]
		}
	]
}

  </script>
{{ end }}
