{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable_input.js"></script>

  <script>
    $(document).ready(function () {
      var tblOpts = {
        processing: true,
        serverSide: true,
        ordering: false,
        searching: true,
        ajax: "/slots/data",
        stateSave: true,
        deferLoading: {{.RecordsTotal}},
        stateSaveCallback: function (settings, data) {
          data.search.search = ""
          data.order = []
          data.columns = []
          data.start = 0
          data.key = `${settings.sTableId}`
          fetch('/tables/state', {
            method: "POST",
            body: JSON.stringify(data),
          })
          .then(res => res.json())
          .then(({ status, data }) => {
            if (status !== "OK") {
              console.error("error updating table state, err:", data, "status: ", status)
            }
          }).catch(err => {
            console.error("error updating table state, err: ", err)
          })
        },
        stateDuration: true,
        pageLength: {{.PageLength}},
        displayStart: {{.DisplayStart}},
        pagingType: "input",
        language: {
          searchPlaceholder: "Block Number / Graffiti / Proposer Name",
          search: "",
          paginate: {
            previous: '<i class="fas fa-chevron-left"></i>',
            next: '<i class="fas fa-chevron-right"></i>',
          },
        },
        preDrawCallback: function () {
          // this does not always work.. not sure how to solve the staying tooltip
          try {
            $("#blocks").find('[data-toggle="tooltip"]').tooltip("dispose")
          } catch (e) {
            console.error(e)
          }
          document.getElementById('header-placeholder').style.display = 'none'
          document.getElementById('footer-placeholder').style.display = 'none'
        },
        drawCallback: function (settings) {
          formatTimestamps()
          $("#blocks").find('[data-toggle="tooltip"]').tooltip()
        },
      }
      var usp = new URLSearchParams(window.location.search)
      var q = usp.get("q")
      if (q) {
        tblOpts.search = { search: q }
      }
      $("#blocks").DataTable(tblOpts)
      $("#blocks_filter > label > input").on("input", function (ev) {
        if (ev && ev.target && ev.target.value) {
          var emptygraffiticheckbox = document.getElementById("showonlyemptygraffiti")
          if (emptygraffiticheckbox) {
            emptygraffiticheckbox.checked = false
            var t = $("#blocks").DataTable()
            if (t) {
              t.columns(11).search("")
            }
          }

          var newUrl = window.location.pathname + "?q=" + encodeURIComponent(ev.target.value)
          window.history.replaceState(null, "Blocks", newUrl)
        } else {
          window.history.replaceState(null, "Blocks", window.location.pathname)
        }
      })

      var emptygraffiticheckbox = document.getElementById("showonlyemptygraffiti")
      if (emptygraffiticheckbox) {
        emptygraffiticheckbox.checked = !!usp.get("g") && !usp.get("q")
        if (emptygraffiticheckbox.checked) {
          var t = $("#blocks").DataTable()
          if (t) {
            t.search("").columns(11).search("#showonlyemptygraffiti").draw()
          }
        }

        emptygraffiticheckbox.addEventListener("change", (event) => {
          var t = $("#blocks").DataTable()
          if (event.currentTarget.checked) {
            window.history.replaceState(null, "Blocks", window.location.pathname + "?g=true")

            if (t) {
              t.search("").columns(11).search("#showonlyemptygraffiti").draw()
            }
          } else {
            window.history.replaceState(null, "Blocks", window.location.pathname)

            if (t) {
              t.columns(11).search("").draw()
            }
          }
        })
      }
    })
  </script>
{{ end }}
{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
{{ end }}
{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2">
      <div class="d-md-flex py-2 justify-content-md-between">
        <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-cube mr-2"></i>Slots</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Slots</li>
          </ol>
        </nav>
      </div>
      <div class="container" style="padding:0; text-align:right;">
        <input type="checkbox" id="showonlyemptygraffiti" name="showonlyemptygraffiti" />
        <label for="showonlyemptygraffiti">Show only empty graffiti</label>
      </div>
      <div class="card mt-2">
        <div id="header-placeholder" style="height:39px;"></div>
        <div class="card-body px-0 py-3">
          <div class="table-responsive px-0 py-1">
            <table class="table dataTable no-footer" id="blocks" aria-describedby="blocks_info" role="grid">
              <thead>
                <tr>
                  <th>Epoch</th>
                  <th>Slot</th>
                  <th>Status</th>
                  <th>Time</th>
                  <th>Proposer</th>
                  <th data-toggle="tooltip" data-placement="top" title="Attestations included in slot">Att</th>
                  <th>
                    <span data-toggle="tooltip" data-placement="top" title="Deposits">D<span class="d-none d-lg-inline">eposits</span> <i class="d-lg-none far fa-arrow-alt-circle-down"></i></span> / <span data-toggle="tooltip" data-placement="top" title="Withdrawals">W<span class="d-none d-lg-inline">ithdrawals</span> <i class="d-lg-none far fa-arrow-alt-circle-up"></i></span>
                  </th>
                  <th data-toggle="tooltip" data-placement="top" title="Slashings Proposer/Attester">S- <span>P</span>/<span>A</span></th>
                  <th>Exits</th>
                  <th>Votes</th>
                  <th data-toggle="tooltip" data-placement="top" title="Sync Aggregate participation">Sync Agg %</th>
                  <th>Graffiti</th>
                </tr>
              </thead>
              <tbody>
                {{ range $i, $row := .Data }}
                  <tr>
                    {{ range $j, $col := $row }}
                      <td>{{ $col }}</td>
                    {{ end }}
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
        <div id="footer-placeholder" style="height:64px;"></div>
      </div>
      <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
    </div>
  {{ end }}
{{ end }}
