{{ define "js" }}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="/js/highcharts-global-options.js"></script>
<script>

function calcIssuanceRate(totalStake) {
	var rewardPerDay = calcRewardPerDay(totalStake)
	var rewardPerYear = 365 * rewardPerDay
	return rewardPerYear/32e9
}

function calcRewardPerDay(totalStake, onlinePropabilty) {
	var rewardPerEpoch = calcRewardPerEpoch(totalStake, onlinePropabilty)
	var secondsPerSlot = 12
	var slotsPerEpoch = 32
	var epochsPerDay = 3600 * 24 / (secondsPerSlot*slotsPerEpoch)
	var rewardPerDay = rewardPerEpoch * epochsPerDay
	return rewardPerDay
}

function calcRewardPerEpoch(totalStake, onlinePropabilty) {
	var valStake = 32e9
	var baseReward = valStake*64/(4*Math.sqrt(totalStake))
	var allVal = (totalStake / 32e9)|0
	var onlineVal = (allVal * onlinePropabilty)|0 
	var offlineVal = allVal - onlineVal

	var ffgRewards = 3*baseReward*onlineVal*32e9/(totalStake)
	var ffgPenalties = 3*baseReward
	var propIncentives = (baseReward/8) * (onlineVal/32)
	var attIncentives = 7/8 * baseReward * 1/1

	var totalRewards = 0
	totalRewards +=	ffgRewards * onlineVal 
	totalRewards += propIncentives * 32
	totalRewards += attIncentives * onlineVal
	totalRewards -= ffgPenalties * offlineVal
	
	return totalRewards/allVal
}

function calculate() {
	var totalStake = parseFloat(document.getElementById('staking-variable-totalStake').value)*1e9
	var onlinePropability = parseFloat(document.getElementById('staking-variable-onlinePropabilty').value)/100
	var ethPrice = parseFloat(document.getElementById('staking-variable-ethPrice').value)
	var dailyCosts = parseFloat(document.getElementById('staking-variable-dailyCosts').value)
	
	if (totalStake < 32*16387*1e9*.6) {
		document.getElementById('staking-variable-totalStake').value = 32*16387*.6
		totalStake = 32*16387*1e9*.6
	}
	if (onlinePropability < .01) {
		document.getElementById('staking-variable-onlinePropabilty').value = 1
		onlinePropability = .01
	}
	if (ethPrice < 1) {
		document.getElementById('staking-variable-ethPrice').value = 1
		ethPrice = 1
	}
	if (dailyCosts < 0) {
		document.getElementById('staking-variable-dailyCosts').value = 0
		dailyCosts = 0
	}

	var rewardPerDay = calcRewardPerDay(totalStake, onlinePropability)
	var dailyCostsGwei = 1e9 * dailyCosts/ethPrice
	var incomePerDay   = ((rewardPerDay     - dailyCostsGwei    )/1e9).toFixed(4)
	var incomePerWeek  = ((rewardPerDay*7   - dailyCostsGwei*7  )/1e9).toFixed(4)
	var incomePerMonth = ((rewardPerDay*31  - dailyCostsGwei*31 )/1e9).toFixed(4)
	var incomePerYear  = ((rewardPerDay*365 - dailyCostsGwei*365)/1e9).toFixed(4)

	var incomePerDay$   = (incomePerDay  *ethPrice).toFixed(4)
	var incomePerWeek$  = (incomePerWeek *ethPrice).toFixed(4)
	var incomePerMonth$ = (incomePerMonth*ethPrice).toFixed(4)
	var incomePerYear$  = (incomePerYear *ethPrice).toFixed(4)

	document.getElementById('incomePerDay').innerText   = `${incomePerDay} ETH (${incomePerDay$} $)`
	document.getElementById('incomePerWeek').innerText  = `${incomePerWeek} ETH (${incomePerWeek$} $)`
	document.getElementById('incomePerMonth').innerText = `${incomePerMonth} ETH (${incomePerMonth$} $)`
	document.getElementById('incomePerYear').innerText  = `${incomePerYear} ETH (${incomePerYear$} $)`
	
	document.getElementById('issuancePerDay').innerText   = `${(100*incomePerDay/32  ).toFixed(2)} %`
	document.getElementById('issuancePerWeek').innerText  = `${(100*incomePerWeek/32 ).toFixed(2)} %`
	document.getElementById('issuancePerMonth').innerText = `${(100*incomePerMonth/32).toFixed(2)} %`
	document.getElementById('issuancePerYear').innerText  = `${(100*incomePerYear/32 ).toFixed(2)} %`

	var stakedSeriesData = []
	var onlineSeriesData = []
	var priceSeriesData = []
	var costsSeriesData = []

	for (var i=500e3; i<=6e6; i+=500e3) {
		var rpd = calcRewardPerDay(i*1e9, onlinePropability)
		var ipd = rpd - dailyCostsGwei
		var ipy = 356 * ipd
		stakedSeriesData.push([i, parseFloat((100*ipy/32e9).toFixed(2))])
	}

	for (var i=0.4; i<=1; i+=.05) {
		var rpd = calcRewardPerDay(totalStake, i)
		var ipd = rpd - dailyCostsGwei
		var ipy = 356 * ipd
		onlineSeriesData.push([parseFloat((i).toFixed(2)), parseFloat((100*ipy/32e9).toFixed(2))])
	}

	for (var i=50; i<=1000; i+=50) {
		var rpd = calcRewardPerDay(totalStake, onlinePropability)
		var dailyCostsGwei = 1e9 * dailyCosts/i
		var ipd = rpd - dailyCostsGwei
		var ipy = 356 * ipd
		priceSeriesData.push([i, parseFloat((100*ipy/32e9).toFixed(2))])
	}

	for (var i=0.01; i<=5; i+=0.01) {
		var rpd = calcRewardPerDay(totalStake, onlinePropability)
		var dailyCosts = i
		var dailyCostsGwei = 1e9 * dailyCosts/ethPrice
		var ipd = rpd - dailyCostsGwei
		var ipy = 356 * ipd
		costsSeriesData.push([parseFloat((i).toFixed(2)), parseFloat((100*ipy/32e9).toFixed(2))])
	}

	Highcharts.chart('issuanceOverStakedChart',{
		title: {
			text: 'Yearly Validator Issuance by Total Staked Ether'
		},
		series: [{
			name: 'Validator Issuance (%)',
			data: stakedSeriesData,
		}],
		yAxis: [{ title: { text: 'Validator Issuance (%)' } }],
		xAxis: [{ title: { text: 'Staked Ether (ETH)' } }],
		legend: { enabled: false },
		navigator: { enabled: false },
	})

	Highcharts.chart('issuanceOverOnlineChart',{
		title: {
			text: 'Yearly Validator Issuance by Network Online-Propabilty'
		},
		series: [{
			name: 'Validator Issuance (%)',
			data: onlineSeriesData,
		}],
		yAxis: [{ title: { text: 'Validator Issuance (%)' } }],
		xAxis: [{ title: { text: 'Avg Network Online Propability (%)' } }],
		legend: { enabled: false },
		navigator: { enabled: false },
	})

	Highcharts.chart('issuanceOverETHPriceChart',{
		title: {
			text: 'Yearly Validator Issuance by ETH Price'
		},
		series: [{
			name: 'Validator Issuance (%)',
			data: priceSeriesData,
		}],
		yAxis: [{ title: { text: 'Validator Issuance (%)' } }],
		xAxis: [{ title: { text: 'Eth price ($)' } }],
		legend: { enabled: false },
		navigator: { enabled: false },
	})

	Highcharts.chart('issuanceOverDailyCostsChart',{
		title: {
			text: 'Yearly Validator Issuance by Daily costs'
		},
		series: [{
			name: 'Validator Issuance (%)',
			data: costsSeriesData,
		}],
		yAxis: [{ title: { text: 'Validator Issuance (%)' } }],
		xAxis: [{ title: { text: 'Costs to run a validator ($/day)' } }],
		legend: { enabled: false },
		navigator: { enabled: false },
	})
}

calculate()

$('.staking-variable').on('change',function(){
	calculate()
})

</script>
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
<div class="mb-3">
	<div class="d-md-flex py-2 justify-content-md-between">
		<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-chart-bar"></i> Staking Estimator</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
				<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Staking Estimator</li>
			</ol>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="row">
				<!--
				<div class="col-md-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Total staked Ether</span>
						</div>
						<input id="staking-variable-totalStake" class="staking-variable form-control" type="number" value=500000 min=100000 step=1>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Online propability (%)</span>
						</div>
						<input id="staking-variable-totalStake" class="staking-variable form-control" type="number" value=500000 min=100000 step=1>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">ETH price ($)</span>
						</div>
						<input id="staking-variable-totalStake" class="staking-variable form-control" type="number" value=500000 min=100000 step=1>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Daily costs of running a validator ($/day)</span>
						</div>
						<input id="staking-variable-totalStake" class="staking-variable form-control" type="number" value=500000 min=100000 step=1>
					</div>
				</div>
				-->
				<div class="col-md-6">
					<div style="padding:10px;padding-bottom:0;">
						<table class="table">
							<tbody>
								<tr>
									<th>Total staked ether</th>
									<td><input id="staking-variable-totalStake" class="staking-variable" type="number" value=500000 min=100000 step=1></td>
								</tr>
								<tr>
									<th>Online propability (%)</th>
									<td><input id="staking-variable-onlinePropabilty" class="staking-variable" type="number" value=95 min=1 step=1></td>
								</tr>
								<tr>
									<th>ETH price ($)</th>
									<td><input id="staking-variable-ethPrice" class="staking-variable" type="number" value=134.05 min=0.01 step=0.01></td>
								</tr>
								<tr>
									<th>Daily costs of running a validator ($/day)</th>
									<td><input id="staking-variable-dailyCosts" class="staking-variable" type="number" value=2.0 min=0></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div style="padding:10px;padding-bottom:0;">
						<table class="table">
							<tbody>
								<tr>
									<th>Duration</th>
									<th>Income</th>
									<th>Issuance</th>
								</tr>
								<tr>
									<th>1 day</th>
									<td id="incomePerDay"></td>
									<td id="issuancePerDay"></td>
								</tr>
								<tr>
									<th>7 days</th>
									<td id="incomePerWeek"></td>
									<td id="issuancePerWeek"></td>
								</tr>
								<tr>
									<th>31 days</th>
									<td id="incomePerMonth"></td>
									<td id="issuancePerMonth"></td>
								</tr>
								<tr>
									<th>365 days</th>
									<td id="incomePerYear"></td>
									<td id="issuancePerYear"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--
				<div class="col-md-6">
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated daily income:</h3>
						<h1 id="incomePerDay">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated weekly income:</h3>
						<h1 id="incomePerWeek">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Estimated monthly income:</h3>
						<h1 id="incomePerMonth">-</h1>
					</div>
					<div style="height:25%; display: flex; flex-direction:column; justify-content: center; align-items:center;">
						<h3>Income Rate (% per year):</h3>
						<h1 id="issuanceRate">-</h1>
					</div>
				</div>
				-->
				<div class="col-md-6">
					<div id="issuanceOverStakedChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverOnlineChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverETHPriceChart"></div>
				</div>
				<div class="col-md-6">
					<div id="issuanceOverDailyCostsChart"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
