{{ define "js" }}
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    {{ if ne .FlashMessage "" }}
      <div class="alert container mt-2 {{ if contains .FlashMessage "Error" }}alert-danger{{ else }}alert-success{{ end }} alert-dismissible fade show my-3 py-2" role="alert">
        <div class="p-2">{{ .FlashMessage | formatHTML }}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{ end }}
    <div class="container">
      <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
      <section>
        <div class="row">
          <div class="col-md-12">
            <div class="page-title">
              <h4 class="h4">Staking Services</h4>
            </div>
            <div>
              <div class="sub-page-title">beaconcha.in has not vetted any of the Staking Services listed below! Please do your own research.</div>
              <div class="mb-d">
                <b>Real-time staking pool <a href="/pools"> benchmarks</a>.</b>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table" id="stakingServices">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th><a href="https://execution-diversity.info/">No Supermajority client</a></th>
                    <th>Validator key owner</th>
                    <th>Withdrawal key owner</th>
                    <th>Pool token</th>
                    <th>3rd Party Software</th>
                    <th>Min. Stake</th>
                    <th>Fee</th>
                    <th>Open Source</th>
                    <th>Social</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .StakingServices }}
                    {{ template "stakingServiceRow" . }}
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section class="mt-d">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 col-lg-10">
                <h1 class="h4 ">Request to add your Staking Service</h1>
                <p class="text-muted col-md-8 px-0">
                  If you have a staking service and want it to be listed above please create a <a class="" href="https://github.com/gobitfly/eth2-beaconchain-explorer/blob/master/templates/stakingServices.html">pull request <i class="fab fa-github"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {{ end }}
{{ end }}

{{ define "stakingServiceRow" }}
  <tr {{ if .IsHighlighted }}style="border-bottom: 3px solid orange;"{{ end }}>
    <td data-column="Service">
      <a href="{{ .Link }}">{{ .Name }}</a>
      {{ if len .OperatedBy }}<span> {{ .OperatedBy }}</span>{{ end }}
      {{ if .HasHardwareWalletSupport }}
        <br />
        <span style="font-size: xx-small; font-style: italic;">Hardware Wallet Support</span>
      {{ end }}
    </td>
    <td data-column="No Supermajority client" style="text-align: center;">{{ labelCheckIcon .HasNoSupermajorityClient }}</td>
    <td data-column="Validator key owner">{{ labelOrQuestionmark .ValidatorKeyOwner }}</td>
    <td data-column="Withdrawal key owner">{{ labelOrQuestionmark .WithdrawalKeyOwner }}</td>
    <td data-column="Pool token">{{ labelYesNo .HasPoolToken }}</td>
    <td data-column="3rd Party Software">{{ labelYesNo .HasThirdPartySoftware }}</td>
    <td data-column="Min. Stake">{{ labelOrQuestionmark .MinStake }}</td>
    <td data-column="Fee">{{ labelOrQuestionmark .Fee }}</td>
    {{ if len .OpenSourceLink }}
      <td data-column="Open Source"><a href="{{ .OpenSourceLink }}">Yes</a></td>
    {{ else }}
      <td data-column="Open Source">{{ labelYesNo .IsOpenSource }}</td>
    {{ end }}
    <td data-column="Social" class="d-flex">
      {{ if len .AWS }}<a href="{{ .AWS }}" target="_blank"><i class="fab fa-aws ml-1 mr-1"></i></a>{{ end }}{{ if len .LinkedIn }}<a href="{{ .LinkedIn }}" target="_blank"><i class="fab fa-linkedin ml-1 mr-1"></i></a>{{ end }}{{ if len .Discord }}
        <a href="{{ .Discord }}" target="_blank"><i class="fab fa-discord ml-1 mr-1"></i></a>
      {{ else if not ( or (len .LinkedIn) (len .AWS)) }}
        <i class="fab fa-discord ml-1 mr-1"></i>
      {{ end }}{{ if len .Twitter }}
        <a href="{{ .Twitter }}" target="_blank"><i class="fab fa-twitter ml-1 mr-1"></i></a>
      {{ else }}
        <i class="fab fa-twitter ml-1 mr-1"></i>
      {{ end }}{{ if len .Telegram }}
        <a href="{{ .Telegram }}" target="_blank"><i class="fab fa-telegram ml-1 mr-1"></i></a>
      {{ else if not ( and (len .LinkedIn) (len .AWS)) }}
        <i class="fab fa-telegram ml-1 mr-1"></i>
      {{ end }}{{ if len .EMail }}
        <a href="mailto:{{ .EMail }}"><i class="fa fa-mail-bulk ml-1 mr-1"></i></a>
      {{ else }}
        <i class="fa fa-mail-bulk ml-1 mr-1"></i>
      {{ end }}
    </td>
  </tr>
{{ end }}
