{{ define "js"}}
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
<div class="my-3">
	<div class="d-md-flex py-2 justify-content-md-between">
		<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-history mr-2"></i>Epochs</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
                <li class="breadcrumb-item active" aria-current="page">User</li>
			</ol>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body px-0 py-2">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input required inputmode="email" type="text" maxlength="100" class="form-control" autocomplete="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Old Password</label>
                <input required type="password" minlength="5" maxlength="256" class="form-control" autocomplete="current-password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input required type="password" minlength="5" maxlength="256" class="form-control" autocomplete="new-password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="pw-confirm">Confirm New Password</label>
                <input oninput="" required type="password" minlength="5" maxlength="256" class="form-control" autocomplete="new-password" id="pw-confirm" name="pw-confirm">
            </div>
            <button type="submit" class="btn btn-primary float-right">Save Changes</button>
        </form>
        <form action="/delete">
            <button type="submit" class="btn btn-primary float-right">Delete Account</button>
        </form>
    </div>
</div>
{{end}}