{{ define "js"}}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#blocks').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "searching": false,
                "ajax": "/validator/{{printf "%x" .PublicKey}}/proposedblocks",
                "pagingType": "full",
                "columnDefs": [{
                    "targets": 3,
                    "data": "3",
                    "render": function (data, type, row, meta) {
                        return moment.unix(data).format("L LTS");
                    }
                }, {
                    "targets": 4,
                    "data": "4",
                    "render": function (data, type, row, meta) {
                        if (data.length < 64) {
                            return 'N/A'
                        } else {
                            return '<a href="/block/' + data + '">0x' + data.substr(0, 8) + '...</a>';
                        }
                    }
                }, {
                    "targets": 1,
                    "data": "1",
                    "render": function (data, type, row, meta) {
                        return '<a href="/block/' + data + '">' + data + '</a>';
                    }
                }]
            });
        });
    </script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
        Highcharts.stockChart('balancechart', {
            exporting: {
                scale: 1
            },
            rangeSelector: {
                enabled: false
            },
            navigator: {
                enabled: true
            },
            chart: {
                type: 'line',
                animation: false,
                style: {
                    fontFamily: 'Helvetica Neue", Helvetica, Arial, sans-serif'
                },
                backgroundColor: 'rgb(255, 255, 255)'
            },
            title: {
                text: 'Balance History for Validator {{.Index}}'
            },
            subtitle: {
                text: 'Source: beaconcha.in',
                style: {
                    color: 'black'
                }
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    style: {
                        color: 'black'
                    }
                },
                range: 7 * 24 * 60 * 60 * 1000
            },
            yAxis: {
                title: {
                    text: 'Balance [ETH]',
                    style: {
                        color: 'black'
                    }
                },
                labels: {
                    formatter: function () {
                        return this.value.toFixed(2);
                    },
                    style: {
                        color: 'black'
                    }
                },
                opposite: false
            },
            series: [{
                name: "Balance",
                data: {{.BalanceHistoryChartData}}
            }],
            plotOptions: {
                line: {
                    animation: false,
                    lineWidth: 2.5,
                }
            },
            legend: {
                enabled: true
            },
            credits: {
                enabled: false
            }
        });

    </script>

<script>
    const proposedTile = document.getElementById('pills-blocks-tab')
    proposedTile.addEventListener('click', () => {
        console.log('creating chart', 'Proposed Cound: ',{{.StatusProposedCount }}, 'Missed Count', {{ .StatusMissedCount }})
        createProposedChart()
    })
    function createProposedChart() {
        var margin = {top: 40, right: 30, bottom: 30, left: 50},
        width = 460 - margin.left - margin.right,
        height = 320 - margin.top - margin.bottom;

    var greyColor = "#898989";
    var barColor = d3.interpolateWarm(0.65);
    var highlightColor = d3.interpolateWarm(0.88);

    var formatPercent = d3.format(".0%");
    d3.select('#proposed-chart svg').remove()
    var svg = d3.select("#proposed-chart").insert("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleBand()
        .range([0, width])
            .padding(0.4);
    var y = d3.scaleLinear()
        .range([height, 0]);

    var xAxis = d3.axisBottom(x).tickSize([]).tickPadding(10);
    var yAxis = d3.axisLeft(y).tickFormat(formatPercent);
    var total = {{.StatusProposedCount}} + {{.StatusMissedCount}}
    var proposed = {{.StatusProposedCount}} / total
    var missed = {{.StatusMissedCount}} / total 

    var dataset = [{
        "status":"Proposed", 
        "value": proposed
    }, {
        "status":"Missed", 
        "value": missed 
    }];

    x.domain(dataset.map( d => { return d.status; }));
    // y.domain([0, d3.max(dataset,  d => { return d.value; })]);
    y.domain([0, 1]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
    svg.append("g")
        .attr("class","y axis")
        .call(yAxis);

    svg.selectAll(".bar")
        .data(dataset)
        .enter().append("rect")
        .attr("class", "bar")
        .style("display", d => { return d.value === null ? "none" : null; })
        .style("fill",  d => { 
            return d.value === d3.max(dataset,  d => { return d.value; }) 
            ? highlightColor : barColor
            })
        .attr("x",  d => { return x(d.status); })
        .attr("width", x.bandwidth())
            .attr("y",  d => { return height; })
            .attr("height", 0)
                .transition()
                .duration(750)
                .delay(function (d, i) {
                    return i * 150;
                })
        .attr("y",  d => { return y(d.value); })
        .attr("height",  d => { return height - y(d.value); });

    svg.selectAll(".label")        
        .data(dataset)
        .enter()
        .append("text")
        .attr("class", "label")
        .style("display",  d => { return d.value === null ? "none" : null; })
        .attr("x", ( d => { return x(d.status) + (x.bandwidth() / 2) -8 ; }))
            .style("fill",  d => { 
                return d.value === d3.max(dataset,  d => { return d.value; }) 
                ? highlightColor : greyColor
                })
        .attr("y",  d => { return height; })
            .attr("height", 0)
                .transition()
                .duration(750)
                .delay((d, i) => { return i * 150; })
        .text( d => { return formatPercent(d.value); })
        .attr("y",  d => { return y(d.value) + .1; })
        .attr("dy", "-.7em"); 
    }
  </script>

{{end}}

{{ define "css"}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
    
    <style>
       :root { --var-color-grey: #898989; }

        text {
            font-family: Helvetica;
            color: var(--var-color-grey);
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: var(--var-color-grey);
            shape-rendering: crispEdges;
        }
        .x.axis {font-size: 15px;  }
        .y.axis {font-size: 12px; }
    </style>
{{end}}

{{ define "content"}}
    <div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded">
        <div class="row border-bottom p-3 text-center">
            <div class="col-md-12">
                <h1>
                    <span class="ml-1 mr-1">Validator {{.Index}}</span>
                </h1>
                <h6 class="text-monospace text-break">0x{{printf "%x" .PublicKey}}</h6>
            </div>
        </div>
        <div class="row border-bottom p-1">
            <div class="col-md-12">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview"
                           role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-blocks-tab" data-toggle="pill" href="#pills-blocks"
                           role="tab" aria-controls="pills-blocks" aria-selected="false">Proposed Blocks <span
                                    class="badge badge-secondary">{{.ProposedBlocksCount}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-attestations-tab" data-toggle="pill" href="#pills-attestations"
                           role="tab" aria-controls="pills-attestations" aria-selected="false"> <span
                                    class="badge badge-secondary"></span></a>
                    </li>
                    {{/*                    <li class="nav-item">*/}}
                    {{/*                        <a class="nav-link" href="#">Deposits <span class="badge badge-secondary">{{.DepositsCount}}</span></a>*/}}
                    {{/*                    </li>*/}}
                    {{/*                    <li class="nav-item">*/}}
                    {{/*                        <a class="nav-link" href="#">Exits <span class="badge badge-secondary">{{.VoluntaryExitscount}}</span></a>*/}}
                    {{/*                    </li>*/}}
                    {{/*                    <li class="nav-item">*/}}
                    {{/*                        <a class="nav-link" href="#">Slashings <span class="badge badge-secondary">{{.SlashingsCount}}</span></a>*/}}
                    {{/*                    </li>*/}}
                </ul>
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-overview" role="tabpanel"
                 aria-labelledby="pills-overview-tab">
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Unique Index:</div>
                    <div class="col-md-10">{{.Index}}</div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Current Balance:</div>
                    <div class="col-md-10">{{.CurrentBalanceFormatted}}</div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Effective Balance:</div>
                    <div class="col-md-10">{{.EffectiveBalanceFormatted}}</div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Status:</div>
                    <div class="col-md-10"><b>{{.Status}}</b></div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Slashed:</div>
                    <div class="col-md-10">{{.Slashed}}</div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Activation eligibility on:</div>
                    <div class="col-md-10"><span aria-ethereum-date="{{.ActivationEligibilityTs.Unix}}">{{.ActivationEligibilityTs}}</span> (Epoch {{.ActivationEligibilityEpoch}})</div>
                </div>
                <div class="row border-bottom p-3">
                    <div class="col-md-2">Activation on:</div>
                    <div class="col-md-10"><span aria-ethereum-date="{{.ActivationTs.Unix}}">{{.ActivationTs}}</span> (Epoch {{.ActivationEpoch}})</div>
                </div>
                {{if eq .Status "Ejected"}}
                    <div class="row border-bottom p-3">
                        <div class="col-md-2">Exit on:</div>
                        <div class="col-md-10"><span aria-ethereum-date="{{.ExitTs.Unix}}">{{.ExitTs}}</span> (Epoch {{.ExitEpoch}})</div>
                    </div>
                    <div class="row border-bottom p-3">
                        <div class="col-md-2">Withdrawable on:</div>
                        <div class="col-md-10"><span aria-ethereum-date="{{.WithdrawableTs.Unix}}">{{.WithdrawableTs}}</span> (Epoch {{.WithdrawableEpoch}})</div>
                    </div>
                {{end}}
                <div class="row border-bottom p-3">
                    <div class="col-md-12">
                        <div id="balancechart" height="200px"></div>
                </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-blocks" role="tabpanel" aria-labelledby="pills-blocks-tab">
                <div class="table-responsive mt-4">
                    <table class="table" id="blocks" width="100%">
                        <thead>
                        <tr>
                            <th>Epoch</th>
                            <th>Slot</th>
                            <th>Status</th>
                            <th>Time</th>
                            <th>Root Hash</th>
                            <th>Attestations</th>
                            <th>Deposits</th>
                            <th>Slashings <span data-toggle="tooltip" data-placement="top" title="Proposers">P</span> / <span
                                        data-toggle="tooltip" data-placement="top" title="Attesters">A</span></th>
                            <th>Exits</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div style="display: flex; align-items:center; flex-direction: column; justify-content: center;">
                        <h5>Proposed Block History</h5>
                        <div id="proposed-chart"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-attestations" role="tabpanel" aria-labelledby="pills-attestations-tab">

            </div>
        </div>
    </div>
{{end}}