{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/js/jszip.min.js"></script>
  <script type="text/javascript" src="/js/pdfmake.min.js"></script>
  <script type="text/javascript" src="/js/vfs_fonts.min.js"></script>
  <script type="text/javascript" src="/js/buttons.html5.min.js"></script>
  <script>
    $("#stats-table").DataTable({
      pageLength: 400,
      stateSave: true,
      lengthChange: false,
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      order: [[0, "desc"]],
    })
  </script>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css" />
  <style></style>
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2 validator-content">
      <div class="my-3 py-2">
        <div class="d-md-flex justify-content-md-between">
          <div class="d-flex mb-1">
            <h1 class="h4 mb-1 mb-md-0">
              <span>Daily Statistics for Validator {{ .ValidatorIndex }}</span>
            </h1>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
              <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
              <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
              <li class="breadcrumb-item"><a href="/validator/{{ .ValidatorIndex }}" title="Validators">Validator details</a></li>
              <li class="breadcrumb-item active" aria-current="page">Daily Stats</li>
            </ol>
          </nav>
        </div>
      </div>
      <table class="table table-sm table-striped" id="stats-table">
        <thead>
          <tr>
            <th>Day</th>
            <th colspan="3">Balance</th>
            <th colspan="2">Attestations</th>
            <th colspan="3">Blocks</th>
            <th colspan="2">Slashings</th>
            <th colspan="2">Deposits</th>
          </tr>
          <tr>
            <th></th>
            <th title="Income of the day" data-toggle="tooltip">Income</th>
            <th title="Balance at the start of the day" data-toggle="tooltip">Start</th>
            <th title="Balance at the end of the day" data-toggle="tooltip">End</th>
            <th title="Amount of missed attestations" data-toggle="tooltip">M</th>
            <th title="Amount of orphaned attestations" data-toggle="tooltip">O</th>
            <th title="Amount of proposed blocks" data-toggle="tooltip">P</th>
            <th title="Amount of missed blocks" data-toggle="tooltip">M</th>
            <th title="Amount of orphaned blocks" data-toggle="tooltip">O</th>
            <th title="Amount of included attester slashings" data-toggle="tooltip">Att</th>
            <th title="Amount of proposer attester slashings" data-toggle="tooltip">Prop</th>
            <th title="Amount of deposits" data-toggle="tooltip">#</th>
            <th title="ETH deposited" data-toggle="tooltip">Amount</th>
          </tr>
        </thead>
        <tbod>
          {{ range .Rows }}
            <tr>
              <td data-order="{{ .Day }}">{{ (dayToTime .Day).Format "02 Jan 2006" }}</td>
              <td>{{ formatIncome .Income $.Rates.Currency }}</td>
              <td>{{ formatBalanceSql .StartBalance $.Rates.Currency }}</td>
              <td>{{ formatBalanceSql .EndBalance $.Rates.Currency }}</td>
              <td>{{ formatSqlInt64 .MissedAttestations }}</td>
              <td>{{ formatSqlInt64 .OrphanedAttestations }}</td>
              <td>{{ formatSqlInt64 .ProposedBlocks }}</td>
              <td>{{ formatSqlInt64 .MissedBlocks }}</td>
              <td>{{ formatSqlInt64 .OrphanedBlocks }}</td>
              <td>{{ formatSqlInt64 .AttesterSlashings }}</td>
              <td>{{ formatSqlInt64 .ProposerSlashings }}</td>
              <td>{{ formatSqlInt64 .Deposits }}</td>
              <td>{{ formatIncomeSql .DepositsAmount $.Rates.Currency }}</td>
            </tr>
          {{ end }}
        </tbod>
      </table>
    </div>
  {{ end }}
{{ end }}
