{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/js/jszip.min.js"></script>
  <script type="text/javascript" src="/js/pdfmake.min.js"></script>
  <script type="text/javascript" src="/js/vfs_fonts.min.js"></script>
  <script type="text/javascript" src="/js/buttons.html5.min.js"></script>
  <script>
    $("#stats-table").DataTable({
      pageLength: 400,
      stateSave: true,
      stateSaveCallback: function (settings, data) {
        data.start = 0
        localStorage.setItem("DataTables_" + settings.sInstance, JSON.stringify(data))
      },
      stateLoadCallback: function (settings) {
        return JSON.parse(localStorage.getItem("DataTables_" + settings.sInstance))
      },
      searchDelay: 0,
      lengthChange: false,
      dom: "Bfrtip",
      buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
      order: [[0, "desc"]],
    })
  </script>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css" />
  <style></style>
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2 validator-content">
      <div class="my-3 py-2">
        <div class="deprecation-banner-container" style="padding: 0 0.5rem;">
          <div class="alert alert-info d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap" role="alert" style="font-size:1.0rem; padding: 1.5rem 1rem;">
            <div class="d-none d-md-flex flex-column align-items-center justify-content-center mr-0 mr-md-5 mb-3 mb-md-0" style="min-width:60px; margin-left: 2.5rem;">
              <i class="fas fa-info-circle fa-3x" style="color: #31708f;"></i>
            </div>
            <div class="flex-grow-1" style="padding: 0 0.5rem;">
              <div class="d-flex d-md-none justify-content-center mb-2" style="margin-bottom:1.5rem !important; margin-top:0.5rem; padding-left:0.5rem; padding-right:0.5rem;">
                <i class="fas fa-info-circle fa-2x" style="color: #31708f;"></i>
              </div>
              <div class="mb-2 banner-text-mobile" style="font-size:1.0rem; padding-left:0.5rem; padding-right:0.5rem;">
                This page will be discontinued on <strong>August 20th, 2025</strong>.<br />
                We appreciate your understanding as we retire this lightly used service.
              </div>
            </div>
          </div>
        </div>
        <style>
          @media (max-width: 576px) {
            .alert.alert-info {
              flex-direction: column !important;
              align-items: stretch !important;
              padding: 1rem 0.5rem !important;
              font-size: 0.98rem !important;
            }
            .alert.alert-info .mr-md-5 {
              margin-right: 0 !important;
            }
            .alert.alert-info .mb-md-0 {
              margin-bottom: 0 !important;
            }
            .alert.alert-info .mb-3 {
              margin-bottom: 1rem !important;
            }
            .alert.alert-info .flex-grow-1 {
              padding: 0 0.5rem !important;
            }
            .alert.alert-info .d-flex.flex-column.flex-sm-row {
              flex-direction: column !important;
              gap: 0.5rem !important;
            }
            .alert.alert-info a.btn {
              width: 100%;
              text-align: left;
            }
            .alert.alert-info .banner-text-mobile {
              margin-left: 0.25rem;
              margin-right: 0.25rem;
            }
            .alert.alert-info .d-flex.d-md-none {
              margin-bottom: 1rem !important;
              margin-left: 0.25rem;
              margin-right: 0.25rem;
            }
          }
        </style>
        <div class="d-md-flex justify-content-md-between">
          <div class="d-flex mb-1">
            <h1 class="h4 mb-1 mb-md-0">
              <span>Daily Statistics for Validator {{ .ValidatorIndex }}</span>
            </h1>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
              <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
              <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
              <li class="breadcrumb-item"><a href="/validator/{{ .ValidatorIndex }}" title="Validators">Validator details</a></li>
              <li class="breadcrumb-item active" aria-current="page">Daily Stats</li>
            </ol>
          </nav>
        </div>
      </div>
      <table class="table table-sm table-striped" id="stats-table">
        <thead>
          <tr>
            <th>Day</th>
            <th colspan="3">Balance</th>
            <th colspan="1">Attestations</th>
            <th colspan="3">Blocks</th>
            <th colspan="2">Slashings</th>
            <th colspan="2">Deposits</th>
          </tr>
          <tr>
            <th></th>
            <th title="Income of the day" data-toggle="tooltip">Income</th>
            <th title="Balance at the start of the day" data-toggle="tooltip">Start</th>
            <th title="Balance at the end of the day" data-toggle="tooltip">End</th>
            <th title="Amount of missed attestations" data-toggle="tooltip">M</th>
            <th title="Amount of proposed blocks" data-toggle="tooltip">P</th>
            <th title="Amount of missed blocks" data-toggle="tooltip">M</th>
            <th title="Amount of orphaned blocks" data-toggle="tooltip">O</th>
            <th title="Amount of included attester slashings" data-toggle="tooltip">Att</th>
            <th title="Amount of proposer attester slashings" data-toggle="tooltip">Prop</th>
            <th title="Amount of deposits" data-toggle="tooltip">#</th>
            <th title="ETH deposited" data-toggle="tooltip">Amount</th>
          </tr>
        </thead>
        <tbod>
          {{ range .Rows }}
            <tr>
              <td data-order="{{ .Day }}">{{ (dayToTime .Day).Format "02 Jan 2006" }}</td>
              <td>{{ formatIncome .Income $.Rates.SelectedCurrency true }}</td>
              <td>{{ formatBalanceSql .StartBalance $.Rates.SelectedCurrency }}</td>
              <td>{{ formatBalanceSql .EndBalance $.Rates.SelectedCurrency }}</td>
              <td>{{ formatSqlInt64 .MissedAttestations }}</td>
              <td>{{ formatSqlInt64 .ProposedBlocks }}</td>
              <td>{{ formatSqlInt64 .MissedBlocks }}</td>
              <td>{{ formatSqlInt64 .OrphanedBlocks }}</td>
              <td>{{ formatSqlInt64 .AttesterSlashings }}</td>
              <td>{{ formatSqlInt64 .ProposerSlashings }}</td>
              <td>{{ formatSqlInt64 .Deposits }}</td>
              <td>{{ formatIncomeSql .DepositsAmount $.Rates.SelectedCurrency }}</td>
            </tr>
          {{ end }}
        </tbod>
      </table>
    </div>
  {{ end }}
{{ end }}
