{{ define "js"}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#pending').DataTable({
      processing: true,
      serverSide: true,
      ordering: true,
      searching: true,
      ajax: '/validators/data/pending',
      pagingType: 'full',
      drawCallback: function() {
        $('[data-toggle="tooltip"]').tooltip()
      },
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        },
        {
          targets: 5,
          data: '5',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 6,
          data: '6',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        }
      ]
    })
    $('#active').DataTable({
      processing: true,
      serverSide: true,
      ordering: true,
      searching: true,
      ajax: '/validators/data/active',
      pagingType: 'full',
      drawCallback: function() {
        $('[data-toggle="tooltip"]').tooltip()
      },
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        },
        {
          targets: 5,
          data: '5',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 6,
          data: '6',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        }
      ]
    })
    $('#ejected').DataTable({
      processing: true,
      serverSide: true,
      ordering: true,
      searching: true,
      ajax: '/validators/data/ejected',
      pagingType: 'full',
      drawCallback: function() {
        $('[data-toggle="tooltip"]').tooltip()
      },
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        },
        {
          targets: 5,
          data: '5',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 6,
          data: '6',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 7,
          data: '7',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 8,
          data: '8',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        }
      ]
    })
    $('#offline').DataTable({
      processing: true,
      serverSide: true,
      ordering: true,
      searching: true,
      ajax: '/validators/data/offline',
      pagingType: 'full',
      drawCallback: function() {
        $('[data-toggle="tooltip"]').tooltip()
      },
      columnDefs: [
        {
          targets: 0,
          data: '0',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">0x' + data.substr(0, 8) + '...</a>'
          }
        },
        {
          targets: 1,
          data: '1',
          render: function(data, type, row, meta) {
            return '<a href="/validator/' + data + '">' + data + '</a>'
          }
        },
        {
          targets: 5,
          data: '5',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 6,
          data: '6',
          render: function(data, type, row, meta) {
            return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (epoch ${data[0]})</span>`
          }
        },
        {
          targets: 7,
          data: '7',
          render: function(data, type, row, meta) {
            if (data !== null && data !== undefined) {
              return `<span data-toggle="tooltip" data-placement="top" title="${moment.unix(data[1]).format()}">${moment.unix(data[1]).fromNow()} (slot ${data[0]})</span>`
            } else {
              return 'No Attestations Found'
            }
          }
        }
      ]
    })
  })
</script>
{{end}} {{ define "css"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{{end}} {{ define "content"}}
<div class="mb-3">
  <div class="d-md-flex py-2 justify-content-md-between">
    <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-thumbs-up"></i> Validators</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Validators</li>
      </ol>
    </nav>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="text-center">Found {{.PendingCount}} pending, {{.ActiveCount}} active and {{.EjectedCount}} ejected validators</h5>
    {{if gt .PendingCount 0}}
    <h4>Pending activation</h4>
    <div class="table-responsive col-sm-12">
      <table class="table table-sm" id="pending">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Eligible for Activation</th>
            <th>Estimated Activation</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <hr />
      </div>
    </div>
    {{end}}
    <div class="table-responsive col-sm-12">
      <h4>Active</h4>
      <table class="table table-sm" id="active">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Eligible for Activation</th>
            <th>Active since</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <hr />
      </div>
    </div>
    <div class="table-responsive col-sm-12">
      <h4>Ejected</h4>
      <table class="table table-sm" id="ejected">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Eligible for Activation</th>
            <th>Active since</th>
            <th>Exit</th>
            <th>Withdrawable</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <hr />
      </div>
    </div>
    <div class="table-responsive col-sm-12">
      <h4>Offline</h4>
      <table class="table table-sm" id="offline">
        <thead>
          <tr>
            <th>Public Key</th>
            <th>Index</th>
            <th>Current Balance</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
            <th>Eligible for Activation</th>
            <th>Active since</th>
            <th>Last Attestation</th>
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}
