{{ define "js" }}
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable_input.js"></script>
  <script type="text/javascript" src="/js/highcharts/highstock.min.js"></script>
  <script type="text/javascript" src="/js/highcharts/highcharts-global-options.js"></script>
    <script>
        $(document).ready(function() {
            var usp = new URLSearchParams(window.location.search)
            var q = usp.get('q')
            var tbl = $('#withdrawals').DataTable({
                processing: true,
                serverSide: true,
                ordering: true,
                stateSave: true,
                order: [[2, 'desc']],
                searching: true,
                ajax: '/validators/withdrawals/data',
                pagingType: 'input',
                preDrawCallback: function() {
                    // this does not always work.. not sure how to solve the staying tooltip
                    try {
                        $('#withdrawals').find('[data-toggle="tooltip"]').tooltip('dispose')
                    } catch (e) {
                    }
                },
                drawCallback: function(settings) {
                    formatTimestamps('#withdrawals')
                },
                language: {
                    searchPlaceholder: '',
                    search: '',
                    paginate: {
                        previous: '<i class="fas fa-chevron-left"></i>',
                        next: '<i class="fas fa-chevron-right"></i>'
                    }
                }
            })
            if (q) {
                tbl.search(q);
                tbl.draw();
            }
            // $("#withdrawals_filter > label > input").on('input', function(ev) {
            //     if (ev && ev.target && ev.target.value) {
            //         var newUrl = window.location.pathname + "?q=" + encodeURIComponent(ev.target.value)
            //         window.history.replaceState(null, 'Eth1Deposits', newUrl)
            //     } else {
            //         window.history.replaceState(null, 'Eth1Deposits', window.location.pathname)
            //     }
            // })

        })
    </script>
{{ end }}
{{ define "css" }}
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <div class="container my-2">
      <div class="d-md-flex py-2 justify-content-md-between mb-3">
        <div class="heading">
          <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-money-bill mr-2"></i>Withdrawals</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
            <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
            <li class="breadcrumb-item active" aria-current="page">withdrawals</li>
          </ol>
        </nav>
      </div>
      <div class="row mb-1">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="d-flex justify-content-between align-item-center">
                <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">Total</h2>
                <span class="h6" title="Number of withdrawals Processed">5 Withdrawals</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <span class="h6 font-weight-normal mb-0"><b>328 ETH</b> processed</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="d-flex justify-content-between align-item-center">
                <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">Exit Withdrawals</h2>
                <span class="h6" title="Number of deposits made">3 Deposits</span>
              </div>
              <div class="d-flex align-items-center">
                <span style="max-width: 150px;" class="h6 font-weight-normal mb-0 text-truncate">
                  <a href="/validators/deposit-leaderboard" class="text-primary text-truncate">
                    <i class="fas fa-medal"></i>
                    0x12345
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="d-flex align-item-center">
                <h2 class="small text-uppercase font-weight-medium text-secondary mr-1">Address Changes</h2>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <span class="h6 font-weight-normal mb-0"><b>5</b> address changes</span>
                <span class="h6 font-weight-normal mb-0"><b>328</b> ineligible validators</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        {{ template "depositChart" . }}
      </div>
      <h6 class="my-2 text-muted">This table displays the deposits made on Ethereum for validators who wish to join the Beacon Chain.</h6>
      <div class="card">
        <div class="card-body px-0 py-2">
          <div class="table-responsive pt-2">
            <table class="table" id="deposits">
              <thead>
                <tr>
                  <th>Epoch</th>
                  <th>Slot</th>
                  <th>Index</th>
                  <th>Validator</th>
                  <th>Address</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between py-2">
        <ins data-revive-zoneid="1" data-revive-id="5b200397ccf8a9353bf44ef99b45268c"></ins>
      </div>
    </div>
  {{ end }}
{{ end }}
