{{ define "banner" }}
<div class=" my-3 pb-1 ad d-flex justify-content-center">
  <div class="position-relative" style="width:fit-content">
    <span class="position-absolute rounded bg-dark px-1 text-light" style="font-size: .6rem; right: 0; top: -.5rem;">Ad</span>
    <div v-if="document.body.clientWidth < 1140" class="d-lg-none">
      <iframe  id='a9ff2630' name='a9ff2630' src='https://servedby.revive-adserver.net/afr.php?refresh=6&amp;zoneid=6339&amp;cb=1' frameborder='0' scrolling='no' width='320' height='40' allow='autoplay'>
        <a href='https://servedby.revive-adserver.net/ck.php?n=adb5d720&amp;cb=1' target='_blank'>
          <img src='https://servedby.revive-adserver.net/avw.php?zoneid=6339&amp;cb=1&amp;n=adb5d720' border='0' alt='' />
        </a>
      </iframe>
    </div>  
    <div v-else class="d-none d-lg-block">

      <iframe id='a8ef3134' name='a8ef3134' src='https://servedby.revive-adserver.net/afr.php?refresh=6&amp;zoneid=6333&amp;cb=1' frameborder='0' scrolling='no' width='970' height='62' allow='autoplay'>
        <a href='https://servedby.revive-adserver.net/ck.php?n=a9c385ab&amp;cb=1' target='_blank'>
          <img src='https://servedby.revive-adserver.net/avw.php?zoneid=6333&amp;cb=1&amp;n=a9c385ab' border='0' alt='' />
        </a>
      </iframe>
    </div>
  </div>
</div>
{{end}}