{{ define "banner" }}
  <div id="r-banner" class=" my-2 pb-1 ad d-flex justify-content-center align-items-center">
    <div id="revive-banner" class="position-relative d-flex justify-content-center align-items-center" style="width:100%; height: 90px">
      <ins ref="ins" data-revive-zoneid="{{ .bannerId }}" data-revive-id="5b200397ccf8a9353bf44ef99b45268c"> </ins>
    </div>

    <script>
      window.addEventListener("load", function () {
        function refreshAd() {
          if (document.hasFocus()) {
            $("#revive-banner").find("ins").removeAttr("data-revive-loaded")
            $("#revive-banner").find("ins").removeAttr("data-revive-seq")
            reviveAsync["5b200397ccf8a9353bf44ef99b45268c"].refresh()
          }
        }
        window.requestInterval(refreshAd, 6000)
      })
    </script>
  </div>
{{ end }}
