{{ define "currencySelection" }}
  {{ if .Mainnet }}
    <script>
      function updateCurrency(currency) {
        document.cookie = "currency=" + currency + ";samesite=strict;path=/"
        window.location.reload(true)
      }
    </script>
    <div class="dropdown">
      <a class="btn btn-transparent btn-sm dropdown-toggle currency-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div id="currencyFlagDropdown">
          <img class="currency-flag-dropdown-image" src="/img/{{ .Rates.Currency }}.svg" />
        </div>
        <div id="currencyDropdown">{{ .Rates.Currency }}</div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="currencyDropdown">
        {{ range .AvailableCurrencies }}
          <a tabindex="1" class="dropdown-item cursor-pointer" onClick="updateCurrency({{ . }})">
            <img class="currency-flag-option" src="/img/{{ . }}.svg" />
            <span class="currency-name">{{ getCurrencyLabel . }}</span>
            {{ . }}
          </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
