info:
  contact: {}
  description: |-
    High performance API for querying information from the Ethereum 2.0 beacon chain
    The API is currently free to use. A fair use policy applies. Calls are rate limited to
    10 requests / 1 minute / IP. All API results are cached for 1 minute.
    If you required a higher usage plan please get in touch with us at support@beaconcha.in.
  license: {}
  title: Beaconcha.in ETH2 API
  version: "1.0"
paths:
  /api/healthz:
    get:
      description: Health endpoint for montitoring if the explorer is in sync
      produces:
      - text/plain
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Health of the explorer
      tags:
      - Health
  /api/v1/block/{slot}/attestations:
    get:
      description: Returns the attestations included in a specific block
      parameters:
      - description: Block slot
        in: path
        name: slot
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the attestations included in a specific block
      tags:
      - Block
  /api/v1/block/{slot}/attesterslashings:
    get:
      description: Returns the attester slashings included in a specific block
      parameters:
      - description: Block slot
        in: path
        name: slot
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the attester slashings included in a specific block
      tags:
      - Block
  /api/v1/block/{slot}/deposits:
    get:
      description: Returns the deposits included in a specific block
      parameters:
      - description: Block slot
        in: path
        name: slot
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the deposits included in a specific block
      tags:
      - Block
  /api/v1/block/{slot}/proposerslashings:
    get:
      description: Returns the proposer slashings included in a specific block
      parameters:
      - description: Block slot
        in: path
        name: slot
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the proposer slashings included in a specific block
      tags:
      - Block
  /api/v1/block/{slot}/voluntaryexits:
    get:
      description: Returns the voluntary exits included in a specific block
      parameters:
      - description: Block slot
        in: path
        name: slot
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the voluntary exits included in a specific block
      tags:
      - Block
  /api/v1/block/{slotOrHash}:
    get:
      description: Returns a block by its slot or root hash
      parameters:
      - description: Block slot or root hash or the string latest
        in: path
        name: slotOrHash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get block
      tags:
      - Block
  /api/v1/epoch/{epoch}:
    get:
      description: Returns information for a specified epoch by the epoch number or the latest epoch
      parameters:
      - description: Epoch number or the string latest
        in: path
        name: epoch
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get epoch by number
      tags:
      - Epoch
  /api/v1/epoch/{epoch}/blocks:
    get:
      description: Returns all blocks for a specified epoch
      parameters:
      - description: Epoch number or the string latest
        in: path
        name: epoch
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get epoch blocks by epoch number
      tags:
      - Epoch
  /api/v1/eth1deposit/{txhash}:
    get:
      parameters:
      - description: Eth1 transaction hash
        in: path
        name: txhash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get an eth1 deposit by its eth1 transaction hash
      tags:
      - Eth1
  /api/v1/validator/{index}:
    get:
      parameters:
      - description: Up to 100 validator indices, comma separated
        in: path
        name: index
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get up to 100 validators by their index
      tags:
      - Validator
  /api/v1/validator/{index}/balancehistory:
    get:
      parameters:
      - description: Up to 100 validator indices, comma separated
        in: path
        name: index
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the balance history (last 100 epochs) of up to 100 validators
      tags:
      - Validator
  /api/v1/validator/{index}/performance:
    get:
      parameters:
      - description: Up to 100 validator indices, comma separated
        in: path
        name: index
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get the current performance of up to 100 validators
      tags:
      - Validator
swagger: "2.0"
