{{ define "js" }}
{{ end }}
{{ define "css" }}
{{ end }}
{{ define "content" }}
  {{ with .Data }}
    <div class="container mt-2">
      <h1>Set a global, site wide notification</h1>
      <form action="/user/global_notification" method="POST">
        {{ .CsrfField }}
        <div class="mb-3">
          <label for="globalNotificationContent" class="form-label">Notification content (HTML)</label>
          <textarea class="form-control" id="globalNotificationContent" name="globalNotificationContent" rows="20">{{ .GlobalNotificationMessage }}</textarea>
          <div id="emailHelp" class="form-text">Any notification update will take around 10 minutes to become visible on the site. Please ensure that the HTML is valid. There are no sanity checks!</div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Save</button>
      </form>
    </div>
  {{ end }}
{{ end }}
