{{ define "js" }}
	<script src="/js/notificationsCenter.js"></script>
	<script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable_input.js"></script>
	{{ .CsrfField }}
{{ end }}

{{ define "css" }}
	<link rel="stylesheet" type="text/css" href="/css/notificationsCenter.css" />
	<link rel="stylesheet" type="text/css" href="/css//datatables.min.css"/>
{{ end }}

{{ define "content" }}
	{{with .Data}}
	<div class="container-fluid container-xl container-min-width container-custom"> 
		<div class="row d-flex align-items-center justify-content-start ml-1 my-2">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb font-size-1 mb-0 breadcrumb-custom">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Notifications</li>
				</ol>
			</nav>
		</div>
		<div class="row d-flex align-items-center justify-content-between mx-0 my-5 container-min-width heading-section">
			<div class="col-12 col-md pl-0 heading">
				<h1 class="heading text-nowrap">Notifications Center</h1>
        <h2 class="heading-l3 text-muted">Manage the notifications you want to receive</h2>
			</div>
		</div>
		<!-- TODO: redesign metrics section -->
		<div class="row flex-sm-nowrap mx-0 my-2 container-min-width metrics-section">
		  <div class="col-12 col-sm col-xl mr-3 mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
			  <div class="row d-flex align-items-center mx-1 metric-card-row">
				  <div class="col-3 col-sm-4 col-xl-4 my-auto icon">
					  <i class="fas fa-user"></i>
				  </div>
				  <div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="validators">{{.Metrics.Validators}}</span>
					  <span class="metric-description">validators in your list</span>
				  </div>
			  </div>
		  </div>
			<div class="col-12 col-sm col-xl mr-3 mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
				<div class="row d-flex align-items-center mx-1 metric-card-row">
					<div class="col-3 col-sm-4 col-xl-4 my-auto icon">
						<i class="fas fa-bell"></i>
					</div>
					<div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="notifications">{{.Metrics.Notifications}}</span>
						<span class="metric-description">notifications received / 24h</span>
					</div>
				</div>
			</div>
			<!-- <div class="col d-none d-lg-block mr-3 mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
				<div class="row d-flex align-items-center mx-1 metric-card-row">
					<div class="col-3 col-sm-4 col-xl-4 my-auto icon">
						<i class="fas fa-envelope-open-text"></i>
					</div>
					<div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="attestationsSubmitted"></span>
						<span class="metric-description">attestations submitted / 24h</span>
					</div>
				</div>
			</div> -->
			<div class="col d-none d-lg-block mr-3 mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
				<div class="row d-flex align-items-center mx-1 metric-card-row">
					<div class="col-3 col-sm-4 col-xl-4 my-auto icon">
						<i class="fas fa-bullseye"></i>
					</div>
					<div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="attestationsMissed">{{.Metrics.AttestationsMissed}}</span>
						<span class="metric-description">attestations missed / 24h</span>
					</div>
				</div>
			</div>
			<div class="col d-none d-lg-block mr-3 mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
				<div class="row d-flex align-items-center mx-1 metric-card-row">
					<div class="col-3 col-sm-4 col-xl-4 my-auto icon">
						<i class="fas fa-envelope-open-text"></i>
					</div>
					<div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="proposalsSubmitted">{{.Metrics.ProposalsSubmitted}}</span>
						<span class="metric-description">proposals submitted / 24h</span>
					</div>
				</div>
			</div>
			<div class="col d-none d-lg-block mt-1 shadow p-1 mb-3 container-max-width metric-card custom-border-radius custom-background-color">
				<div class="row d-flex align-items-center mx-1 metric-card-row">
					<div class="col-3 col-sm-4 col-xl-4 my-auto icon">
						<i class="fas fa-bullseye"></i>
					</div>
					<div class="col-9 col-sm-8 col-xl-8 metric-value">
						<span id="proposalsMissed">{{.Metrics.ProposalsMissed}}</span>
						<span class="metric-description">proposals missed / 24h</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row flex-xl-nowrap mx-0 my-3 container-min-width">
			<div class="col-12 col-xl shadow p-1 mb-3 container-height custom-border-radius custom-background-color">
				<div class="d-flex flex-column align-items-start flex-sm-row align-items-sm-center justify-content-sm-between mx-3 mb-2">
					<div class="mt-3">
						<h2 class="heading-l2">Monitoring</h2>
					</div>
					<button type="button" class="btn btn-primary btn-sm ml-sm-3" data-toggle="modal" data-target="#addMonitoringEventModal">
						<i class="fas fa-plus"></i>
						<span class="text-nowrap">Add monitoring event</span>
					</button>
				</div>
				{{ if false }}
					<!-- TODO: add button redirecting to app -->
					<div class="ml-3 mx-sm-auto mt-5 text-sm-center container-max-width text-empty-section">
						<i class="far fa-frown mb-3 icon"></i>
						<h3 class="heading-l3">No recent notifications</h3>
					</div>
				{{ else }}
					<div class="px-0 px-md-3 py-1">
						<table class="table table-borderless table-hover" id="monitoring-notifications">
							<thead bgcolor="#fdfdfd">
								<tr>
									<th scope="col" class="h6 border-bottom-0">Notification</th>
									<th scope="col" class="h6 border-bottom-0">Threshold</th>
                  <th scope="col" class="h6 border-bottom-0">Machine</th>
									<th scope="col" class="h6 border-bottom-0">Most Recent</th>
									<th scope="col" class="h6 border-bottom-0"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				{{ end }}
			</div>
			<div class="col-12 col-xl mt-3 mt-xl-0 ml-xl-3 shadow p-1 mb-3 container-height custom-border-radius custom-background-color">
				<div class="d-flex flex-column align-items-start flex-sm-row align-items-sm-center justify-content-sm-between mx-3 mb-2">
					<div class="mt-3">
						<h2 class="heading-l2">Network</h2>
					</div>
					<button type="button" class="btn btn-primary btn-sm ml-sm-3" data-toggle="modal" data-target="#addNetworkEventModal">
						<i class="fas fa-plus"></i>
						<span class="text-nowrap">Add network event</span>
					</button>
				</div>
				{{ if false }}
					<div class="ml-3 mx-sm-auto mt-5 text-sm-center container-max-width text-empty-section">
						<i class="far fa-frown mb-3 icon"></i>
						<h3 class="heading-l3">You don't have any notifications</h3>
					</div>
				{{ else }}
					<div class="px-0 px-md-3 py-1">
						<table class="table table-borderless table-hover" id="network-notifications">
							<thead bgcolor="#fdfdfd">
								<tr>
									<th scope="col" class="h6 border-bottom-0">Notification</th>
									<th scope="col" class="h6 border-bottom-0">Network</th>
                  <th scope="col" class="h6 border-bottom-0"><i class="fas fa-mobile fa-lg"></i></th>
                  <th scope="col" class="h6 border-bottom-0"><i class="fas fa-envelope fa-lg"></i></th>
                  <th scope="col" class="h6 border-bottom-0"><i class="fas fa-globe fa-lg"></i></th>
									<th scope="col" class="h6 border-bottom-0">Most Recent</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				{{ end }}
			</div>
		</div>
		<div class="mx-0 my-3 shadow p-1 mb-3 container-min-width validators-container-min-height custom-border-radius custom-background-color">
			<div class="row d-flex flex-lg-nowrap align-items-center mx-3 mt-3 py-2">
				<div class="col-12 col-md-3 d-flex justify-content-start px-0">
					<h2 class="heading-l2 mb-2 mb-md-0">Validators</h2>
				</div>
				<div class="col-12 col-md-9 d-flex justify-content-end px-0">
					<button type="button" class="btn btn-outline-dark btn-sm ml-3" data-toggle="modal" data-target="#manageNotificationsModal" title="Manage the notifications you receive">
						<i class="fas fa-cog"></i>
						<span class="d-none d-sm-inline-block text-nowrap">Manage notifications</span>
					</button>
					<button type="button" class="btn btn-outline-danger btn-sm ml-3" id="remove-all-btn" data-toggle="modal" data-target="#confirmRemoveModal" title="Remove all validators from your list" data-modaltext="Are you sure you want to remove all validators from your list?">
						<i class="fas fa-times"></i>
						<span class="d-none d-sm-inline-block text-nowrap">Remove all</span>
					</button>
					<button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#addValidatorModal">
						<i class="fas fa-plus"></i>
						<span class="d-none d-sm-inline-block text-nowrap">Add validator</span>
					</button>
				</div>
			</div>
			{{ if false }}
				<!-- TODO: modify according to new design -->
				<div class="mx-sm-auto mt-5 text-sm-center text-empty-section">
					<h3 class="heading-l3">Start adding Validators to your Watchlist</h3>
					<div class="my-2 my-md-4">
						<div class="row d-flex flex-nowrap align-items-center justify-content-start justify-content-sm-center mx-0">
							<div class="my-2 my-md-0">
								<input type="text" placeholder="Search and add validators..." aria-label="Search" class="input-search add-input-custom" />
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-lg btn-custom">
									<i class="fas fa-plus"></i>
									<span class="d-none d-lg-inline-block text-nowrap">Add Validators</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			{{ else }}
				<div class="px-3 py-3">
					<table class="table table-borderless table-hover border-0" id="validators-notifications">
						<thead bgcolor="#fdfdfd">
							<tr>
								<th scope="col" class="h6 border-bottom-0">Validator</th>
								<th scope="col" class="h6 border-bottom-0">Notifications</th>
                <th scope="col" class="h6 border-bottom-0"><i class="fas fa-mobile fa-lg"></i></th>
                <th scope="col" class="h6 border-bottom-0"><i class="fas fa-envelope fa-lg"></i></th>
                <th scope="col" class="h6 border-bottom-0"><i class="fas fa-globe fa-lg"></i></th>
								<th scope="col" class="h6 border-bottom-0">Most Recent</th>
								<th scope="col" class="h6 border-bottom-0"></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			{{ end }}
		</div>
	</div>
	
	<!-- Modals -->
	<!-- Confirm Remove modal -->
  <div class="modal fade" id="confirmRemoveModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content custom-remove-modal row mx-0">
				<div class="mb-4 custom-remove-modal-close">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="col-12 d-flex align-items-center justify-content-center mb-4 mb-sm-5 px-0 h6">
					<span class="text-center" id="modaltext"></span> 
				</div>
				<div class="col-12 d-flex align-items-center justify-content-between px-0">
					<button id="cancel-button" type="button" class="btn btn-outline-dark btn-sm w-50 mr-2 mr-sm-3" data-dismiss="modal">Cancel</button>
					<button id="remove-button" type="button" class="btn btn-primary btn-danger btn-sm w-50 mr-2 ml-sm-3" data-dismiss="modal">Remove</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Monitoring events modal -->
	<!-- TODO: add thresholds for options -->
	<div class="modal fade" id="addMonitoringEventModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addMonitoringEventLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content custom-remove-modal row mx-0">
				<div class="mb-4 custom-remove-modal-close">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="col-12 d-flex flex-column align-items-center justify-content-center mb-4 mb-sm-5 px-0 h6">
					<div class="w-100 heading-l2 text-center">
						Monitoring Notifications
						<span class="d-block mt-3 heading-l4 text-left">
							Select monitoring events to receive notifications about or turn notifications off
						</span>
					</div> 
					<div class="w-100 my-3">
						<div class="form-inline d-flex dropdown mt-2 mb-4">
							<input class="form-control w-100" type="text" placeholder="Select your machine" id="menu1" data-toggle="dropdown">
							<ul class="dropdown-menu w-100 custom-dropdown scrollbar" role="list" aria-labelledby="menu1">
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 1</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 2</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 3</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 4</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 5</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">machine 6</li>
							</ul>
						</div>
						<div class="mb-3">
							<div class="form-check form-check-inline w-100 mb-2">
								<label class="form-check-label mr-auto font-weight-normal" for="cpu">
									<i class="fas fa-microchip fa-sm d-inline-block mr-2"></i>
									CPU Usage
								</label>
								<input class="form-check-input checkbox-custom-size" type="checkbox" id="cpu" value="">
							</div>
							<div class="w-100 d-flex align-items-center pl-2">
								<input id="range1" class="w-75 mr-5 range custom-range" type="range" value="80" min="0" max="100" data-target="#inputrange1" />
 								<input id="inputrange1" class="range custom-range-input" type="number" value="80" min="0" max="100" data-target="#range1" />
							</div>
						</div>
						<div class="mb-3">
							<div class="form-check form-check-inline w-100 mb-2">
								<label class="form-check-label mr-auto font-weight-normal" for="hdd">
									<i class="fas fa-hdd fa-sm d-inline-block mr-2"></i>
									HDD Usage
								</label>
								<input class="form-check-input checkbox-custom-size" type="checkbox" id="hdd" value="">
							</div>
							<div class="w-100 d-flex align-items-center pl-2">
								<input id="range2" class="w-75 mr-5 range custom-range" type="range" value="80" min="0" max="100" data-target="#inputrange2" />
								<input id="inputrange2" class="range custom-range-input" type="number" value="80" min="0" max="100" data-target="#range2" />
							</div>
						</div>
						<div class="form-check form-check-inline w-100">
							<label class="form-check-label mr-auto font-weight-normal" for="offline">
								<i class="fas fa-battery-full fa-sm d-inline-block mr-2"></i>
								Machine Offline
							</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="offline" value="">
						</div>
					</div>  
				</div>
				<div class="col-12 d-flex align-items-center justify-content-between px-0">
					<button id="cancel-button" type="button" class="btn btn-outline-dark btn-sm w-50 mr-2 mr-sm-3" data-dismiss="modal">Cancel</button>
					<button id="remove-button" type="button" class="btn btn-primary btn-danger btn-sm w-50 mr-2 ml-sm-3" data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Network events modal -->
	<div class="modal fade" id="addNetworkEventModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addNetworkEventLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content custom-remove-modal row mx-0">
				<div class="mb-4 custom-remove-modal-close">
					<!-- TODO: move to modal top-right corner -->
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="col-12 d-flex flex-column align-items-center justify-content-center mb-4 mb-sm-5 px-0 h6">
					<div class="w-100 heading-l2 text-center">
						Network Notifications
						<span class="d-block mt-3 heading-l4 text-left">
							Select network events to receive notifications about or turn notifications off
						</span>
					</div> 
					<div class="w-100 my-3">
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="finalityIssues">Finality issues</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="finalityIssues" value="">
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="">and more events...</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="" value="">
						</div>
					</div> 
				</div>
				<div class="col-12 d-flex align-items-center justify-content-between px-0">
					<button id="cancel-button" type="button" class="btn btn-outline-dark btn-sm w-50 mr-2 mr-sm-3" data-dismiss="modal">Cancel</button>
					<button id="remove-button" type="button" class="btn btn-primary btn-danger btn-sm w-50 mr-2 ml-sm-3" data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Manage notifications modal -->
	<!-- TODO: add content -->
	<div class="modal fade" id="manageNotificationsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="manageNotificationsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content custom-remove-modal row mx-0">
				<div class="mb-4 custom-remove-modal-close">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="col-12 d-flex flex-column align-items-center justify-content-center mb-4 mb-sm-5 px-0 h6">
					<div class="w-100 heading-l2 text-center">
						Manage Notifications
						<span class="d-block mt-3 heading-l4 text-left">
							Select your validators' events to receive notifications about or turn notifications off
						</span>
					</div> 
					<div class="w-100 my-3">
					</div>   
				</div>
				<div class="col-12 d-flex align-items-center justify-content-between px-0">
					<button id="cancel-button" type="button" class="btn btn-outline-dark btn-sm w-50 mr-2 mr-sm-3" data-dismiss="modal">Cancel</button>
					<button id="remove-button" type="button" class="btn btn-primary btn-danger btn-sm w-50 mr-2 ml-sm-3" data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Validator modal -->
	<!-- TODO: add search box -->
	<div class="modal fade" id="addValidatorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addValidatorLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content custom-remove-modal row mx-0">
				<div class="mb-4 custom-remove-modal-close">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="col-12 d-flex flex-column align-items-center justify-content-center mb-4 mb-sm-5 px-0 h6">
					<div class="w-100 heading-l2 text-center">
						Add Validator
						<span class="d-block mt-3 heading-l4 text-left">
							Add validators to your watchlist and select events to receive notifications about or turn notifications off
						</span>
					</div> 
					<div class="w-100 my-3">
						<div class="w-100 my-3">
							<div class="form-inline d-flex dropdown mt-2 mb-4">
							<input class="form-control w-100" type="text" placeholder="Search validator" id="menu1" data-toggle="dropdown">
							<ul class="dropdown-menu w-100 custom-dropdown scrollbar" role="list" aria-labelledby="menu1">
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 1</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 2</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 3</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 4</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 5</li>
								<li role="listitem" class="dropdown-item px-3 py-2 font-weight-normal">validator 6</li>
							</ul>
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="attestationsMissed">Attestations missed</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="attestationsMissed" value="">
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="balanceDecrease">Balance decrease</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="balanceDecrease" value="">
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="proposalsMissed">Proposals missed</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="proposalsMissed" value="">
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="proposalsSubmitted">Proposals submitted</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="proposalsSubmitted" value="">
						</div>
						<div class="form-check form-check-inline w-100 my-2">
							<label class="form-check-label mr-auto font-weight-normal" for="validatorSlashed">Validator slashed</label>
							<input class="form-check-input checkbox-custom-size" type="checkbox" id="validatorSlashed" value="">
						</div>
					</div>  
				</div>
				<div class="col-12 d-flex align-items-center justify-content-between px-0">
					<button id="cancel-button" type="button" class="btn btn-outline-dark btn-sm w-50 mr-2 mr-sm-3" data-dismiss="modal">Cancel</button>
					<button id="remove-button" type="button" class="btn btn-primary btn-danger btn-sm w-50 mr-2 ml-sm-3" data-dismiss="modal">Save</button>
				</div>
			</div>
		</div>
	</div>
	{{end}}
{{ end }}
