{{ define "js"}}

{{end}}
{{ define "css"}}
{{end}}
{{ define "content"}}
    {{with .Data}}
        <div class="container mt-2">
            <div class="d-md-flex py-2 justify-content-md-between">
                <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-cubes mr-2"></i>Webhooks</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
                        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Webhooks</li>
                    </ol>
                </nav>
            </div>
            <div class="container" style="padding:0; text-align:right;">
                <input type="checkbox" id="showonlyemptygraffiti" name="showonlyemptygraffiti" />
                <label for="showonlyemptygraffiti">Show only empty graffiti</label>
            </div>            
            <div class="card">
                <div class="card-body px-0 py-3">
                    <div class="table-responsive px-0 py-1">
                        <table class="table" id="blocks">
                            <thead>
                            <tr>
                               <th>ID</th>
                               <th>URL</th>
                               <th>Events</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{range $i, $row := .Data.Webhooks}}
                                    <tr>
                                        <td>{{$row.ID}}</td>
                                        <td>{{$row.Url}}</td>
                                        <td>{{$row.Retries}}</td>
                                    </tr>
                                {{end}}
                            </tbody>
                            <p>Add up to one webhook in the free tier.</p>
                        </table>
                    </div>
                </div>
            </div>
            <form action="/user/webhooks/add" method="post">
                <div class="input-group">
                     <input name="url" type="text" placeholder="webhook endpoint" id="webhook_endpoint" required>
                </div> 
                {{range $i, $event := .Data.Events }}
                    <div class="form-check form-check-inline w-100 my-2">
                        <label class="form-check-label mr-auto font-weight-normal">{{$event.EventLabel}}</label>
                        <input name="{{$event.EventName}}" class="form-check-input checkbox-custom-size ml-2 mr-0" type="checkbox" id="{{$event.EventName}}" value="">
                    </div>
                {{end}}
                <hr class="my-3" />
                <!-- <div class="form-check form-check-inline w-100 my-2">
                    <label class="form-check-label mr-auto font-weight-normal">All events</label>
                    <input class="form-check-input checkbox-custom-size ml-2 mr-0" type="checkbox" id="all_events" value="">
                </div> -->
                <button type="submit" class="btn btn-primary">Add Webhook</button>
            </form>
        </div>
    {{end}}
{{end}}
