openapi: 3.0.4
info:
  title: beaconcha.in API Documentation
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  description: |-
    ## Introduction
    **Advanced and reliable API for accessing comprehensive Ethereum blockchain data.**

    - **Free Usage Policy:** The API is free to use under a fair use policy, with rate limits of 10 requests per minute per IP.
    - **Caching:** All responses are cached for 1 minute.
    - **Higher Usage Plans:** For higher usage plans, visit: [https://beaconcha.in/pricing](https://beaconcha.in/pricing). An API key is required to use these plans.

    ### API Key Usage
    API keys can be obtained at [/user/settings](https://beaconcha.in/user/settings) and must be included in requests either as a query string parameter or in the request header.

    #### Example: Query String Parameter
    ```bash
    curl https://beaconcha.in/api/v1/slot/1?apikey=<your_key>
    ```

    #### Example: Request Header
    ```bash
    curl -H 'apikey: <your_key>' https://beaconcha.in/api/v1/slot/1
    ```
  contact: {}
  version: '1.1'
servers:
  - url: https://beaconcha.in
    description: Ethereum mainnet
  - url: https://hoodi.beaconcha.in
    description: Hoodi Ethereum testnet
security:
  - ApiKeyAuthQuery: []
  - ApiKeyAuthHeader: []
tags:
  - name: Epoch
    description: Data related to consensus layer epochs
  - name: Slots
    description: Data related to consensus layer slots
  - name: Validators
    description: Data related to consensus layer validators
  - name: Rewards
    description: Data related to validator rewards
  - name: Sync Committees
    description: Data related to sync committees
  - name: Rocketpool
    description: Data related to the rocketpool protocol
  - name: ETH.Store®
    description: Data related to the ETH.Store® metric
  - name: Validator deposits
    description: Data related to execution layer validator deposits
  - name: Blocks
    description: Data related to execution layer blocks
  - name: Gas
    description: Data related to gas prices
  - name: Address
    description: Data related to ethereum addresses
  - name: Network
    description: Network data
  - name: Misc
    description: Miscellaneous data
  - name: User
    description: User data
paths:
  /api/healthz:
    get:
      tags:
        - Misc
      summary: Explorer Health
      description: |-
        Provides the health status of all modules of the explorer. This endpoint is useful for monitoring the availability and functionality of the explorer's components.
        - **Modules Monitored:** Includes monitoring of services such as `monitoring_app`, `monitoring_el_data`, `monitoring_services`, `monitoring_cl_data`, `monitoring_api`, `monitoring_redis`.
        - **Response Details:** Returns the status of each module. If all modules are operational, the response will indicate success. Otherwise, it will return an error with details about the failing modules.
      responses:
        '200':
          description: |-
            All modules are healthy. Response format:
            ```
            module monitoring_el_data: OK
            module monitoring_cl_data: OK
            module monitoring_redis: OK
            module monitoring_api: OK
            module monitoring_services: OK
            module monitoring_app: OK
            ```
          content:
            text/plain:
              example: |-
                module monitoring_el_data: OK
                module monitoring_cl_data: OK
                module monitoring_redis: OK
                module monitoring_api: OK
                module monitoring_services: OK
                module monitoring_app: OK
        '400':
          description: |-
            Invalid request. Response format:
            ```
            Bad request
            ```
          content:
            text/plain:
              example: Bad request
        '500':
          description: |-
            Some modules are unhealthy. Response format:
            ```
            module monitoring_el_data: ERROR
            module monitoring_cl_data: OK
            module monitoring_redis: ERROR
            module monitoring_api: OK
            module monitoring_services: OK
            module monitoring_app: ERROR
            ```
          content:
            text/plain:
              example: |-
                module monitoring_el_data: ERROR
                module monitoring_cl_data: OK
                module monitoring_redis: ERROR
                module monitoring_api: OK
                module monitoring_services: OK
                module monitoring_app: ERROR
  /api/healthz-loadbalancer:
    get:
      tags:
        - Misc
      summary: Explorer Availability
      description: Health endpoint to monitor the operational status of the explorer (used for load balancer health checks)
      responses:
        '200':
          description: |-
            Explorer is healthy. Response format:
            ```
            OK. Last epoch is from 1m ago
            ```
          content:
            text/plain:
              example: OK. Last epoch is from 1m ago
        '400':
          description: |-
            Invalid request. Response format:
            ```
            Bad request
            ```
          content:
            text/plain:
              example: Bad request
        '500':
          description: |-
            Explorer is unhealthy. Response format:
            ```
            Internal server error: could not retrieve latest epoch from the db
            ```
          content:
            text/plain:
              example: 'Internal server error: could not retrieve latest epoch from the db'
  /api/v1/chart/{chart}:
    get:
      tags:
        - Misc
      summary: Chart
      description: Returns charts from the page https://beaconcha.in/charts as PNG
      parameters:
        - name: chart
          in: path
          description: Chart Names
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - blocks
              - validators
              - staked_ether
              - average_balance
              - network_liveness
              - participation_rate
              - stake_effectiveness
              - balance_distribution
              - effective_balance_distribution
              - performance_distribution_365d
              - deposits
              - withdrawals
              - graffiti_wordcloud
              - pools_distribution
              - historic_pool_performance
              - avg_gas_used_chart_data
              - execution_burned_fees
              - block_gas_used
              - block_count_chart_data
              - block_time_avg_chart_data
              - avg_gas_limit_chart_data
              - avg_block_util_chart_data
              - tx_count_chart_data
            example: validators
      responses:
        '200':
          description: Chart PNG image generated successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: PNG image file containing the requested chart
        '400':
          description: Bad Request - Invalid chart name or no data available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalid_chart:
                  summary: Invalid chart name
                  value:
                    status: 'ERROR: invalid chart name'
                    data: null
                no_data:
                  summary: No data available
                  value:
                    status: 'ERROR: no data available for the requested chart'
                    data: null
  /api/v1/ens/lookup/{domain}:
    get:
      tags:
        - ENS
      summary: Resolve ens name or address
      description: Get the address for an ens name and vice versa. Returns and object with the ens name and address - if found.
      parameters:
        - name: domain
          in: path
          description: domain can either be an ens name or an Etherum address
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: vitalik.eth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.EnsDomainResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/epoch/{epoch}:
    get:
      tags:
        - Epochs
      summary: Epoch overview
      description: Retrieve aggregate metrics and status for a beacon chain epoch. You can specify the epoch by number, or use the keywords `latest` (most recently processed epoch) or `finalized` (most recent epoch finalized by the consensus).
      operationId: getEpoch
      parameters:
        - name: epoch
          in: path
          description: The epoch to fetch. Provide an integer epoch number (>= 0), or one of the keywords `latest` or `finalized`.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Special tags for convenience.
                enum:
                  - latest
                  - finalized
                example: latest
              - type: integer
                description: Epoch number (>= 0)
                minimum: 0
                example: 1564648
      responses:
        '200':
          description: The epoch was found and aggregate information is returned in the `data` field.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.APIEpochResponse'
        '400':
          description: The request is invalid (for example, an out-of-range epoch or malformed tag).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidEpoch:
                  summary: Invalid epoch number
                  value:
                    status: 'ERROR: invalid epoch parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/epoch/{epoch}/slots:
    get:
      tags:
        - Epochs
      summary: Epoch slots
      description: Retrieve all slots within a specific epoch, including per-slot block metadata such as proposer, roots, operation counts, sync committee participation, and execution payload details when available. You can specify the epoch by number, or use the keywords `latest` (most recently processed epoch) or `finalized` (most recent finalized epoch).
      operationId: listEpochSlots
      parameters:
        - name: epoch
          in: path
          description: The epoch to fetch. Provide an integer epoch number (>= 0), or one of the keywords `latest` or `finalized`.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Special tags for convenience.
                enum:
                  - latest
                  - finalized
                example: latest
              - type: integer
                description: Epoch number (>= 0)
                minimum: 0
                example: 1564648
      responses:
        '200':
          description: The epoch was found and all slots for the epoch are returned in the `data` field as an array. Each item describes one slot.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APISlotResponse'
        '400':
          description: The request is invalid (for example, an out-of-range epoch or malformed tag).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidEpoch:
                  summary: Invalid epoch parameter
                  value:
                    status: 'ERROR: invalid epoch parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/eth1deposit/{txhash}:
    get:
      tags:
        - Validator deposits
      summary: Deposits by execution transaction hash
      description: Retrieve all beacon chain validator deposit events associated with a specific execution-layer transaction hash. This endpoint returns every deposit log decoded from the transaction, including deposit amount, validator public key, withdrawal credentials, and signature verification status.
      operationId: getEth1DepositsByTxHash
      parameters:
        - name: txhash
          in: path
          description: Execution-layer transaction hash to inspect. Provide tx hash as a 0x-prefixed hex string (64 hex characters after 0x).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthTxHash'
      responses:
        '200':
          description: The transaction was found and any associated deposit events are returned in the `data` array. If the transaction contains no deposit events, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIEth1TxDepositResponse'
        '400':
          description: The request is invalid (for example, a malformed or non-hex transaction hash).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidTxHash:
                  summary: Invalid transaction hash
                  value:
                    status: 'ERROR: invalid tx hash parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/ethstore/{day}:
    get:
      tags:
        - ETH.Store®
      summary: ETH.Store daily aggregates
      description: |-
        Retrieve ETH.Store® daily aggregate metrics that represent the average financial return validators achieved over a 24-hour period. A "beaconchain-day" is defined as the number of full days elapsed since chain genesis, computed as blocks grouped into periods of `(24 * 60 * 60) // SlotsPerEpoch // SecondsPerSlot` epochs.
        Use this endpoint to analyze validator returns, moving averages, and reward composition (consensus-layer vs. execution-layer fees) on a per-day basis.
        See https://github.com/gobitfly/eth.store for additional context.
      operationId: getEthStoreByDay
      parameters:
        - name: day
          in: path
          description: The beaconchain-day to fetch. Provide an integer day index (>= 0), or the keyword `latest` for the most recently computed day.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Special tag for convenience.
                enum:
                  - latest
                example: latest
              - type: integer
                description: Day index since genesis (>= 0)
                minimum: 0
                example: 541
      responses:
        '200':
          description: The requested day was found and ETH.Store® aggregates are returned in the `data` array. This array contains a single record for the requested day.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIEthStoreResponse'
        '400':
          description: The request is invalid (for example, an out-of-range day or malformed tag).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidDay:
                  summary: Invalid day parameter
                  value:
                    status: 'ERROR: invalid day parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/execution/address/{address}:
    get:
      tags:
        - Addresses
      summary: Execution address balances
      description: Retrieve the native ETH balance and ERC-20 token balances for an Ethereum address. The response includes at most 200 distinct ERC-20 tokens. To fetch all tokens beyond this limit, call `/api/v1/execution/address/{address}/erc20tokens`.
      operationId: getExecutionAddressBalances
      parameters:
        - name: address
          in: path
          description: Ethereum account address to query. Provide a 0x-prefixed, 20-byte hex string (40 hexadecimal characters after 0x).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: token
          in: query
          description: Optional ERC-20 contract address to filter the result to a single token. Provide a 0x-prefixed, 20-byte hex address.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
      responses:
        '200':
          description: Balances were retrieved successfully. The `data` object contains the address, native ETH balance, and a list of ERC-20 token balances.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.ApiEth1AddressResponse'
        '400':
          description: The request is invalid (for example, a malformed address or token filter).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidAddress:
                  summary: Invalid address parameter
                  value:
                    status: 'ERROR: invalid address parameter'
                    data: null
                invalidToken:
                  summary: Invalid token filter parameter
                  value:
                    status: 'ERROR: invalid token parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/execution/address/{address}/erc20tokens:
    get:
      tags:
        - Addresses
      summary: ERC-20 token balances for an address
      description: Retrieve a paginated list of ERC-20 token balances for a specific Ethereum address. Use this endpoint to list all token balances when the number of tokens exceeds the 200-token limit returned by the summary endpoint `/api/v1/execution/address/{address}`. Use the `offset` and `limit` query parameters to paginate through the complete set.
      operationId: listExecutionAddressERC20Tokens
      parameters:
        - name: address
          in: path
          description: Ethereum account address to query. Provide a 0x-prefixed, 20-byte hex string (40 hexadecimal characters after 0x).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: offset
          in: query
          description: Number of items to skip from the start of the result set. Use 0 for the first page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 0
            default: 0
        - name: limit
          in: query
          description: Maximum number of tokens to return per page. Allowed range is 1 to 200.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 50
      responses:
        '200':
          description: Tokens were retrieved successfully. The `data` array contains one entry per ERC-20 token for which a balance is available for the address.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiEth1AddressERC20TokenResponse'
        '400':
          description: The request is invalid (for example, a malformed address or out-of-range pagination parameters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidAddress:
                  summary: Invalid address parameter
                  value:
                    status: 'ERROR: invalid address parameter'
                    data: null
                invalidPagination:
                  summary: Invalid pagination parameters
                  value:
                    status: 'ERROR: invalid pagination parameters'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/execution/block/{blockNumber}:
    get:
      tags:
        - Blocks
      summary: Execution block overview
      description: Retrieve one or more execution-layer blocks by block number. Provide block numbers as a comma-separated list in the `blockNumber` path segment (up to 100 values). The response includes per-block metadata, rewards, consensus linkage, and relay information when available.
      operationId: getExecutionBlocksByNumber
      parameters:
        - name: blockNumber
          in: path
          description: One or more execution block numbers as a comma-separated list. Each item must be a non-negative integer. A maximum of 100 block numbers is allowed per request.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: integer
              minimum: 0
            maxItems: 100
          example: 17000000,17000001,17000002
      responses:
        '200':
          description: Matching blocks were found. The `data` array contains one item per retrieved block. If a provided block number is not found, it is omitted from the result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ExecutionBlockApiResponse'
        '400':
          description: The request is invalid (for example, malformed numbers or more than 100 values).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidBlockNumber:
                  summary: Invalid block number
                  value:
                    status: 'ERROR: invalid block number'
                    data: null
                tooManyBlockNumbers:
                  summary: Too many values
                  value:
                    status: 'ERROR: only a maximum of 100 query parameters are allowed'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/execution/gasnow:
    get:
      tags:
        - Gas
      summary: Current gas price recommendations
      description: 'Retrieve current execution-layer fee recommendations and ETH price snapshot. The response provides four fee tiers expressed as wei per gas, each corresponding to a target inclusion time: rapid (≈15 seconds), fast (≈1 minute), standard (≈3 minutes), and slow (>10 minutes). The payload also includes a Unix millisecond timestamp and an ETH/USD price snapshot.'
      operationId: getExecutionGasNow
      responses:
        '200':
          description: Current fee recommendations and price snapshot were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.GasNowPageData'
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                notAvailable:
                  summary: Gasnow data not available
                  value:
                    status: 'ERROR: gasnow data is currently not available'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/execution/{addressIndexOrPubkey}/produced:
    get:
      tags:
        - Blocks
      summary: Execution blocks produced by fee recipient, proposer index, or pubkey
      description: |-
        Retrieve execution-layer blocks attributed to one or more producers. You can filter by fee recipient address (execution coinbase), beacon-chain proposer index, or validator public key. Provide one or more identifiers as a comma-separated list in the `addressIndexOrPubkey` path segment.
        You may mix identifiers, but mixing with a non-zero `offset` can skip items because pagination is applied after merging results. Limits: up to 20 fee recipient addresses and up to 100 proposer indices or pubkeys per request. ENS names are supported for addresses.
      operationId: listExecutionProducedBlocks
      parameters:
        - name: addressIndexOrPubkey
          in: path
          description: |-
            Comma-separated list of producers to query. Each item may be: - a fee recipient address (0x-prefixed, 20-byte hex, or a valid ENS name), - a proposer index (non-negative integer), or - a validator public key (0x-prefixed, 48-byte BLS pubkey: 96 hex characters).
            Provide multiple items by separating them with commas. A maximum of 20 addresses and 100 indices/pubkeys is accepted per request.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/primitives.EthAddress'
                - type: integer
                  minimum: 0
                  description: Proposer index (>= 0)
                - type: string
                  pattern: ^0x[a-fA-F0-9]{96}$
                  description: Validator public key (48 bytes; 0x-prefixed hex with 96 hex characters)
          example: 0x4838b106fce9647bdf1e7877bf73ce8b0bad5f97,325,0xa6831544f1e9fb1086b023f0852fe7feb7ed6606bf57c76d26a5dbf0027c125e8f7b76b000d99b676205d7721c1baf81
        - name: offset
          in: query
          description: Number of items to skip from the start of the merged result set. Use 0 for the first page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: limit
          in: query
          description: Maximum number of blocks to return. Allowed range is 1 to 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            example: 20
        - name: sort
          in: query
          description: Sort order by execution block number.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            example: desc
      responses:
        '200':
          description: Blocks were retrieved successfully. The `data` array contains one item per execution block produced by any of the specified producers, sorted according to the `sort` parameter.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ExecutionBlockApiResponse'
        '400':
          description: The request is invalid (for example, a malformed address/pubkey or too many addresses provided).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid address, validator index, or pubkey
                  value:
                    status: 'ERROR: invalid address, validator index or pubkey parameter'
                    data: null
                tooManyAddresses:
                  summary: Too many addresses
                  value:
                    status: 'ERROR: you are only allowed to query up to max 20 addresses'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/graffitiwall:
    get:
      tags:
        - Misc
      summary: Graffiti wall pixels
      description: |-
        Retrieve pixels painted on the community graffiti wall within a rectangular area and a slot range. Coordinates are expressed in pixels with the origin at the top-left corner (x = 0, y = 0). Boundary coordinates are inclusive.
        If you do not provide a slot, the service returns pixels from the most recent 10,000 slots. You can expand the time window by setting `slot` (end of range) and optionally `startSlot` (start of range). When `startSlot` is omitted, it defaults to `slot - 10000`.
        Use `summarize=true` to receive only the final color per pixel within the requested slot range (end state). When `summarize=false` or omitted, the API returns the full sequence of changes within the range.
      operationId: getGraffitiWall
      parameters:
        - name: startx
          in: query
          description: Inclusive start X coordinate (>= 0). If omitted, the full X range is used.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 0
        - name: starty
          in: query
          description: Inclusive start Y coordinate (>= 0). If omitted, the full Y range is used.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 0
        - name: endx
          in: query
          description: Inclusive end X coordinate (>= startx). If omitted, the full X range is used.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 511
        - name: endy
          in: query
          description: Inclusive end Y coordinate (>= starty). If omitted, the full Y range is used.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 511
        - name: startSlot
          in: query
          description: Start of the slot range (inclusive). Defaults to `slot - 10000` when omitted.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 12754598
        - name: slot
          in: query
          description: End of the slot range (inclusive). Defaults to the latest processed slot when omitted.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 12764598
        - name: summarize
          in: query
          description: When true, return only the final state for each pixel within the requested rectangle and slot range. When false (default), return every change to pixels within the range.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Pixels were retrieved successfully. The `data` array contains one entry per painted pixel event (or one per pixel when `summarize=true`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.GraffitiwallResponse'
        '400':
          description: The request is invalid (for example, coordinates out of bounds or malformed slot parameters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidArea:
                  summary: Invalid coordinate rectangle
                  value:
                    status: 'ERROR: invalid area coordinates'
                    data: null
                invalidSlot:
                  summary: Invalid slot parameters
                  value:
                    status: 'ERROR: invalid slot parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/latestState:
    get:
      tags:
        - Network
      summary: Latest consensus and execution state
      description: Retrieve the latest known network state as observed by the explorer backend. The payload includes current slot and epoch numbers, the most recent finalized epoch, a finality delay indicator, a syncing flag, and display rates used for price conversions in the UI.
      operationId: getLatestState
      responses:
        '200':
          description: Latest state was retrieved successfully. The `data` object contains the current chain status and pricing context.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.LatestState'
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidRequest:
                  summary: Invalid request
                  value:
                    status: 'ERROR: invalid request'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/rocketpool/stats:
    get:
      tags:
        - Rocketpool
      summary: Rocket Pool network statistics
      description: |-
        Retrieve current Rocket Pool protocol statistics as observed by the explorer backend. Use this endpoint to monitor network-level metrics including node and minipool counts, rETH supply, rETH exchange rate and APR, claim interval timing, and protocol balances.
        Responses are cached for one minute and subject to the API's standard rate limits. You do not provide any request parameters for this endpoint.
      operationId: getRocketpoolStats
      responses:
        '200':
          description: Rocket Pool statistics retrieved successfully. The `data` object contains current Rocket Pool network metrics.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.APIRocketpoolStatsResponse'
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidRequest:
                  summary: Invalid request
                  value:
                    status: 'ERROR: invalid request'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/rocketpool/validator/{indexOrPubkey}:
    get:
      tags:
        - Rocketpool
      summary: Get Rocket Pool validator metadata by index or pubkey
      description: |
        Retrieve Rocket Pool–specific metadata for one or more Ethereum consensus validators.

        You provide a comma-separated list of validator identifiers in the path parameter. The
        server resolves each identifier to a validator index and returns the corresponding
        Rocket Pool minipool and node data.

        Response shape:
        - If you request a single validator, the response data field is a single object.
        - If you request multiple validators, the data field is an array of objects in no
          guaranteed order.

        Use this endpoint to answer questions such as:
        - What is the current minipool status and node fee for a validator?
        - Has the node opted into the smoothing pool, and how much has been claimed or remains unclaimed?
        - What are the node’s RPL stake metrics (effective, min, max)?
      parameters:
        - name: indexOrPubkey
          in: path
          description: |
            Comma-separated list (no spaces) of validator identifiers to query. Each identifier may be either:
            - A validator index as a base-10 integer (for example, 652648)
            - A BLS public key as a 96-hex-character string with or without the 0x prefix (case-insensitive)

            Limits and resolution behavior:
            - You can pass up to a server-enforced per-request limit. The default limit is 100.
            - Public keys that cannot be resolved to an existing validator index cause the request to fail with HTTP 400.
            - Duplicate identifiers are de-duplicated internally.
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: Successful response with Rocket Pool validator data.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.ApiRocketpoolValidatorResponse'
        '400':
          description: The request is invalid. This occurs when the identifier list exceeds the allowed limit or contains values that cannot be parsed or resolved to validator indices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slotOrHash}:
    get:
      tags:
        - Slots
      summary: Slot overview
      description: Retrieve a beacon chain slot by slot number or block root. You can also use the keywords `latest` (most recently processed slot) or `head` (slot of the current head block).
      operationId: getSlot
      parameters:
        - name: slotOrHash
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0), the special tags `latest` or `head`, or a 0x-prefixed 32-byte block root hash (64 hex characters after 0x).
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751457
              - type: string
                description: Special tag for convenience.
                enum:
                  - latest
                  - head
                example: latest
              - type: string
                description: Beacon block root (32 bytes; 0x-prefixed hex with 64 hex characters)
                pattern: ^0x[a-fA-F0-9]{64}$
                example: '0xeb64c069b979ef8eed41993ec0563f1ed0e935b95fcbe9ed26de4c904c94aeb3'
      responses:
        '200':
          description: The slot was found and details are returned in the `data` field.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.APISlotResponse'
        '400':
          description: The request is invalid (for example, a malformed hash or negative slot).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlotOrHash:
                  summary: Invalid slot or hash parameter
                  value:
                    status: 'ERROR: invalid slot or hash parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/slot/{slot}/attestations:
    get:
      tags:
        - Slots
      summary: Attestations for a slot
      description: Retrieve all attestations included in the beacon block for a specific slot. You can provide a slot number or the keyword `latest` to fetch attestations from the most recently processed slot. The response lists each aggregated attestation with its source/target checkpoints, committee index, and the participating validators.
      operationId: listSlotAttestations
      parameters:
        - name: slot
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0) or the special tag `latest` for the most recently processed slot.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751688
              - type: string
                enum:
                  - latest
                description: Latest processed slot
                example: latest
      responses:
        '200':
          description: The slot was found and its attestations are returned in the `data` array. If the slot has no attestations, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIAttestationResponse'
        '400':
          description: The request is invalid (for example, a negative slot or a slot in the future).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlot:
                  summary: Invalid slot parameter
                  value:
                    status: 'ERROR: invalid slot parameter'
                    data: null
                slotInFuture:
                  summary: Slot in the future
                  value:
                    status: 'ERROR: slot is in the future'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/slot/{slot}/attesterslashings:
    get:
      tags:
        - Slots
      summary: Attester slashings for a slot
      description: Retrieve all attester slashing operations included in the beacon block for a specific slot. You can provide a slot number or the keyword `latest` to fetch from the most recently processed slot. Each item contains the two conflicting attestations that triggered the slashing and the block inclusion metadata.
      operationId: listSlotAttesterSlashings
      parameters:
        - name: slot
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0) or the special tag `latest` for the most recently processed slot.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751688
              - type: string
                enum:
                  - latest
                description: Latest processed slot
                example: latest
      responses:
        '200':
          description: The slot was found and its attester slashings are returned in the `data` array. If the slot has no attester slashings, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIAttesterSlashingResponse'
        '400':
          description: The request is invalid (for example, a negative slot or a slot in the future).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlot:
                  summary: Invalid slot parameter
                  value:
                    status: 'ERROR: invalid slot parameter'
                    data: null
                slotInFuture:
                  summary: Slot in the future
                  value:
                    status: 'ERROR: slot is in the future'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/slot/{slot}/deposits:
    get:
      tags:
        - Slots
      summary: Deposits for a slot
      description: Retrieve all validator deposit operations included in the beacon block for a specific slot. Deposits include the validator public key, withdrawal credentials, amount (gwei), and signature. Use pagination parameters to page through results when many deposits are present.
      operationId: listSlotDeposits
      parameters:
        - name: slot
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0) or the special tag `latest` for the most recently processed slot.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751688
              - type: string
                enum:
                  - latest
                description: Latest processed slot
                example: latest
        - name: offset
          in: query
          description: Number of items to skip from the start of the result set. Use 0 for the first page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: limit
          in: query
          description: Upper bound for the range of items to return. The effective page size is computed as min(100, limit - offset). Must be greater than `offset`. To request N items, set limit = offset + N. When omitted or out of range, the service uses offset + 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            example: 40
      responses:
        '200':
          description: The slot was found and its deposits are returned in the `data` array. If the slot has no deposits, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIDepositsResponse'
        '400':
          description: The request is invalid (for example, a negative slot or malformed parameters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlot:
                  summary: Invalid slot parameter
                  value:
                    status: 'ERROR: invalid block slot provided'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/slot/{slot}/proposerslashings:
    get:
      tags:
        - Slots
      summary: Proposer slashings
      description: Returns the proposer slashings included in a specific slot
      parameters:
        - name: slot
          in: path
          description: Slot
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: ProposerSlashings
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIProposerSlashingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/voluntaryexits:
    get:
      tags:
        - Slots
      summary: Voluntary exits for a slot
      description: |-
        Retrieve all voluntary exit operations included in the beacon block for a specific slot. A voluntary exit is a signed message from a validator indicating the epoch at which they choose to exit the active set.
        Provide a slot number or use the keyword `latest` to fetch from the most recently processed slot. The response lists each voluntary exit along with block inclusion metadata.
      operationId: listSlotVoluntaryExits
      parameters:
        - name: slot
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0) or the special tag `latest` for the most recently processed slot.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751688
              - type: string
                enum:
                  - latest
                description: Latest processed slot
                example: latest
      responses:
        '200':
          description: The slot was found and its voluntary exits are returned in the `data` array. If the slot has no voluntary exits, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIVoluntaryExitResponse'
        '400':
          description: The request is invalid (for example, a negative slot or a slot in the future).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlot:
                  summary: Invalid slot parameter
                  value:
                    status: 'ERROR: invalid slot parameter'
                    data: null
                slotInFuture:
                  summary: Slot in the future
                  value:
                    status: 'ERROR: slot is in the future'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/slot/{slot}/withdrawals:
    get:
      tags:
        - Slots
      summary: Withdrawals for a slot
      description: |-
        Retrieve all withdrawal operations included in the execution payload of the beacon block for a specific slot. A withdrawal moves ETH from the beacon chain to an execution-layer address after a validator has eligible balance.
        Provide a slot number or use the keyword `latest` to fetch from the most recently processed slot. The response lists each withdrawal with the recipient address, amount in gwei, the originating validator index, and the global withdrawal index.
      operationId: listSlotWithdrawals
      parameters:
        - name: slot
          in: path
          description: The slot to fetch. Provide an integer slot number (>= 0) or the special tag `latest` for the most recently processed slot.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number (>= 0)
                example: 12751688
              - type: string
                enum:
                  - latest
                description: Latest processed slot
                example: latest
      responses:
        '200':
          description: The slot was found and its withdrawals are returned in the `data` array. If the slot has no withdrawals, the array is empty.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIWithdrawalResponse'
        '400':
          description: The request is invalid (for example, a negative slot or a slot in the future).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidSlot:
                  summary: Invalid slot parameter
                  value:
                    status: 'ERROR: invalid block slot provided'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/sync_committee/{period}:
    get:
      tags:
        - Sync Committees
      summary: Sync committee for a period
      description: |-
        Retrieve the sync committee membership for a given sync period. The sync committee contains 512 validator indices that participate in light-client finality via sync committee signatures. The validators in the response are ordered by the sync-committee index (the position used when interpreting syncaggregate_bits in blocks).
        A sync period spans 256 consecutive epochs. Sync committees were introduced with the Altair upgrade. Requests for periods before Altair return an error because no sync committee exists for those periods. On Ethereum mainnet, Altair activated at epoch 74240 (period 290).
      operationId: getSyncCommittee
      parameters:
        - name: period
          in: path
          description: 'The sync period to fetch. Provide a non-negative integer period index, or use one of the special tags: `latest` (current period) or `next` (the upcoming period if available).'
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Special tags for convenience.
                enum:
                  - latest
                  - next
                example: latest
              - type: integer
                description: Sync period index (>= 0)
                minimum: 0
                example: 500
      responses:
        '200':
          description: The sync committee for the requested period was found. The `data` object contains the period index, the start and end epochs, and the list of 512 validator indices in committee order.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.APISyncCommitteeResponse'
        '400':
          description: The request is invalid (for example, a malformed period or a period before Altair).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidPeriod:
                  summary: Invalid period parameter
                  value:
                    status: 'ERROR: invalid period parameter'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator:
    post:
      tags:
        - Validators
      summary: Validators overview (POST)
      description: Retrieve validator information by index or public key using a JSON request body.  Use this endpoint when the list of identifiers is too long for the GET path parameter.  Provide up to 100 identifiers (higher limits may apply to authenticated premium users)  as a comma-separated string in the `indicesOrPubkey` field. Each identifier must be  either a validator index (base-10 integer) or a 48-byte BLS public key as 0x-prefixed hex  (96 hex characters after 0x) or without the 0x prefix.
      operationId: postValidators
      requestBody:
        description: Comma-separated list of validator indices and/or public keys to query (maximum 100 items by default).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.DashboardRequest'
        required: true
      responses:
        '200':
          description: Matching validators were retrieved successfully. The `data` field contains either a single validator object (when one identifier is provided/resolved) or an array of validator objects (when multiple identifiers are provided/resolved).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - title: Multiple validators
                            type: array
                            items:
                              $ref: '#/components/schemas/types.APIValidatorResponse'
                          - title: Single validator
                            $ref: '#/components/schemas/types.APIValidatorResponse'
        '400':
          description: The request is invalid (for example, malformed body, too many identifiers, or unresolved pubkeys).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid validator identifier
                  value:
                    status: 'ERROR: invalid validator-parameter'
                    data: null
                tooMany:
                  summary: Too many identifiers
                  value:
                    status: 'ERROR: only a maximum of 100 query parameters are allowed'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/eth1/{eth1address}:
    get:
      tags:
        - Validators
      summary: Validators by deposit address
      description: |-
        Retrieve validators that have made deposits from a specific execution-layer address. The service inspects DepositContract events where the `from_address` equals the provided address and groups results by validator public key.
        Use this endpoint to identify validators funded by an address. ENS names are supported for the path parameter when they resolve to a 0x-prefixed address at request time.
      operationId: getValidatorsByEth1Address
      parameters:
        - name: eth1address
          in: path
          description: Execution-layer address whose deposit transactions you want to inspect. Provide a 0x-prefixed, 20-byte hex string (40 hex characters after 0x). ENS names are accepted and resolved server-side when provided.
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: limit
          in: query
          description: Maximum number of records to return. Allowed range is 1 to 2000. Defaults to 2000.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            maximum: 2000
            default: 2000
            example: 100
        - name: offset
          in: query
          description: Number of items to skip from the start of the result set. Use 0 for the first page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Matching validators were found. The `data` array contains one entry per unique validator public key that deposited from the specified address.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorEth1Response'
        '400':
          description: The request is invalid (for example, a malformed address or out-of-range pagination parameters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidAddress:
                  summary: Invalid address parameter
                  value:
                    status: 'ERROR: invalid eth1 address provided'
                    data: null
                invalidPagination:
                  summary: Invalid pagination parameters
                  value:
                    status: 'ERROR: invalid pagination parameters'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/leaderboard:
    get:
      tags:
        - Rewards
      summary: Validator performance leaderboard
      description: Retrieve the current top 100 validators ranked by 7-day consensus-layer rewards. This endpoint does not accept query parameters.
      operationId: getValidatorLeaderboard
      responses:
        '200':
          description: Leaderboard retrieved successfully. The `data` array contains one entry per validator with performance metrics.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorPerformanceResponse'
        '400':
          description: The request is invalid or results could not be retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                badRequest:
                  summary: Failed to retrieve results
                  value:
                    status: 'ERROR: could not retrieve db results'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/stats/{index}:
    get:
      tags:
        - Validators
      summary: Daily validator statistics
      description: Retrieve per-day statistics for a single validator by index. Use this endpoint to obtain balance snapshots (in gwei), duty counts (attestations, block proposals, sync committee), and deposit/withdrawal activity aggregated per beaconchain-day. When `start_day` is omitted, the API returns all days up to `end_day` (which defaults to the latest exported day).
      operationId: getValidatorDailyStats
      parameters:
        - name: index
          in: path
          description: Validator index to query (>= 0).
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            minimum: 0
            example: 49949
        - name: end_day
          in: query
          description: Last day index to include (inclusive). Defaults to the latest exported day.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 1774
        - name: start_day
          in: query
          description: First day index to include (inclusive). Must be less than or equal to `end_day`. When omitted, the API returns all days up to `end_day`.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 1700
      responses:
        '200':
          description: Matching daily records were retrieved successfully. The `data` array contains one entry per day, ordered from newest to oldest.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        title: DailyStats
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorDailyStatsResponse'
        '400':
          description: The request is invalid (for example, a malformed index, invalid `start_day` or `end_day`, or `start_day > end_day`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidIndex:
                  summary: Invalid validator index
                  value:
                    status: 'ERROR: invalid validator index'
                    data: null
                invalidEndDay:
                  summary: Invalid end_day parameter
                  value:
                    status: 'ERROR: invalid end_day parameter'
                    data: null
                invalidStartDay:
                  summary: Invalid start_day parameter
                  value:
                    status: 'ERROR: invalid start_day parameter'
                    data: null
                startAfterEnd:
                  summary: start_day must be <= end_day
                  value:
                    status: 'ERROR: start_day must be less than end_day'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/withdrawalCredentials/{withdrawalCredentialsOrEth1address}:
    get:
      tags:
        - Validators
      summary: Validators by withdrawal credentials or address
      description: |-
        Retrieve validators whose withdrawal credentials match the provided value, or whose credentials correspond to the provided execution-layer address. You can specify either a 32-byte withdrawal credentials value or a 0x-prefixed Ethereum address. When you provide an address, the service derives the corresponding withdrawal credentials (prefix 0x01) and returns validators whose credentials equal that value.
        ENS names are accepted for the address form when they resolve to a 0x-prefixed address at request time. The lookup is case-insensitive and accepts inputs with or without the 0x prefix.
      operationId: getValidatorsByWithdrawalCredentials
      parameters:
        - name: withdrawalCredentialsOrEth1address
          in: path
          description: Withdrawal credentials (32 bytes; 0x-prefixed hex) or an execution-layer address (0x-prefixed, 20-byte hex). ENS names are accepted for the address form.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Withdrawal credentials (32 bytes; 0x-prefixed hex with 64 hex characters).
                pattern: ^0x[a-fA-F0-9]{64}$
                example: '0x01000000000000000000000026e8ce0d6c1424566ff8d584d1409b9fe651f27d'
              - $ref: '#/components/schemas/primitives.EthAddress'
        - name: limit
          in: query
          description: Maximum number of validators to return. Defaults to 10. Allowed range is 1 to 200 for standard users; higher limits may be available to premium accounts.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 10
            example: 100
        - name: offset
          in: query
          description: Number of items to skip from the start of the result set. Use 0 for the first page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: Matching validators were found. The `data` array contains one entry per validator whose withdrawal credentials equal the derived or provided value.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiWithdrawalCredentialsResponse'
        '400':
          description: The request is invalid (for example, malformed credentials/address or database error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid withdrawal credentials or address
                  value:
                    status: 'ERROR: invalid withdrawal credentials or eth1 address provided'
                    data: null
                dbError:
                  summary: Database retrieval error
                  value:
                    status: 'ERROR: could not retrieve db results'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/{indexOrPubkey}:
    get:
      tags:
        - Validators
      summary: Validators overview
      description: Retrieve validator information by index or public key using a comma-separated list in the path parameter. Provide up to 100 identifiers (higher limits may apply to authenticated premium users). Each identifier must be either a validator index (base-10 integer) or a 48-byte BLS public key as 0x-prefixed hex (96 hex characters after 0x) or without the 0x prefix. Use the POST variant (`/api/v1/validator`) when the list is too long for a URL.
      operationId: getValidators
      parameters:
        - name: indexOrPubkey
          in: path
          description: Comma-separated validator indices and/or public keys (maximum 100 items by default).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: Matching validators were retrieved successfully. The `data` field contains either a single validator object (when one identifier is provided/resolved) or an array of validator objects (when multiple identifiers are provided/resolved).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - title: Multiple validators
                            type: array
                            items:
                              $ref: '#/components/schemas/types.APIValidatorResponse'
                          - title: Single validator
                            $ref: '#/components/schemas/types.APIValidatorResponse'
        '400':
          description: The request is invalid (for example, malformed identifier, too many identifiers, or unresolved pubkeys).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid validator identifier
                  value:
                    status: 'ERROR: invalid validator-parameter'
                    data: null
                tooMany:
                  summary: Too many identifiers
                  value:
                    status: 'ERROR: only a maximum of 100 query parameters are allowed'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/{indexOrPubkey}/attestationefficiency:
    get:
      tags:
        - Validators
      summary: Attestation efficiency
      description: |-
        Retrieve normalized attestation inclusion effectiveness for one or more validators. Provide a comma-separated list of validator indices or 0x-prefixed BLS pubkeys (up to the server-enforced limit; default 100).
        The score is computed for the most recently completed epoch and defined as: `score = 1 + (1 − percentage/100) = 2 − percentage/100`. A score of 1.0 indicates perfect effectiveness (100% inclusion); scores approach 2.0 as effectiveness worsens (0% inclusion).
      operationId: getValidatorAttestationEfficiency
      parameters:
        - name: indexOrPubkey
          in: path
          description: Comma-separated validator indices and/or public keys (maximum 100 items by default).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: Matching validators were retrieved successfully. The `data` array contains one entry per validator with the normalized attestation effectiveness score.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorAttestationEfficiencyResponse'
        '400':
          description: The request is invalid (for example, malformed identifier, too many identifiers, or unresolved pubkeys).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid validator identifier
                  value:
                    status: 'ERROR: invalid validator-parameter'
                    data: null
                tooMany:
                  summary: Too many identifiers
                  value:
                    status: 'ERROR: only a maximum of 100 query parameters are allowed'
                    data: null
                unresolvedPubkeys:
                  summary: Pubkey did not resolve to an index
                  value:
                    status: 'ERROR: invalid validator argument, pubkey(s) did not resolve to a validator index'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/{indexOrPubkey}/attestations:
    get:
      tags:
        - Validators
      summary: Validator attestations history
      description: |-
        Retrieve attestations observed for one or more validators within a bounded epoch window. By default, the service returns data for the last 100 epochs ending at the latest processed epoch. You can narrow the range with `startEpoch` and `endEpoch`, which must lie within `[latest-99, latest]` and satisfy `startEpoch <= endEpoch`.
        Each item represents a scheduled attestation duty for a validator and includes the slot attested to, the inclusion slot when observed, a status flag, and convenience week boundaries for grouping in UI charts.
        When `slim=true`, the response omits the `week`, `week_start`, `week_end`, and `committeeindex` properties from each item to reduce payload size.
      operationId: listValidatorAttestations
      parameters:
        - name: indexOrPubkey
          in: path
          description: Comma-separated validator indices and/or public keys (maximum 100 items by default).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: startEpoch
          in: query
          description: Start epoch for the query window. Defaults to `latest - 99`. Must be within `[latest-99, latest]` and less than or equal to `endEpoch` when provided.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 399260
        - name: endEpoch
          in: query
          description: End epoch for the query window. Defaults to `latest`. Must be within `[startEpoch, latest]` when provided.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 399359
        - name: slim
          in: query
          description: When true, return a slimmed response that excludes `week`, `week_start`, `week_end`, and `committeeindex` fields from each item.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
            example: true
      responses:
        '200':
          description: Matching attestations were retrieved successfully. The `data` array contains one entry per scheduled attestation for the specified validators within the requested epoch window. Items are sorted by epoch (descending) and then by validator index (ascending).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorAttestationsResponse'
        '400':
          description: The request is invalid (for example, malformed identifiers, out-of-range epochs, or too many identifiers).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid validator identifier
                  value:
                    status: 'ERROR: invalid validator-parameter'
                    data: null
                tooMany:
                  summary: Too many identifiers
                  value:
                    status: 'ERROR: only a maximum of 100 query parameters are allowed'
                    data: null
                invalidStartEpoch:
                  summary: Invalid startEpoch
                  value:
                    status: 'ERROR: invalid start epoch parameter'
                    data: null
                invalidEndEpoch:
                  summary: Invalid endEpoch
                  value:
                    status: 'ERROR: invalid end epoch parameter'
                    data: null
                unresolvedPubkeys:
                  summary: Pubkey did not resolve to an index
                  value:
                    status: 'ERROR: invalid validator argument, pubkey(s) did not resolve to a validator index'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/{indexOrPubkey}/balancehistory:
    get:
      tags:
        - Validators
      summary: Validator balance history
      description: |-
        Retrieve per-epoch balance history for one or more validators. Provide a comma-separated list of validator indices or 0x-prefixed BLS pubkeys in the path parameter (up to the server-enforced limit; default 100).
        Use the optional query parameters to control the time window: - latest_epoch: the most recent epoch to include (defaults to the latest processed epoch) - offset: number of epochs to step back from latest_epoch before starting the window - limit: number of epochs to return (1..100, defaults to 100)
        The response contains one item per validator per epoch within the window, including the balance and effective balance in gwei, and week grouping metadata for downstream charting.
      operationId: listValidatorBalanceHistory
      parameters:
        - name: indexOrPubkey
          in: path
          description: Comma-separated validator indices and/or public keys (maximum 100 items by default).
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: latest_epoch
          in: query
          description: Most recent epoch to include (inclusive). Defaults to the latest processed epoch. Must be less than or equal to the latest processed epoch.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            example: 54656
        - name: offset
          in: query
          description: Number of epochs to skip backwards from `latest_epoch` before starting the window. Must be non-negative and not exceed `latest_epoch`.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: limit
          in: query
          description: Number of epochs to return in the window. Allowed range is 1 to 100. Defaults to 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 50
      responses:
        '200':
          description: Balance history retrieved successfully. The `data` array contains one entry per validator per epoch within the requested window.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorBalanceHistoryResponse'
        '400':
          description: The request is invalid (for example, malformed identifiers or invalid query parameters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalidParam:
                  summary: Invalid validator identifier
                  value:
                    status: 'ERROR: invalid validator-parameter'
                    data: null
                invalidLatestEpoch:
                  summary: Invalid latest_epoch parameter
                  value:
                    status: 'ERROR: invalid latest epoch parameter'
                    data: null
                invalidOffset:
                  summary: Invalid offset parameter
                  value:
                    status: 'ERROR: invalid offset parameter'
                    data: null
                invalidLimit:
                  summary: Invalid limit parameter
                  value:
                    status: 'ERROR: invalid limit parameter'
                    data: null
                dbError:
                  summary: Database retrieval error
                  value:
                    status: 'ERROR: could not retrieve db results'
                    data: null
        '500':
          description: An unexpected server error occurred while processing your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                serverError:
                  summary: Internal error
                  value:
                    status: 'ERROR: internal server error'
                    data: null
  /api/v1/validator/{indexOrPubkey}/blsChange:
    get:
      tags:
        - Validators
      summary: BLS-to-execution credential changes
      description: |-
[...]
