openapi: 3.0.4
info:
  title: beaconcha.in API Documentation
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  description: |-
    ## Introduction
    **Advanced and reliable API for accessing comprehensive Ethereum blockchain data.**

    - **Free Usage Policy:** The API is free to use under a fair use policy, with rate limits of 10 requests per minute per IP.
    - **Caching:** All responses are cached for 1 minute.
    - **Higher Usage Plans:** For higher usage plans, visit: [https://beaconcha.in/pricing](https://beaconcha.in/pricing). An API key is required to use these plans.

    ### API Key Usage
    API keys can be obtained at [/user/settings](https://beaconcha.in/user/settings) and must be included in requests either as a query string parameter or in the request header.

    #### Example: Query String Parameter
    ```bash
    curl https://beaconcha.in/api/v1/slot/1?apikey=<your_key>
    ```

    #### Example: Request Header
    ```bash
    curl -H 'apikey: <your_key>' https://beaconcha.in/api/v1/slot/1
    ```
  contact: {}
  version: '1.1'
servers:
  - url: https://beaconcha.in
    description: Ethereum mainnet
  - url: https://hoodi.beaconcha.in
    description: Hoodi Ethereum testnet
security:
  - ApiKeyAuthQuery: []
  - ApiKeyAuthHeader: []
tags:
  - name: Epoch
    description: Data related to consensus layer epochs
  - name: Slots
    description: Data related to consensus layer slots
  - name: Validators
    description: Data related to consensus layer validators
  - name: Rewards
    description: Data related to validator rewards
  - name: Sync Committees
    description: Data related to sync committees
  - name: Rocketpool
    description: Data related to the rocketpool protocol
  - name: ETH.Store®
    description: Data related to the ETH.Store® metric
  - name: Validator deposits
    description: Data related to execution layer validator deposits
  - name: Blocks
    description: Data related to execution layer blocks
  - name: Gas
    description: Data related to gas prices
  - name: Address
    description: Data related to ethereum addresses
  - name: Network
    description: Network data
  - name: Misc
    description: Miscellaneous data
  - name: User
    description: User data
paths:
  /api/healthz:
    get:
      tags:
        - Misc
      summary: Explorer Health
      description: |-
        Provides the health status of all modules of the explorer. This endpoint is useful for monitoring the availability and functionality of the explorer's components.
        - **Modules Monitored:** Includes monitoring of services such as `monitoring_app`, `monitoring_el_data`, `monitoring_services`, `monitoring_cl_data`, `monitoring_api`, `monitoring_redis`.
        - **Response Details:** Returns the status of each module. If all modules are operational, the response will indicate success. Otherwise, it will return an error with details about the failing modules.
      responses:
        '200':
          description: |-
            All modules are healthy. Response format:
            ```
            module monitoring_el_data: OK
            module monitoring_cl_data: OK
            module monitoring_redis: OK
            module monitoring_api: OK
            module monitoring_services: OK
            module monitoring_app: OK
            ```
          content:
            text/plain:
              example: |-
                module monitoring_el_data: OK
                module monitoring_cl_data: OK
                module monitoring_redis: OK
                module monitoring_api: OK
                module monitoring_services: OK
                module monitoring_app: OK
        '400':
          description: |-
            Invalid request. Response format:
            ```
            Bad request
            ```
          content:
            text/plain:
              example: Bad request
        '500':
          description: |-
            Some modules are unhealthy. Response format:
            ```
            module monitoring_el_data: ERROR
            module monitoring_cl_data: OK
            module monitoring_redis: ERROR
            module monitoring_api: OK
            module monitoring_services: OK
            module monitoring_app: ERROR
            ```
          content:
            text/plain:
              example: |-
                module monitoring_el_data: ERROR
                module monitoring_cl_data: OK
                module monitoring_redis: ERROR
                module monitoring_api: OK
                module monitoring_services: OK
                module monitoring_app: ERROR
  /api/healthz-loadbalancer:
    get:
      tags:
        - Misc
      summary: Explorer Availability
      description: Health endpoint to monitor the operational status of the explorer (used for load balancer health checks)
      responses:
        '200':
          description: |-
            Explorer is healthy. Response format:
            ```
            OK. Last epoch is from 1m ago
            ```
          content:
            text/plain:
              example: OK. Last epoch is from 1m ago
        '400':
          description: |-
            Invalid request. Response format:
            ```
            Bad request
            ```
          content:
            text/plain:
              example: Bad request
        '500':
          description: |-
            Explorer is unhealthy. Response format:
            ```
            Internal server error: could not retrieve latest epoch from the db
            ```
          content:
            text/plain:
              example: 'Internal server error: could not retrieve latest epoch from the db'
  /api/v1/chart/{chart}:
    get:
      tags:
        - Misc
      summary: Chart
      description: Returns charts from the page https://beaconcha.in/charts as PNG
      parameters:
        - name: chart
          in: path
          description: Chart Names
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - blocks
              - validators
              - staked_ether
              - average_balance
              - network_liveness
              - participation_rate
              - stake_effectiveness
              - balance_distribution
              - effective_balance_distribution
              - performance_distribution_365d
              - deposits
              - withdrawals
              - graffiti_wordcloud
              - pools_distribution
              - historic_pool_performance
              - avg_gas_used_chart_data
              - execution_burned_fees
              - block_gas_used
              - block_count_chart_data
              - block_time_avg_chart_data
              - avg_gas_limit_chart_data
              - avg_block_util_chart_data
              - tx_count_chart_data
            example: validators
      responses:
        '200':
          description: Chart PNG image generated successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: PNG image file containing the requested chart
        '400':
          description: Bad Request - Invalid chart name or no data available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
              examples:
                invalid_chart:
                  summary: Invalid chart name
                  value:
                    status: 'ERROR: invalid chart name'
                    data: null
                no_data:
                  summary: No data available
                  value:
                    status: 'ERROR: no data available for the requested chart'
                    data: null
  /api/v1/ens/lookup/{domain}:
    get:
      tags:
        - ENS
      summary: Resolve ens name or address
      description: Get the address for an ens name and vice versa. Returns and object with the ens name and address - if found.
      parameters:
        - name: domain
          in: path
          description: domain can either be an ens name or an Etherum address
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: vitalik.eth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.EnsDomainResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/epoch/{epoch}:
    get:
      tags:
        - Epochs
      summary: Overview
      description: Returns information for a specified epoch by the epoch number or an epoch tag (can be latest or finalized)
      parameters:
        - name: epoch
          in: path
          description: Epoch number, the string latest or the string finalized
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Latest or finalized epoch
                enum:
                  - latest
                  - finalized
                example: latest
              - type: integer
                description: Epoch number
                example: 1564648
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.APIEpochResponse'
        '400':
          description: Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/epoch/{epoch}/slots:
    get:
      tags:
        - Epochs
      summary: Slots
      description: Returns all slots for a specified epoch
      parameters:
        - name: epoch
          in: path
          description: Epoch number, the string latest or string finalized
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - type: string
                description: Latest or finalized epoch
                enum:
                  - latest
                  - finalized
                example: latest
              - type: integer
                description: Epoch number
                example: 1564648
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APISlotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/eth1deposit/{txhash}:
    get:
      tags:
        - Validator deposits
      summary: Deposits by tx hash
      description: Returns all deposits for a specified transaction hash
      parameters:
        - name: txhash
          in: path
          description: Eth transaction hash
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthTxHash'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIEth1TxDepositResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/ethstore/{day}:
    get:
      tags:
        - ETH.Store®
      summary: ETH.Store® Day
      description: |-
        ETH.STORE® represents the average financial return validators on the Ethereum network have achieved in a 24-hour period.
        For each 24-hour period the datapoint is denoted by the number of days that have passed since genesis for that period (= beaconchain-day)
        See https://github.com/gobitfly/eth.store for further information.
      parameters:
        - name: day
          in: path
          description: The beaconchain-day (periods of <(24 * 60 * 60) // SlotsPerEpoch // SecondsPerSlot> epochs) to get the the ETH.STORE® for. Must be a number or the string 'latest'.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 541
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIEthStoreResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/execution/address/{address}:
    get:
      tags:
        - Addresses
      summary: Balances
      description: Returns the ether balance and any token balances for a given Ethereum address. Amount of different ECR20 tokens is limited to 200. If you need more, use the /execution/address/{address}/erc20tokens endpoint.
      parameters:
        - name: address
          in: path
          description: Provide an Ethereum address consists of an 0x prefix followed by 40 hexadecimal characters
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: token
          in: query
          description: Filter for a specific token by providing a ethereum token contract address
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.ApiEth1AddressResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/execution/address/{address}/erc20tokens:
    get:
      tags:
        - Addresses
      summary: ERC20 token balances
      description: Returns the ERC20 token balances for a given Ethereum address. Supports pagination.
      parameters:
        - name: address
          in: path
          description: Provide an Ethereum address consisting of an optional 0x prefix followed by 40 hexadecimal characters
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: offset
          in: query
          description: Data offset
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: Data limit (ranging from 1 to 200)
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiEth1AddressERC20TokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/execution/block/{blockNumber}:
    get:
      tags:
        - Blocks
      summary: Overview
      description: Get execution blocks by execution block number
      parameters:
        - name: blockNumber
          in: path
          description: Provide one or more execution block numbers. Coma separated up to max 100.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 1564646
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/types.ExecutionBlockApiResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/execution/gasnow:
    get:
      tags:
        - Gas
      summary: Current gas prices
      description: Gets the current estimation for gas prices in GWei.. The response is split into four estimated inclusion speeds rapid (15 seconds), fast (1 minute), standard (3 minutes) and slow (> 10 minutes).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.GasNowPageData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/execution/{addressIndexOrPubkey}/produced:
    get:
      tags:
        - Blocks
      summary: Proposed blocks by address, proposer index or proposer pubkey
      description: |-
        Get a list of proposed or mined blocks from a given fee recipient address, proposer index or proposer pubkey.
        Mixed use of recipient addresses and proposer indexes or proposer pubkeys with an offset is discouraged as it can lead to skipped entries.
      parameters:
        - name: addressIndexOrPubkey
          in: path
          description: Either the fee recipient address, the proposer index or proposer pubkey. You can provide multiple by separating them with ','. Max allowed index or pubkeys are 100, max allowed user addresses are 20.
          required: true
          style: simple
          explode: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/primitives.EthAddress'
                description: Fee recipient address
              - type: integer
                example: 325
                description: Proposer index
              - type: string
                description: Proposer pubkey
                example: '0xa6831544f1e9fb1086b023f0852fe7feb7ed6606bf57c76d26a5dbf0027c125e8f7b76b000d99b676205d7721c1baf81'
        - name: offset
          in: query
          description: Offset
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: 'Limit the amount of entries you wish to receive (Maximum: 100)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 20
            maximum: 100
        - name: sort
          in: query
          description: Sort via the block number either by 'asc' or 'desc'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ExecutionBlockApiResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/graffitiwall:
    get:
      tags:
        - Misc
      summary: Graffiti wall
      description: |-
        Returns the most recent pixels that have been painted during the last 10000 slots.
        Optionally set the slot query parameter to look back further.
        Boundary coordinates are included.
        X = 0 and Y = 0 start at the upper left corner.
        Returns an error if an invalid area is provided by the coordinates.
      parameters:
        - name: startx
          in: query
          description: Start X offset
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: starty
          in: query
          description: Start Y offset
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: endx
          in: query
          description: End X limit
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: endy
          in: query
          description: End Y limit
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: startSlot
          in: query
          description: Start slot to query (end slot - 10000 if empty)
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: slot
          in: query
          description: End slot to query
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: summarize
          in: query
          description: Only return end state of each pixel
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.GraffitiwallResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/latestState:
    get:
      tags:
        - Network
      summary: Latest state
      description: Returns information on the current state of the network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.LatestState'
        '400':
          description: Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/mobile/notify/register:
    post:
      tags:
        - User
      summary: Change mobile notification token
      description: Register or update your mobile notification token
      requestBody:
        description: Your device`s firebase notification token
        content:
          application/json:
            schema: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/rocketpool/stats:
    get:
      tags:
        - Rocketpool
      summary: Statistics
      description: Returns statistics about the Rocketpool protocol
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.APIRocketpoolStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/rocketpool/validator/{indexOrPubkey}:
    get:
      tags:
        - Rocketpool
      summary: Validators
      description: Returns information about Rocketpool validators
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.ApiRocketpoolValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slotOrHash}:
    get:
      tags:
        - Slots
      summary: Slot Overview
      description: Returns a slot by its slot number or root hash, the latest slot with string latest or the slot containing the head block with string head
      parameters:
        - name: slotOrHash
          in: path
          description: Slot or root hash or the string latest or head
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.APISlotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/attestations:
    get:
      tags:
        - Slots
      summary: Attestations
      description: Returns the attestations included in a specific slot
      parameters:
        - name: slot
          in: path
          description: The slot number or "latest"
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number
              - type: string
                enum:
                  - latest
                description: Latest slot
          example: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: Attestations
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIAttestationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiErrorResponse'
                  - properties:
                      status:
                        example: 'ERROR: slot is in the future. The latest slot is 12751727'
  /api/v1/slot/{slot}/attesterslashings:
    get:
      tags:
        - Slots
      summary: Attester slashings
      description: Returns the attester slashings included in a specific slot
      parameters:
        - name: slot
          in: path
          description: The slot number or "latest"
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 0
                description: Slot number
              - type: string
                enum:
                  - latest
                description: Latest slot
          example: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: Attestations
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIAttesterSlashingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/deposits:
    get:
      tags:
        - Slots
      summary: Deposits
      description: Returns the deposits included in a specific block
      parameters:
        - name: slot
          in: path
          description: Block slot
          required: true
          style: simple
          explode: false
          schema: {}
        - name: limit
          in: query
          description: Limit the number of results
          required: false
          style: form
          explode: true
          schema: {}
        - name: offset
          in: query
          description: Offset the number of results
          required: false
          style: form
          explode: true
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: Deposits
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIDepositsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/proposerslashings:
    get:
      tags:
        - Slots
      summary: Proposer slashings
      description: Returns the proposer slashings included in a specific slot
      parameters:
        - name: slot
          in: path
          description: Slot
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: ProposerSlashings
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIProposerSlashingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/voluntaryexits:
    get:
      tags:
        - Slots
      summary: Voluntary exits
      description: Returns the voluntary exits included in a specific slot
      parameters:
        - name: slot
          in: path
          description: Slot
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: VoluntaryExits
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIVoluntaryExitResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/slot/{slot}/withdrawals:
    get:
      tags:
        - Slots
      summary: Withdrawals
      description: Returns the withdrawals included in a specific slot
      parameters:
        - name: slot
          in: path
          description: Block slot
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: Withdrawals
                        type: array
                        items:
                          $ref: '#/components/schemas/types.APIWithdrawalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/sync_committee/{period}:
    get:
      tags:
        - Sync Committees
      summary: Overview
      description: |-
        Returns the sync-committee for a sync-period. Validators are sorted by sync-committee-index.
        Sync committees where introduced in the Altair hardfork. Periods before the hardfork do not contain sync-committees.
        For mainnet sync-committees first started after epoch 74240 (period 290) and each sync-committee is active for 256 epochs.
      parameters:
        - name: period
          in: path
          description: Period ('latest' for latest period or 'next' for next period in the future)
          required: true
          style: simple
          explode: false
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.APISyncCommitteeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/user/mobile/settings:
    get:
      tags:
        - User
      summary: Device settings
      description: Get your device settings, currently only whether to enable mobile notifcations or not
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.MobileSettingsData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
    post:
      tags:
        - User
      summary: Update device settings
      description: Update your device settings, currently only whether to enable mobile notifcations or not.
      requestBody:
        description: Whether to enable mobile notifications for this device or not
        content:
          application/json:
            schema: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.MobileSettingsData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator:
    post:
      tags:
        - Validators
      summary: Overview (POST)
      description: Retrieve validator information by index or pubkey (up to 100).
      requestBody:
        description: Up to 100 validator indicesOrPubkeys, comma separated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.DashboardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - title: Multiple validators
                            type: array
                            items:
                              $ref: '#/components/schemas/types.APIValidatorResponse'
                          - title: Single validator
                            $ref: '#/components/schemas/types.APIValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/eth1/{eth1address}:
    get:
      tags:
        - Validators
      summary: Validators by deposit address
      description: Retrieve validator information by eth1 address
      parameters:
        - name: eth1address
          in: path
          description: Eth1 address from which the validator deposits were sent
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.EthAddress'
        - name: limit
          in: query
          description: 'Limit the number of results (default: 2000)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 100
        - name: offset
          in: query
          description: 'Offset the results (default: 0)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        title: Validators
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorEth1Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/leaderboard:
    get:
      tags:
        - Rewards
      summary: Validator leaderboard
      description: Get the current top 100 performing validators (using the income over the last 7 days)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        title: ValidatorPerformances
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorPerformanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/stats/{index}:
    get:
      tags:
        - Validators
      summary: Validator statistics
      parameters:
        - name: index
          in: path
          description: Validator index
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 49949
        - name: end_day
          in: query
          description: 'End day (default: latest day)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 100
        - name: start_day
          in: query
          description: 'Start day (default: 0)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        title: DailyStats
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorDailyStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/withdrawalCredentials/{withdrawalCredentialsOrEth1address}:
    get:
      tags:
        - Validators
      summary: Validators by withdrawal address / credentials
      description: Returns the validator indexes and pubkeys of a withdrawal credential or eth address
      parameters:
        - name: withdrawalCredentialsOrEth1address
          in: path
          description: Provide a withdrawal credential or an eth1 address with an optional 0x prefix
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: '0x0000000000000000000000000000000000000000'
        - name: limit
          in: query
          description: 'Limit the number of results, maximum: 200'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 100
        - name: offset
          in: query
          description: Offset the number of results
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiWithdrawalCredentialsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}:
    get:
      tags:
        - Validators
      summary: Overview
      description: Retrieve validator information by index or pubkey (up to 100). Use the POST endpoint if you get URL too long errors.
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - title: Multiple validators
                            type: array
                            items:
                              $ref: '#/components/schemas/types.APIValidatorResponse'
                          - title: Single validator
                            $ref: '#/components/schemas/types.APIValidatorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/attestationefficiency:
    get:
      tags:
        - Validators
      summary: Attestation efficiency
      description: Retrieve validator attestation efficiency by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/attestations:
    get:
      tags:
        - Validators
      summary: Attestations
      description: Get all attestations during the last 100 epochs for up to 100 validators
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: startEpoch
          in: query
          description: 'Start epoch for the query (default: latest epoch - 99)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 10
        - name: endEpoch
          in: query
          description: 'End epoch for the query (default: latest epoch)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 20
        - name: slim
          in: query
          description: If true, drops rarely used week and committee index fields from the response
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/balancehistory:
    get:
      tags:
        - Validators
      summary: Balance history
      description: Retrieve the validator balance history by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: latest_epoch
          in: query
          description: The latest epoch to consider in the query
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 54656
        - name: offset
          in: query
          description: Number of items to skip
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: Maximum number of items to return, up to 100
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorBalanceHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/blsChange:
    get:
      tags:
        - Validators
      summary: Bls credential changes
      description: Retrieve validator BLS change history by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorBlsChangeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/deposits:
    get:
      tags:
        - Validators
      summary: Execution layer deposits
      description: Get all eth1 deposits for up to 100 validators
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorDepositsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/execution/performance:
    get:
      tags:
        - Rewards
      summary: Execution layer rewards
      description: Retrieve validator execution rewards by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorExecutionPerformanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/incomedetailhistory:
    get:
      tags:
        - Validators
      summary: Income detail history
      description: Retrieve validator income detail history by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: latest_epoch
          in: query
          description: The latest epoch to consider in the query
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 54656
        - name: offset
          in: query
          description: Number of items to skip
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: Maximum number of items to return, up to 100
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorIncomeHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/performance:
    get:
      tags:
        - Rewards
      summary: Consensus layer rewards
      description: Retrieve validator consensus layer rewards by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorPerformanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/proposals:
    get:
      tags:
        - Validators
      summary: Proposals
      description: Get all proposed blocks during the last 100 epochs for up to 100 validators. Optionally set the epoch query parameter to look back further.
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: epoch
          in: query
          description: Page the result by epoch
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 54656
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorProposalsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validator/{indexOrPubkey}/withdrawals:
    get:
      tags:
        - Validators
      summary: Withdrawals
      description: Retrieve validator withdrawal history by index or pubkey (up to 100).
      parameters:
        - name: indexOrPubkey
          in: path
          description: Up to 100 validator indicesOrPubkeys, comma separated
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
        - name: epoch
          in: query
          description: 'the start epoch for the withdrawal history (default: latest epoch)'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            example: 54656
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiValidatorWithdrawalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validators/proposalLuck:
    get:
      tags:
        - Validators
      summary: Proposal luck
      description: Returns the proposal luck of a validator or a list of validators
      parameters:
        - name: validators
          in: query
          description: Provide a comma separated list of validator indices or pubkeys
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/primitives.indicesOrPubkeys'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/types.ApiProposalLuckResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
  /api/v1/validators/queue:
    get:
      tags:
        - Validators
      summary: Queue
      description: Returns the current number of validators entering and exiting the beacon chain
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/types.ApiResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/types.ApiValidatorQueueResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ApiErrorResponse'
components:
  securitySchemes:
    ApiKeyAuthQuery:
      type: apiKey
      in: query
      name: apikey
      description: 'Authorization header with value: Bearer <token>'
    ApiKeyAuthHeader:
      type: apiKey
      in: header
      name: apikey
      description: 'Authorization header with value: Bearer <token>'
  schemas:
    types.ApiErrorResponse:
      properties:
        status:
          type: string
          example: 'ERROR: <Message>'
        data:
          type: string
          nullable: true
          default: null
    types.ApiResponse:
      properties:
        status:
          type: string
          enum:
            - OK
        data: {}
    types.EnsDomainResponse:
      type: object
      properties:
        address:
          type: string
          description: Ethereum address in hex format with 0x prefix
          example: '0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045'
        domain:
          type: string
          description: ENS domain name; may be empty if reverse record is not set
          example: vitalik.eth
    types.APIEpochResponse:
      properties:
        attestationscount:
          type: integer
          example: 3458
        attesterslashingscount:
          type: integer
          example: 0
        averagevalidatorbalance:
          type: integer
          example: 33827474537
        blockscount:
          type: integer
          example: 32
        depositscount:
          type: integer
          example: 12
        eligibleether:
          type: integer
          example: 13982056000000000
        epoch:
          type: integer
          example: 15000
        finalized:
          type: boolean
          example: true
        globalparticipationrate:
          type: number
          example: 0.9885170459747314
        missedblocks:
          type: integer
          example: 1
        orphanedblocks:
          type: integer
          example: 0
        proposedblocks:
          type: integer
          example: 31
        proposerslashingscount:
          type: integer
          example: 1
        rewards_exported:
          type: boolean
          example: true
        scheduledblocks:
          type: integer
          example: 0
        totalvalidatorbalance:
          type: integer
          example: 14780678206789428
        ts:
          type: string
          example: '2022-09-29T04:00:23Z'
        validatorscount:
          type: integer
          example: 436943
        voluntaryexitscount:
          type: integer
          example: 2
        votedether:
          type: integer
          example: 13821500000000000
        withdrawalcount:
          type: integer
          example: 16
    primitives.NullableString:
      nullable: true
      type: string
    primitives.NullableInteger:
      nullable: true
      type: integer
    types.APISlotResponse:
      properties:
        attestationscount:
          type: integer
          description: Number of attestations included in this block
          example: 8
        attesterslashingscount:
          type: integer
          description: Number of attester slashing operations included in this block
          example: 0
        blockroot:
          type: string
          description: Hash tree root of the beacon block header (0x-prefixed hex)
          example: '0xeb64c069b979ef8eed41993ec0563f1ed0e935b95fcbe9ed26de4c904c94aeb3'
        depositscount:
          type: integer
          description: Number of deposit operations included in this block
          example: 10
        epoch:
          type: integer
          description: Beacon chain epoch that contains this slot
          example: 398479
        eth1data_blockhash:
          type: string
          description: Execution-layer block hash voted in the Eth1Data of this block (0x-prefixed hex)
          example: '0xeb64c069b979ef8eed41993ec0563f1ed0e935b95fcbe9ed26de4c904c94aeb3'
        eth1data_depositcount:
          type: integer
          description: Cumulative number of deposits as reported in Eth1Data
          example: 2045305
        eth1data_depositroot:
          type: string
          description: Deposit tree root as reported in Eth1Data (0x-prefixed hex)
          example: '0x2ebc563cabdbbacbc56f0de1d2d1c2d5315a4b071fcd8566aabbf0a45161c64e'
        exec_base_fee_per_gas:
          type: number
          description: EIP-1559 base fee per gas for the embedded execution payload; null if no payload
          example: 680634007
          nullable: true
        exec_block_hash:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Hash of the execution-layer block included as the payload; null if no payload
          example: '0x1f97b8eb2444d4fcdfd8dade8a9f8630860acca3ce694f800881fab642eace6c'
        exec_block_number:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableInteger'
          description: Number of the execution-layer block included as the payload; null if no payload
          example: 23525866
        exec_extra_data:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Extra data field from the execution block header (0x-prefixed hex); null if no payload
          example: '0x546974616e2028746974616e6275696c6465722e78797a29'
        exec_fee_recipient:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Fee recipient (coinbase) address of the execution payload; null if no payload
          example: '0x4838b106fce9647bdf1e7877bf73ce8b0bad5f97'
        exec_gas_limit:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableInteger'
          description: Gas limit of the execution payload block; null if no payload
          example: 23525866
        exec_gas_used:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableInteger'
          description: Gas used by the execution payload block; null if no payload
          example: 23525866
        exec_logs_bloom:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Logs bloom filter from the execution block header; null if no payload
          example: '0x54a8a16a45119f9fd52558acccb035c9154b9b509664b87dcfdd129d7499b0a1249dd137bfed0146da934b6b47ea75dc77d1c67bac137b0914da37d4686c97ceba768dfa4ed0fcb8ed34d1ab91e99aa164663e32e7fe79386b62af63aae2a8ff1f05657eae680760fa3e9ee5ac2b7da98a3545aeae9257c99edec134971b9ff7deb9a67edfec8aab785c9d6e53331667b70017a9b79131ab9c7d8552591d6ddba26c35369591b9827bd21df2f8d29752641ed87c76fe9a4ca76eebe0261ebbdd6d90febf5e2a2e754fe77eb63eff3dc5ace515d6e4ee3c769fcf430a84b27b4bcbd5e528a770bb60fbcd35f4a0c69ff5cdc9fe3fe7cba1e9cde870b71a9eabb4'
        exec_parent_hash:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Parent hash of the execution payload block; null if no payload
          example: '0x3f9eeb7bbcfa68b70ed5b15fe0476c0cd594a025032ad6522c2f087922393b3e'
        exec_random:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: prevRandao (mixHash) value in the execution block header; null if no payload
          example: '0x2a9ef3da82054fe160d54973c8f7ce9482ff1ef0c09262d9a86e3641d1d52131'
        exec_receipts_root:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: Receipts root of the execution payload block; null if no payload
          example: '0xbc1799c451b10b1689e540333ca2f9dac9a86a9654075a0d141385d6bbb8ceed'
        exec_state_root:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableString'
          description: State root of the execution payload block; null if no payload
          example: '0x8e251e0dd4aaf308b5c899c8f659e6de984aad11f4df85468d6cbf9edfa7ce48'
        exec_timestamp:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableInteger'
          description: Timestamp of the execution payload block (Unix seconds); null if no payload
          example: 1759839959
        exec_transactions_count:
          allOf:
            - $ref: '#/components/schemas/primitives.NullableInteger'
          description: Number of transactions included in the execution payload; null if no payload
          example: 3
        graffiti:
          type: string
          description: 32-byte graffiti field from the beacon block body as 0x-prefixed hex
          example: '0x544b373536390000000000000000000000000000000000000000000000000000'
        graffiti_text:
          type: string
          description: Graffiti rendered as UTF-8 text when printable; may be empty if not decodable
          example: TK7569
        parentroot:
          type: string
          description: Root of the parent beacon block header (0x-prefixed hex)
          example: '0x36ed53a94a32b494b3a26fbbb56c2ce2af9cf657a7c3975da96faf0fba66c2c2'
        proposer:
          type: integer
          description: Index of the validator that proposed this block
          example: 1098947
        proposerslashingscount:
          type: integer
          description: Number of proposer slashing operations included in this block
          example: 0
        randaoreveal:
          type: string
          description: Proposer's RANDAO reveal (BLS signature) contributing to beacon chain randomness (0x-prefixed hex)
          example: '0x8add195bc76c9cd723730cd4dae3098663f3e0257a543ed8ca4273471e1983c8c937ee37b95c7c30c5e91bf6a19b81a60f11bbb41014e45674e57566dba923b6c26b17911f811af04b28dce9020bb54b6f8de38bb63b8a0f9c4902357700e85b'
        signature:
          type: string
          description: BLS signature of the beacon block header (0x-prefixed hex)
          example: '0xab6b6d826c14b6141e3406c5227ead15b133993195e96edc05fdeba998d0e0fd96e4ec5f47f6c9eec1558a59042c03d1016e679faf7300bc14737c7178c5cc01b2ea5f345e13cc2e29eeeefaf18cdcde6c0a99d80923ecf8ff8619a4d2511f6e'
        slot:
          type: integer
          description: Beacon slot number of this block
          example: 12751457
        stateroot:
          type: string
          description: Root of the beacon state in the block header (0x-prefixed hex)
          example: '0xb4373fdde2b7e43692937e6982a853b747ae3ec2ec4721bee538f4770229415d'
        status:
          type: string
          description: 'Block status code: ''0'' scheduled, ''1'' proposed (canonical), ''2'' missed, ''3'' orphaned'
          example: '1'
        syncaggregate_bits:
          type: string
          example: '0xaf6d5ffa3fddbdd7a82286f7dd17b87bfdbbbf17733beda97eef74bfffdeff7fdf7dd1effdf0d3ffbf23feb97bf463febfb0edcceef65fea77fdbdcfb50edbf1'
        syncaggregate_participation:
          type: number
          description: Participation ratio of the sync committee for this block (0..1)
          example: 0.990234375
        syncaggregate_signature:
          type: string
          description: Aggregated BLS signature of the sync committee for this block (0x-prefixed hex)
          example: '0xaa7c2f8db87e82ed4e45e0c328918f0f1ca88d6bdc1e20933816b22e3965099d2fcaa6960e76959921c0d6b5b7a73d1203e3bceaf2a23436f9eedc072d924b4270f21c57356ca99813e63b44dd4f363abc49466114b05736ef925d9330f93dd5'
        voluntaryexitscount:
          type: integer
          description: Number of voluntary exit operations included in this block
          example: 0
        withdrawalcount:
          type: integer
          description: Number of withdrawals included in the execution payload of this block
          example: 16
    primitives.EthTxHash:
      type: string
      pattern: ^0x[a-fA-F0-9]{64}$
      example: '0x3629639fe74ef981ff72ba2678130c700b779964e6c22fe42201445084e9d343'
    types.APIEth1TxDepositResponse:
      properties:
        amount:
          type: integer
          description: Deposited amount in GWei
          example: 32000000000
        block_number:
          type: integer
          example: 23537869
        block_ts:
          type: integer
          example: 1759985003
        from_address:
          type: string
          example: '0x26e8ce0d6c1424566ff8d584d1409b9fe651f27d'
        merkletree_index:
          type: string
          example: '0xfab3220000000000'
        publickey:
          type: string
          example: '0x8bcf64d7f36af7e4c642ff02bc8ecdef72593762538a86f6eeda6375d35302d4d307f9d2a11f2ff6c5483a5d1c8c81a1'
        removed:
          type: boolean
          example: false
        signature:
          type: string
          example: '0xb70208d62803c7695d8eb47fff79ac0273711191d0b1fc3b8bcaca649affba83b77cc8dad73cf5bfe2771918a1f767400bb0603e690294c9b8ffb73072f734cc8131e59b4ce4240aa8377dcd4388d1beaaea495b4b603432e83b46126d7575cb'
        tx_hash:
          type: string
          example: '0x5ddaf424a46ab378967ce45c72b8532386cbd558ddb3b5ddb8a828000ad57895'
        tx_index:
          type: integer
          description: Transaction index in the block
          example: 90
        tx_input:
          type: string
          example: '0x00'
        valid_signature:
          type: boolean
          example: true
        withdrawal_credentials:
          type: string
          example: '0x01000000000000000000000026e8ce0d6c1424566ff8d584d1409b9fe651f27d'
    types.APIEthStoreResponse:
      properties:
        apr:
          type: number
          example: 0.0527609790864113
        avgapr31d:
          type: number
          example: 0.053351525019046164
        avgapr7d:
          type: number
          example: 0.052764308760676414
        avgconsensus_rewards31d_wei:
          type: number
          example: 1.3378170064684515e+21
        avgconsensus_rewards7d_wei:
          type: number
          example: 1.345081426021e+21
        avgtx_fees31d_wei:
          type: number
          nullable: true
          example: null
        avgtx_fees7d_wei:
          type: number
          nullable: true
          example: null
        cl_apr:
          type: number
          example: 0.0527609790864113
        cl_avgapr31d:
          type: number
          example: 0.053351525019046164
        cl_avgapr7d:
          type: number
          example: 0.052764308760676414
        consensus_rewards_sum_wei:
          type: number
          example: 1.349850765807e+21
        day:
          type: integer
          example: 435
        day_end:
          type: string
          example: '2022-02-10T12:00:23Z'
        day_start:
          type: string
          example: '2022-02-09T12:00:23Z'
        deposits_sum_wei:
          type: number
          example: 0
        effective_balances_sum_wei:
          type: number
          example: 9.338256e+24
        el_apr:
          type: number
          example: 0.0063633204373217
        el_avgapr31d:
          type: number
          example: 0.005679846878640752
        el_avgapr7d:
          type: number
          example: 0.005195252974383372
        end_balances_sum_wei:
          type: number
          example: 9.7843966127337e+24
        start_balances_sum_wei:
          type: number
          example: 9.783046761967892e+24
        total_rewards_wei:
          type: number
          example: 1.349850765807e+21
        tx_fees_sum_wei:
          type: number
          example: 503073827859422400000
    primitives.EthAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      example: '0xdAC17F958D2ee523a2206206994597C13D831ec7'
    types.ApiEth1AddressERC20TokenResponse:
      properties:
        address:
          type: string
          example: '0xdac17f958d2ee523a2206206994597c13d831ec7'
        balance:
          type: string
          example: '122100'
        symbol:
          type: string
          example: TOKEN1
    types.ApiEth1AddressResponse:
      properties:
        address:
          type: string
          example: '0x388c818ca8b9251b393131c08a736a67ccb19297'
        ether:
          type: string
          example: '2.472194030644794345'
        tokens:
          items:
            $ref: '#/components/schemas/types.ApiEth1AddressERC20TokenResponse'
    types.ExecBlockProposer:
      properties:
        executionBlockNumber:
          type: integer
          example: 23540530
        proposerIndex:
          type: integer
          example: 1843949
        slot:
          type: integer
          example: 12766094
        epoch:
          type: integer
          example: 398940
        finalized:
          type: boolean
          example: false
    types.RelayDataApiResponse:
      properties:
        tag:
          type: string
          example: ultrasound-relay
        builderPubkey:
          type: string
          example: '0xa3523967a7955c0244910f23b7b1fc59636f03bec437286b622815408d51389f7f6cd54617733b93926b7860e1f6afb0'
        producerFeeRecipient:
          type: string
          example: '0xa27cef8af2b6575903b676e5644657fae96f491f'
    types.ExecutionBlockApiResponse:
      properties:
        blockHash:
          type: string
          example: '0x160a5ea46dcbaca7fce7bbeef3a3448197c021af6c3e258150ab017629794678'
        blockNumber:
          type: integer
          example: 23540530
        timestamp:
          type: integer
          example: 1760017151
        blockReward:
          type: integer
          example: 15027635123493132
        blockMevReward:
          type: integer
          example: 11268157891595494
        producerReward:
          type: integer
          example: 11268157891595494
        feeRecipient:
          type: string
          example: '0x4838b106fce9647bdf1e7877bf73ce8b0bad5f97'
        gasLimit:
          type: integer
          example: 44999957
        gasUsed:
          type: integer
          example: 26436568
        baseFee:
          type: integer
          example: 473717334
        txCount:
          type: integer
          example: 235
        internalTxCount:
          type: integer
          example: 725
        uncleCount:
          type: integer
          example: 0
        parentHash:
          type: string
          example: '0x57ddc629098d3a47ddf8c2a554c75c4d9ab0a8bd740c1e86b0f1da324a425953'
        uncleHash:
          type: string
          example: '0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347'
        difficulty:
          type: integer
          example: 0
        posConsensus:
          $ref: '#/components/schemas/types.ExecBlockProposer'
        relay:
          $ref: '#/components/schemas/types.RelayDataApiResponse'
        consensusAlgorithm:
          type: string
          enum:
            - pos
            - pow
          example: pos
    types.GasNowPageData:
      properties:
        code:
          type: number
          enum:
            - 200
        data:
          properties:
            rapid:
              type: number
              example: 141086566
            fast:
              type: number
              example: 141086542
            standard:
              type: number
              example: 141086518
            slow:
              type: number
              example: 141086044
            timestamp:
              type: number
              example: 1760076662742
            price:
              type: number
              example: 4366.60356702
            priceUSD:
              type: number
              example: 4366.60356702
    types.GraffitiwallResponse:
      properties:
        color:
          type: string
          example: C3423F
        slot:
          type: number
          example: 12764598
        validator:
          type: number
          example: 1843949
        x:
          type: number
          example: 203
        'y':
          type: number
          example: 420
    types.RatesPrice:
      properties:
        symbol:
          type: string
          example: $
        roundPrice:
          type: integer
          example: 4366
        truncPrice:
          type: string
          example: 4.3k
    types.Rates:
      properties:
        tickerCurrency:
          type: string
          example: USD
        tickerCurrencySymbol:
          type: string
          example: $
        selectedCurrency:
          type: string
          example: ETH
        selectedCurrencySymbol:
          type: string
          example: ETH
        mainCurrency:
          type: string
          example: ETH
        mainCurrencySymbol:
          type: string
          example: ETH
        mainCurrencyPrice:
          type: number
          example: 1
        mainCurrencyPriceFormatted:
          type: string
          example: '1'
        mainCurrencyKFormatted:
          type: string
          example: '1'
        mainCurrencyTickerPrice:
          type: number
          example: 4366.60356702
        mainCurrencyTickerPriceFormatted:
          type: string
          example: 4<span class="thousands-separator"></span>366
        mainCurrencyTickerPriceKFormatted:
          type: string
          example: 4<span class="thousands-separator"></span>366
        elCurrency:
          type: string
          example: ETH
        elCurrencySymbol:
          type: string
          example: ETH
        elCurrencyPrice:
          type: number
          example: 1
        elCurrencyPriceFormatted:
          type: string
          example: '1'
        elCurrencyKFormatted:
          type: string
          example: '1'
        clCurrency:
          type: string
          example: ETH
        clCurrencySymbol:
          type: string
          example: ETH
        clCurrencyPrice:
          type: number
          example: 1
        clCurrencyPriceFormatted:
          type: string
          example: '1'
        clCurrencyKFormatted:
          type: string
          example: '1'
        mainCurrencyTickerPrices:
          additionalProperties:
            $ref: '#/components/schemas/types.RatesPrice'
    types.LatestState:
      properties:
        lastProposedSlot:
          type: integer
          example: 12771116
        currentSlot:
          type: integer
          example: 12771115
        currentEpoch:
          type: integer
          example: 399097
        currentFinalizedEpoch:
          type: integer
          example: 399094
        finalityDelay:
          type: integer
          example: 3
        syncing:
          type: boolean
          example: false
        rates:
          $ref: '#/components/schemas/types.Rates'
    types.APIRocketpoolStatsResponse:
      properties:
        claim_interval_time:
          type: string
          example: '672:00:00'
        claim_interval_time_start:
          type: integer
          example: 1758778539
        current_node_demand:
          type: number
          example: -3.983366338292163e+21
        current_node_fee:
          type: number
          example: 0.05
        effective_rpl_staked:
          type: number
          example: 9.325076691110913e+24
        minipool_count:
          type: integer
          example: 42248
        node_count:
          type: integer
          example: 4024
        node_operator_rewards:
          type: number
          example: 5.719242908397718e+22
        odao_member_count:
          type: integer
          example: 13
        reth_apr:
          type: number
          example: 0.0384304813
        reth_exchange_rate:
          type: number
          example: 1.1476800133
        reth_supply:
          type: number
          example: 3.9133933672076725e+23
        rpl_price:
          type: integer
          example: 1114711058888101
        total_eth_balance:
          type: number
          example: 4.4913233519356025e+23
        total_eth_staking:
          type: number
          example: 4.471319830044493e+23
    primitives.indicesOrPubkeys:
      type: string
      example: 1,2,3
    types.ApiRocketpoolValidatorResponse:
      properties:
        claimed_smoothing_pool:
          type: integer
          example: 2558507058679352300
        effective_rpl_stake:
          type: number
          example: 0
        index:
          type: integer
          example: 652648
        is_vacant:
          type: boolean
          example: false
        minipool_address:
          type: string
          example: '0xc20eb9eca73be78a523aad5a4d9b70c797ff58a1'
        minipool_deposit_type:
          type: string
          example: Variable
        minipool_node_fee:
          type: number
          example: 0.14
        minipool_status:
          type: string
          example: Staking
        minipool_status_time:
          type: integer
          example: 1684570331
        node_address:
          type: string
          example: '0xfff1f570f09c073b6621c032b6072847fe9d6fac'
        node_deposit_balance:
          type: integer
          example: 8000000000000000000
        node_deposit_credit:
          type: number
          example: 0
        node_max_rpl_stake:
          type: number
          example: 0
        node_min_rpl_stake:
          type: number
          example: 0
        node_refund_balance:
          type: integer
          example: 0
        node_rpl_stake:
          type: number
          example: 0
        node_timezone_location:
          type: string
          example: Etc/UTC
        penalty_count:
          type: integer
          example: 0
        rpl_cumulative_rewards:
          type: integer
          example: 487854676781293300000
        smoothing_pool_opted_in:
          type: boolean
          example: false
        unclaimed_rpl_rewards:
          type: integer
          example: 0
        unclaimed_smoothing_pool:
          type: integer
          example: 0
        user_deposit_balance:
          type: integer
          example: 24000000000000000000
        version:
          type: integer
          example: 3
    types.APIAttestationResponse:
      properties:
        aggregationbits:
          type: string
          example: '0xff'
        beaconblockroot:
          type: string
          example: '0x94677296757527ccfd5849a6c07d179a9ed783a771c7bb305b9b9350fffd97d0'
        block_index:
          type: integer
          example: 1
        block_root:
          type: string
          example: '0xfa4349ae9843b52cd7e9ff42e43deaf3a9220c0ae3f3dd64da9c2c97544dfd4c'
        block_slot:
          type: integer
          example: 12751688
        committeeindex:
          type: integer
          example: 1
        signature:
          type: string
          example: '0xaa'
        slot:
          type: integer
          example: 12751687
        source_epoch:
          type: integer
          example: 398489
        source_root:
          type: string
          example: 2.0207338449908758e+76
        target_epoch:
          type: integer
          example: 398490
        target_root:
          type: string
          example: '0x88f88f748227a397a09a7b8cbe13dab1d0411950993e618fc7a6d76d1d7d0c76'
        validators:
          type: array
          items:
            type: integer
            minimum: 0
          description: Array of validator indices
          example:
            - 0
            - 1
            - 2
            - 3
    types.APIAttesterSlashingResponse:
      properties:
        attestation1_beaconblockroot:
          type: string
          example: '0x4b50f7112f30b4fe9ff61324d9282308b8104874991f796f181cd58511fc67d5'
        attestation1_index:
          type: integer
          example: 0
        attestation1_indices:
          type: array
          items:
            type: integer
            minimum: 0
          description: Array of validator indices
          example:
            - 0
            - 1
            - 2
            - 3
        attestation1_signature:
          type: string
          example: '0xaa'
        attestation1_slot:
          type: integer
          example: 12571716
        attestation1_source_epoch:
          type: integer
          example: 392865
        attestation1_source_root:
          type: string
          example: '0x1b3891944d7c2fdac53dff9410f18992487e31b1f68d995c1429548effa47268'
        attestation1_target_epoch:
          type: integer
          example: 392866
        attestation1_target_root:
          type: string
          example: '0x1898ff52ee440f1ac1ed328becaaa2672c6c50976203d42f672beb5c495c8116'
        attestation2_beaconblockroot:
          type: string
          example: '0x2c262c5cdbddd4b4a673c3a112b8a0d1ca539c15cac2a95e0094c0d28a008e88'
        attestation2_index:
          type: integer
          example: 0
        attestation2_indices:
          type: array
          items:
            type: integer
            minimum: 0
          description: Array of validator indices
          example:
            - 0
            - 1
            - 2
            - 3
        attestation2_signature:
          type: string
          example: '0xaa'
        attestation2_slot:
          type: integer
          example: 12571716
        attestation2_source_epoch:
          type: integer
          example: 392865
        attestation2_source_root:
          type: string
          example: '0x1b3891944d7c2fdac53dff9410f18992487e31b1f68d995c1429548effa47268'
        attestation2_target_epoch:
          type: integer
          example: 392866
        attestation2_target_root:
          type: string
          example: '0x1898ff52ee440f1ac1ed328becaaa2672c6c50976203d42f672beb5c495c8116'
        block_index:
          type: integer
          example: 0
        block_root:
          type: string
          example: '0x3381dd071cb6a020144bb980758a3a844129a62d74146b0fcdd82c4125cc8d66'
        block_slot:
          type: integer
          example: 12571718
    types.APIDepositsResponse:
      properties:
        amount:
          type: integer
          example: 32000000000
        block_index:
          type: integer
          example: 1
        block_root:
          type: string
          example: '0x538d7fba9f4ed29d396d18c225e91e35a5c5bd0aa9a51bd53f18df8fffaf0e4c'
        block_slot:
          type: integer
          example: 11648084
        proof:
          type: string
          nullable: true
        publickey:
          type: string
          example: '0x88527b5e326c4837d765e522995e2937aaa945e79a1183a53fc369db70097484c656efa1cf216c57d88b9d2551c97ce9'
        signature:
          type: string
          example: '0xa8c663fa0386ba988a5916a76b10bc5922ce4e2d03b1baf852e138316c0b296df1ef46aba5063b8fdc2ab7c7163fdd5d05733f7ec334009fddec1f02d78f5f7324f4d696577ef453d29937b2fd1b5b2d610edaa253a8423dd1f17e621f3493cf'
        withdrawalcredentials:
          type: string
          example: '0x01000000000000000000000096fb413349cb4ec17410df929898ae9c0e56ae40'
    types.APIProposerSlashingResponse:
      properties:
        block_index:
          type: integer
          example: 0
        block_root:
          type: string
          nullable: true
        block_slot:
          type: integer
          example: 138164
        header1_bodyroot:
          type: string
          example: '0xf44039d2cc6c46ebee262c1484bc47db10516425a49e81f123505329562256d9'
        header1_parentroot:
          type: string
          example: '0x2415ce3a054b0d3f23226a4665fba92efe63c93063680b16ff1e491a73dd5b0c'
        header1_signature:
          type: string
          example: '0xa632f1c085234ef94ef4d1252fb5d9960f373471e5c266aa626c89d1db91302b4ace4fde93a4a5b79b29263b5b90d42f0d1df8f6b534666cd7750e8781d3af962b55656625f9464cf68305ff7e1185dc11955b8bc8273de30cd88c834860b0bc'
        header1_slot:
          type: integer
          example: 138163
        header1_stateroot:
          type: string
          example: '0x0d86b0b4fd08302b87b84983243b688d7cffb81a311d327bd4cbd04b73c806ce'
        header2_bodyroot:
          type: string
          example: '0xef23edd026b330949abfd2063aa48eb420a912294f73e8168e644d6bb603f187'
        header2_parentroot:
          type: string
          example: '0x2415ce3a054b0d3f23226a4665fba92efe63c93063680b16ff1e491a73dd5b0c'
        header2_signature:
          type: string
          example: '0xa805e609614fa2bd108ae47ea3b4474fac5241f7cde40470a022eeca2a242ea15669834713168bd3137118486c8b966a036f8e8c81329c332f459a32437967bf8fa2cc7631bb2507aa9173170470ef47739e792de9c78e3fde3c6e095f6d6faf'
        header2_slot:
          type: integer
          example: 138163
        header2_stateroot:
          type: string
          example: '0xf8e7fbb7df067101f6e85700d0413c63b509b164ee9cd15d310c397447caf4fd'
        proposerindex:
          type: integer
          example: 38069
    types.APIVoluntaryExitResponse:
      properties:
        block_index:
          type: integer
          example: 0
        block_root:
          type: string
          example: '0xf3fe4ac2ddab3c97ff4565e305c4451b18ff027559e0e520e884fd3de12c67a4'
        block_slot:
          type: integer
          example: 12771160
        epoch:
          type: integer
          example: 399098
        signature:
          type: string
          example: '0xa6a17864596beee0c650ce582d50'
        validatorindex:
          type: integer
          example: 1815428
    types.APIWithdrawalResponse:
      properties:
        address:
          type: string
          example: '0xb10edd6fa6067dba8d4326f1c8f0d1c791594f13'
        amount:
          type: integer
          example: 18429837
        block_slot:
          type: integer
          example: 12771160
        validatorindex:
          type: integer
          example: 1120967
        withdrawalindex:
          type: integer
          example: 104169659
    types.APISyncCommitteeResponse:
      properties:
        end_epoch:
          type: integer
          example: 128255
        period:
          type: integer
          example: 500
        start_epoch:
          type: integer
          example: 128000
        validators:
          type: array
          items:
            type: integer
          example:
            - 383220
            - 12142
            - 265015
            - 260079
    types.MobileSettingsData:
      properties:
        notify_token: {}
    types.DashboardRequest:
      properties:
        indicesOrPubkey: {}
    types.APIValidatorResponse:
      properties:
        activation_eligibility_epoch:
          type: integer
          example: 289892
        activation_epoch:
          type: integer
          example: 290297
        balance:
          type: integer
          example: 32014494648
        effective_balance:
          type: integer
          example: 32000000000
        exit_epoch:
          type: integer
          example: 9223372036854776000
        last_attestation_slot:
          type: integer
          example: 12766062
        name:
          type: string
          example: name
        pubkey:
          type: string
          example: '0xb73ecd964c9779506a3209ec40dd40d765b0464fef281d77ac8a559fa9e2a9cff8b6b2e09b8f6360b119ba7a963c5b81'
        slashed:
          type: boolean
          example: false
        status:
          type: string
          enum:
            - active_online
            - exiting_online
            - slashing_online
            - active_offline
            - exiting_offline
            - slashing_offline
            - pending_initialized
            - pending
            - deposited
            - exited
            - slashed
          example: active_online
        validator_index:
          type: integer
          example: 1435245
        withdrawable_epoch:
          type: integer
          example: 9223372036854776000
        withdrawal_credentials:
          type: string
          example: '0x0100000000000000000000005d652886f0b4ae0b1b7d6be5b7e2d555aafdc812'
        total_withdrawals:
          type: integer
[...]
