name: Build

on:
  push:
    branches:
      - master
      - staging
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Check gofmt
        run: |
          nonformatted="$(gofmt -l . 2>&1)"
          [ -z "$nonformatted" ] && exit 0
          echo "Following files need to be properly formatted:"
          echo "$nonformatted"
          exit 1

      - name: Get dependencies
        run: |
          go install github.com/swaggo/swag/cmd/swag@v1.7.0 && swag init --parseDependency --parseInternal --parseDepth 1 -g handlers/api.go
          go get -v -t -d ./...

#      - name: Test
#        run: make test

      - name: Build
        run: make all
