name: Build

on:
  push:
    branches:
      - master
      - feature/newfrontend
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.21
        uses: actions/setup-go@v4
        with:
          go-version-file: './go.mod'
        id: go

      - name: Output go version
        run: go version

      - name: Check gofmt
        run: |
          nonformatted="$(gofmt -l . 2>&1)"
          [ -z "$nonformatted" ] && exit 0
          echo "Following files need to be properly formatted:"
          echo "$nonformatted"
          exit 1

      - name: Get dependencies
        run: |
          go install github.com/swaggo/swag/cmd/swag@v1.7.0 && swag init --parseDependency --parseInternal --parseDepth 1 -g handlers/api.go
          go get -v -t -d ./...

      #      - name: Test
      #        run: make test

      - name: Build
        run: make all
